[2020-06-24 05:14] HideakiImamura commented on #1411
@harupy Thanks for the comment. We don't have any plan to change `DeprecationWarning` in the deprecation decorator.

[2020-06-24 05:52] harupy commented on #1411
@HideakiImamura Thanks for the reply. Got it!

[2020-06-24 06:07] #1408 closed

[2020-06-24 06:50] david-waterworth opened #1417 "PyTorchLightningPruningCallback not pruning"
I've only been using pytorch lightning and optuna for a few days (kudos, it literally took less than 30 minutes to implement with optuna, I've been using hyperopt and optuna has a much nicer API).

It seems to me though that `PyTorchLightningPruningCallback` implements `on_epoch_end` when it should in fact implement `on_validation_end`. Otherwise, the `MedianPruner` doesn't appear to get invoked.

[2020-06-24 08:17] toshihikoyanase commented on #1417
Thank you for your detailed report.

I think your suggested change has been merged into the `master` branch by #1392. It will be included in `v2.0.0`, which will be released in the middle of July. So, could you try the master branch for now?

[2020-06-25 01:22] toshihikoyanase commented on #1381
@felipeeeantunes Thank you for your reply.

I think so too. If you use the RDB backend, the parallel tuning works as expected. Please refer to the [tutorial](https://optuna.readthedocs.io/en/stable/tutorial/rdb.html) to use the RDB.

I agree with your concern. TPE may sample similar points if we run many samplers in parallel. This issue is discussed in #892 and may be resolved Constant Liar method

[2020-06-25 05:22] harupy opened #1429 "Use a different color for argument names to differentiate them from type hints"
## Motivation

Currently, argument names and type hints in the documentation have the same font color, which makes it difficult to differentiate them, especially when a function or class has lots of arguments.

Current:

![Screen Shot 2020-06-25 at 14 02 44](https://user-images.githubusercontent.com/17039389/85657434-ff4d1400-b6ec-11ea-82cf-160283d8d300.png)

Using a different font color for argum

[2020-06-26 02:50] harupy commented on #1429
I'll open a PR.

[2020-06-26 03:02] hvy commented on #1429
That'd be great!

[2020-06-26 12:55] matheusbarroso opened #1441 "Optimize preprocessing pipeline"
Hi everyone, I've been using optuna without any problems for intance with xgboost. Nevertheless, I developed a simple sklearn pipeline where I would like to optimize some preprocessing transformers bud didn't succeed. I've tried ussing trial.suggest_categorical with some integer options but the pipeline crashes unexpectedly. It seems odd considering that when I set inside the optimization function

[2020-06-27 08:51] nzw0301 commented on #1251
Could I commit this issue by creating PR? I consider adding `suggest_*` functions to `FrozenTrial` as in @HideakiImamura's option 1.  But it is almost same as `FixedTrial`, so I will add these functions to `FrozenTrial` by extending`BaseTrial` or `FixedTrial`.

[2020-06-27 11:43] bigbird555 commented on #1401
@himkt Does the code in the Reproducible examples above generate any AssertionError?
At least in my local environment, I do not get any errors....

[2020-06-27 12:06] himkt commented on #1401
@bigbird555
Ah, thank you for pointing out, you're right.
The second pruning happens since `trial.report(3.0, 1)` is called before.
My reproducing code should be:

[code]

[2020-06-27 14:42] keisuke-umezawa opened #1442 "Deprecate CLI optimize and delete CLI optimize instruction in examples."
## Motivation

The `optuna study optimize` command has (probably) very few users, but the maintenance cost is high if we try to follow the latest features of the Study.optimize method. Even now, the `optuna study optimize` command is different from the `Study.optimize` method because it is not compatible with changes in sampler/pruner. It is better to delete the command itself. So, for the first s

[2020-06-27 14:51] keisuke-umezawa commented on #782
@hvy
https://tech.preferred.jp/en/blog/optuna-v1/
Regarding this blog, we may add the following key features:

- Eager dynamic search spaces: Pythonic search spaces using Python conditionals and loops without the need for domain-specific languages (DSLs)
- Efficient sampling and pruning algorithms: State-of-the-art algorithms to efficiently explore large search spaces and prune unpromising trials

[2020-06-28 04:08] arisliang opened #1443 "Assigning the layers as class variables (PyTorch requirement)?"
In pytorch_lightning_simple example (https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py), it says

Is it possible to add more clarification to it, or perhaps point to a link where pytorch has this requirement?

[2020-06-28 04:52] harupy opened #1445 "Use `com2ann` to translate type comments into type annotations"
Related to https://github.com/optuna/optuna/issues/711.

I found this python package named `com2ann` which translates type comments into type annotations:

https://github.com/ilevkivskyi/com2ann

I'm testing this package on my local and it seems to be working fine so far. One adjustment that I had to make was prevent `com2ann` from translating type comments on variables into  [variable annotaions]

[2020-06-28 05:20] nickswalker opened #1446 "AllenNLP integration: Can't load configurations that expect ext_vars from environment variables"
Optuna's AllenNLP integration evaluates the jsonnet config that you give it, passing in the trial parameters as the `ext_vars`. AllenNLP's default behavior when loading a configuration is a little different, in that it also passes through environment variables:

https://github.com/allenai/allennlp/blob/4de68a42a0df89df01a999ee48f361f24c8c19d4/allennlp/common/params.py#L488

So if you rely on speci

[2020-06-28 10:13] keisuke-umezawa commented on #1442
Sorry, it has been treated in https://github.com/optuna/optuna/issues/1394. I close it.

[2020-06-28 10:13] #1442 closed

[2020-06-28 10:47] keisuke-umezawa commented on #1251
@nzw0301 Thank you for the comment. Internally, we also want to choose this solution. If you have time, could you try it?

[2020-06-28 15:35] turian opened #1447 "Optuna prunes too aggressively, when objective is jittery (early stopping patience needed)"
Optuna Pruners should have a parameter `early_stopping_patience` (or `checks_patience`), which defaults to 1. If the objective hasn't improved over the last `early_stopping_patience` checks, then (early stopping) pruning occurs.

## Motivation

My objective function is jittery. So Optuna is very aggressive and prunes trials when the objective increases slightly due to jitter.

This means Optuna is

[2020-06-29 01:03] david-waterworth opened #1448 "Initial Trial"
Is it possible to specify `x0` - i.e. the first trial suggestion - for any sampler similar to hyperopt? The `CmaEsSampler` has an `x0` parameter but the `TPESampler` doesn't. It's useful because I'm training a lot of models using the same model specification but different training data. There is a default set of hyperparameters that seems to perform well so I'd like to try that first and then sear

[2020-06-29 01:09] david-waterworth commented on #1443
My understanding is for a PyTorch module when you call `parameters()` you get back a list of all parameters for all layers only if those layers are class variables. So if you assign a layer in the constructor and don't assign it to a local variable you won't be able to train the parameters of that layer.

[2020-06-29 01:13] hvy commented on #1347
I believe a solution would be require some discussions but there seem to be two issues.

**Issue 1**

Each `Study` instance holds its own `RDBStorage`, which holds its own `sqlalchemy` engine (and implicitly its own connection pool). When a study is instantiated, at least one connection is established and then placed back into the pool. This means that creating more studies than allowed connection

[2020-06-29 04:25] himkt commented on #1446
@nickswalker

Thank you for trying our AllenNLP integration and raising the issue!
As you pointed out, in the current implementation, `AllenNLPExecutor` doesn't care for environment variables.
I made PR #1449 to fix this problem (loading environment variables is compatible with AllenNLP implementation. After loading environment variables, adding hyperparameters from Optuna to them).

[2020-06-29 05:52] PhilipMay commented on #1340
Yes - you are right @github-actions . @hvy what do you think about this?

[2020-06-29 05:52] hvy commented on #782
Sorry for the delayed response and thanks for your suggestion. I'm curious what you think about the verbosity. I'm wondering if not sufficient to add "Python eager search spaces" to the existing bullets, keeping it simple. I find the above to be slightly too verbose and that it might instead have a negative effect on the reader.

[2020-06-29 05:57] hvy commented on #1340
I saw your ticket on the `mlflow` repository and that you haven't gotten any reply yet. How about truncating in Optuna in the callback, leaving a TODO comment to that ticket?

[2020-06-29 07:09] hvy commented on #1199
For the record, https://github.com/optuna/optuna/pull/1440 should address this issue.

[2020-06-29 11:33] hvy commented on #1448
Would it happen to be a duplicate of https://github.com/optuna/optuna/issues/1080 ?

[2020-06-29 12:07] hvy commented on #1447
Out of curiosity, what pruner(s) did you try? There are several and some are more aggressive than others. It might matter less in the case of jittery learning curves, though. The pruning timing logic is already quite complicated for many of the pruners so I'd personally like to be careful about introducing additional parameters to existing ones, but I also understand the need so would like to elab

[2020-06-29 12:24] hvy commented on #1445
Sounds amazing. I know @bigbird555 has been working on translating the type annotations so he might have a comment or two, but if we can automate it, I definitely think we should.

[2020-06-29 12:33] bigbird555 commented on #1445
If translation of type annotation can be automated programmatically, that seems great!

[2020-06-29 12:59] harupy commented on #1445
@hvy @bigbird555 Awesome!

[2020-06-29 13:14] harupy commented on #1445
@hvy I have a branch where I've applied `com2ann` to all the files. Can I create a PR using this branch?

[2020-06-29 13:19] hvy commented on #1445
Given @bigbird555's comment, I believe you are more than welcome 🙂

[2020-06-29 15:27] ritvik1512 commented on #1394
I would like to confirm, as the command `optuna study optimize` itself is deprecated, should I also remove entire section related to optimzation through `study optimize`?

For example,  docs/source/tutorial/cli.rst has a section on optimization at the very end, does. that need to be removed too? Thank you

[2020-06-29 18:09] turian commented on #1447
I have just started with Optuna and am trying to beat my hand-tuned baseline hyperparameters, which I cannot yet :(

I have only tried MedianPruner, and tried adjusting the settings to:

[code]

What other pruners do you recommend, particularly less aggressive one? For a simple pruner like MedianPruner, the idea of using early stopping patience really makes sense to me. If I were just using Pytorc

[2020-06-29 22:27] david-waterworth commented on #1448
Thanks yes.

[2020-06-29 22:27] #1448 closed

[2020-06-30 02:38] HideakiImamura commented on #1339
Hi @cmeier303! Do you have any issues related to this Issue?

[2020-06-30 15:04] nzw0301 commented on #1251
@keisuke-umezawa Thank you for your reply! But I'm a little bit busy and not good health condition this July, so I create PR for this issue if this issue's priority is not so high... Is it okay?

[2020-06-30 16:46] salvadord opened #1457 "Error on GCP cluster using sqlite (sqlite3.OperationalError: too many SQL variables)"
I am running optuna to optimize large-scale detailed models of cortical circuits on Google Cloud supercomputers. I integrated optuna within our modeling tool NetPyNE:  https://github.com/Neurosim-lab/netpyne/blob/optuna/netpyne/batch/optuna_parallel.py

I was running 50 parallel processes on the controller node of a Google Cloud Platform (GCP) Slurm-based cluster. Each process is an optuna instanc

[2020-07-01 02:16] david-waterworth opened #1459 "Conditional param's"
I just wanted to confirm how one deals with a parameter which has a different distribution depending on the value of another parameter, i.e. in the case below (using CatBoost), I have to limit `max_depth` between 1 and 8 when using Depthwise or Symmetric `grow_policy` but can use 1 to 16 for `Lossguide`

Can I use the same param name for both branches? In the case below I named it differently as I

[2020-07-01 02:23] david-waterworth commented on #1447
I've observed the same problem using pytorch-lightning with the default lightning `early_stop_callback`. My solution was to use the `min_epochs` parameter of the 'pl.Trainer' to ensure pruning doesn't occur until epoch 100 (for my problem). Basically the validation score would oscillate for a while before settling into the more conventional slow decline and as you've observed invokes early stoppin

[2020-07-01 05:34] hvy commented on #1447
Thanks for the insight. The author have seemingly utilized [`n_warmup_steps` of the `MedianPruner`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.pruners.MedianPruner.html) which seemingly has a similar meaning to `min_epochs` but if the learning curve has a similar tendency, then increasing it might help. Otherwise, I'd at least try the [`HyperbandPruner`](https://optuna.read

[2020-07-01 05:46] hvy commented on #1447
As for `early_stopping_patience`, if your learning curve increase/decrease with a relatively high variance between each step (iteration/epoch), would a `early_stopping_patience` really help? I was imagining `early_stopping_patience` to hold some sort of internal counter that's reset every time an improvement is observed with the patience number of steps. This is reset rather often in this case and

[2020-07-01 06:20] david-waterworth commented on #1447
I agree, in my case the curve was relatively smooth but "wave" like, i.e. slowly damped oscillations. The OP's issue sounds more like high frequency noise which I guess is a slightly different issue. In signal processing you might pass it through a low pass filter to remove the noise.

[2020-07-01 07:08] hvy commented on #1457
Thanks for reporting this issue. I guess this could happen for any dialect and not just SQLite and should be fixed by Optuna. Digging into the cause for SQLite, it's likely related to the following, also explaining why you observe this at around 1000 trials.

https://www.sqlite.org/limits.html

Until it's properly fixed by Optuna. There are a couple of workaround you could try.

- Upgrade your SQL

[2020-07-01 07:14] hvy commented on #1457
For the record, https://github.com/optuna/optuna/pull/1426 should properly fix this issue but as noted in the PR, it has some issues.

[2020-07-01 07:21] HideakiImamura commented on #1447
Thanks for raising an interesting issue! IMO, @turian's suggestion which is to introduce `early_stopping_patience` to pruners looks reasonable. I think it is good to implement the feature as another pruner, which can have existing pruner as follows.
[code]

BTW, the `HyperbandPruner` can control the intensity of pruning, as long as we know. So, how about using the `HyperbandPruner` instead of the

[2020-07-01 07:57] #1446 closed

[2020-07-01 12:16] himkt commented on #1446
@nickswalker
Thank you for creating the issue, I fixed this bug in #1449.
Environment variables can be used from the next release of Optuna.

[2020-07-01 13:20] harupy commented on #711
I'll briefly describe how to install and use `com2ann` which automatically translates type comments into type annotations. I tweaked [the original version](https://github.com/ilevkivskyi/com2ann) to prevent translating type comments on variables (variable annotations) which is not supported in Python 3.5.

How to install:

[code]

How to run:

[code]

What you need to do after running `com2ann`

-

[2020-07-01 14:45] hvy commented on #1429
@harupy should we close this issue now that https://github.com/optuna/optuna/pull/1436 is merged?

[2020-07-01 14:47] hvy commented on #1199
#1440 has been merged so you can now specify the random seed through any of the available evaluators. If you use the same seed, you should always get back the same results.

[2020-07-01 14:52] harupy commented on #1429
Looks like I used a wrong closing-issue keyword in #1436.

[2020-07-01 14:52] #1429 closed

[2020-07-01 15:46] hvy commented on #1457
I somehow fail to reproduce your error. Can you provide more details on the failure such as your environment including the version of sqlite3 and maybe your script for running the code.

I'd imagine that a hot-fix could look something like the following, https://github.com/optuna/optuna/pull/1467. Do you happen to be able to test it?

[2020-07-01 16:30] turian commented on #1447
@david-waterworth My curve is like yours, it is 'relatively smooth but "wave" like, i.e. slowly damped oscillations.'

@hvy However, the slowly damped oscillations continue through the entire training, even after 100 epochs.

In pytorch lightning, `min_epochs` is the wrong solution and `early_stopping_patience` is what allows it to actually find the optimum. Since the oscillations continue the who

[2020-07-01 16:35] turian commented on #1447
@HideakiImamura I am still not sure if `HyperbandPruner` is the right solution. It's a bit orthogonal.

If we use @david-waterworth's nice explanation that for some training problems, the curve is 'relatively smooth but "wave" like, i.e. slowly damped oscillations', the key feature is that there is some parameter that finds the optimum over the previous `k` checks, not just the current check which

[2020-07-01 17:19] turian commented on #1447
Here is my validation loss graph

![image](https://user-images.githubusercontent.com/65918/86272919-a93a0e00-bbcf-11ea-821a-a2b5790e3ae0.png)

Note that there are about 10 iterations per epoch, i.e. divide the x-axis value by 10 to get the epoch.

[2020-07-01 19:38] ghannum commented on #820
Any updates on this? Optuna is amazing and I am working to deploy an optimizer across multiple machines. Unfortunately most of the processes are lost due to the DB locking. The jobs are long-running (hours), so I tried a 0-5min random sleep before each process starts and monkey-patched a 5min default connection timeout, but it hasn't helped.

[2020-07-01 21:02] salvadord commented on #1457
Thanks I will try the solutions posted above (upgrade sqlite, mysql, cached storage).

My current setup is quite computationally expensive (each objective function requires 15 min on 96 cores), but I can try to set up a simpler example to try out the hot-fix.

Here's some info on the environment: This is in CentOS 7 virtual machines with a controller node where script runs and jobs are submitted;

[2020-07-01 21:04] salvadord commented on #1457
FYI, I am unable to reproduce the error on my laptop (Mac OS) using the same setup (50 processes and >1000 trials) but with fast objective func. So might be due to the HPC setup (CentOS, etc) or maybe because it's using NFS, ...

I did reproduce the same issue twice now on the HPC after 1000 trials.

[2020-07-01 21:46] salvadord commented on #1457
Switched to using mysql (after installing required libraries) but getting the error below... any idea how to fix? thx

[code]

[2020-07-01 22:14] salvadord commented on #1457
I'm trying your hot fix on the HPC with the full model.

[2020-07-01 22:23] turian commented on #1447
Here is another training curving I have, that is more like what @david-waterworth describes

![image](https://user-images.githubusercontent.com/65918/86296900-3abe7580-bbfa-11ea-960f-e098585ae43b.png)

[2020-07-02 01:19] HideakiImamura commented on #1401
This problem is resolved by PR #1430, so let me close this issue.

[2020-07-02 01:19] #1401 closed

[2020-07-02 03:38] HideakiImamura commented on #1459
Thanks for the question.

First, in Optuna learning scheme, we do not recommend giving the same name to the semantically different parameters, because Optuna’s sampler suggests the next parameter based on previous observations filtered by its parameter name. It means that if we give the same name to 2 different parameters, the optimization performance will degrade due to the contamination of the o

[2020-07-02 04:33] david-waterworth commented on #1459
Thanks for the response

In the second case though  (e.g. hparams['grow_policy'] = 'SymmetricTree') how do you then reconstruct the params after training? i.e. the `study.best_trial.params` will not contain a value for `grow_policy` even if the model was trained with this parameter and it minimises the objective.

It seems to me the safest thing is to store hparams, i.e. trial.set_user_attr('hpara

[2020-07-02 07:17] harupy commented on #1445
I added a comment on #711 that explains how to use and install `com2ann` so I'll close this issue.

[2020-07-02 07:17] #1445 closed

[2020-07-02 08:11] VladSkripniuk commented on #1055
I close this issue since PR #1056 was merged.

[2020-07-02 08:11] #1055 closed

[2020-07-02 08:21] liori commented on #820
@ghannum, for me it helped to put the database file to /dev/shm (RAM-drive) — it doesn't need syncs, so it's faster. Now I can do 16 processes simultaneously and I see zero lock contention.

Also note that if you plan to run it on multiple machines, sqlite won't work properly anyway. When I tried distributed optimization, I used postgresql and it doesn't have this problem.

[2020-07-02 09:31] hvy commented on #821
@louisabraham Two new experimental APIs were introduced in #1335, one for adding trials to a study and for creating arbitrary trials (this is a rather low-level API). They should address this issue. Have you taken a look at it? I'm wondering if we cannot close this issue as resolved.

[2020-07-02 09:49] louisabraham commented on #821
Sure, it looks very much resolved. I'll play with them later. Thank you for your hard work!

[2020-07-02 09:49] #821 closed

[2020-07-02 13:23] salvadord commented on #1457
The hot fix seems to be working as it's already on trial 4490... thanks!

[2020-07-03 01:53] hvy commented on #1115
Ongoing at https://github.com/optuna/optuna/issues/1347#issuecomment-650852619.

[2020-07-03 02:30] HideakiImamura commented on #1318
Thanks for raising the Issue!

In my experience, the CMA-ES algorithm, which is `CmaEsSampler` in Optuna, is vulnerable to the objective function with large variances. This behavior is observed in PR https://github.com/optuna/optuna/pull/1229. Here, the objective values of the pruned trials can be far away from the original values, so the variance is apparently large and the performance of `CmaEsS

[2020-07-03 02:58] HideakiImamura commented on #1459
In my understanding, the  meaning of the `hparams['grow_policy']` is different between the different branches,  that is `hparams['boosting_type'] == 'Plain'` or not. So, I think we should not use the same name in Optuna for `hparams['grow_policy']` in the different branches. Then, we can determine the value of `hparams['grow_policy']` based on the `hparams['boosting_type']` after the training.

Hm

[2020-07-03 03:07] HideakiImamura commented on #1402
Hi @kradant! In the current master branch, PR #1335 is merged. I hope you'll give it a try if you like.

[2020-07-03 03:42] david-waterworth commented on #1459
It's not really that it has a different meaning, there are 3 unique ways catboost can add leaf nodes to a tree but which are implemented depends on other parameters (in this case which type of gradient boosting is used). Many of the options are also conditional on device type as well - i.e. some are implemented only on CPU or GPU. But I agree naming them differently makes sense.

Thinking through

[2020-07-03 04:25] HideakiImamura commented on #1459
Yes, you are right! It is an instance of `FrozenTrial`.

Unfortunately, the `trial` argument of the `hparams_for_trial` is not an instance of `FrozenTrial` but that of `Trial`. In the current implementation, `FrozenTrial` cannot be used samely as `Trial`, that is, `suggest_*` methods are not implemented for `FrozenTrial`. Therefore, currently, we cannot call `best_hparams = hparams_for_trial(study

[2020-07-03 04:32] HideakiImamura commented on #1459
[FYI] We are planning that we make `FrozenTrial` can be used as `FrozenTrial.suggest_*` samely as `Trial.suggest_*`. Ongoing at Issue https://github.com/optuna/optuna/issues/1251.

[2020-07-03 04:32] david-waterworth commented on #1459
Thanks I was just about to ask that, I'll close now and follow that issue!

[2020-07-03 04:34] david-waterworth commented on #1251
This would also allow simple forward/backward mapping between a trial and the hyperparameters when there is complex logic involved - i.e. #1459

[2020-07-03 05:11] #1060 closed

[2020-07-03 15:03] hvy commented on #1457
Thanks for the detailed report, and great, maybe we can proceed with the hot fix. I also reproduced the issue/verified the fix by building sqlite3 with a lower `SQLITE_MAX_VARIABLE_NUMBER` (as seen below) but you are also right about the issue being Linux distribution dependent, c.f. https://bugzilla.redhat.com/show_bug.cgi?id=1798134. You can actually reproduce it on e.g. a mac by running 500000

[2020-07-03 15:55] crcrpar opened #1479 "[RFC] Integrate tf-keras example and keras example"
Now that Keras doesn't support backends other than TensorFlow as announced in https://github.com/keras-team/keras/releases/tag/2.4.0, we can integrate them into one without loss of generality.

However, removing an example is a bit too drastic. So, I would love to discuss whether we integrate the two examples or leave them as they are.

[2020-07-03 19:30] PhilipMay opened #1480 "Study parallel jobs should use multiprocessing"
When you do parallel execution in `study.optimize` (when `n_jobs=-1` for example). You say `with Parallel(n_jobs=n_jobs, prefer="threads") as parallel:`. See here:

https://github.com/optuna/optuna/blob/61c6a0acb22338789a83a02bb147326159f41d1e/optuna/study.py#L317

IMO this just opens (threading) which suffers from the Python Global Interpreter Lock. See here: https://joblib.readthedocs.io/en/late

[2020-07-04 13:40] yorickreum opened #1484 "Add option to abort hang trials"
Sometimes, single trials of my training take excessively long or hang up completely. Then, it were reasonable for optuna to abort these trials and continue with the next trial. This can be implemented by timeouts for the trials.

## Motivation / Problem

I let hyperparamter studies run over the night. From time to time, they hang up because of a single trial – this is really annoying and costs me

[2020-07-05 09:19] danpolus commented on #1318
Interesting, I will try that.
Thanks

[2020-07-06 02:46] hvy commented on #1479
Thanks for raising this issue. On a related note, we should probably support `keras==2.4.0` first (see `keras<2.4.0` https://github.com/optuna/optuna/blob/master/setup.py).

[2020-07-06 02:48] crcrpar commented on #1479
One thing in my mind is that now that Optuna avoids Keras 2.4 due to the lack of compatibility between Keras and TensorFlow (when I tackled the CI failure about two or three weeks ago). So, we have to defer the decision about when to start cleaning up Keras and TF-Keras examples.

[2020-07-06 03:03] sile commented on #1480
FYI: This issue seems relating to #1232 .
Your proposal sounds good but the most difficult point to enable this is we need to implement "multi-process support by InMemoryStorage " (quoted from #1232) I think.

[2020-07-06 03:59] toshihikoyanase commented on #1484
Hello @yorickreum. Thank you for your feature request.
The execution time of objective functions may depend on suggested hyperparameter value, and I think timeout for each trial is useful.

I talked with @sile and he suggested applying a timeout decorator to objective functions. I created a notebook to show this workaround. Please take a look at it.

It uses [`timeout-decorator`](https://pypi.org/

[2020-07-06 08:05] ofersabo commented on #975
I believe I encountered the same issue.

I'm running distributed experiments across servers. When I try to reproduce the best experiment, I copy all the parameters from the config file (I'm using the optuna with allennlp) including seed, and for some reason, I can't reproduce this exact same results ( I also run the same experiment on the server).
reproduction is fine when I don't use the optuna d

[2020-07-06 08:12] hvy commented on #1340
Let me label this as a bug since it leads to an error.

[2020-07-06 08:26] ofersabo opened #1487 "Reproduction of best trial when loading pre-trained models"
I believe I encountered the same issue as mentioned in issue number 975#.

I'm running distributed experiments across servers to find the best hyperparameters. When I try to reproduce the best experiment, I copy all the parameters from the config file (I'm using the optuna with allennlp) including seed, and for some reason, I can't reproduce this exact same results ( I also run the same experiment

[2020-07-06 15:43] nandnor93 opened #1488 "Duplicate trial numbers on distributed optimization"
When I run multiple Optuna processes on cloud servers that have job scheduler, Optuna occasionally assigns duplicate trial numbers (`trial.number`) to multiple trials that started at almost the same time.

## Expected behavior

Each trial obtains a different number; as a result, the trial numbers among a study become sequential.

## Environment

- Optuna version: 1.5.0
- Python version: 3.8.3
- OS

[2020-07-06 23:50] #1340 closed

[2020-07-07 01:34] hvy commented on #1457
Closing this issue as the fix https://github.com/optuna/optuna/pull/1467 has been merged. @salvadord, feel free to reopen as needed.

[2020-07-07 05:28] hvy commented on #1297
https://github.com/optuna/optuna/pull/1464 demonstrates how one could go about it.

[2020-07-07 05:46] toshihikoyanase commented on #1487
@ofersabo
Thank you for your report.
I'm not sure of the exact cause of your problem, but I saw some potential causes which prevent reproduction.

- Numerical precision of parameter values stored in RDBStorage
- Effect of the previous trial

## Numerical precision of parameter values stored in `RDBStorage`

I think you used `RDBStorage` with an RDB server to execute distributed trials.
Some RDB se

[2020-07-07 06:37] ofersabo commented on #1487
Hi @toshihikoyanase
Many thanks for the help and for this detailed comment.

I believe that the problem I encountered arises from your second point.

About the first point, I see actual differences between the saved model from optuna and the saved model from my reproduction process. Also, when I re-load the model and execute evaluation on any dataset I see differences with the results, these diffe

[2020-07-07 06:56] toshihikoyanase commented on #1487
@ofersabo Thank you for your quick response.

May I ask how to re-load the model?
I want to know your workflow of the hyperparameter tuning. I guess your workflow consists of the following steps:

1. Create a Jsonnet file for `AlleNLPExecutor`
2. Run `AllenNLPExecutor`
3. Fill the best params to the Jsonnet file
4. Reproduce the best trial using the `allennlp train` command

If so, I'd like to kno

[2020-07-07 07:15] ofersabo commented on #1487
I load the model with the allennlp evaluate command, which under the hood eventually uses the model.load_state_dict() pytorch implementation.

@toshihikoyanase the reproduction steps which you mentioned are accurate.
If run step 4 twice I get the same results which are different than the original results which were acquired from the optuna trial.

[2020-07-08 01:12] crcrpar opened #1493 "Request for shell script or Makefile for kubernetes examples"
Currently, this repository has an example which demonstrates how to use Optuna on Kubernetes. In addition to this, I'm working on an example of how to use Optuna with MLflow on Kubernetes. Both of them have a handful of steps including Dockerfile build that might be a bit overwhelming for us to follow those steps one by one.

__UPDATE (2020-07-31)__: Now that we have kubernetes example with and wi

[2020-07-08 01:25] hvy commented on #1488
Thanks @nandnor93 for raising this ticket. This indeed seems like a problem.

I've tried fixing it in #1490. If you are in able to try this branch, please let me know if it solves the problem for you.

[2020-07-08 07:14] hvy commented on #733
[code]

Just leaving a record and some code for verifying this issue. (Took a quick look as the PR addressing this issue was being stale).
The problem seem to mostly derive from `plot_contour` which basically hangs (several minutes without returning). The other plot functions are more or less instantaneous, except for `plot_param_importance` which take a couple of seconds to finish.

I assume plot

[2020-07-08 08:46] konradsemsch commented on #1297
That's very helpful! You're a little bit faster than as as we've almost managed to do it by ourselves 😉 we'll take your reference and complete our won implementation - thank you!

[2020-07-08 09:04] konradsemsch opened #1494 "How to modify the LightGBMTunerCV? E.g. change the number of n_trials?"
Hello,

I'm trying to adapt the following example: [link](https://github.com/optuna/optuna/blob/master/examples/lightgbm_tuner_cv.py), especially trying to reduce the number of trials or e.g. perhaps modify the pruner at some later stage. The reason to modify the number of trials is that right now I've implemented this optimization as part of a bigger ML package and I would like to test if it's wo

[2020-07-08 10:15] nandnor93 commented on #1488
Thank you for your quick response.
I've tested https://github.com/optuna/optuna/pull/1490/commits/d7bdd63c711b5cff68ba663801cd842dbc365bcb in my environment.

The trial numbers are now correctly assigned, but some of the parameters and values are not recorded in the DB.
Though they are displayed in the main process -- the same program as the tiny test above -- that hosted the corresponding trial,

[2020-07-08 10:17] nandnor93 commented on #1488
Thank you for your quick response.
I've tested https://github.com/optuna/optuna/pull/1490/commits/d7bdd63c711b5cff68ba663801cd842dbc365bcb in my environment.

The trial numbers are now correctly assigned, but some of the parameters and values are not recorded in the DB.
Though they are displayed in the main process -- the same program as the tiny test above -- that hosted the corresponding trial,

[2020-07-08 10:35] nandnor93 commented on #1488
I add that I was able to reproduce the duplicate number problem with Optuna 1.4.0 on a local server by calling multiple processes using pssh (like `pssh -H{server,server,server,server,server,server,server,server,server,server,server,server,server,server,server,server} --inline bash /******/optuna_bug_test_pssh.sh`).

[code]

[2020-07-08 11:51] toshihikoyanase commented on #1494
@konradsemsch Thank you for your question.
Currently, `lightGBMTunerCV` does not receive `n_trials` from users as you mentioned.

For this purpose, I think you can use [`time_budget`](https://optuna.readthedocs.io/en/stable/reference/integration.html#optuna.integration.lightgbm_tuner.LightGBMTunerCV) to restrict the execution time. You can set a time limitation for parameter tuning in seconds with

[2020-07-08 13:07] konradsemsch commented on #1494
Thanks for a prompt response! I somehow missed that.

[2020-07-08 13:07] #1494 closed

[2020-07-08 15:52] hvy commented on #1488
Thanks a lot for the detailed reports. They help for sure and I've started to look into the parameter table issue as well.

Just to clarify, does this branch refer to 1.4.0? I'm seeing a similar behavior in the `master` branch (i.e. not including the fix for the trial number) where the parameters of the first trial in a later started process/study is always missing. Does this match your behavior?

[2020-07-08 17:21] nandnor93 commented on #1488
Sorry for the ambiguity.
In the test conducted on a local machine, I saw the "duplicate number" in 1.4.0 installed by Anaconda, while the "parameter missing" occurred in https://github.com/optuna/optuna/commit/d7bdd63c711b5cff68ba663801cd842dbc365bcb that I just installed to a clean Anaconda env.

Yes, I observed the same behavior with https://github.com/optuna/optuna/commit/d7bdd63c711b5cff68ba66

[2020-07-08 23:00] ytsmiling commented on #1488
Thank you for reporting the problem.
It seems to happen when a new parameter is registered to storage. The `_CachedStorage` invokes [`_check_or_set_param_distribution`](https://github.com/optuna/optuna/blob/46bb1d352e6f7fa4bd7a3111593310457d7dc895/optuna/storages/_rdb/storage.py#L753) method [on this line](https://github.com/optuna/optuna/blob/release-v1.5.0/optuna/storages/cached_storage.py#L232)

[2020-07-09 02:04] HideakiImamura commented on #1314
PR is going!

[2020-07-09 04:34] ytsmiling opened #1496 "Retry insertion after deadlock when using RDB backend."
## Background
Some DBs can cause deadlock even when you try to insert a single row (see e.g., [MySQL InnoDB](https://dev.mysql.com/doc/refman/5.7/en/innodb-deadlocks-handling.html)). The documentation notes as follows.
[code]
It seems that `sqlalchemy` does not automatically retry, and we need to handle the dead-lock like [these lines](https://github.com/optuna/optuna/pull/1490/files#diff-9aa9e205

[2020-07-09 08:03] ytsmiling opened #1499 "Deadlock can occur when using MySQL backend."
## Expected behavior

Optuna handles MySQL errors.

## Environment

- Optuna version: 1.5.0
- Python version: 3.7
- OS: mac OS Catalina
- (Optional) Other libraries and their versions: MySQL + pymysql

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. Parallel optimization with MySQL backend.

## Reproducible examples (optional)

<details><summary>Code</summary>
<p>

[cod

[2020-07-09 09:36] konradsemsch opened #1500 "lgb.LightGBMTunerCV: TrialState.FAIL because the returned value from the objective function cannot be casted to float"
The lgb.LightGBMTuner seems to run for a number of trials and then breaks unexpectedly. The strange thing is that it runs without problems for a number of steps before the error occurs.

## Expected behavior

This is my code piece:

[code]

## Environment

- Optuna version: 1.5.0
- Python version: 3.7
- OS: MacOS 10.15.3 (19D76)

## Error messages, stack traces, or logs

[code]

## Steps to reprod

[2020-07-09 09:54] hvy commented on #1488
Thanks @ytsmiling a lot for elaborating on the cause of the bug.

@nandnor93, with #1490 and now #1498 addressing this latter bug, those problems described in this ticket should have been solved. If you happen to have time and effort, I'd be interested in knowing if this is true in your environment. Thanks!

[2020-07-09 12:48] nandnor93 commented on #1488
I tried #1490 (d7bdd63c711b5cff68ba663801cd842dbc365bcb) and #1498 (f51e87419c23726dabab2569a74e0739b7f39585) on a local server since my environment on the cloud servers is busy now.
It worked perfectly!

[code]

[2020-07-09 13:17] hvy commented on #1488
That was fast, thanks a bunch. 🙂

[2020-07-09 14:15] nandnor93 commented on #1488
The 32-parallel test has now passed also on the cloud servers that I was using originally.
Thank you all!

[code]

[2020-07-10 02:01] hvy commented on #1220
Let me close this issue as there's no straight forward fix and it has been stale for a while. Feel free to reopen.

[2020-07-10 02:01] #1220 closed

[2020-07-10 02:44] hvy commented on #1488
Great. Again, thank you for reporting and quickly following up on these important bugs. Much appreciated. On a side note, we should try to catch these error systematically. No clear date yet but we're looking into it. 🙇

[2020-07-11 05:08] keisuke-umezawa commented on #782
Yes, I think so too. If we will update it, it is 5 or less for bullets.

[2020-07-12 17:59] dktemp888 opened #1508 "Trial's intermediate_values are overwritten by other new trial when running multiple experiments in parallel"
Trial's intermediate_values are overwritten by other new trial when running multiple experiments in parallel
## Expected behavior
Each trial has its own intermediate_values that can be used for pruner correctly when running Optuna in parallel. This is important because otherwise the pruner logic will be wrong because of incorrect intermediate_values.

## Environment
Ubuntu 1604

- Optuna version:

[2020-07-13 01:33] #1488 closed

[2020-07-13 04:03] hvy commented on #1508
Thanks for the report and for verifying with both SQLite and MySQL. At a quick glance, I'm wondering if it's not a different manifestation of #1488. If you are able to, could you try to install the latest `master` branch (check out the `master` branch and run `pip install -e .`) of Optuna where #1488 is fixed and check if the bug persists?

In case this is a different bug, it's a quite severe one.

[2020-07-13 06:42] #1314 closed

[2020-07-13 06:48] hvy commented on #1246
I think we can check the above three boxes.

[2020-07-13 17:28] dktemp888 commented on #1508
Hi @hvy thanks so much for your immediate response. Based on your suggestion I ran with the latest master. It still has the issue. Unfortunately I cannot share my current version source code for the moment. Below is the log that can help show some level of details.

Regarding how to run experiments in parallel:
(1) this issue was discovered in a distributed training cluster using Optuna, however I

[2020-07-14 00:00] hvy commented on #1508
Thanks for your quick response. Sad new though, I'll have a look at it today.

[2020-07-14 02:02] hvy commented on #1300
Not sure if this has been solved for you but please let me close this issue. More than welcome to reopen as needed.

[2020-07-14 02:02] #1300 closed

[2020-07-14 04:01] ytsmiling commented on #1170
I'd like to summarize recent changes.

## Major Changes
One of the major changes is that trials are only loaded only when `storage.read_from_remote_storage` in RDB backend. This solved a bug that trial looks different set of trials under multi-worker training (#1298). Additionally, reduced communication cost improved overall performance. Another large change is that we add multi-worker tests, whic

[2020-07-14 09:06] hvy commented on #1508
So it seems like the intermediate values in the first process is cleared when the second process starts?

Sorry but I did not manage to reproduce the same behavior.

Given that the intermediate values are correctly written to the database, I don't really see how your second Python process manages to alter the intermediate values seen by the first process. If I've understood it correctly that is. D

[2020-07-14 17:06] dktemp888 commented on #1508
I forgot to mention that all the intermediate values in database are still correctly captured. The issue only happens within the running instance where you get it from trial.intermediate_values property.

I ran two instances separately and the console logs shown above were captured from individual instance. There are separators: "BELOW IS FROM CONSOLE #1, WHICH RUNS FIRST", "BELOW IS FROM CONSOLE

[2020-07-15 03:03] hvy commented on #1499
@ytsmiling, is this issue resolved by https://github.com/optuna/optuna/pull/1514?

[2020-07-15 03:05] hvy commented on #1199
Feel free to reopen, but let me close this issue as fixed.

[2020-07-15 03:05] #1199 closed

[2020-07-15 03:08] hvy commented on #1508
Sorry, I don't quite understand what you mean here, but as you say, minimum reproduction code would be really helpful. Would you possibly be able to extract that?

[2020-07-15 03:45] ytsmiling commented on #1499
I'm not sure whether we should close #1496, but I think this issue was solved by #1514, thanks.

[2020-07-15 03:45] #1499 closed

[2020-07-15 06:35] dktemp888 commented on #1508
During the extraction of reproducible code, I discovered a bug in our code. The trail variable was overwritten during a dict sort within the pruner.prune() function. That's why the intermediate_values are 'overwritten' later on...

I am really sorry for the confusion and thanks again for your prompt support.

This issue can be closed now.

[2020-07-15 06:35] #1508 closed

[2020-07-15 07:15] hvy commented on #1508
That's a relief. No worries and thanks for the update!

[2020-07-15 10:29] toshihikoyanase commented on #1500
Thank you for your report. I've never seen this phenomenon.
I'm wondering why the 9th trial finished later than 29th trial.
I guess lightgbm stalled and crashed in the `LightGBMTunerCV.run`  and somehow returned the lightgbm params instead of objective values. I created a [notebook](https://colab.research.google.com/drive/1mRLM6DSxkAInKR6MMJUUFFobSqDqKgWD#scrollTo=WXg38c0f3zHG) based on the scenar

[2020-07-15 10:30] #1012 closed

[2020-07-15 18:34] louisabraham opened #1523 "default importance evaluator"
get_param_importances uses fanova by default but the docs say it uses MRI.

(It might be interesting to say why one would not use the default)

[2020-07-16 00:40] hvy commented on #1523
Thanks for the report. Addressed it in #1524.

To be honest, it's not necessary clear when to use one over the other. MDI is simpler and also faster. It has its drawbacks however and is known for favoring high cardinality/continuous hyperparameters for instance. Unless speed is a concern (this can also be tweaked/traded-off against accuracy using the forest configuration parameters of the evaluato

[2020-07-16 04:11] #1523 closed

[2020-07-16 08:02] hvy opened #1526 "`allennlp_jsonnet.py` is failing on GitHub Actions."
## Expected behavior

Daily example runs on GitHub Actions, in particular the `allennlp_jsonnet.py`, should not be be failing.

## Environment

- GitHub Actions

## Error messages, stack traces, or logs

https://github.com/optuna/optuna/runs/875801206?check_suite_focus=true

## Steps to reproduce

1. Wait for the daily example GitHub Action, in particular `allennlp_jsonnet.py` to run.
2. Notice th

[2020-07-16 09:33] himkt commented on #1487
@ofersabo

Sorry for the late reply.
I'm wondering you ran the experiments on GPU.
If training is run on GPU (with CuDNN), the results could be varying between runs.
(ref. https://github.com/allenai/allennlp/issues/387)

https://github.com/himkt/optuna-allennlp-reproduction
I conducted the experiment based on the Optuna x AllenNLP [example](https://github.com/optuna/optuna/blob/master/examples/all

[2020-07-16 10:05] keisuke-umezawa commented on #1334
@nzw0301
I added explanations for each sections. e.g. `Since optuna users will use these functions and methods, they should have an example to explain how to use it. So, we need to add an Example: section in the docstring.`.

[2020-07-17 00:36] hvy commented on #1238
I'd also be great if we could follow-up this with running daily example jobs in a more fine grained manner than what we're doing now, running every example in a single step https://github.com/optuna/optuna/actions/runs/171512614/workflow. I'd make debugging somewhat easier.

[2020-07-17 08:28] mcrn-rocinante opened #1529 "Explanation on (default) behaviour of pruning"
Hi, first of all i'd like to thank anyone who participated in this project.

I'm currently designing and training a neural network on pytorch for an imbalanced classification problem and I'm trying to use an hyperparameter optimizer such as optuna to see if it would improve the efficiency of my classifier.
Being new to pytorch and optuna my code is thus mostly "inspired" from this post: https://gi

[2020-07-18 10:21] Pythonatheart opened #1531 "Distributed Parallel error: Trial has already finished and can not be updated."
I am trying the distributed processing with Postgresql.
As per instructions, I have created a study 'optuna_exp' with storage in postgresql database 'Optuna'.
I then execute optimisation script in terminal with the code:
if __name__ == '__main__':
    study = optuna.load_study(study_name='optuna_exp', storage='postgresql+psycopg2://postgres:password@localhost:5432/Optuna')
study.optimize(objective

[2020-07-18 11:23] ytsmiling commented on #1531
Thank you for reporting the bug. This bug seems to be serious.
Recently, some distribution-related bug was resolved (#1490), and I suspect this problem relates to the bug. If you are able to, could you try to install the latest master branch (check out the master branch and run pip install -e .)?

In case it's a different bug, are you able to give some more details on the reproduction, preferably

[2020-07-18 13:21] Pythonatheart commented on #1531
Installation from master branch solved the issue.
I was able to run 50 instances without any dropouts.
Arigato gozaimasu!

[2020-07-18 13:21] #1531 closed

[2020-07-18 17:32] ofersabo commented on #1487
Hi @himkt
Thanks for the reply.

the experiments were done on GPUs, I used 4 GPUs.
Yea, I can try running these trials on the CPU, however, this may take long as I'm using BERT, actually I'm not even sure if this is feasible. will keep you updated.

Even if this doesn't happen on the CPU, (i.e. models can be reproduced using the CPU) as it appears in your attached log output, I still think that th

[2020-07-18 23:06] himkt commented on #1487
Thank you @ofersabo for the quick response!

Hmm... in my environment, `allennlp train` produces different results on multiple runs.
I used the following allennlp config.

[code]

Could you please tell me if you find out the difference between my config and your config?
(Except to the model architecture)

Also, I want to ask you whether the model you have a consistency problem, and the model you u

[2020-07-19 00:02] deng-cy commented on #1529
The default pruner is ASHA/SHA. It compares with the other trials at the same epoch. You are right that it's possible a trial that "started badly" will actually be a good one. Then we need to be careful choosing how "early" we could make decisions to discard a trial, which is controlled by the hyperparameter `s` in SHA.  A safe solution is to loop over all possible `s`. This idea is called Hyperba

[2020-07-19 06:38] ofersabo commented on #1487
yes, these are the same models. The one used by optuna and the one used directly by allennlp which I can reproduce, are the same model.

many things are different between our config files cause we use a completely different model and setting.
the essential parts are not very different as can be seen yourself.

you can find the config file in the repository, the link is hereunder.

OK, you may spot

[2020-07-19 23:35] HideakiImamura commented on #1402
The feature which we want to introduce in this feature is realized by the `optuna.study.Study.add_trial(trial)`, which is introduced in PR #1335. For example, we can plot top 10 trials of the optimized `study` in the contour plot as follows.

[code]

Let me close this issue. If you have any comments or questions, please feel free to reopen this issue.

[2020-07-19 23:35] #1402 closed

[2020-07-19 23:38] HideakiImamura commented on #1318
Hi @danpolus! Have you tried the above devising? I'm interested in the result. I'm very glad if you share your precious experience!

[2020-07-20 01:45] HideakiImamura commented on #1529
Thanks for the question @mcrn-rocinante and thanks for the quick answer @deng-cy! As @deng-cy said, it is possible a trial that started badly will actually be a good one. To control the "aggressiveness" of pruning, we can use the following parameter for each pruner in Optuna.

#### `optuna.pruners.{MedianPruner, PercentilePruner, ThresholdPruner}`
The argument of `n_warmup_steps` can control the a

[2020-07-20 01:51] deng-cy commented on #1529
Sorry I made a mistake there. I marked in the original comment.
I am a little curious about the sentence "The HyperbandPruner can automatically control the aggressiveness." From the paper of Hyperband, it simply loops over all s without really "automatic control". Do you mean you implemented a upgraded version of Hyperband?

[2020-07-20 02:39] HideakiImamura commented on #1529
@deng-cy Thanks for the reply! As you mentioned, Hyperband checks several `min_early_stopping_rate "s"` by looping them. Hyperband does not choose `s` adaptively, it just checks several `s`. In Optuna implementation, we also adopt the feature. However, the maximum number of looped `s` is automatically determined by other arguments of Hyperband (reduction factor `\eta` and minimum resource `r`). So

[2020-07-20 06:20] jeremysalwen opened #1532 "Interrupted jobs and sqlite?"
I have noticed that when I interrupt my tuning when using an sqlite database, then when I continue tuning from the same database, it will launch fewer than n_jobs new runs.  From using study.trials_dataframe() I can see that there are old studies still in the dataframe stuck in the "RUNNING" state.  I am guessing that these two observations are related.

Is there some way I can remove/cancel all t

[2020-07-20 10:22] danpolus commented on #1318
Hi @HideakiImamura,

Currently I'm using CMA-ES only (without TPE before head) with initial conditions (x0) in the assumed desired range: between points of discontinuity that lead to NaNs. Since I gave up TPE, I'm not scanning the whole parameter range (perhaps missing better solutions), but letting CMA-ES explore around x0. At the objective function I replace NaN with Inf without pruning the tria

[2020-07-20 10:55] toshihikoyanase commented on #1532
Hello @jeremysalwen,

This phenomenon is a known issue reported in #913. As mentioned in the thread, the method to remove `RUNNING` trials was not implemented due to some technical difficulties.

`n_jobs` option does not refer to the existing `RUNNING` trials, and it only changes the `n_jobs` argument of [`joblib.Parallel`](https://joblib.readthedocs.io/en/latest/generated/joblib.Parallel.html) as

[2020-07-20 15:19] microprediction opened #1534 "Demonstrate power of optuna at microprediction.org"
Hi. Great project. I've been thinking about how to integrate optuna into microprediction.org
More examples of time series prediction would help tremendously.

## Motivation

Gain exposure for optuna, since funded contests are run at Microprediction.Org with a few thousand in prize money every month. We're looking to support good open source work and lower the cost of bespoke data science to the po

[2020-07-20 21:48] mateuszpieniak opened #1535 "Missing trial parameters with AllenNLP training"
I encountered a weird outcome whilst optimizing my AllenNLP model, which might be tough to reproduce. I miss some rows in `trial_params`. Surprisingly the table `trials` contains results for the missing parameters which suggests that the runs were successful.

### Table `trials`
![Values](https://user-images.githubusercontent.com/31375424/87988567-d8fa7880-cae0-11ea-8738-43c703a5d12b.png)

### Tab

[2020-07-20 23:58] HideakiImamura commented on #1318
Thank you for your reply. Your scenario is very interesting to me. As for your objective function, the discontinuities in the domain seem to be important to the performance of the TPE. The fact that the TPE fails to converge is surprising to me. Can I ask you about the specific objective function and domain space?

[2020-07-21 00:40] crcrpar commented on #1479
I'm going to check the compatibility of Keras and TensorFlow upon TensorFlow 2.3 release.

[2020-07-21 01:15] hvy commented on #1535
Thanks for the report. It seems like a severe bug, and likely a duplicate to https://github.com/optuna/optuna/pull/1498, considering your number of parallel workers and the missing rows. If possible, could you try the latest `master` branch and see if the problem persists?

[2020-07-21 07:04] g-votte opened #1539 "Matplotlib backend for visualization functions"
This issue proposes to implement the [Matplotlib](https://matplotlib.org/) backend for the visualization functions.

## Motivation

While the current visualization backend, [Plotly](https://plotly.com/python/), provides rich and interactive interfaces, the setup is sometimes hard especially when exporting figures as static ones. Specifically, the installation steps of [Orca](https://github.com/plo

[2020-07-21 07:27] hvy commented on #1447
Sorry for the late reply. Implemented a pruner for Optuna which should behave similarly to the `EarlyStopping` callback in PyTorch Lightning with the "patience" that you mentioned earlier. I made it available in the following Google Colab notebook if you could try it out.

https://colab.research.google.com/drive/1uPUlBqpCWv5oFLkDAMSOJ1LRWOGD_c-i?usp=sharing

If this doesn't address your problem, t

[2020-07-21 09:07] danpolus commented on #1318
Hi @HideakiImamura,
I'm aiming to fit Neural Mass Model power spectrum to EEG power spectrum recorded from patients. The fitting is done by optimizing model's parameters. I use The Virtual Brain (TVB) toolbox for the simulation. TVB returns NaN when Neural Mass Model solution goes to infinity.
Comparing spectra can be done in many ways, and this is the reason why I'm not sure in my error formula.

[2020-07-21 12:24] himkt commented on #1526
[memo]

I conducted some trials and found:

- Putting `sys.exit(0)`: CI still fails
  - https://docs.python.org/3/library/sys.html?highlight=sys%20exit#sys.exit
- Putting `os._exit(0)`: CI passes
  - https://docs.python.org/3/library/os.html?highlight=os%20_exit#os._exit

https://github.com/himkt/optuna/pull/2

In the documentation for `os._exit`:

[2020-07-21 13:09] mateuszpieniak commented on #1535
@hvy Thanks for your response. I updated my fork to Optuna 2.0.0 & it seems to work for now (`trial_params` is correct for the first 4 runs). I will let you know when the whole optimization ends.

[2020-07-21 15:18] mcrn-rocinante commented on #1529
Thanks a lot for all these answers, it's clearer for me now.

[2020-07-21 15:19] #1529 closed

[2020-07-22 01:53] toshihikoyanase commented on #1484
Let me close this issue since it has no recent activities. Please feel free to reopen it or create a new issue.

[2020-07-22 01:53] #1484 closed

[2020-07-22 06:02] himkt commented on #1535
Hey @mateuszpieniak, thank you so much for giving a try `AllenNLPExecutor`.
I used `infer_and_cast` in `AllenNLPExecutor` for parsing floating points.
(e.g. [script](https://gist.github.com/himkt/08fedc4bd532a8ccb440fd286084ce0c) and [config](https://gist.github.com/himkt/097ba6cffefcb5e5b7c5631dc082b181) fails with the error `TypeError: Expected embedding_dropout to be numeric.`).

As you pointed

[2020-07-22 12:01] LearnDSML opened #1546 "Optuna Hyperparameter Tuning, Trial Failed because the returned value from the objective function cannot be casted to float"
I am using Optuna parameter tuning on MNIST dataset, my trials are getting failed and the log shows the below update, Can someone suggest, where is the problem, I am also attaching the code snippet of the CNN model, I am using. My dicts are list that consist of hparms.

 1. Setting status of trial#0 as TrialState.FAIL because the returned
    value from the objective function cannot be casted to f

[2020-07-22 13:03] LearnDSML commented on #1546
Its solved, I was returning, model and history as well from the objective, although it needed just score.

[2020-07-22 13:03] #1546 closed

[2020-07-22 14:26] himkt commented on #1394
@ritvik1512

Thank you for your interest on the issue and really sorry for the late reply.
We'd like to work on this issue by the following steps:

1. Remove instructions for `optuna study optimize` in examples ← [now]
2. Remove the documentation for `optuna study optimize`
3. Update tutorial. In our documentation, it doesn't describe the usage of several commands in Optuna CLI commands: `storage

[2020-07-22 14:29] ritvik1512 commented on #1394
Thank you for taking the time to list out the steps, I'll start with #1 for now.

[2020-07-23 05:17] jeremysalwen commented on #1532
Thanks @toshihikoyanase upon further investigation it looks like my workers are getting killed by https://github.com/optuna/optuna/issues/820

[2020-07-23 05:17] #1532 closed

[2020-07-23 06:34] JoshKoh opened #1547 "Same parameters for multiple trials under distributed parallel processing"
Running distributed parallel processing with postgresql.
Started 20 instances.
Then noticed multiple trials having same parameters:
Trial **13443 finished with value: 0.7391443119806878** and parameters: {'model_index': 7, 'band1_index': 25, 'band2_index': 17, 'band3_index': 16}. Best is trial 551 with value: 0.7406389004521836.
Trial **13444 finished with value: 0.7391443119806878** and parameter

[2020-07-23 06:46] JoshKoh commented on #1334
I think we need examples for multiple objective optimization and study.stop as introduced recently in ver. 1.5.
Especially how to stop study once objective function achieves certain threshold.
Also, example for pruning needs more explanation:
for step in range(100):   # what is this for? Why do we need range(100), how to determine a range?
        clf.partial_fit(train_x, train_y, classes=classes)

[2020-07-23 07:29] ytsmiling commented on #1547
Thank you for reporting the bug. Recently, we resolved a distribution-related bug in #1490, and I suspect that this problem relates to the bug. Would you mind trying the latest master (please clone this repository and execute pip install -e .)?

[2020-07-23 10:30] JoshKoh commented on #1547
The Optuna version that I am using is built from the master branch.

[2020-07-23 11:09] ytsmiling commented on #1547
Thank you for the update. So the problem also occurs in the latest master (optuna v2.0.0). We'd like to investigate the problem more, but it might take time. Would you tell us which samplers/pruners you used or provide us reproducible codes?

[2020-07-23 22:20] deng-cy opened #1549 "Is there any way to store customized results in each step?"
I want to train a GAN with two loss values. Although I will use their sum for `trial.report(loss, step)`, I want to keep them separately. I found that `trial` and `study` have attributes, then is there a similar feature to store customized results for each step?

[2020-07-24 09:02] himkt commented on #1487
Thank you for sharing your repo! I've gone through your implementation.
Unfortunately, I couldn't run you code since I couldn't get TACRED (and dataset reader).
I'd be really happy if you give me a small code with full reproduction, which is consists of standard AllenNLP components.

[2020-07-24 12:33] Amyantis opened #1550 "Make LightGBM Tuners number of trials per step parametrizable"
Hello,

The provided LightGBM tuners allow us to optimize LightGBM hyperparameters in a stepwise manner. Each step, defined as a method of [_LightGBMBaseTuner](https://github.com/optuna/optuna/blob/4fc8e5cd143a1ad8e5d9bd89e5bdb48a4713d3c8/optuna/integration/_lightgbm_tuner/optimize.py#L317), has a constant number of trials. The number of trials for each step is defined through the default values o

[2020-07-24 18:14] lukovnikov opened #1552 "Different sampling behavior depending on Trial Pruned or Trial Failed due to Exception."
It seems the sampling behavior differs between the cases where the trial has been pruned or where the trial failed with an exception.

## Expected behavior

The sets of samples produced by the sampler should remain similar, independent of whether the trial was pruned or the trial failed due to an exception?

## Environment

- Optuna version: 1.5.0 (from pip install)
- Python version: 3.6
- OS: Win

[2020-07-24 23:23] JoshKoh commented on #1547
The issue seems to happen only when there's a small pool of parameters to choose from. In my case, I am trying to select 4 values sequentially from a possible 28 values (28 x 27 x 26 x 25). However, when I increase possible values to 1,200, the issue disappears.

[2020-07-24 23:29] JoshKoh opened #1553 "Can I set search condition based on number of trials?"
Can I set search condition based on number of trials? For example, I want to explore certain value range for the first 5,000 trials, then change after 5,000 trials:

If trials <= 5,000:
    param1 = trial.suggest_int('param1', 0, 50)
    param2 = trial.suggest_int('param2', 0, 50)
elif trials > 5,000:
    param1 = trials.suggest_int('param1', 100, 200)
    param2 = trials.suggest_int('param2', 100

[2020-07-25 01:49] ytsmiling commented on #1547
Thank you for the detailed information. I'm afraid to tell you that there are no methods to enforce different samples among different workers in such cases in the current optuna. We'd like to add the functionality as a future plan, but it won't be available in the near future.

[2020-07-25 01:56] ytsmiling commented on #1553
You can use [trial.number](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.trial.Trial.html#optuna.trial.Trial.number) for the purpose.
[code]
The `trial.number` includes not only `COMPLETED` trials but also `WAITING` trials,  `RUNNING` trials, `FAILED` trails, and `PRUNED` trials. So especially when you are using distributed optimization, the behavior might be different from wh

[2020-07-25 02:11] ytsmiling commented on #1549
Unfortunately, optuna does not provide an interface to report custom results. So, please use `trial.set_user_attr` to save the results.
[code]
Optuna provides multi-objective optimization, and when you are using it, you can report multiple metrics. This might serve as an alternative, but I'm not sure multi-objective optimization is suitable for training GANs.

[2020-07-25 02:33] deng-cy commented on #1549
Thanks for your reply. I just want to know. Hope this feature can be added in the future.

[2020-07-25 02:33] #1549 closed

[2020-07-25 03:15] ytsmiling commented on #1552
Thank you for the detailed report. It depends on which samplers you use, but generally, optuna treats pruned trials and failed trials separately. In optuna, failed trials are treated as if there were no such trials. This is because the cause of the failure might be independent of the objective function, e.g., preemptions in cloud environment. On the other hand, Pruned trials are treated as one of

[2020-07-25 03:15] ytsmiling commented on #1552
I’d like to hear other commiters’ opinion.

[2020-07-25 06:37] JoshKoh commented on #1553
Thank you. I will try this out. You guys are doing an amazing work!

[2020-07-25 06:55] JoshKoh commented on #1553
If using distributed or n_jobs = -1, process hangs after 5000 trials. (when trial.number >= 5000)
However, if not using any distributed optimization, run continues until completion.

[2020-07-25 07:05] ytsmiling commented on #1553
Thank you for updates. The trial.number is expected to work under distributed environment as well, and it sounds like a bug. Would you provide us more details, preferably in codes?

[2020-07-25 11:22] JoshKoh commented on #1553
Did some further testing, definitely a bug. The script works sometimes and other times just hangs indefinitely, even for single core processing.

Some representative codes:

def objective(trial):
     if trial .number <= 1000:
            param1 = trial.suggest_int('param1', 0, 12)
     else:
            param1 = trial.suggest_int('param1', 13, 14)
     model = model(param1)   # example model func

[2020-07-25 13:33] AVR-PlantPhenomics commented on #1553
Tried something different, still same issue, hangs after 1000 trials:

def objective(trial):
if trial.number <= 1000:
range = (0, 12)
else:
range = (13, 14)
param1 = trial.suggest('param1', range[0], range[1])
......the rest is same as above.

[2020-07-26 14:03] c-bata opened #1557 "Independent sampler is triggered even if the search space is not dynamic."
## Expected behavior

Sometimes, independent sampler is triggered though the search space is clearly not dynamic.

[code]

## Environment

- Optuna version: master (rev: 278034a9)
- Python version: 3.8.2
- OS:macOS
- (Optional) Other libraries and their versions:

## Error messages, stack traces, or logs

[code]

## Additional context (optional)

[2020-07-26 14:25] c-bata commented on #1557
I found the cause of bug. I'll submit a pull request later.

[2020-07-26 14:41] c-bata commented on #1557
Fixed at #1558.

[code]

[2020-07-27 00:39] toshihikoyanase opened #1559 "Create a list of pruning callbacks and link from the pruning tutorial."
See https://github.com/optuna/optuna/pull/1545#pullrequestreview-455262928.

[2020-07-27 01:23] hvy commented on #1553
Thanks for the report and the investigation. Seems rather serious, likely some joblib-related issue if it only happens when `n_jobs != 1`? Are you able to pinpoint where in the code it hangs, e.g. if it's in the objective function, if so, if it's in `trial.suggest_*` or some other line? I can seemingly not reproduce the issue with a similar conditioned toy-example as describe above.

[2020-07-27 01:28] hvy commented on #1559
I guess we could also just put a link to https://optuna.readthedocs.io/en/latest/reference/integration.html since most functionalities there are for pruning.

[2020-07-27 01:44] toshihikoyanase opened #1560 "[RFC] Which module do we use to check the library version?"
Optuna uses three modules to check the library versions, i.e., `packaging`, `pkg_resources` and `distutils`. As mentioned in #1551, `packaging` is not a standard library, and we need an additional dependency.

Currently, `packaging` is only used for the deprecation, and maybe we can replace it with `distutils` and reduce the number of dependencies.

See https://github.com/optuna/optuna/pull/1551#p

[2020-07-27 05:25] HideakiImamura commented on #1318
Thank you for the proposal to share your precious experience! I and other core-development members hope to hear your works. So, could you send a DM on Twitter to me (@mamurai1208)? I would like to set a schedule.

[2020-07-27 06:25] danpolus commented on #1318
Unfortunately I don't use twitter. Please find my contacts on my website:
http://matlabsolutions.weebly.com/

[2020-07-27 12:53] AVR-PlantPhenomics commented on #1553
The issue happens even if **n_jobs =1 (single core).**

The code hangs in the objective function, in the conditional flow after 1000 trials:
def objective(trial):
if trial .number <= 1000:
param1 = trial.suggest_int('param1', 0, 12)
**else:
param1 = trial.suggest_int('param1', 13, 14)**

To be more specific to my application, I am using param1 as index to slice a list of names:
selected_name = nam

[2020-07-27 12:54] JoshKoh commented on #1553
The issue happens even if n_jobs =1 (single core).

The code hangs in the objective function, in the conditional flow after 1000 trials:
def objective(trial):
if trial .number <= 1000:
param1 = trial.suggest_int('param1', 0, 12)
else:
param1 = trial.suggest_int('param1', 13, 14)

To be more specific to my application, I am using param1 as index to slice a list of names:
selected_name = name_list[p

[2020-07-27 13:13] hvy commented on #1553
Thanks for the quick update. I have not investigated it yet but I'm wondering if gets stuck in some infinite loop, e.g. https://github.com/optuna/optuna/blob/master/optuna/samplers/_tpe/sampler.py#L392 assuming you're using the default `TPESampler`.

[2020-07-27 13:26] ytsmiling commented on #1553
I'm not sure how the loop in the TPE sampler relates to the distributed optimization, but the while-loop is a possible cause of the issue and also a source of inefficiency. I made a follow-up PR #1562.

[2020-07-27 14:10] HideakiImamura commented on #1553
The current Optuna default sampler (`TPESampler`) does not expect the range of parameters to change abruptly during optimization. If the range of the parameter changes, we need to solve an "extrapolation problem" to estimate the objective function. I'm not sure, but the optimization performance may be degraded. I think it's safe to give another condition a different name.

[code]

[2020-07-27 21:27] JoshKoh commented on #1553
Hideaki san gets 100 points for this solving this issue. Giving the different condition another name solved it:

def objective(trial):
    if trial .number <= 1000:
        param1 = trial.suggest_int('param1_in_cond1', 0, 12)
    else:
        param1 = trial.suggest_int(**'param1_in_cond2**', 13, 14)

Code ran fine with both n_jobs=1 and n_jobs=-1.

I am using the default TPE sampler and as pointe

[2020-07-27 21:32] JoshKoh commented on #1547
I am closing this issue since this will likely be a feature update in the future. Thanks.

[2020-07-27 21:32] #1547 closed

[2020-07-27 22:58] JoshKoh commented on #1553
Looks like Hideaki san gets bonus points as well for this. I can confirm optimization performance for TPESampler degrades significantly when a different set of condition is used during the run. I wonder is this also expected for a different sampler like CMA-ES?

[2020-07-28 00:47] ytsmiling commented on #1553
The CMA-ES sampler uses random sampling as a fallback if different ranges are specified. Things are better when using the CMA-ES sampler than the TPE sampler in that it does an appropriate fallback, but the performance will also degrade with the CMA-ES sampler.
I think the support of the extrapolation is not easy and the feature won't be added into optuna in the near future. So it seems optuna sho

[2020-07-28 00:55] HideakiImamura commented on #1553
Yes, I think so. The performance of any other sampling algorithms may be degraded. As pointed out by @ytsmiling, the CMA-ES in Optuna turns into a user-specified independent sampler (a random sampler as default) when the parameter range changes. Raising a warning is a good idea, and I think another option is to implement a fallback to the random sampler for TPE when the parameter range changes.

[2020-07-28 01:00] ytsmiling commented on #1553
Surely, we need both:)

[2020-07-28 01:30] JoshKoh commented on #1553
Thank you, guys for your valuable feedback and insights. I think this issue can be closed. Agree with giving warning (also pointing out that the **different condition needs a different name**) and ensuring a proper fallback for the samplers in case of different ranges.

[2020-07-28 01:30] #1553 closed

[2020-07-28 04:05] #1557 closed

[2020-07-28 05:01] toshihikoyanase commented on #1550
Thank you for your feature request.

Sounds good! I'm also thinking of the mechanism to customize the tuning steps of `LightGBMTuner`. It may be a good starting point to change the number of trials.

I think we have come choices to change the total number of trials.

1. Add an option to specify the total number of trials.
[code]
This approach is straightforward, but it may not be obvious which ste

[2020-07-28 05:48] hvy commented on #1552
I agree, given that the author is using the `TPESampler`.

Note that this might not be the case if using e.g. the `CmaEsSampler` since this one will ignore pruned trials that don't have intermediate values (c.f. [`Trial.report`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.trial.Trial.html#optuna.trial.Trial.report)) (even when setting [`consider_pruned_trials`](https://optun

[2020-07-28 06:10] toshihikoyanase commented on #1560
I summarised the pros and cons of the three libraries as follows:

### Pros
- `distutils`: a standard library
- `pkg_resources`: properly parses version based on PEP404 (see the [reference](https://setuptools.readthedocs.io/en/latest/pkg_resources.html#parsing-utilities)), and is included in `setuptools`, and many users have already installed it.
- `packaging`: properly parses versions like `1.0.0

[2020-07-28 07:13] hvy commented on #1560
Thank you for the throughout investigation. I agree with introducing either `pkg_resources` or `packaging`, but don't have a stronger preference for either, since both seem very ubiquitous (license-wise, they also seem okay). Some argument for `packaing` could be that it's somewhat lighter and that `setuptools` could be overkill for this particular use case.

- https://pypi.org/project/setuptools/

[2020-07-28 18:48] ritvik1512 commented on #1394
I have added PR #1566 that should address the removal of ``optuna study optimize`` from examples.

[2020-07-29 11:17] koh-joshua opened #1569 "trial.suggest_int uses RandomSampler instead of CmaEsSampler"
All my parameters are using trial.suggest_int.
Tried optuna.samplers.CmaEsSampler but performance really bad. Many parameters used RandomSampler and objective score, R2 was very low and seemed static, R2 = 0.30
Tried optuna.integration.CmaEsSampler and performance was slightly better, R2 = 0.58 - 0.60 but also many parameters was sampled using RandomSampler.
The same study using TPESampler gives R

[2020-07-29 11:34] c-bata commented on #1569
Thank you for reporting the problem.
I guess the problem is related to #1557 and fixed at #1558. Could you try to use the master branch of Optuna?

[code]

I'm not sure but the performance issue may be also resolved.

[2020-07-29 13:19] c-bata commented on #1246
I close this because v2.0.0 was released today.

[2020-07-29 13:19] #1246 closed

[2020-07-29 13:21] #1346 closed

[2020-07-29 13:47] c-bata commented on #1569
Ah, sorry. This problem is not related to #1558 and this is not a bug.

CmaEsSampler is based on relative sampling which is only available if all trials sample the same parameters (See [here](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.samplers.BaseSampler.html#optuna.samplers.BaseSampler) for details about relative sampling). Your objective function switch the search space

[2020-07-30 01:28] hvy commented on #1067
Note that scipy 1.5.0 is already released, dopping 3.5. https://github.com/scipy/scipy/releases/tag/v1.5.0
PyTorch also dropped support for 3.5 in its recent 1.6 https://github.com/pytorch/pytorch/releases

[2020-07-30 04:24] koh-joshua commented on #1569
Thank you for your super quick response and explanation. You guys are totally amazing! Perhaps I can shout the Optuna team some beer and sake in the future when I drop by Tokyo. Thank!

[2020-07-30 13:35] crcrpar commented on #1559
You might want to see https://github.com/optuna/optuna/pull/1543/commits/84a69064e330ed068d602089632a2235b7c2abd8.

[2020-07-30 16:36] crcrpar commented on #1479
Ah, it looks like we can move forward now as the limitation has gone: https://github.com/optuna/optuna/pull/1563.

[2020-07-31 02:27] hvy opened #1576 "[RFC] Clean up `setup.py`"
## Motivation

`setup.py` contains duplicated code and some Python version specific conditions that could be cleaned up.

What might also have to be discussed is the compatibility rules of the keys in the extras requirements, if we'd like to reduce or restructure them.

## Description

To refactor `setup.py`, making it less painful to maintain.

[2020-07-31 05:23] hvy opened #1577 "Objective function type annotation relaxation to `BaseTrial` from `Trial`"
## Motivation

The objective function type hint says that its parameter should be of type `Trial`. However, https://github.com/optuna/optuna/pull/1503 will allow `FrozenTrial`s (which will derive from `BaseTrial` but not `Trial`) to be passed to the objective function. Type hints should reflect this change.

More precisely, the type annotation of [`ObjectiveFuncType`](https://github.com/optuna/opt

[2020-07-31 06:14] toshihikoyanase opened #1578 "Follow-up tasks for the new tutorial introduced by #1543"
#1543 introduced Sphinx Gallery to make the tutorial executable. I found some possible follow-up tasks during the review. Let me share them.

- Make the notebooks executable in Google Colab.
- Some notebooks such as 002_configurations and 003_rdb do not contain executable cells. We may need to change the scenario of the tutorial.
- Some code blocks are not rendered in the notebooks. The raw rst ma

[2020-07-31 06:24] toshihikoyanase opened #1579 "Release Tasks for v2.1.0"
Optuna [v2.1.0](https://github.com/optuna/optuna/milestone/27) -- in September, 2020

Compatibility
- Optuna v2.1.0 will be the last version that supports Python 3.5. See #1067.
- Configuration files for `AllenNLPExecutor` may need to be updated. See #1544.
- Make Optuna PEP 561 Compliant. See #1719

Features (TBD):
- [x] IPOP-CMA-ES #1548
- [x] Improvement of `FrozenTrial` #1503

Examples
- [x] M

[2020-07-31 07:47] crcrpar commented on #1578
FYI: Configuration for Sphinx Gallery is as follows:
https://github.com/optuna/optuna/blob/a5a55a6354b3c60dd7e3a08adcbc3818e90599f0/docs/source/conf.py#L177-L187

---

Note that this could add other dependencies to 'document' depending on how the new scenario looks like.

---

I can totally accept this as Sphinx Gallery in my opinion put their efforts on generating html from .py scripts and jupyte

[2020-07-31 08:41] crcrpar opened #1581 "Update Kubernetes example of "simple" to avoid potential errors"
https://github.com/optuna/optuna/blob/a5a55a6354b3c60dd7e3a08adcbc3818e90599f0/examples/kubernetes/simple/sklearn_distributed.py#L45-L54

Like https://github.com/optuna/optuna/pull/1536, we should create a study before running the script.

[2020-07-31 09:29] Nishikoh commented on #1581
Hi, I'd like to tackle that.

[2020-07-31 09:46] crcrpar commented on #1559
@toshihikoyanase Now https://optuna.readthedocs.io/en/latest/tutorial/007_pruning.html#integration-modules-for-pruning has the link to the complete list of integration modules. Does it look cool, or need some refinement?

[2020-07-31 09:53] crcrpar commented on #1581
@Nishikoh
Awesome! Should you have some questions, feel free to ping me 😃

[2020-07-31 10:25] keisuke-umezawa commented on #782
@hvy
Thank you for the discussion by hangout.

After the discussion, I would like to describe key features as follows:

- LIghtweight
   - Simple installation with few requirements.
- Efficient optimization algorithms
  - Adopt state-of-the-art algorithms for sampling hyper parameters and efficiently pruning unpromising trials
- Pythonic search spaces
  - Define search spaces using familiar Python

[2020-07-31 10:27] keisuke-umezawa commented on #782
I will create a PR based on the above plan.

[2020-07-31 12:59] toshihikoyanase commented on #1578
@crcrpar Thank you for your detailed explanation. The tasks may be more complicated than I thought.

Sounds interesting! I'm not familiar with the renderer, but I think the jupyter notebook can render Markdown and the feature can be realized if we add a code-block converter from rst to Markdown.

On the other hand, the rendering issue may become less important if we can make all code blocks execut

[2020-07-31 23:53] hvy opened #1583 "Request for further documenting `FrozenTrial`'s new behavior"
## Motivation

`FrozenTrial` can now be passed to objective functions thanks to https://github.com/optuna/optuna/pull/1503. Additional documentation could be helpful, e.g. that changes to user attributes are not persisted, actually, that those trials are no longer associated with any storage/sampler/pruner. It could be documented in the top class documentation.

[2020-08-01 11:44] VamshiTeja commented on #1493
Hello, I would like to tackle this.

[2020-08-01 12:37] koh-joshua commented on #1569
Hi c-bata, I have run a few studies using CmaEsSampler but the performance is very poor compared to TPESampler. When I export the study results into a dataframe, I noticed the column 'system_attrs_cma: generation' has 'nan' values in them. Is this a concern?

[2020-08-01 12:49] c-bata commented on #1569
Could you check your search space? As I commented above, `CmaEsSampler` does not support dynamic search space. So I guess it is fallen back to RandomSampler.

[2020-08-01 13:47] koh-joshua commented on #1569
I have change my codes to this:

def objective (trial):
param1 = trial.suggest_int('param1', 0, 1200)
param2 = trial.suggest_int('param2', 0, 1199)
param3 = trial.suggest_int('param3', 0, 1198)
param4 = trial.suggest_int('param4', 0, 1197)
param5 = trial.suggest_int('param5', 0, 1196)
param_list = [param1, param2, param3, param4, param5]
model = model(params_list)
score = model.evaluate(x_test, y_

[2020-08-01 14:02] c-bata commented on #1569
Hmm...

Yes. Your search space is not dynamic and seems not to fall back to RandomSampler.
I will benchmark CMA-ES on integer search space (I've ever benchmarked CMA-ES with float search spaces).

Thank you for reporting!

[2020-08-01 14:06] koh-joshua commented on #1569
Can't wait for your miracle fix. I want to compare TPE vs CMA-ES. Any plans for other optimization algorithms like particle swarm optimization (PSO) or genetic algorithm (GA)?

[2020-08-01 14:12] c-bata commented on #1569
Sorry, I'm not planning to add those algorithms.
It may be useful to check following samplers.

* [SkoptSampler](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.SkoptSampler.html#optuna.integration.SkoptSampler): Sampler which uses scikit-optimize for Gaussian process based bayesian optimization.
* [PyCmaSampler](https://optuna.readthedocs.io/en/stable/reference/gene

[2020-08-01 14:23] koh-joshua commented on #1569
Thank you. I am trying PyCmaSampler...it is slow....
I wanted to compare a Bayesian based sampler (TPE) to evolution based sampler (CMA-ES, PSO or GA). I think your cma-es implementation is the best, because it is fast. Fingers crossed the bug will be flushed out. Thanks!

[2020-08-01 14:46] c-bata commented on #1569
Thank you!
If it is improved by PyCmaSampler, we can conclude that CmaEsSampler has something problem.
I'm waiting for your updates.

[2020-08-03 01:57] koh-joshua commented on #1569
PyCmaSampler performance is similar to RandomSearch, both giving R2 = 0.65 - 0.69, TPE giving R2 = 0.70 - 0.75.
So, I am not sure if PyCmaSampler is really working or it's a situation where CMA-ES is not suitable? I think there's mention that if variance for objective function is large, CMA-ES is not suitable? I am not sure whether this is the case.

[2020-08-03 04:49] HideakiImamura commented on #1251
Let me close this issue because this feature has been introduced in #1503.

[2020-08-03 04:49] #1251 closed

[2020-08-03 04:50] HideakiImamura commented on #1459
Let me close this issue because the feature discussed in #1251 has been merged in #1503.

[2020-08-03 04:50] #1459 closed

[2020-08-04 04:15] hvy commented on #878
Closing as fixed.

[2020-08-04 04:15] #878 closed

[2020-08-04 04:16] hvy commented on #1226
This is still an issue.

[2020-08-04 04:22] toshihikoyanase commented on #1394
#1566 removed the `optuna study optimize` from the examples. Thanks, @ritvik1512 !

The documents still contain the description of `optuna study optimize`. Please refer to [this comment](https://github.com/optuna/optuna/issues/1394#issuecomment-662485276) to find the details of the remaining tasks.

-  docs/source/faq.rst ([this section](https://optuna.readthedocs.io/en/latest/faq.html#how-can-i-u

[2020-08-04 04:30] toshihikoyanase commented on #803
This is still an open issue.

@va1shn9v Please let me know if you still work on it.

[2020-08-04 04:32] toshihikoyanase commented on #670
This is still an open issue.

[2020-08-04 04:34] toshihikoyanase commented on #669
This is still an open issue.

[2020-08-04 04:38] hvy commented on #278
This issue still seem unaddressed.

[2020-08-04 04:45] toshihikoyanase commented on #892
Hello @liori, I think you are working on this issue according to the [conversation](https://gitter.im/optuna/optuna?at=5efc782e3a0d3931fac59fa7) on gitter. Please feel free to ask us if you have any problem to create a PR.

[2020-08-04 04:45] hvy commented on #517
I guess this is still an open issue.

For the record, we now have a [k8s directory under `examples`](https://github.com/optuna/optuna/tree/master/examples/kubernetes). We could create a similar directory for Docker.

[2020-08-04 04:52] hvy commented on #733
I believe this is still an open issue as #994 unfortunately seems stale.

[2020-08-04 04:56] hvy commented on #732
This is still an open issue. Note that this only seems to be an issue for the contour plot (https://github.com/optuna/optuna/issues/733#issuecomment-655334709).

[2020-08-04 04:58] toshihikoyanase commented on #1117
This is still an open issue. Maybe you can utilize my [prototypical implementation](https://colab.research.google.com/drive/1HagfZ1bAv6rT_TDuzgtInFq6g0BnzjO8?usp=sharing) to create a PR for it.
Your contribution is highly welcomed.

[code]

[2020-08-04 05:06] hvy commented on #852
Still seems to be an open issue.

[2020-08-04 05:11] michiboo commented on #732
@hvy  Hi sorry for the late response, I will try fix this conflict for this issue today.

[2020-08-04 05:25] hvy commented on #1137
Still seems to be an open issue.

Just a note that we cannot test GPU or TPU code for the time being in our CI environment. @keisuke-umezawa could you maybe elaborate a bit on what type of distributed examples you had in mind?

[2020-08-04 05:28] toshihikoyanase commented on #1258
This is still an open issue.

If you create an example, you can use the [`scikit-learn example`](https://github.com/optuna/optuna/tree/master/examples/kubernetes/simple) as a template. Please note that [`LightGBMTuner`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.integration.lightgbm.LightGBMTuner.html#optuna.integration.lightgbm.LightGBMTuner) accepts the `study` argument,

[2020-08-04 05:32] hvy commented on #1170
Let me leave a note that details are missing for several items marked contribution-welcome. If developers would be interested in tackling storage related refactoring (given the information already provided here), it'd be a good idea to first clarify the details here.

[2020-08-04 05:36] HideakiImamura commented on #711
[FYI] I checked the entire current Optuna code to see what files still need to be worked on. I fixed the first description on this page. We still have a lot of tasks to work on for this Issue. We're waiting for your contribution!

[2020-08-04 05:38] toshihikoyanase commented on #1130
This is still an open issue.

I think the instruction can be placed in the [reference of RDBStorage](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.storages.RDBStorage.html). As @smly implied, different RDB servers (e.g., PostgreSQL and MySQL) may require different permissions, so you can create a PR for each.

[2020-08-04 05:42] toshihikoyanase commented on #1559
@crcrpar Thank you for your contribution. As you suggested, https://github.com/optuna/optuna/commit/84a69064e330ed068d602089632a2235b7c2abd8 resolved this issue. I don't have any followup tasks, and let me close this issue.

[2020-08-04 05:42] #1559 closed

[2020-08-04 05:47] ytsmiling commented on #1170
I think many details have changed from when this issue was created. Additionally, some of the issues marked as contribution-welcome actually require a lot of discussions. For example, "Remove multi-threading support and add multi-processing support" has several ways to address. Also, concerning "Add more default implementations in BaseStorage class." and "Removed unnecessary backend-specific metho

[2020-08-04 05:57] HideakiImamura commented on #1334
We still have a lot of tasks to work on for this Issue. @keisuke-umezawa's list contains the most important items that must be documented for the users. I'm sure there are many other tasks, but the items on the list should be documented first.

I think this is the number one first issue for users who are interested in contributing to Optuna in the future. I look forward to hearing your contributio

[2020-08-04 05:58] hvy commented on #1170
As you say, I'm imagining we have settle each of those discussion when tackling those controversial items. At the same time, some items are still more straight forward, such as the ones under "Documentation and implementation consistency"? Maybe we should clarify this difference in the description?

[2020-08-04 06:03] hvy commented on #1297
@konradsemsch, curious but did you manage to get it to work? We verified the toy example in #1464 and it has actually been merged into the master branch.

If you have some comments for future readers, that'd be great. I'm otherwise wondering if we should close this issue as fixed. Please let me know when you have time.

[2020-08-04 06:05] toshihikoyanase opened #1589 "Use `packaging` to check the library version"
## Motivation

Optuna uses several modules to check library versions such as `packaging ` and `distutils`.  We'd like to rewrite them using `packaging` as discussed in #1560.

## Description

Please update the version checking in the following files:

The following files use `distutils`:
- [x] optuna/dashboard.py
- [x] optuna/visualization/_plotly_imports.py

The following files use `pkg_resources

[2020-08-04 06:08] hvy commented on #1351
I created a naive implementation #1522 but noticed that it's not living up to what a user might expect (see https://github.com/optuna/optuna/pull/1522#issuecomment-658709554). Let me label this issue as contribution welcome since I'm not sure I'll have time to continue on #1522 in the coming days.

[2020-08-04 06:08] toshihikoyanase commented on #1560
@hvy Sounds reasonable. I created a PR #1589 to replace the other modules with `packaging` and labeled it contribution-welcome.

[2020-08-04 06:10] ytsmiling commented on #1170
I agree that we should clarify the differences. Before tackling some of the issues, I think we first need to reorganize tasks and reconsider a roadmap for the future backend implementations. Let's have a chat to discuss them.

[2020-08-04 06:19] HideakiImamura commented on #1577
Thanks for raising an important issue. I agree with the idea of changing the type annotation of the objective function. The changes for type annotations in `optuna/optuna` directory may affect the user codes, but those in `optuna/tests` or `optuna/example` directories don't?

Those tasks to change annotations in `tests` or `example` directories seem obvious, so how about labeling them `contributio

[2020-08-04 06:40] hvy commented on #1383
Please see #1405 and #1426 for why this issue has become stale. Let me label this as `needs-discussion`.

[2020-08-04 06:41] HideakiImamura commented on #1441
Thanks for the question! Sorry for the late response. First, I would like to clarify your question.

Hmm, Optuna supports to suggest integer values by `suggest_categorical`. Is there any error message on it?

I'm not sure what the "transformer" is here. Could you explain it in more detail?

[2020-08-04 06:51] hvy commented on #1560
Thanks for the separate issue. How about closing this RFC as resolved since we've come to a conclusion (possibly reopening it as needed)?

[2020-08-04 06:53] HideakiImamura commented on #1443
Thanks for raising an Issue @arisliang and fast reply @david-waterworth. Sorry for the late response. The explanation given by @david-waterworth seems reasonable to me. I think we need to make the comments in the source code more descriptive.

Let me create an Issue to fix comments in `pytorch_lightning_simple.py` based on your comments.

[2020-08-04 06:57] HideakiImamura opened #1590 "Make source comments more descriptive in `examples/pytorch_lightning_simple.py`"
## Motivation

Based on discussions in https://github.com/optuna/optuna/issues/1443, we need to make source comments more descriptive in `examples/pytorch_lightning_simple.py`.

## TODO

Fixing ambiguous points like [here](https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py#L72) based on https://github.com/optuna/optuna/issues/1443#issuecomment-650851727.

[2020-08-04 08:24] hvy commented on #1577
Correct.

Sure, but I think those changes should derive from updating `ObjectiveFuncType`. Maybe it's sensible to make this change now, in the same release as #1503, i.e. v2.1, labeling this as `contribution-welcome` at the same time. Unfortunately, as far as I know, there's no good practice for going through a "deprecation" phase for type hints (`Union[Trial, BaseTrial]` will still break existing

[2020-08-04 10:20] #1535 closed

[2020-08-04 10:42] himkt opened #1592 "Update tutorial for Optuna Command-Line interfaces"
Apart from #1394.

Thanks to the great contributions of @ritvik1512, we removed mentions about `optuna study optimize` in examples.
After removing them in documents, we might update a tutorial for command-line interfaces.
https://github.com/optuna/optuna/blob/master/tutorial/005_cli.py

It would be helpful if the tutorial shows an example of the following subcommands: `storage update`, `studies`,

[2020-08-04 12:41] matheusbarroso commented on #1441
Hi Hideaki, my point is if there is a way to choose transformers (sklearn), think of it as optimizing a pipeline and not necessarily a model. If it was an issue of categorical encoding it could be to choose between one hot encoding or hash encoding for instance.

[2020-08-04 18:15] c-bata commented on #1569
Thank you for reporting! You mean CmaEsSampler performs lower than PyCmaSamlper right?

Yes, PyCmaSampler is slow.

[2020-08-04 19:43] liori commented on #892
Ah, indeed, thank you for remembering! I have some code that I think implements one of the variants of the constant liar for TPE; it's nothing complex. However, on a test problem I'm actually getting strictly worse results, so I wanted to spend some more time on investigation. But indeed maybe a PR will be a good idea. I'll try making one soon.

[2020-08-05 01:22] toshihikoyanase commented on #892
@liori Thank you for your quick response. Maybe I can help your investigation, and I'm looking forward to your PR!

[2020-08-05 01:24] #1493 closed

[2020-08-05 15:48] Isa-rentacs opened #1598 "study.optimize fails with LightGBM and packaging < 20.0"
Current ```setup.py``` does not specify the version of [packaging](https://pypi.org/project/packaging/).
However, ```packaging.version.Version.major``` which is used in [_deprecated.py](https://github.com/optuna/optuna/blob/master/optuna/_deprecated.py#L39) was introduced in version 20.0.

c.f.)
https://github.com/pypa/packaging/blob/19.2/packaging/version.py
https://github.com/pypa/packaging/blob

[2020-08-05 17:01] danpolus commented on #1318
Hi Hideaki and Hiroyuki,

Here are the results for 3 different scenarios:
1. CMA-ES sampler with "inf" instead of NaN at the loss function
2. CMA-ES sampler with pruning instead of NaN at loss function
3. TPE with 200 independent startup trials
For each of the scenarios I generated a total of 800 trials (200 trials per optimized parameter).
I didn't use a fixed random seed.

It seems like CMA-ES w

[2020-08-06 00:26] #1598 closed

[2020-08-06 01:59] HideakiImamura commented on #1339
Let me close this Issue because of the stale label. If you have any problems, please don't hesitate to reopen.

[2020-08-06 01:59] #1339 closed

[2020-08-06 02:52] hvy commented on #1115
Seems like it's labeled stale again.

@ytsmiling you said earlier that you couldn't reproduce it but is it resolved? I was otherwise was wondering if it isn't a duplicate of #1347, in which case I think we can close this one.

[2020-08-06 04:47] koh-joshua commented on #1569
Yes, CmaEsSampler performs lower than PyCmaSampler.

Also, a general question for the Optuna team. I noticed significant speed degradation as a study progresses (using TPESampler), noticeably beyond 10,000 trials, it gets slower and slower. Once it reaches 100,000 trials, it is like snail's pace. I am using n_jobs=-1 for my study. Also, switching over to distributed parallel processing using postg

[2020-08-06 08:04] thigm85 opened #1602 "LightGBMTunerCV not working for regression objective"
The script https://github.com/optuna/optuna/blob/master/examples/lightgbm_tuner_cv.py runs just fine as it is. However, I get a `KeyError: 'mse-mean'` if I change the `objective` to `regression` and `metric` to `mse`. Similar erro happens to other metrics as well when the `objective` is set to `regression`.

## Environment

- Optuna version: 2.0.0
- Python version: 3.7
- OS: MacOS Catalina

## Err

[2020-08-06 08:34] thigm85 commented on #1602
After some debugging it seems that `mse` is an alias and lightgbm internally maps it to `l2`. So lightgbm.cv returns a dict with key `l2-mean` instead of the expected `mse-mean`.

[2020-08-06 11:23] toshihikoyanase commented on #1602
@thigm85 Thank you for your detailed bug report.

The LightGBM tuner may need the metric name conversion corresponding to [ParseMetricAlias](https://github.com/microsoft/LightGBM/blob/083b02af73b8fcf9a92af78612c6cca6243df752/include/LightGBM/config.h#L1111-L1112) of the original LightGBM. For example, we can implement it by extending the [`_ALIAS_METRIC_LIST`](https://github.com/optuna/optuna/blob

[2020-08-06 11:35] thigm85 commented on #1602
Yes, extending the `_ALIAS_METRIC_LIST` would be my first thought. Not sure yet of a better way.

[2020-08-06 13:04] c-bata commented on #1569
I see. Thank you for your information!

As you noticed, it's difficult to evaluate 10,000+ trials on Optuna. It is due to the design of storage classes (Please check https://github.com/optuna/optuna/issues/1170 for more details).

[2020-08-06 13:15] toshihikoyanase commented on #1602
@thigm85 Thank you for your quick response!

I see. Modifying the `_ALIAS_METRIC_LIST` would be reasonable for now.
BTW, are you interested in creating a PR for this issue? I think you resolved it almost by yourself.

[2020-08-06 19:40] #1581 closed

[2020-08-06 23:42] bhishanpdl opened #1604 "ValueError: Classification metrics can't handle a mix of multiclass and continuous-multioutput targets"
When using optuna with lightgbm multiclass classification, I got the following error. This might be a bug in optuna or in my code, so I decided to ask for help in this issue tracker.

# Code
[code]

# Error
[code]

[2020-08-06 23:43] HideakiImamura commented on #1441
Thanks for the reply. I'm not sure what "transformer" means here, but Optuna supports conditional suggesting as follows.
[code]
Optuna users do not have to encode "categorical" variables into one-hot encoding or hash encoding. We can just pass the list or tuple of categorical variables to the `suggest` method.

[2020-08-06 23:57] HideakiImamura commented on #1604
Thanks for the question. It looks not for Optuna errors.

I tried your script and have noticed that your `vd_preds` is not 1d-array. According to the reference of `[sklearn.metrics.accuracy_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html)`, the inputs of this function should be 1d-array. I think you should take `argmax` after the prediction.
[code]

[2020-08-06 23:58] bhishanpdl commented on #1604
This was a problem of sklearn, it returns (N,3) matrix and I need to get the argmax of the matrix.

I fixed the code by adding this line:
[code]

I am closing the issue.

[2020-08-06 23:58] #1604 closed

[2020-08-07 02:24] hvy commented on #1347
Some discussion have been going on how and when to tackle this issue. I don't think it's a hurry but, @keisuke-umezawa were you interested?

[2020-08-07 09:05] thigm85 commented on #1602
@toshihikoyanase I am a bit busy now but I can take this one and submit a PR asap.

[2020-08-07 09:10] toshihikoyanase commented on #1602
@thigm85 Wow, thank you! I'm looking forward your PR.

[2020-08-07 13:02] matheusbarroso commented on #1441
Yes thanks, I suppose I can refactor the code in this fashion. Regards

Sent from my iPhone

On 6 Aug 2020, at 20:43, Hideaki Imamura <notifications@github.com> wrote:

﻿

Thanks for the reply. I'm not sure what "transformer" means here, but Optuna supports conditional suggesting as follows.

def objective(trial):
    which_transformer = trial.suggest_categorical("transformer", ["TransformerA", "T

[2020-08-07 16:41] ashraf-01 opened #1607 "not quite sure to classify as a bug"
anyway , am on Ubuntu machine 18.04 version with linux as OS , I just wanted to replicate an example witiin the github sample
example folder  (sklearn_additional_args.py) as this version is faster , I wanted two arguments to be optimized in SVC with rbf kernel , the C AND THE LERNING RATE GAMMA , I have instead used my own data it is of time series observations  , the main dataset is called data ,

[2020-08-08 12:36] chang19940513 opened #1608 "PercentilePruner raise RuntimeWarning: Mean of empty slice return np.nanmean(a, axis, out=out, keepdims=keepdims)"
When use PercentilePruner, if all trails' step are small and a new trail's step may too big, then _get_percentile_intermediate_result_over_trials will return None. And raise RuntimeWarning: Mean of empty slice   return np.nanmean(a, axis, out=out, keepdims=keepdims).

## Environment

- Optuna version:
- Python version:
- OS:
- (Optional) Other libraries and their versions:

## Error messages, stac

[2020-08-08 14:49] antonkulaga commented on #1602
I have the same problem with huber loss:
[code]

[2020-08-08 15:38] antonkulaga opened #1609 "LightGBMTunerCV should return the best booster"
I cannot receive the best booster from LightGBMTunerCV, this option is available in latest LightGBM ( see https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.cv.html , in particular, return_cvbooster parameter)

[2020-08-08 16:31] antonkulaga commented on #1602
I have done some debugging, it looks like the bug is not about _ALIAS_METRIC_LIST  as "huber" does not have any aliases. I put a print statement for each time this function is called. First time it works ok but then it just gives and empy dictionary.

[2020-08-09 10:02] VamshiTeja commented on #1589
Hello, I would like to tackle this.

[2020-08-09 12:23] toshihikoyanase commented on #1602
@antonkulaga Thank you for your investigation.

Then, we can just focus on the `_ALIAS_METRIC_LIST` in this issue and create a new issue to track the `huber` loss related issue.  What do you think of it?

BTW, the `huber` loss works as expected in my environment, and I guess it may be an environment-specific issue.
The script I used is as follows:

<details>
<summary>Example code using the `huber`

[2020-08-10 06:06] koh-joshua opened #1611 "Set Number of Trials based on Dynamic Hyperparameters (Dynamic Trials?)"
I have two sets of hyperparameters:
set1: master_param1
set2: slave_param1, slave_param2
Set2 (slave_param1, slave_param2) parameters are dependent on master_param1.

I want to fix a certain number of trials for set2 (slave_param1, slave_param2) based on master_param1. Example:

def objective(trial):
       master_param1 = trial.suggest_int('master_param1', 0, 100)
       for n in range(100):   #

[2020-08-10 11:14] konradsemsch commented on #1297
Hi @hvy ! Let me update you again once my DevOps colleague who implemented it is back form holidays :)

[2020-08-10 11:17] konradsemsch commented on #1500
HI @toshihikoyanase ! Sorry for a late reply. I agree it's quite a strange one...

- LightGBM version - lightgbm==2.3.1
- single worker or multiple workers? - single
- frequency of bugs - every time I run the script

How could I further assist you in debugging this?

[2020-08-10 12:17] Fritskee opened #1612 "Visualization is not possible with built-in functions"
When using the optuna built in functions for visualization, most of them cause an Attribute Error, OR the few that do run will not show you the actual graphic. Instead they will just print the script to the terminal. This happens both when running it as a python script in the shell, or when using a python notebook.

## Expected behavior

As shown on the optuna website, I would expect to see graphs

[2020-08-10 13:26] thigm85 commented on #1602
@toshihikoyanase I was setting up the optuna environment and noticed that two tests fail when I run `circleci build --job tests-python37`. Is there a place I can ask development questions instead of posting the here? Do you use gitter for that?

[2020-08-10 15:13] toshihikoyanase commented on #1607
@ashraf-01 Thank you for your question.

The cause of the error seems to be the following line:
[code]
The value of `classifier _name` can be `RandomForest`, but the code does not create the random forest classifier.
So, it should be removed, for example, as follows:

[code]

[2020-08-10 21:21] ashraf-01 commented on #1607
thanks sir , for the prompt , concise answer , I wish how ever if i can access the graph which shows convergence and happens after how many iterations for each parameter , just for pure statistical studies purposes

[2020-08-11 00:58] hvy commented on #1612
Thanks for reaching out.

I'm not sure those are bugs, but `plot_param_importances`, was introduced in `2.0.0`, so in your version it's not yet available. That's why you get the attribute error. Are you able to update your installation of `optuna`?

As for the output, do you have some code for reproduction? It seems like you're printing the HTML output. In general, `plot_*` return a plotly figure

[2020-08-11 01:03] crcrpar opened #1614 "Fix docstrings"
`Sphinx>=3.1.0` doesn't build our documentation for some reason (I guess our `experimental` and `deprecated` decorators are the devils, not sure though).

At first, as https://github.com/optuna/optuna/issues/1368 said, we were optimistic about this, i.e., we thought the next stable would work. However, it's not happened yet. So it's high time we dirtied our hands to enable the latest Sphinx.

~~Th

[2020-08-11 01:08] crcrpar commented on #1614
Or, specify the Sphinx version, e.g., 3.0.4.

[2020-08-11 02:43] HideakiImamura commented on #1611
Thanks for the question! First, I would like to know how your objective function return the value. Your objective is like this? That is, `return score` statement is out of the for loop?
[code]

[2020-08-11 02:58] HideakiImamura commented on #1608
Thanks for the report. Do you have any reproducible code example? It will help for debugging.

IMO, your suggestion is reasonable. Reporting objective value at the different steps is the basic behavior that Optuna should support.

[2020-08-11 03:57] toshihikoyanase commented on #1602
@thigm85 Thank you for your question.

Could you submit a PR to check your code in detail? IMO, GitHub PR is a better tool for this purpose than Gitter since we can discuss the implementation line by line.

[2020-08-11 04:15] toshihikoyanase commented on #1607
As you may already know, but I think the [visualization feature](https://optuna.readthedocs.io/en/stable/reference/visualization.html) can help you.

I'm not sure whether this `iteration` refers to the iteration of Optuna's trials or the iteration of SVM training, but, you may be able to use [`optuna.visualization.plot_optimization_history`](https://optuna.readthedocs.io/en/stable/reference/genera

[2020-08-11 05:13] koh-joshua commented on #1611
Thanks for the reply. I don't have an actual objective function, it's just pseudo-code at the moment.
I am not sure how to set up the objective function with dynamic trials.

Perhaps one possible way is to have nested study for master_param1?:

def master_objective(trial):
    master_param1 = trial.suggest_int('master_param1', 0, 100)
    def slave_objective(trial):
        slave_param1 = trial.su

[2020-08-11 05:35] hvy commented on #1614
Right, good point. Let me label this issue as `contribution-welcome` including the investigation of the failure.

[2020-08-11 05:35] toshihikoyanase commented on #1609
@antonkulaga Thank you for your feature request.

Your request is reasonable, and many users will want it.
The interface can be as follows:

[code]

We need to wait for LightGBM 3.0.0 to use `return_cvbooster`, but I think we can start the implement of the feature. Let me add `contribution-welcome` label to this issue since the change seems to be simple and good for developers who are familiar wit

[2020-08-11 06:02] toshihikoyanase opened #1615 "Remove the document for `with_traceback` method of Optuna's exception classes"
Currently, Optuna's exception classes have the documentations of `with_traceback` method, which is inherited from `Exception`. I don't think it is informative for readers and it can be removed from the reference.

![image](https://user-images.githubusercontent.com/3255979/89862021-0a4afd80-dbe2-11ea-8f86-626d960b4255.png)

The following `Exception` has the `with_traceback` method.
- [ ] `optuna.ex

[2020-08-11 06:06] HideakiImamura commented on #1611
Thanks for the reply! I understood what you want to do. It's very interesting to me. We (Optuna core-dev team) did not consider nesting study objects, but I think it can work. I have no idea about a concrete objective example, but if you have in the future, could you make an example? I would like to know the specific use-case.

By the way, if we use `study.Study.enqueue_trial`, we can already defi

[2020-08-11 06:21] toshihikoyanase opened #1616 "Add a tutorial entry to explain how to re-evaluate the best trial."
Thanks to @nzw0301 , the objective functions accept `FrozenTrial` as their input (See #1503).
It enables us to re-evaluate the best trial easily as follows:

[code]

This feature helps users to reproduce their experiments and is worth writing a tutorial entry.

[2020-08-11 06:37] HideakiImamura opened #1617 "Show example directory more apparent in the docs"
## Motivation
The current [Optuna example directory](https://github.com/optuna/optuna/tree/master/examples) can be accessed only from [GitHub page](https://github.com/optuna/optuna) or "optuna.org -> Code Examples -> Others -> See full example on GitHub". It is difficult for users to see an overview of example files.

## Description
Add a link to the Optuna example directory in the docs. Making an

[2020-08-11 06:46] hvy opened #1618 "Document exceptions"
Exceptions that are part of public APIs could be documented using the `Raises:` syntax of Sphinx. For reference, [some methods of the `BaseStorage`](https://github.com/optuna/optuna/blob/master/optuna/storages/_base.py) are documented this way.

I believe this could be a tracking issue until we've covered a decent proportion of the public APIs where one could just leave a note when addressing some

[2020-08-11 06:48] HideakiImamura opened #1619 "Provide a user-defined pruner example"
## Motivation
In the current Optuna example, we already have a [user-defined sampler example](https://github.com/optuna/optuna/blob/master/examples/samplers/simulated_annealing_sampler.py). We also want a user-defined pruner example.

## Description
Providing a user-defined pruner example is highly welcomed. The logic of that pruner can be anything.

[2020-08-11 06:51] toshihikoyanase opened #1620 "Add a tutorial entry to explain the usage of `ThresholdPruner`"
## Background

[`ThresholdPruner`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.pruners.ThresholdPruner.html) can prune the trials whose intermediate values exceed the user-defined threshold. The other pruners such as [`MedianPruner`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.pruners.MedianPruner.html)
 and [`HyperbandPruner`](https://optuna.readthedo

[2020-08-11 07:00] toshihikoyanase opened #1621 "Add a tutorial entry to explain how to accelerate your optimization."
Please add a tutorial entry that explains tips to speed up optimization.
We have multiple tips, for example, as follows:
- Use `InMemoryStorage` instead `RDBStorage` if you don't have to persist optimization results.
- Turn off the garbage collection if you use old version of Optuna.

[2020-08-11 07:15] Fritskee commented on #1612
Hi hvy,

Thanks a lot for the answer. I indeed missed the crucial point of updating it to version 2.0.0, that also fixed my issue. Thanks a lot for the fast response and clear explanation!

[2020-08-11 07:15] #1612 closed

[2020-08-11 08:03] hvy opened #1622 "Fix storage consistency for study creation log event"
## Motivation

Different concrete storages should behave similar. There is currently a logging behavior inconsistency when a study is being created and it should be fixed. More concretely [`RDBStorage` logs the event](https://github.com/optuna/optuna/blob/master/optuna/storages/_rdb/storage.py#L168), while `InMemoryStorage` and `RedisStorage` don't.

A PR author might also want to have a look at h

[2020-08-11 08:03] hvy commented on #1170
Separated out

into https://github.com/optuna/optuna/issues/1622.

[2020-08-11 08:18] thigm85 commented on #1602
@toshihikoyanase I will definitely submit a PR when I make code changes. However, I was referring to general development questions not related to my code changes.

For example, yesterday I cloned the repo and tried to run `circleci build --job tests-python37`. Almost all tests passed except two tests related to `catalyst`:

![Skjermbilde 2020-08-11 kl  10 15 26](https://user-images.githubuserconte

[2020-08-11 08:51] hvy commented on #1612
Great, thanks for the swift action!

[2020-08-11 09:05] toshihikoyanase commented on #1602
@thigm85 I'm sorry but I thought you had issues in your change.

I understand. Please use [`Gitter`](https://gitter.im/optuna/optuna) to talk about the code interactively.

Our CI encountered the same issue [here](https://github.com/optuna/optuna/runs/967254912?check_suite_focus=true). I found the related issue https://github.com/catalyst-team/catalyst/issues/911 and it says the issue was resolved

[2020-08-11 09:28] harupy commented on #1614
After some digging, I found that the root cause is that `sphinx` calls python's built-in `inspect.signature` with `follow_wrapped=False` when processing classes.

sphinx's `inspect.signature` which internally calls python's `inspect.signature` with `follow_wrapped=False` by default:
https://github.com/sphinx-doc/sphinx/blob/5e6da19f0e44a0ae83944fb6ce18f18f781e1a6e/sphinx/util/inspect.py#L437

`Cla

[2020-08-11 09:44] harupy commented on #1614
I think what we could do for now is just wait for sphinx to fix these issues.

[2020-08-11 11:48] toshihikoyanase commented on #1560
@hvy Thank you for your suggestion. I'll close this issue.

[2020-08-11 11:48] #1560 closed

[2020-08-11 12:40] crcrpar commented on #1614
First of all, thank you for your nice investigation!
So what do you think the best action as of now?
Do you think the current action like #1613 reasonable?

[2020-08-11 13:22] harupy commented on #1614
Yes, but I would simply specify `sphinx==3.0.4` because:

- It's frustrating to update the version specifier every time sphinx releases a new version.
- `sphinx==3.0.4` seems to be fine

[2020-08-11 15:00] toshihikoyanase commented on #1589
Resolved by #1610. Let me close this issue.
Thank you for your contribution, @VamshiTeja !

[2020-08-11 15:00] #1589 closed

[2020-08-11 19:33] jbferdinand commented on #1550
Hello,

What about using a multiplier ?
[code]
This makes it simple to increase the number of trials while also keeping the current distribution. 🙂

[2020-08-12 02:02] #1441 closed

[2020-08-12 03:12] crcrpar commented on #1614
@harupy can't agree more. Do you want to send a pull request which changes the sphinx version condition to `sphinx==3.0.4`?

[2020-08-12 06:29] koh-joshua commented on #1611
Thank you for the suggestions!

Got an error relating to **study.get_trials**:
Traceback (most recent call last):
  File "C:\Anaconda3\envs\HPO\lib\site-packages\IPython\core\interactiveshell.py", line 3417, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-17-999b87c8bb4d>", line 1, in <module>
    master_param = study.get_trials[-1].params['master_param']
T

[2020-08-12 09:50] harupy commented on #1614
Filed an issue in the sphinx repo: https://github.com/sphinx-doc/sphinx/issues/8105. I'll make a PR.

[2020-08-12 22:38] harupy commented on #1614
The author of sphixn has added the issue above to the `3.3.0` milestone.

[2020-08-13 01:15] hvy commented on #1614
Let's keep this issue open so that we can address our TODO when `3.3.0` is released.

[2020-08-13 01:51] HideakiImamura commented on #1617
This issue will be addressed in #1625.

[2020-08-13 05:14] toshihikoyanase commented on #1622
@hvy I think #1629 resolved this issue. Can we close this issue?

[2020-08-13 05:23] hvy commented on #1622
You're right, let me close it.

[2020-08-13 05:23] #1622 closed

[2020-08-13 05:45] c-bata commented on #1067
cmaes will drop Python 3.5 support from next minor release.

[2020-08-13 06:34] toshihikoyanase opened #1632 "[RFC] Customizable steps of `LightGBMTuner` and `LightGBMTunerCV`"
## Motivation
The steps of `LightGBMTuner` are fixed, and users cannot add the parameters to tune. I saw users' demand to customize the steps.

For example,
- @Amyantis submitted a feature request to change the number of trials at each step in #1550, and
- @kdlin wants to tune additional parameters such as `max_depth` and `max_bin` in the [Gitter conversation](https://gitter.im/optuna/optuna?at=5f

[2020-08-13 06:52] koh-joshua commented on #1611
I am closing this post as all questions have been addressed. Thank you, Team  Optuna.

[2020-08-13 06:52] #1611 closed

[2020-08-13 22:31] harupy commented on #1614
Filed a PR in the sphinx repo: https://github.com/sphinx-doc/sphinx/pull/8115 😂

[2020-08-14 02:44] hvy commented on #1479
@crcrpar Do you have any suggestions on how to proceed with this issue?

I suggest we take into account the two integration modules as well, the one for `keras` and the other one for `tf.keras`. Given the release note of `keras` referenced from above, namely that there is only "one Keras: `tf.keras`, it seems like we should proceed with deprecating the former, along with removing the example. I'm

[2020-08-14 07:43] rafmacalaba opened #1636 "How to optimize on feval when using LightGBMTunerCV"
Hello,

I have a custom feval function for lightgbm which is basically f1_score, how do I optimize on that instead of the default binary_logloss metric? Thanks for this library!

[2020-08-14 21:57] ashraf-01 opened #1640 "how to integrate optuna on custom-made objective function with certain HPs"
HI all

my function attached in screen shot , under name "train'' with certain HPs mainly M , and learning rate , one float and the other is float , is there a way to integrate this in to the optuna framwork such as , that training can actually happen while optimizing for the HPs mentioned above , I Have tried this version included within the attachment , yet I get the error as showed within

you

[2020-08-15 01:04] crcrpar commented on #1479
Personally I am trending toward integrate Keras integration and example into tf.Keras integration and example. Hence, TODOs are as follows:
1. Deprecate Keras integration and example in the shoes of removing Keras ones in the next major release
2. File an issue for the above tasks as contribution-welcome

[2020-08-15 20:24] 0x6b756d6172 opened #1641 "Optuna in Preemptible Environments"
I am using Optuna for optimization via preemptible cloud VMs for low cost, high scale distributed optimization. As recommended by the documentation, I am using Postgres as my RDB backend and this part of the system works fine. However, because these VMs can stop anytime, this has created some new issues. In my own testing locally with SQLite, I can see that if the process is killed, the trial cont

[2020-08-17 03:23] crcrpar opened #1643 "Deprecate `optuna.integration.KerasPruningCallback`."
## TL; DR

Deprecate Keras Pruning Callback and examples of Keras:
- https://github.com/optuna/optuna/blob/master/optuna/integration/keras.py
- https://github.com/optuna/optuna/blob/master/examples/keras_simple.py
- https://github.com/optuna/optuna/blob/master/examples/pruning/keras_integration.py

## What to do

Basically, things need to be done are
1. decorate Keras pruning callback with [`depre

[2020-08-17 03:25] crcrpar commented on #1479
Now committers agreed on deprecating Keras ones. So closing.

[2020-08-17 03:25] #1479 closed

[2020-08-17 16:33] rbelew opened #1645 "CmaEsSampler.infer_relative_search_space is missing required positional argument: 'trial'"
Use of CmaEsSampler throws an exception,
`infer_relative_search_space is missing required positional argument: 'trial'`

## Expected behavior

Below is code that contrasts use of CmaEsSampler vs. the default sampler

## Environment

- Optuna version: 2.0
- Python version: 3.7.7
- OS: MacOSX 10.15
- (Optional) Other libraries and their versions:

## Error messages, stack traces, or logs

[code]

##

[2020-08-18 00:02] rbelew commented on #1645
Note,  I just tried the same experiment importing CmaEsSampler
from optuna.integration (vs. optuna.samplers): same error.

[2020-08-18 00:40] c-bata commented on #1645
Hi @rbelew. You need to instantiate an object of CmaEsSampler.

[code]

[2020-08-18 02:08] rbelew commented on #1645
ah, of course!  thanks very much.

[2020-08-18 02:08] #1645 closed

[2020-08-18 04:48] toshihikoyanase commented on #1636
Hello, @rafmacalaba
Thank you for your question. Currently, `LightGBMTunerCV` does not support custom metrics as reported in #1351. #1522 tried to resolve the issue, but it has been suspended. If you are interested in taking over the development, please let us know.

[2020-08-18 12:15] HideakiImamura opened #1647 "Document how each sampler treat pruned trials and failed trials"
Motivated by useful discussions at https://github.com/optuna/optuna/issues/1552.

# Motivation

How each sampler in Optuna treat pruned trials and failed trials is different depending on each sampler. It is kind for users to document how pruned or failed trials are processed when suggesting. I think it is a good idea to give the `..note::` section for each sampler's docstrings.

For each sampler,

[2020-08-18 12:18] HideakiImamura commented on #1552
Hi all. I totally agree with the idea that we should document how each sampler treats pruned trials and failed trials. So, I have created an issue, which is marked `contribution-welcome`. Please feel free to work on this issue.

Let me close this issue because the main problem is the lack of documents. If you have any comments, please feel free to reopen this issue. Thanks!

[2020-08-18 12:18] #1552 closed

[2020-08-18 12:21] HideakiImamura commented on #1647
The current status is as follows.
- [x] `optuna.samplers.RandomSampler`
- [x] `optuna.samplers.GridSampler`
- [x] `optuna.samplers.TPESampler`
- [x] `optuna.samplers.CmaEsSampler`
- [x] `optuna.integration.CmaEsSampler`
- [x] `optuna.integration.SkOptSampler`

[2020-08-18 13:01] c-bata commented on #1647
Note that `optuna.integration.CmaEsSampler` is renamed to `PyCmaSampler`.

[2020-08-19 01:04] HideakiImamura commented on #1640
Thank you for the question! In Optuna standard learning scheme, the returned type of the objective function should be `float`. It is the value to be minimized such as the model's validation error. (Optuna supports maximization instead of minimization. So, it can be an accuracy instead of an error.)  I would like to know what do you want to minimize.

On the other hand, Optuna provides "multi-objec

[2020-08-19 03:02] hvy commented on #782
@crcrpar is working on improving the tutorials and to better match the key features. Let's keep this issue alive and close it once we're done with that.

[2020-08-19 03:03] toshihikoyanase commented on #1592
As mentioned in https://github.com/optuna/optuna/issues/782#issuecomment-675823139, @crcrpar will re-organize tutorials. We can revisit this issue after that.

[2020-08-19 03:07] hvy commented on #1577
Several developers seem to agree that it's okay to proceed with this change given the reasons above. Let me label this ticket as `contribution-welcome`.

[2020-08-19 03:09] arisliang commented on #1443
Thanks all for the clarification and action. Closing this now.

[2020-08-19 03:09] #1443 closed

[2020-08-19 05:17] hvy commented on #1383
This issue has potential and I'd very much like to tackle it, but let me close it for now as it has become stale and I'm not confident I'll be able to tackle it in the near future. Let's reopen it as storage performance becomes relevant again.

[2020-08-19 05:17] #1383 closed

[2020-08-19 09:23] ashraf-01 commented on #1640
Hi Hideaki ,

thanks for showing interest ,

 2 , 3 parameters of interest to this specific application are M (LOOKBACK PERIOD , INTEGER ) , NUMBER OF EPOCHS (LESS IMPORTANT ) AS IT IS ALREADY ALMOST OPTIMIZED , BUT  STILL NUMBER OF EPOCHS WILL CHANGE WITH THE CHANGE OF TIME FREQUENCY WHICH USED TO SAMPLE THE OBSERVATIONS , AND LASTLY THE LEARNING RATE (FLOAT ) , WOULD YOU LIKE TO SHARE WITH YOU D

[2020-08-19 10:16] rohan-gt opened #1651 "[Bug] Early stopping not working in OptunaSearchCV"
`max_iter` in `OptunaSearchCV` doesn't work with LightGBM because there's no `partial_fit`. [This](https://github.com/microsoft/LightGBM/issues/2718) could be a potential fix

[2020-08-19 13:49] lukasshi opened #1652 "Can I use optuna to optimize hyperparameters of tf-agents?"
## Note to the questioner

If you are more comfortable with [Stack Overflow], you may consider posting your question with the "optuna" tag there instead.
Alternatively, for issues that would benefit from more of an interactive session with the developers,
you may refer to the [optuna/optuna chat] on Gitter.

[Stack Overflow]: https://stackoverflow.com/questions/tagged/optuna
[optuna/optuna chat]:

[2020-08-19 19:11] UTUnex opened #1654 "Please add supports to skorch"
Skorch is a wrapper of pytorch which makes it have a sklearn API format for easy use. Currently, it's a pity that I didn't find support of optuna for skorch. You know that there are still many users who just transfer from sklearn to neural network and still want to keep our familiar sklearn-style:)

Recently I have been searching for the ways to apply the optuna to my skorch program but I didn't f

[2020-08-20 02:07] HideakiImamura commented on #1640
So, I'm not sure whether I've understood what you intend, but I would like to know what "objective function" do you want to minimize. The M (lookback period, integer), the number of epochs, and the learning rate are "input" of the objective function.

Please check [our blog](https://medium.com/optuna/optuna-v1-86192cd09be5). This tells us the problem definition of hyperparameter tuning.

[2020-08-20 03:57] Chillee opened #1656 "Throw more informative error message if CmaEsSampler is used with categorical variables"
Currently, if CmaEsSampler is used with categorical variables, it throws this error
[code]
As somebody who isn't familiar with the details of CmaEsSampler, I was not aware that it didn't work with categorical variables, and thought it was an issue with how I was setting the parameter ranges

If the CmaEsSampler is called with categorical variables, it should probably throw an error/warning upfront

[2020-08-20 04:58] toshihikoyanase commented on #1651
Thank you for your bug report. I think I can reproduce this issue.

Code:
[code]

Output:
[code]

https://github.com/microsoft/LightGBM/issues/2718 suggested that we should add a code for `LightGBM` to `OptunaSearchCV`.  The `init_model` argument of `LightGBMClassifier.fit` enable us to train the `LightGBMClassifier` step by step like `partial_fit`.

Please let me know if my understanding is wrong

[2020-08-20 05:04] HideakiImamura commented on #1654
Thank you for the interesting suggestion! Do you have any skorch's code in which you want to use Optuna? It will help us how we integrate the skorch with Optuna.

[2020-08-20 06:19] rohan-gt commented on #1651
Sounds right

[2020-08-20 09:12] UTUnex commented on #1654
Thank you for your reply. The following is the code from skorch documenation:

# %%
import torch
from torch import nn
import torch.nn.functional as F

torch.manual_seed(0);

# %%
import numpy as np
from sklearn.datasets import make_classification

# %%
X, y = make_classification(1000, 20, n_informative=10, random_state=0)
X, y = X.astype(np.float32), y.astype(np.int64)

# %%
X.shape, y.shape, y.me

[2020-08-20 09:44] hvy commented on #1652
I would believe so, but it's hard to tell without any details. Do you happen to have a more concrete scenario, for instance, what hyperparameters you would like to optimize and what model you are using?

[2020-08-20 11:03] blurLake opened #1664 "A error about should_prune()"
## Optuna with openAI SB zoo.
Hi, I am using Optuna and [openAI SB3 zoo]:https://stable-baselines3.readthedocs.io/en/master/guide/rl_zoo.html, to tune hyperparameters of one customized environment. By using command ```python3 train.py --algo td3 --env FullFilterEnv-v0 --gym-packages gym_environment -n 5 -optimize --n-trials 10 --n-jobs 2 --sampler random --pruner median```. Everything works fine i

[2020-08-20 12:01] c-bata commented on #1664
I guess you use older revision of rl-baselines3-zoo on an Ubuntu 18.04.1 LTS machine. The problem seems to be resolved 20 days ago.

https://github.com/DLR-RM/rl-baselines3-zoo/commit/3c0dec8abf91c1aac4547b1bc4be7ac8ebd052e4

Could you try to update the revision of rl-baselines3-zoo on an Ubuntu machine?

[2020-08-20 12:59] blurLake commented on #1664
Thanks for the reply. Indeed it is a version conflict. The error can be resolved either by downgrade optuna to 1.5.0, or do the modification in SB-zoo as in [here](https://github.com/DLR-RM/rl-baselines3-zoo/commit/3c0dec8abf91c1aac4547b1bc4be7ac8ebd052e4) about utils/callbacks.py.

[2020-08-20 12:59] #1664 closed

[2020-08-20 15:45] ashraf-01 commented on #1640
here is a copy of the sequence of the steps , so that it is much better understood

looking forward to your response

Best Regards
________________________________
From: Hideaki Imamura <notifications@github.com>
Sent: Thursday, August 20, 2020 4:07 AM
To: optuna/optuna <optuna@noreply.github.com>
Cc: ashraf-01 <ashrafsaied.999@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [optuna/

[2020-08-21 01:53] HideakiImamura commented on #1647
Oh! Thanks, @c-bata. Fixed.

[2020-08-21 02:58] toshihikoyanase commented on #1656
`CmaEsSampler` excludes categorical variables [here](https://github.com/optuna/optuna/blob/master/optuna/samplers/_cmaes.py#L158-L169). IMO, we can include the cause into the warning message, so that users can fix their code.

The log is generated in the `sample_independent` method ([here](https://github.com/optuna/optuna/blob/master/optuna/samplers/_cmaes.py#L299)), and we can, for example, modif

[2020-08-21 03:07] hvy commented on #1656
Maybe we could mention `PyCmaSampler` as an alternative to just suppressing the warning, too.

[2020-08-21 09:40] crcrpar opened #1669 "Update PyTorch Lightning Example"
**TL; DR**: Use the new argument [`limit_val_batches`](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.trainer.html#limit-val-batches) instead of the deprecated `val_percent_check`.

As per https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.trainer.html#val-percent-check, `val_percent_check` will be removed thus the below line should be updated.
https

[2020-08-21 15:44] FelixNeutatz opened #1671 "Conditional CategoricalDistribution"
Dear all,

I am a big fan of Optuna. Thank you for this great system!

However, during my first tries, I run into the following problem:
[code]
Of course, it is well-reported that this will lead to an exception because a [dynamic value space for categories is not supported](https://github.com/optuna/optuna/issues/372):
[code]

Now, my question: Is there any way around it to make it work or any hac

[2020-08-22 01:18] FelixNeutatz opened #1672 "Stop search if optimum is reached"
Dear all,

as the title suggests, I would like to stop search once the theoretical optimum is reached. Here, I have a short example:

[code]
This program works but it is very hacky. Is there a nicer way to accomplish the same?

Best regards,
Felix

[2020-08-22 03:03] crcrpar opened #1674 "[RFC] Support fastai v2"
We've supported fastai with `FastAIPruningCallback` though it has targeted fastai v1.
Recently, FastAI V2 is released; thus we'd love to support it.
Being that said, early stopping callback of v2 which will be the base class of `FastAIPruningCallback` differs from that of v1 in e.g., the `__init__`'s arguments.

- v2: https://github.com/fastai/fastai/blob/72590db2e66af6dd0eaa8c8874a80f11a4b8cbc2/f

[2020-08-22 06:01] #1672 closed, assigned to nobody

[2020-08-22 06:08] sfujiwara opened #1677 "Modify the simple multi-backend Keras example to use tf.keras"
## Motivation

- Multi-backend Keras will be deprecated and it is recommended to use tf.keras
  - https://github.com/keras-team/keras#multi-backend-keras-and-tfkeras
- But, [`examples/keras_simple.py`](https://github.com/optuna/optuna/blob/82d23924e02a8a5fc82fac802544170ff04226d2/examples/keras_simple.py) currently use multi-backend Keras

## Description

I think we have two options:

1. Modify `e

[2020-08-22 08:06] c-bata opened #1683 "Improve the search space of XGBoost example."
## Motivation

From following resources, the search space of `examples/xgboost_simple.py` seems not to be practical.

* https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/
* https://www.youtube.com/watch?v=VC8Jc9_lNoY
* https://www.amazon.co.jp/dp/B07YTDBC3Z/

## Description

Improve the search space of `examples/xgboost_simple.py`.

## Additiona

[2020-08-23 01:20] #1677 closed, assigned to nobody

[2020-08-23 03:13] harupy opened #1694 "Introduce isort to sort imports?"
## Motivation

It's a pain for both contributors and maintainers to sort imports. It'd be nice if we could automate this process.

## Solution

https://github.com/timothycrosley/isort

[2020-08-23 06:37] hvy opened #1697 "Make `plot_contour` example more pedagogical"
## Motivation

Examples in the API reference should be pedagogical. The plot for the contour plot is not with somewhat poorly visible categorical parameter values.

![Screen Shot 2020-08-23 at 15 30 02](https://user-images.githubusercontent.com/5983694/90972686-4f621e80-e556-11ea-8344-e2112290a0a6.png)

## Description

The contour plot example could use a better suited objective function e.g. limi

[2020-08-23 23:12] ytknzw commented on #1539
@toshihikoyanase Thank you for your feedback! My idea above is a rough draft, so I appreciate your detailed thoughts. I agree with both points you mentioned. I'll work on it today and put a PR, then let's discuss further.

[2020-08-24 00:27] arita37 opened #1706 "Add hyper-params clustering visualization/selection"
## Motivation

 When doing hyper-search, we want to select the ones which are stable and not necessary the most accurate:
    reduce over-fitting risk, and add stability.

 Stability condition is : in the neighborhood of hyper params optimal vector should not be empty.
 Mostly, doing clustering is hyper-params is usefula to pick up the one which has no empty neighborhood.

If your feature request

[2020-08-24 02:58] #1643 closed

[2020-08-24 15:51] bjoernholzhauer opened #1710 "LightGBMTunerCV seems to not handle user specified CV-folds"
## Expected behavior

When users specify training and validation folds in the manner that the basic lightgbm.cv function accepts, this should (from what I understand work)

## Environment

- Optuna version: 2.0.0
- Python version: 3.6.9
- OS: Google Collab/Linux
- (Optional) Other libraries and their versions: LightGBM 2.3.1

## Error messages, stack traces, or logs

[code]

As well as (on the sec

[2020-08-24 18:49] ashraf-01 commented on #1640
sorry toshihikoyanase for teh late response , I thought it was already attached , anyway , I took a peek in to your email yesterday
here is the link

[2020-08-24 18:57] ashraf-01 commented on #1640
here is the full code
def sharpe(rets):
    return rets.median() / rets.mad()

# In[100]:

# this is how positions are getting generated
def positions(x, theta):
    M = len(theta) - 2
    T = len(x)
    Ft = np.zeros(T)
    for t in range(M, T):
        xt = np.concatenate([[1], x[t - M:t], [Ft[t - 1]]])
        Ft[t] = np.tanh(np.dot(theta, xt))
    return Ft

# In[101]:

def returns(Ft, x, delt

[2020-08-25 00:26] hvy commented on #1334
Style varies quite a bit between example doctest code, e.g. some use single while other use double quotes for strings. Maybe we should make them consistent, following black?

[2020-08-25 00:39] toshihikoyanase commented on #1710
Thank you for your bug report. I'm not aware of the first issue. I'll investigate it.

I think it is the same issue as #1602. The cause is the lack of the metric mapping in `LightGBMTunerCV` and @thigm85 is working on it.

[2020-08-25 03:32] hvy opened #1714 "doctest not excuting any tests"
## Motivation

doctest (`make doctest`) is run on CircleCI ([config.yml](https://github.com/optuna/optuna/blob/master/.circleci/config.yml)) but no tests are actually found/executed. Errors are therefore left undetected.

It seems like this started to occur after https://github.com/optuna/optuna/pull/1400.

#### Example

https://app.circleci.com/pipelines/github/optuna/optuna/2220/workflows/46d795

[2020-08-25 05:28] rafmacalaba commented on #1636
@toshihikoyanase got it, I am referring to `feval` optimization not the `metric`. I have an idea how to get it done. Expect a PR from me regarding this. Thanks!

[2020-08-25 05:57] HideakiImamura commented on #1654
Thank you for the detailed explanations. PR #1668 is related to this issue.

[2020-08-25 06:07] HideakiImamura commented on #1640
Thank you for sharing the information. What problem do you solve? Is it regression or classification? Or, is it a reinforcement learning problem? Your code misses the `y` values against `x`.

[2020-08-25 06:41] ashraf-01 commented on #1640
hi , just pointing to your question above it is an RL set up , so there is no classical y versus x approach as in classification or regression , yet x represents the sole input to this problem , usually you can add more , but just to give you some context , there is some implicit assumption made which is the tanh function above , it could be other ones , but we assume that these weights (thetas) a

[2020-08-25 07:30] hvy commented on #1539
I'm wondering if we shouldn't start discussing the public part first (or sooner), including how to handle visualization functions that are missing implementations for some specific backends. Logic introduced is otherwise quite difficult to document and test.

[2020-08-25 08:53] bjoernholzhauer commented on #1710
Yes, you are right, [#1602](https://github.com/optuna/optuna/issues/1602) was indeed what I had seen before (but did not find, again).

[2020-08-25 09:41] HideakiImamura commented on #1640
Thanks for the explanation. First of all, I have to explain how optuna gets the optimized hyperparameter. Optuna assumes that there is an objective function whose inputs are hyperparameters and output is a **real value**. You have to create a real-valued function to be optimized when optimizing hyperparameters. Could you define some score using `theta` and `sharpes` in your setting? If you can, yo

[2020-08-25 12:13] kmedved commented on #1632
A customizable stepwise tuner would be amazing functionality. The approach works incredibly well for LightGBM, and would be an even bigger boon to slower tuning libraries like Catboost or Ngboost (new probabilistic boosting library from Andrew Ng's team).

[2020-08-25 12:50] toshihikoyanase commented on #1636
@rafmacalaba Thank you! I'm looking forward to your PR.

[2020-08-25 13:11] nyanhi opened #1718 "LightGBMTunerCV stepwise tuning got an error with lightgbm==3.0.0rc1"
`LightGBMTunerCV.run()` got LightGBMError after updating `lightgbm` version==`3.0.0rc1`.
While it's performing stepwise tuning, `lightgbm.basic` raised below error message at the step of `min_data_in_leaf` and tuning is interrupted.
A workaround seems to be adding `feature_pre_filter=false` like following as the error message suggests:
[code]
## Environment

- Optuna version: 2.0.0
- Python versio

[2020-08-25 17:21] ashraf-01 commented on #1640
I DID NOT GET YOUR POINT , AS SHARPES AND THETAS ARE THE QUANTITIES / PARAMETERS OF THE MODEL AND THESE ARE ALREADY OPTIMIZED USING THE gradient function , are you getting my point? but on the other hand the other inputs in train function , except for commission , are already HP ? and I wanna optimize for those and the actual parameters of the model , as far as I remember in the first screenshot a

[2020-08-25 17:38] HideakiImamura commented on #1640
Your objective function has
- inputs: (`lb`, `lr`), and
- outputs: (`theta`, `sharpes`).
The `theta` and `sharpes` seem to be the `numpy.ndarray`. The pair of (`theta`, `sharpes`) does not have a type of `float` (real value) but `Tuple[ndarray, ndarray]`. You have to define the real-valued objective function to use any hyperparameter tuning framework. I think you have two options.

- [1]: Define a

[2020-08-25 19:57] MarioIshac opened #1719 "Make Optuna PEP 561 Compliant"
## Motivation

Make `optuna` [PEP 561](https://www.python.org/dev/peps/pep-0561) compliant such that its code can be type checked when it is added as a dependency.

## Description

Currently `optuna` has inline type hints such that running `mypy` on `optuna` itself reports success. However, when `optuna` is imported by another project, and `mypy` is run there, I'm met with the following error:

[c

[2020-08-25 21:00] jeffzi commented on #1632
Some time ago I prototyped a `StepwiseTuner` class that accepts a list of named Steps in its init.

It's essentially an abstraction of `LightGBMTuner` that needs to be specialized in a dedicated subclass. The shared logic of looping through the steps, along with keeping track of the global time and trial budgets across steps is implemented in `StepwiseTuner.tune()`.

This approach is flexible. The

[2020-08-26 01:54] HideakiImamura commented on #1697
This problem now will be addressed in PR #1716.

[2020-08-26 01:57] crcrpar commented on #1674
One way to do this is to support the both versions. The big picture of the workflow will be as follows:

1. Rename the current `FastAIPruningCallback` / `optuna/integration/fastai.py` to `FastAIv1PruningCallback` and `optuna/integration/fastaiv1.py`
2. Implement `FastAIv2PruningCallback` in `optuna/integration/fastaiv2.py`

One concern in my mind is how to deal with the unittests for FastAI v1.

[2020-08-26 04:03] #1602 closed

[2020-08-26 05:16] toshihikoyanase commented on #1640
I agree with @HideakiImamura . The objective function is supposed to return a `float` value instead of `numpy.ndarray`.

You may already know, but I think the [first optimization of the tutorial](https://optuna.readthedocs.io/en/stable/tutorial/first.html) demonstrates what kind of the objective function Optuna can handle.

[2020-08-26 05:31] crcrpar opened #1721 "[Tracker] Improve Tutorial"
This issue is not labeled "contribution-welcome", though, if you are interested in, don't be shy to contact me 😃

What I'm going to do in the next months as follows:

1. Align the contents of tutorials with the README's Key Features
2. Add https://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html -ish thing
2. Add more contents as "Recipes". Some of the contents are
    - User-defined

[2020-08-26 06:33] ashraf-01 commented on #1640
I will let you know , if I got it right , thanks for the suggestions

[2020-08-26 06:52] toshihikoyanase commented on #1609
I removed `contribution-welcome` label since #1702 is working on this issue.

[2020-08-26 07:24] harupy commented on #1714
Looks like `make doctest` doesn't seem to work properly without stub files genereated by `sphinx-autogen`.

[2020-08-26 07:25] toshihikoyanase commented on #1671
@FelixNeutatz Thank you for your question. As you mentioned, `CategoricalDistribution` can handle only a fixed set of choices. So, I think we need to change the name of hyperparameter (i.e., `"x"` of `trial.suggest_categorical("x", choices))` when we use the different set of choices.

In your case, is it feasible to prepare two classifier lists that correspond to the sparse datasets and the dense

[2020-08-26 07:33] harupy commented on #1714
This is probably because the first `make doctest` generates stub files.

[2020-08-26 08:19] harupy commented on #711
I'll take `optuna/study.py`

[2020-08-26 09:09] AlbinDavid commented on #509
$ pip uninstall pandas
$ pip install pandas==0.24.2
Is not working on python 3.5.2

[2020-08-26 11:01] HideakiImamura commented on #1706
Thank you for raising an interesting issue. I would like to check on the definition of high stability hyperparameter.

In my understanding, high stability is as follows. For a hyperparameter x, we want to minimize the validation accuracy: the observation of the validation accuracy is usually accompanied by noise. Therefore, the observed value of validation accuracy is stochastic. The hyperparamete

[2020-08-26 11:12] arita37 commented on #1706
1) how do you measure noise in no-stationnary distribution ?

Think cross val is not enough.

2) My hypothesis is :
   Continuous neighbourhood of optimal hyper params is still optimal (at some epsilon).

3) this is often case than optimal
hyper params overfits the cross val distribution....

[2020-08-26 14:52] arita37 commented on #1706
Technically,
   Hyper-params optim. is a form of learning over
   (Train —> Val)  distribution.
   It is still subject to “overfitting” over the sampled distribution (assumption is stationarity IID,..)

[2020-08-26 17:59] meric-sakarya opened #1727 "ERROR while running optuna on a customized gym environment"
I am working with a customized Pendulum-v0 environment which has a maximum timestep attribute to allow early resets and therefore reward tracking and also uses rgb-array's for observation. I am trying to use the hyperparameter optimization for that environment and therefore registered the environment to gym. I can not run train.py with n_jobs larger than 1.

train.py:
[code]
The error:

[code]

Er

[2020-08-26 21:43] fsmosca opened #1728 "Does the optimization suggest_int consider best param and value on its optimization algorithm?"
Trying to optimize a chess queen value as a simple case using optuna's suggest_int. Basically one engine will take the optuna suggested param value call it optuna_engine and the other engine will take the available best param value call it best_engine. Then play some games and return the result from the point of view of optuna_engine. If optuna_engine wins or (score > 0.5), the best_param will be

[2020-08-27 05:00] #1714 closed

[2020-08-27 07:25] harupy commented on #711
Ran the script in https://github.com/optuna/optuna/issues/711#issuecomment-678722000 against the current master.

[code]

[2020-08-27 08:03] c-bata commented on #711
Thank you. I updated the description.

[2020-08-27 13:48] toshihikoyanase commented on #1727
Thank you for your report.

Optuna uses multi-threading if `n_jobs!=1`, and I guess `pyglet` does not support multi-threading.
How about using the multi-process parallelization? You may already know, but the tutorial can be found [here](https://optuna.readthedocs.io/en/stable/tutorial/distributed.html).

[2020-08-27 14:21] toshihikoyanase commented on #1728
Thank you for your question. It's an interesting application that optimizes the two-player game agents.

Yes, Optuna treats `Trial 0` (queen=700 with value=0.80) as the best solution so far. In other words, Optuna considers `Trial 0` is better than `Trial 1`. This is because Optuna simply tries to maximize the returned values of the objective function, and the `Trial 0`'s value (0.80) is larger th

[2020-08-27 17:17] Chengyao-Peng opened #1733 "[Bug] No module named 'optuna.storages.in_memory' when loading in-memory studies"
With the updated 2.0.0 version, I encountered this Error when loading in-memory studies by joblib or pickle: No module named 'optuna.storages.in_memory'. However, the previous version 1.5.1 iirc worked out fine.

[2020-08-27 17:22] #1733 closed

[2020-08-27 17:41] Chengyao-Peng opened #1734 "[Bug] No module named 'optuna.storages.in_memory'"
No module named 'optuna.storages.in_memory' when loading in-memory studies.
## Expected behavior

In-memory studies should be able to be loaded again by joblib or pickle.
## Environment

- Optuna version: 2.0.0
- Python version: 3.7.3
- OS: Linux
- (Optional) Other libraries and their versions:
joblib

## Error messages, stack traces, or logs

[code]

## Additional context (optional)

[2020-08-27 21:35] fsmosca commented on #1728
Thanks for your reply. Your suggestion of a static objective is indeed possible. One improvement could be to check the history of tuning on that particular param. Then choose those values which performed well in the past to become static.

Since the optimizer considers the high value, I thought of faking the result, that is from the given example at trial 0, instead of returning the correct result

[2020-08-27 23:26] turian opened #1736 "trial.suggest_ordered_categorical"
`trial.suggest_ordered_categorical` should allow you to sample over categoricals that have an ordering.

## Motivation

I have an optimization problem where there are a set of possible float values for one setting.
However, the distance between the points is not necessarily the floating point distance. Only the ranking is important (distance is monotonically increasing).

## Description

The follo

[2020-08-28 01:04] HideakiImamura commented on #1706
What is the domain space of that distribution? I assume it as an objective space. I think, for example, the sum of the mean and the variance of the observation `y \sim N(\mu(x), \sigma^2(x))` can be one measurement in the setting, where the distribution of the objective function is not IID. [This paper](https://papers.nips.cc/paper/7818-adversarially-robust-optimization-with-gaussian-processes.pdf

[2020-08-28 05:06] arita37 commented on #1706
Hyper-params is usually done in transition
Distribution of dataset

Let me clarify notations

Xtrain, Xval ,  HyperD are distributions.

When doing Hyper , objective is follow
fit(Xtrain) . eval(Xtrain) : XX Not good
fit(Xtrain) . eval(Xval)

So,
   Hyper_fit( Xtrain —> Xval)

Sometimes, this is still overfits,

As you mentionned, there are few ways to tackle it  (need to find relevant paper is an

[2020-08-28 06:30] Jie-Yuan opened #1738 "import optuna.integration.lightgbm as lgb"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-57-4d0f80b09927> in <module>
----> 1 import optuna.integration.lightgbm as lgb

~/anaconda3/lib/python3.7/site-packages/optuna/integration/lightgbm.py in <module>
      4
      5 from optuna._imports import try_import
----> 6 from op

[2020-08-28 06:51] Jie-Yuan opened #1739 "ubuntu pip install error"
![image](https://user-images.githubusercontent.com/20265321/91530606-fa4f4f80-e93d-11ea-9653-946a3c7e653e.png)

[2020-08-28 07:46] toshihikoyanase commented on #1738
Hello @Jie-Yuan , thank you for your report.

`packaging.version.Version.major` was included in `packaging>=20.0` https://github.com/pypa/packaging/pull/225, and I think you used an older version of `packaging` than `20.0`.

Could you update the `packaging` library in your environment?

[2020-08-28 08:02] Jie-Yuan commented on #1738
thanks

[2020-08-28 08:34] rohan-gt opened #1740 "[Feature Request] LightGBMTunerCV model object"
Is there a way to get the LightGBMTunerCV model object out for prediction purposes? This is because I'm using `n_estimators=10000` and `early_stopping=100` and when I use `best_params` I don't get the `n_estimators` value where lightgbm.cv() stopped at and I'll have to end up using `n_estimators=10000` itself to retrain on the entire dataset since I don't want to further split it into train and ev

[2020-08-28 08:59] toshihikoyanase commented on #1740
@rohan-gt Thank you for your feature request.

Actually, @nyanhi is working on it in #1702 . It is under review, but you can try it using his branch.

[2020-08-28 09:01] rohan-gt commented on #1740
@toshihikoyanase how do I do a pop install from his branch?

[2020-08-28 09:12] meric-sakarya commented on #1727
The train.py file does not have parameters for study name or storage so I added them myself, you can find the modified code here.

Code:

`import os
import time
import uuid
import difflib
import argparse
import importlib
import warnings
from pprint import pprint
from collections import OrderedDict

# numpy warnings because of tensorflow
warnings.filterwarnings("ignore", category=FutureWarning, mod

[2020-08-28 09:19] toshihikoyanase commented on #1740
You can install it via the following command:

[code]

In addition, you need `lightgbm>=3.0.0` to use the feature:

[code]

I created a [notebook](https://colab.research.google.com/drive/1mxnqVcUKA4NZHJj29GUxPJmEMhEK-rZx?usp=sharing), so please take a look.

[2020-08-28 09:44] rohan-gt commented on #1740
@toshihikoyanase thanks!

[2020-08-28 09:54] rohan-gt commented on #1740
@toshihikoyanase the returned model outputs 3 sets of predictions for the 3 folds I'm guessing. How would you use this in a production setting to predict on unseen data? Do you have to average the results?

[2020-08-28 11:14] rohan-gt commented on #1740
@toshihikoyanase Thanks! Couple of questions:
1.  The returned model outputs 3 sets of predictions for the 3 folds I'm guessing. How would you use this in a production setting to predict on unseen data? Do you have to average the results?
2. Does the folds parameter override the nfold parameter? Couldn't find anything in the documentation
3. The results don't seem to be reproducible even after set

[2020-08-28 12:18] toshihikoyanase commented on #1740
@rohan-gt Thank you for aggregating the questions.

Yes, `CVBooster` returns multiple predictions. Actually, I haven't used the `LightGBM` in production systems, and I don't have answers. The developer of `return_cvbooster` mentioned that it can be used to enjoy ensemble techniques in https://github.com/microsoft/LightGBM/issues/283#issuecomment-642351645.

No, it doesn't. `LightGBMTuner` simply k

[2020-08-28 13:05] rohan-gt commented on #1740
@toshihikoyanase ,

2. > No, it doesn't. LightGBMTuner simply keeps the default value (5) or the value given by users. Does it cause problems?

Asked because you set `folds=KFold(n_splits=3)` and I was wondering if it overrides the default `nfold=5` parameter

4. > Hmm, LightGBMTuner simply passes such arguments to lightgbm.cv function and I don't think it causes bugs. But, anyway, I'll check it.

[2020-08-29 00:00] hvy commented on #1734
Thank you for reporting the issue.

I could not reproduce the results in the following environment. Is it correct that you're both dumping and loading the study in the same process? If possible, some additional code might help.

[code]

It by the way sounds like it's related to https://github.com/optuna/optuna/pull/1373 since there no longer a `optuna.storages.in_memory`.

[2020-08-29 00:06] hvy commented on #1739
Given my very shallow understanding, does it happen to be a duplicate of https://github.com/iterative/dvc/issues/1995 (https://github.com/iterative/dvc/issues/1995#issuecomment-540259645)?

[2020-08-29 00:19] hvy commented on #1736
Thanks for your proposal. Wanting to suggest categoricals that are ordered makes sense but it would require some larger changes to the code base. The "suggest" methods combined with their arguments are defined by concrete `BaseDistrbution`s. In each sampler, for instance, we're conditioning based on which concrete `BaseDistribution` a parameter is to be suggested with. So with a naive approach, al

[2020-08-29 02:15] fsmosca commented on #1728
@HideakiImamura I plan to close this issue. Are you planning to do something about it?

[2020-08-29 12:02] sfujiwara opened #1751 "Study and Trial for TensorFlow's MultiWorkerMirroredStrategy"
## Motivation

It is useful for TensorFlow users if we have `DistributedTensorFlowStudy` and `DistributedTensorFlowTrial` like [`ChainerMNStudy`](https://github.com/optuna/optuna/blob/0b152e1774976ec056504f105aefeda9d674fc3b/optuna/integration/chainermn.py#L53) and [`ChainerMNTrial`](https://github.com/optuna/optuna/blob/0b152e1774976ec056504f105aefeda9d674fc3b/optuna/integration/chainermn.py#L143

[2020-08-29 12:33] turian commented on #1736
@hvy This is a good question. In my particular case, the distances between categories is actually unknown and might not correlate with the floating point distance. Just the rank order matters. I think what I actually want is `sample_ranked_list` and involve just the ranking.

[2020-08-29 13:10] harupy opened #1753 "Should generics be used for `suggest_categorical` return type?"
## Note to the questioner

The return type of `suggest_categorical` is a union of `[None, bool, int, float, str]`, but I think it should be inferred from a given choices in a generic way.

[code]

[Stack Overflow]: https://stackoverflow.com/questions/tagged/optuna
[optuna/optuna chat]: https://gitter.im/optuna/optuna

[2020-08-29 18:54] meric-sakarya commented on #1727
I ran the command I mentioned in the previous comment. The different processes don't acknowledge each other's results. Does that not work when using in-memory? Do I need an actual storage URL? How do I get one and use one? Would really appreciate any help on the matter.

[2020-08-29 20:33] MarioIshac commented on #1753
Currently `suggest_categorical` is declared like this:

[code]

with `CategoricalChoiceType = Union[None, bool, int, float, str]`

Note that selecting from heterogeneous items is supported, for example looking in `test_samplers.py` I see this:

[code]

Assigning `CategoricalChoiceTypeTypeVar` to `TypeVar("CategoricalChoiceType", None, bool, int, float, str)` would break scenarios like the above te

[2020-08-30 04:09] norihitoishida commented on #852
Let me tackle this issue!

[2020-08-30 04:09] norihitoishida commented on #1117
Let me tackle this issue!

[2020-08-30 05:10] toshihikoyanase commented on #1751
Just FYI, but I think we have an alternative approach if we use `MirroredStorategy` instead of `MultiWorkerMirroredStrategy`.

I read the [tutorial](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras), I found that the distributed part is wrapped with `with strategy.scope()`, but the other part seems to be executed sequentially.

I'm not familiar with TensorFlow distributed, I

[2020-08-30 05:37] hvy commented on #1697
#1716 is now merged. I think we can close this issue after https://github.com/optuna/optuna/pull/1758.

[2020-08-30 05:41] toshihikoyanase commented on #1751
I'm sorry for my carelessness, but I overlooked your comment.

https://github.com/optuna/optuna/issues/1751#issuecomment-683377269 confirmed that `MirroredStrategy' actually worked with Optuna without integration.

[2020-08-30 08:41] hvy commented on #711
Finished?

[2020-08-30 09:15] c-bata commented on #711
I executed @harupy's script at latest master branch, then found no modules.

[code]

Thank you all for your great contribution :tada:

[2020-08-30 09:15] #711 closed

[2020-08-30 15:44] bartmch opened #1765 "Lightning example "Address already in use" error ddp (single/multi GPU)"
Using the "pytorch_lightning_simple.py" example and adding the distributed_backend='ddp' option in pl.Trainer. It isn't working on one or more GPU's

## Environment

- Optuna version: optuna (2.0.0)
- Python version: 3.7
- OS: Linux Ubuntu
- (Optional) Other libraries and their versions: pytorch-lightning (0.9.0), torch (1.6.0), torchvision (0.4.2)

## Error messages, stack traces, or logs

[code]

[2020-08-30 18:00] mrocklin opened #1766 "Dask / Optuna Integration"
Hello Optuna maintainers,

I work on Dask and I would like to improve integration between Optuna and Dask.  I did a brief investigation a couple of days ago (see https://github.com/dask/dask/issues/6571) and now have some questions.  Hopefully this is a good place to post questions:

## Nice design

First, (not actually a question) Optuna's distribution system seems really simple.  Thank you for t

[2020-08-30 19:15] ytsmiling commented on #1766
Optuna-dask integration sounds really nice. And I'm looking forward to trying it.

Though I'm not a core-committer of optuna, let me leave some comments on storage issues. (I hope core-committers will answer other questions and also provide complementary information for my answer.)

To my understanding, a core target of optuna is (was) heavy objectives (e.g., deep learning), and there are no stron

[2020-08-30 21:10] mrocklin commented on #1766
This is fine.  The Dask scheduler and comms are built to handle many small messages, but this means that I'll probably want to be careful about which read/write operations need to finish before they return, and which can be sent off asynchronously.  I see that there are some notes in `storages/_base.py`.  I think that we'll just have to pay attention to those.

[2020-08-31 02:48] harupy commented on #711
A new script to detect type comments on variables (e.g. `foo = "foo"  # type: str`). Feel free to use this when python 3.5 support has been removed.

<details>
<summary>code</summary>
[code]
</details>

[2020-08-31 02:51] hvy commented on #1067
C.f. https://github.com/optuna/optuna/issues/711#issuecomment-683521987, when rewriting type hints.

[2020-08-31 03:32] Jie-Yuan commented on #1739
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting optuna
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/06/b0/9a6313c78bca92abfacc08a2ad8b27bfe845256f615786ee2b6452ae1978/optuna-2.0.0.tar.gz (226 kB)
     |████████████████████████████████| 226 kB 21.2 MB/s eta 0:00:01
Collecting alembic
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/60/1e/cabc75a189de0fbb2

[2020-08-31 07:03] bartmch commented on #1765
Hi @VamshiTeja I read your last commit on the lightning Optuna example. Would you mind helping me out with this bug? Thanks in advance!

[2020-08-31 07:13] Jie-Yuan opened #1768 "import optuna.integration.lightgbm as lgb"
## Note to the questioner

If you are more comfortable with [Stack Overflow], you may consider posting your question with the "optuna" tag there instead.
Alternatively, for issues that would benefit from more of an interactive session with the developers,
you may refer to the [optuna/optuna chat] on Gitter.

[Stack Overflow]: https://stackoverflow.com/questions/tagged/optuna
[optuna/optuna chat]:

[2020-08-31 07:14] Jie-Yuan commented on #1768
How to set the tuning times

[2020-08-31 07:20] hvy commented on #1736
Thanks for your quick reply. I'm unfortunately not that familiar with the practices of handling these types of ordinals and how it's done in other frameworks. If you have references, that would help a lot. Again, it sounds like `suggest_int` would do given the following, but I might be missing your point.

[2020-08-31 08:43] rohan-gt opened #1769 "[Questions] About LightGBMTunerCV"
1. What is the default value of n_estimators and learning rate that LightGBMTunerCV uses? Are these tuned?
2. Are the `num_boost_rounds` and `early_stopping_round` parameters for LightGBM or the tuner?
3. Is it possible to feed in additional parameters to tune and custom ranges for existing parameters?
4. Is early stopping implemented for the tuner? If so what's the early stopping logic?

[2020-08-31 09:07] #1719 closed

[2020-08-31 09:22] hvy commented on #1579
To be included as a highligh/compat change https://github.com/optuna/optuna/issues/1719.

[2020-08-31 14:01] keisuke-umezawa opened #1770 "Add a summary of each module in the reference page."
# Motivation
If we add a summary of each module in [the reference page](https://optuna.readthedocs.io/en/latest/reference/index.html), readers will understand the concept of each module better.

# What to do

It is better to add the following information:

1. [what] the definition of the module
    - e.g. The :mod:`~optuna.trial` module contains :class:`~optuna.trial.Trial` related classes and fun

[2020-09-01 02:35] jrbourbeau commented on #1766
Thanks for raising this issue @mrocklin! I'm also interested in improving Optuna + Dask integration

There are separate code paths for `n_jobs == 1` (default) and `n_jobs != 1`

https://github.com/optuna/optuna/blob/aa505125de8515518fe19ba227edf7a1d3f8ebda/optuna/study.py#L299-L303

Using `n_jobs != 1` will go down the code path that uses `joblib` (snippet below)

<details>
<summary>Example snippe

[2020-09-01 03:09] toshihikoyanase commented on #1766
@mrocklin Dask / Optuna integration sounds great! I'm excited to see this issue and https://github.com/dask/dask/issues/6571.

@jrbourbeau Thank you for sharing your solution.

Sorry if I missed the point, but I'm still wondering why we cannot switch the `joblib` backend with `n_jobs!=1`. https://github.com/optuna/optuna/pull/692#issuecomment-554568441 suggested that we can do it and I think I cou

[2020-09-01 05:20] toshihikoyanase commented on #1718
The [reference of LightGBM 3.0](https://lightgbm.readthedocs.io/en/latest/Parameters.html#feature_pre_filter) suggests that we may need to turn `feature_pre_filter ` off when we tune `min_data_in_leaf`.

It also suggests that we need to re-initialize the dataset objects if we turn on `feature_pre_filter`. I think it is difficult for `LightGBMTuner` to do it since they are initialized in the user c

[2020-09-01 05:32] toshihikoyanase commented on #1768
Please use the [`time_budget` argument](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTuner.html#optuna-integration-lightgbm-lightgbmtuner) of `lgb.train` or `lgb.LightGBMTuner.__init__` to set the maximum duration of tuning.

Currently, the LightGBM tuner always executes 63 trials in total as mentioned in #1550. We're discussing the feature to cus

[2020-09-01 06:25] spikefairway commented on #1739
I had faced the same issue in installing optuna via pip. I tried to fix with removing enum34 library as suggested. However, now I'm facing another error for typing library as below. We cannot remove typing library because this library is required from optuna. I would appreciate it if some experts help me for this issue. Thanks in advance.

The followings are the error message I faced:

[code]

[2020-09-01 06:41] toshihikoyanase commented on #1739
@spikefairway Thank you for your report with the detailed log messages.
I think you don't need the `typing` library because you use Python 3.7, which includes the `typing` module by default.

[2020-09-01 08:25] c-bata opened #1775 "Cannot store CMA object on PostgreSQL and MySQL."
## Problem details

This bug is reported by @maartenpants on gitter. Original report is here:

https://gitter.im/optuna/optuna?at=5f484dea36e6f709fd08a5fa

I checked the length of serialized CMA object.

[code]

[code]

This result means that the bug is raised even on low-dimensional search space.

## Additional context (optional)

I've ever tested on SQLite3 but never bumped into this bug. The re

[2020-09-01 09:57] c-bata commented on #1775
I opened a pull request to fix this bug.
https://github.com/optuna/optuna/pull/1776

[2020-09-01 16:27] mrocklin commented on #1766
@toshihikoyanase when I try your example with `processes=True` I get the following traceback:

[code]

I think that what happens here is that we deserialize the sqlite object in one thread, and then use it in another thread.  Dask uses one dedicated thread for communication, and other threads for computation.  Sometimes this can cause trouble if libraries are not thread-safe.

SQLite is not so goo

[2020-09-01 16:46] jrbourbeau commented on #1766
I agree that users may find an dask-compatible in-memory storage class useful. I'm working on implementing a store class as outlined over in https://github.com/dask/dask/issues/6571#issuecomment-684979667

[2020-09-01 19:49] seanbow commented on #820
I get this error extremely frequently, including when starting a new trial, when running across a large number of processes; my code to optimize has to look like

[code]

or I get basically nothing done until it crashes.

[2020-09-02 01:56] toshihikoyanase commented on #1738
Let me close this issue since the problem has been resolved. Please feel free to reopen it or create a new issue if you have further problems.

[2020-09-02 01:56] #1738 closed

[2020-09-02 04:28] FelixNeutatz commented on #1671
Dear @toshihikoyanase,

thank you, for your answer. Yes, this simple trick should work :)

Best regards,
Felix

[2020-09-02 04:28] #1671 closed

[2020-09-02 07:39] akihironitta opened #1779 "Fix exception chaining all over the codebase"
I recently went over [PyTorch](https://github.com/pytorch/pytorch/pull/43836) and [Detectron2](https://github.com/facebookresearch/detectron2/pull/1945), suggesting a small fix in the way that Python 3's exception chaining is used.

As described in detail in [this article](https://blog.ram.rachum.com/post/621791438475296768/improving-python-exception-chaining-with), exception chaining ([PEP 3134](

[2020-09-02 12:21] #1718 closed

[2020-09-02 23:33] spikefairway commented on #1739
@toshihikoyanase Thank you for your suggestion for this issue. I removed the typing library as you suggested.
Then, I faced and fixed another error for setuptools as https://github.com/pypa/setuptools/issues/2353.
For now, I have succeeded to install optuna. Thank you very much for your advice again.

[2020-09-03 02:02] hvy commented on #1779
Thanks for the suggestion, that sounds reasonable. PR is more than welcome!

Just for the record, we're using the `from ` in e.g. [`_imports.py`](https://github.com/optuna/optuna/blob/master/optuna/_imports.py#L86) so I believe it's a matter of consistency.

[2020-09-03 02:39] toshihikoyanase commented on #1739
@spikefairway Thank you for your feedback. I'm glad to hear that.
Let me summarize your solution.

1. Uninstall the backport libraries (i.e., `enum34` and `typing`) that are not required for Python 3.6+.
2. Resolve the issue related to `setuptools==50` mentioned in https://github.com/pypa/setuptools/issues/2353.

Please add comments if you have further steps to resolve your installation problem.

[2020-09-03 04:07] hvy commented on #1579
Marking IPOP-CMA-ES as checked 🎉

[2020-09-03 06:16] akihironitta commented on #1779
@hvy Just made #1781 ready for review. Could you have a look at the changes?

[2020-09-03 06:38] hvy commented on #1779
I'll have a look. Thanks for the very swift PR.

[2020-09-03 08:48] HideakiImamura commented on #1728
@fsmosca It's OK to close this issue. Thanks.

[2020-09-03 08:48] #1728 closed

[2020-09-04 02:00] hvy commented on #1652
Let me close this ticket since it's become stale. Feel free to reopen as needed.

[2020-09-04 02:00] #1652 closed

[2020-09-04 10:06] holgern opened #1785 "Review constrain scikit-learn< 0.23"
scikit-optimize 0.8.1 has been released which works together with scikit-learn >= 0.23

https://github.com/scikit-optimize/scikit-optimize/releases/tag/v0.8.1

[2020-09-05 09:50] tyokota opened #1789 "Silence optuna trial results"
Is it possible to silence trial results and parameters? I'm not necessarily always interested in seeing the progress during training.

[2020-09-05 09:53] toshihikoyanase commented on #1789
Hi @tyokota!
You can suppress log by changing the verbosity level as follows:

[code]

c.f., https://optuna.readthedocs.io/en/latest/faq.html#how-to-suppress-log-messages-of-optuna

[2020-09-05 09:56] tyokota commented on #1789
Mahalo!

[2020-09-05 09:56] #1789 closed

[2020-09-06 14:05] #1779 closed

[2020-09-06 14:40] mirekphd commented on #1718
And @toshihikoyanase there are apparently more hyperparameteres that require following this suggestion - all so called "Dataset parameters" (e.g. `max_bin`). To quote StrikerRUS from [here](https://github.com/microsoft/LightGBM/issues/3346#issuecomment-687653696): "those parameters are stored in dataset object and cannot be changed in train/cv functions. You should create new dataset to change the

[2020-09-07 04:49] spikefairway commented on #1739
@toshihikoyanase Thank you for your reply. I'm sure that your summary is corresponding to my solution.

[2020-09-07 04:59] harupy commented on #1067
FYI: https://docs.python.org/3/whatsnew/3.6.html

[2020-09-07 08:20] blurLake opened #1792 "How is the trial value calculated for RL jobs?"
Hi, I have a question about how is the trial value (or perhaps the validation score) calculated, e.g.,
`
Trial 323 finished with value: 57.2591552734375 and parameters: {'gamma': 0.05, 'lr': 0.0002252244861681433, 'learning_starts': 100, 'batch_size': 100, 'buffer_size': 10000, 'train_freq': 1, 'tau': 0.1, 'policy_delay': 2, 'noise_type': 'ornstein-uhlenbeck', 'noise_std': 0.28100749015027093, 'ne

[2020-09-07 11:05] RegiusQuant opened #1793 "LightGBMTuner don't seem to be reproducible"
## Expected behavior

I use LightGBMTuner to find params, but each run on the same dataset has different results

## Environment

- Optuna version: 2.1.0
- Python version: 3.8.5
- OS: Linux
- (Optional) Other libraries and their versions:

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1.
2.
3.

## Reproducible examples (optional)

[code]

## Additional context (optional)

[2020-09-07 22:14] eafpres commented on #429
This no longer seems consistent for TF 2.x.  Is there support for parallel trials for TF 2.x or another workaround?

[2020-09-08 00:32] kstoneriv3 opened #1794 "A proposal of `MutualInformationImportanceEvaluator`"
## Motivation

I propose a new parameter importance evaluation method using mutual information between the objective function and each parameter. ~Though there are some problems with this functionality,~(<- mostly solved!) I would like to discuss how we might be able to support this feature.

## Description

Mutual information can be estimated by using multivariate Parzen estimators, which is orig

[2020-09-08 00:45] hvy commented on #1792
Thanks for reaching out. I'm not sure I've understood the question correctly, but the trial value is not calculated by Optuna. The value that Optuna logs, as in your example, is simply the value returned by the user-defined objective function. (This is what Optuna optimizes.) What this function returns is up to you, i.e. it could be the validation score of something else.

I'm not that familiar wi

[2020-09-08 00:52] hvy commented on #1579
See also https://github.com/optuna/optuna/pull/1791

[2020-09-08 00:56] hvy opened #1795 "readthedocs pdf build is failing"
The pdf builds on readthedocs have been failing for the last couple of days. It was successfully built for v2.0.0 but is broken in `master` as well as in the latest v2.1.0 release.

It might be worth trying to reproduce the error with the readthedocs' official Docker image https://docs.readthedocs.io/en/stable/builds.html#docker-images.

[2020-09-08 00:57] hvy commented on #1579
See also https://github.com/optuna/optuna/issues/1795, although this might be beyond the scope of this issue.

[2020-09-08 02:01] HideakiImamura commented on #1694
Thanks for proposing `isort`! I'm looking forward to using `isort` in Optuna. It will speed up the development of Optuna.

By the way, PR #1695 is ongoing, so let me label `no-stale` to this Issue.

[2020-09-08 02:10] koh-joshua opened #1796 "Integration with PyCaret"
I have been playing with the low code machine learning library, PyCaret.

It has real potential for easy public adoption due to its simple high level / low code approach to ML.

However, the tuning part of PyCaret relies on random search or gridsearch, which I think would benefit tremendously from the Optuna magic.

Optuna + PyCaret = Machine learning for everyone?

[2020-09-08 02:22] HideakiImamura commented on #1793
Thanks for the report! Actually, `optuna.integration.lightgbm.LightGBMTuner` does not have any `seed` options, but `optuna.integration.lightgbm.LightGBMTunerCV` have `seed` option. I think we should add `seed` option to the `LightGBMTuner`.

@toshihikoyanase I'd like to know your opinion. What do you think?

[2020-09-08 02:59] toshihikoyanase commented on #1793
@HideakiImamura Thank you for letting me know.
We received a similar bug report (https://github.com/optuna/optuna/issues/1740#issuecomment-682494087), and I agree with you.

## Seed parameters in Lightgbm tuner

We will have three kinds of seeds in the LightGBM tuner.

1. A seed option in `params` of `lightgbm`
1. A seed as an argument of `lightgbm.cv`
1. A seed for Optuna samplers

The first `see

[2020-09-08 03:05] kstoneriv3 opened #1797 "A proposal of `SobolSampler`"
## Motivation
The use of quasi-random low-discrepancy sequences in place of random sampling is known to perform better [1]. Sobol sequence is one of such sequences and is reported to perform well in [1].

## Description
I implemented `SobolSampler` for optuna using a package [`sobol_seq`](https://github.com/naught101/sobol_seq), which is 1) lightweight and 2) distributed under MIT license. My impl

[2020-09-08 03:08] toshihikoyanase commented on #1766
Sorry for the delayed response.

@mrocklin

Thank you for your kind explanation. Now I understand the issue and your motivation for the new storage better.

@jrbourbeau

That's great 👍
 I'm looking forward to your implementation.

[2020-09-08 03:20] toshihikoyanase commented on #1718
@mirekphd Thank you for your information about the dataset parameters. I read the [list](https://lightgbm.readthedocs.io/en/latest/Parameters.html#dataset-parameters) of them, but I'm not sure if they affect the tuning targets of `LightGBMTuner`. It tunes the following seven parameters, and do you think they are related to the dataset parameters?

- lambda_l1
- lambda_l2
- num_leaves
- feature_fra

[2020-09-08 05:42] kstoneriv3 opened #1798 "Tune bandwidth of multivariate TPE"
## Issue
The current implementation of multivariate TPE (see my PR #1767) uses Scott's rule for bandwidth selection (of numerical distributions) and a heuristic rule for categorical distribution. However, I picked these rules as a tentative solution so I believe there might be some rooms for improvements.

## List of Potential Improvements

#### The constant factor of Scott's rule
Scott's rule set

[2020-09-08 11:29] nzw0301 opened #1799 "Hydra's plugin for Optuna sweeper"
## Motivation

In optuna, the searched space of hyperparameters might be difficult to be changed from the command-line interface directly.
One solution is supposed to take both an upper bound and lower bound of hyperparameters from a CLI such as `argparse`. But, personally, I feel costly.

[Ax](https://ax.dev/) is a similar framework to Optuna, and it enables us to pass the range of searched space

[2020-09-08 14:50] harupy commented on #1795
[The failed build log](https://readthedocs.org/projects/optuna/builds/11765639) says:

[code]

[This page](https://www.overleaf.com/learn/latex/Questions/What_does_%22%5Cpdfendlink_ended_up_in_different_nesting_level_than_%5Cpdfstartlink%22_mean%3F) says the error message means:

[2020-09-08 14:55] harupy commented on #1795
The doc build has been failing since this commit: https://github.com/optuna/optuna/commit/05365bbf17dcff0bc0bf242ff23cc3b77677b932

[2020-09-09 00:52] hvy commented on #1795
Thanks for your quick debugging. Do you know how we can address the issue, for instance if there's some configuration in sphinx that we can utilize? My understanding is that it could start to occur when we make a change to the documentation anywhere, and we additionally can't tell exactly where the error occurs.

[2020-09-09 01:11] harupy commented on #1795
I have no idea why this error occurs lol. One possible reason is that the example added by https://github.com/optuna/optuna/commit/05365bbf17dcff0bc0bf242ff23cc3b77677b932 pushes donw the hyperlinks in `Args`, `Returns` and `See also` sections and one of them breaks across two pages.

[2020-09-09 02:03] HideakiImamura commented on #1797
Thanks for the interesting proposal! Implementing the `SobolSampler` and introducing it to Optuna is important to improve the sampling performance. I'm looking forward to it!

One concern is that the `SobolSampler` may only be used when the search space is static. Allowing the dynamic search space is one of the most important Optuna features. I think it's important to know how to deal with this is

[2020-09-09 02:46] crcrpar opened #1800 "Hide `__init__`"
Since v2.0.0, the documentation displays dunder init though the explanation itself is not helpful at all rather it looks generated by Sphinx or whatever.

So I think hiding them would beautify the documentation.

![image](https://user-images.githubusercontent.com/16191443/92548133-31542800-f291-11ea-8930-84aca9e7a2f0.png)
(Capture from https://optuna.readthedocs.io/en/stable/reference/generated/op

[2020-09-09 03:11] crcrpar opened #1801 "Fix `mypy` in an environment where some dependencies are installed"
Currently, mypy fails if the environment like optuna/optuna:py3.7-dev has some integration dependencies installed as follows (though the command itself was ran the other day):

If this problem is solved, we can easily run mypy checks locally.

[code]

[2020-09-09 15:57] nzw0301 commented on #1669
I found a similar issue by chance. Several features in pytorch-lighting have been deprecated around `v.0.7.0`.

The current example is not working on `v0.9.0` that is the latest release version of PyTorch-lighting because optuna uses `data_loader` decorator and `amp_level` that are removed.

---

## Reference

I updated PyTorch-lighting to `v0.8.1.`, and run `pytest tests/integration_tests/test_py

[2020-09-09 16:45] nzw0301 commented on #1669
I suppose that the following update for `tests/integration_tests/test_pytorch_lightning.py` is necessary for `v0.9.0`:

- Remove `@pl.data_loader`

We might rename `validation_end` function with `validation_epoch_end` (and the first comment by @crcrpar ) for `v1.0.0` because `validation_end` and `val_percent_check ` will be removed.

[2020-09-09 18:23] z7ye opened #1803 "plot_contour"
## Expected behavior

## Environment

- Optuna version: 2.0.0
- Python version:3.6.9
- OS:LINUX
- (Optional) Other libraries and their versions:

## Error messages, stack traces, or logs
in version 2.0.0 the code for contour plot use "max_value - min_value", in the case of categorical features, this will give an error.
[code]
In version 1.9.0,
[code]

[2020-09-09 20:22] jrbourbeau commented on #1766
I've put together a [`dask-optuna` package](https://github.com/jrbourbeau/dask-optuna) which has a Dask-compatible `DaskStorage` class that implements Optuna's `BaseStorage` API (roughly as outlined in https://github.com/dask/dask/issues/6571#issuecomment-684979667). The `DaskStorage` class works well with Optuna's existing Joblib internals, so it can be used directly with Optuna's API.

For examp

[2020-09-09 22:39] ytknzw commented on #1803
I think this can be fixed with any numerical conversion like in ``_plot_parallel_coordinate.py``:
[code]

[2020-09-10 04:09] HideakiImamura commented on #1801
Thanks for raising an important issue for developers. Now, I'm working on this issue relating to PR #1755. So, let me remove the `contribution-welcome` label.

[2020-09-10 09:04] crcrpar commented on #1669
Thank you for correcting me about the deprecated features 🙂

That log doesn't throw any error of PyTorch Lightning and Optuna CI has used PyTorch Lightning v0.9.0 and I've not seen any error due to the version of the deprecated.

[2020-09-10 09:15] kstoneriv3 commented on #1797
Thank you for your interest! At the moment, `SobolSampler` samples from the same search space as the first trial or the one specified by the user (using sample_relative). If a parameter to sample is not included in the above space, it will just use independent sampling. So users need to make sure to specify search spaces which they want to efficiently cover.

Though I am not an expert of the Sobol

[2020-09-10 09:34] keisuke-umezawa commented on #1334
I added `optuna.logging.*` because they will be used by Optuna customers

[2020-09-10 09:58] nzw0301 commented on #1669
Oh, really? My local test result by using Docker is as follows

[code]

[2020-09-10 10:46] nzw0301 commented on #1669
I think that it happens on a machine without GPUs.

[2020-09-10 11:14] crcrpar commented on #1669
There was the commit: https://github.com/optuna/optuna/pull/1667

Could you check which commit you're using or based on?

[2020-09-10 11:38] nzw0301 commented on #1669
I could solve the issue by applying the commit suggested by you. I'm really sorry for taking your time. (My branch was based on the old master branch.)

[2020-09-10 12:27] crcrpar commented on #1669
Nice!

You shouldn't feel sorry about that. I'm here to help you.

[2020-09-10 13:58] konradsemsch commented on #1500
Hi @toshihikoyanase! How should we proceed with this issue? I just updated to the latest version of Optuna and was surprised to see that the error persists.

[2020-09-10 15:48] toshihikoyanase commented on #1500
@konradsemsch I'm sorry for the delayed response.
I couldn't reproduce your failure even if I use `lightgbm==2.3.1`.
If possible, could you share executable code to reproduce the failure?

BTW, I some developer reported that LightGBM Dataset also has tuning parameters, and it may cause errors if we repeatedly train models with the same dataset. It may be related to your issue, and I created a draf

[2020-09-11 00:15] toshihikoyanase opened #1806 "Increase coverage of metric alias of `LightGBMTuner`"
In #1602, the alias of `l2` has been supported by `LightGBMTuner`. However, the original `lightgbm` has more metric aliases as can be seen in [ParseMetricAlias](https://github.com/microsoft/LightGBM/blob/083b02af73b8fcf9a92af78612c6cca6243df752/include/LightGBM/config.h#L1111-L1112), and some of them are not supported by `LightGBMTuner`.

Please add the aliases of the following metrics to [`_ALIAS

[2020-09-11 00:37] hvy commented on #1067
From our CI.
`DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.`

We should probably update the CI matrix and docs accordingly.

[2020-09-11 01:58] hvy commented on #782
Ongoing at https://github.com/optuna/optuna/pull/1722.

[2020-09-11 06:06] hvy commented on #1579
#1791 is now merged. Let me close this issue as fixed!

[2020-09-11 06:06] #1579 closed

[2020-09-11 11:24] koh-joshua commented on #1796
Looks like Optuna will be made available as an option, although possibly wrapped in Ray-Tune. All good.

[2020-09-11 11:24] #1796 closed

[2020-09-11 12:42] #1753 closed

[2020-09-11 14:03] ytknzw opened #1809 "`plot_parallel_coordinate` connects data points from different trials when `objective` function has conditional branches."
## Expected behavior
The `plot_parallel_coordinate` function connects data points only from the same trial.

## Environment

- Optuna version: 2.0.0
- Python version: 3.7.3
- OS: macOS 10.14.6
- plotly: 4.9.0

## Error messages, stack traces, or logs
No error message but the `plot_parallel_coordinate` function connects data points from different trials when `objective` function has conditional bra

[2020-09-12 01:56] sfujiwara opened #1811 "Improvement proposal for TensorBoard integration"
## Motivation

- Improve the display of TensorBoard

## Description

### 1. Trial ID

I guess using directory name as trial ID is helpful to find a good trial.
Current integration uses default hash.

**Current display**
![スクリーンショット 2020-09-12 10 17 18](https://user-images.githubusercontent.com/2109535/92984505-84261d80-f4e5-11ea-87c1-fef52051fe2e.png)

**Proposal**
![スクリーンショット 2020-09-12 10 08 48]

[2020-09-12 05:42] #1669 closed

[2020-09-12 07:13] hvy commented on #1067
Python 3.5 dropped from CI in https://github.com/optuna/optuna/pull/1810

[2020-09-12 07:30] #1811 closed

[2020-09-12 07:58] norihitoishida commented on #1117
Related PR : Reseed sampler's random seed generator in Study. #968

[2020-09-12 10:34] sile commented on #1803
Fixed by #1819

[2020-09-12 10:34] #1803 closed

[2020-09-13 17:39] tbenst opened #1827 "Use of function in categorical breaks log_study"
## Expected behavior

I have this line of code: `nonlinearity = trial.suggest_categorical("nonlinearity", [F.relu, F.celu, F.sigmoid, F.tanh, F.leaky_relu, F.gelu, F.hardswish])`. Log study should succeed.

## Environment

- Optuna version: 2.1.0
- Python version: 3.8
- OS: Ubuntu

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. In `optimize` select categorical variable

[2020-09-14 08:02] #1694 closed

[2020-09-14 17:15] pinnzhang commented on #1765
Have you figure this out? I am having the same problem.

[2020-09-14 18:33] tbenst commented on #1417
I also have this issue--I never see pruning with `PyTorchLightningPruningCallback` as of 2.1.0

[2020-09-14 19:15] bartmch commented on #1765
No I didn't unfortunately 😞

[2020-09-14 20:00] nzw0301 commented on #1827
I suppose that you can solve the bug by replacing the line `nonlinearity = trial.suggest_categorical("nonlinearity", [F.relu, F.celu, F.sigmoid, F.tanh, F.leaky_relu, F.gelu, F.hardswish])` as follows:

[code]

This is because Optuna's [`suggest_categorical`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.trial.Trial.html#optuna.trial.Trial.suggest_categorical) assume that argu

[2020-09-14 20:17] nzw0301 commented on #1827
If you do not need to use `contour_plot` via `neptunecontrib`, your example works well because the error comes from `optuna.visualization.plot_contour`.

[2020-09-14 20:42] nzw0301 commented on #1827
It might be possible to extend `optuna.visualization.plot_contour` to plot categorical values that are functions by replacing

https://github.com/optuna/optuna/blob/a4237f087ec01bcd2c181d8a1a7d553d2292b7cf/optuna/visualization/_contour.py#L97 with

[code]

[2020-09-15 03:14] toshihikoyanase commented on #1809
Thank you for reporting the issue.

I think the following code will connect different trials if parameter values are missing.

https://github.com/optuna/optuna/blob/a4237f087ec01bcd2c181d8a1a7d553d2292b7cf/optuna/visualization/_parallel_coordinate.py#L92-L94

IMO, the trials that have missing parameter values could be excluded from the plot. This is because
1. we expected such behavior when we wro

[2020-09-15 09:20] nzw0301 opened #1834 "`visualization.plot_contour` with `suggest_categorical` that contains `None`"
## Expected behavior

`visualization.plot_contour` shows an error if `params` contains a hyper-parameter that could be `None`.  But `choice` option of `suggest_categorical` can contain `None` as an element, so, I think users expect the plot functions perform in such a case.

I'm not sure that the other visualisation functions have a similar issue.

## Environment

- Optuna version: https://github.

[2020-09-15 10:02] hvy commented on #1766
Thanks you for the interesting discussion and sorry for joining it late. I tried to catch up going through the threads and running some examples using `dask-optuna`.

With `dask-optuna`, is my understanding correct that the client/scheduler does of some sort of locking/coordination on top of the existing storages in Optuna? Although it adds a layer of complexity, it seems like a quick way to suppo

[2020-09-15 10:08] hvy commented on #1766
Just a note on the dependency of `joblib`. There are some ongoing discussions whether `joblib` should be kept within Optuna or maybe moved out. In the latter case, `joblib` would no longer be a dependency and users would be free to parallelize the trials in user code, but no longer by relying on `n_jobs` in `Study.optimize`. I guess this discussion is relevant to `dask-optuna`, and we might want t

[2020-09-15 18:12] Madman600 opened #1835 "Is there anyway to disable the ExperimentalWarnings"
I'm trying to output parameters for a multi objective study when a new best optimization is found but the ExperimentalWarnings are cluttering things up. Is there any way to turn these off whilst still keeping other log output?

[2020-09-15 18:31] jrbourbeau commented on #1766
Thanks for the feedback @hvy!

That's correct! `dask-optuna` creates a single Optuna storage class on the Dask scheduler process. The Dask client and scheduler then coordinate with each other to dispatch method calls on the `dask-optuna` storage class to the underlying Optuna storage class on the scheduler:

[code]

A database still needs to be created, but setup is generally easier with `dask-opt

[2020-09-15 18:35] mrocklin commented on #1766
To clarify, the `DaskStorage` consumes a normal optuna `Storage`, but provides distributed workers fast access to that storage.  This could be a storage backed by a database, or it could be an in-memory storage.

Users without a database should be able to use dask-optuna without any additional setup.  Taking an example from @jrbourbeau 's comment above,

[code]

[2020-09-15 18:36] mrocklin commented on #1766
+1

I wouldn't keep joblib in optuna because of Dask-Optuna.  I estimate that replacing the joblib functionality with raw Dask would take only a few hours.

[2020-09-15 18:38] c-bata commented on #1835
Hi @Madman600. I guess you can use `warnings.filterwarnings()` like:

[code]

https://docs.python.org/3/library/warnings.html#warnings.filterwarnings

[2020-09-16 06:50] hvy commented on #1766
Thanks for elaborating on the mechanism behind `dask-optuna` works and the input that we can discuss the `joblib` dependency orthogonally to this. I agree. It's also good to know that you've already implemented a `dask_optuna.optimize`. The logic was by the way quite similar to what I was expecting, running a single trial per job.

There are no issues or public forums addressing this, but some rel

[2020-09-16 12:47] Jie-Yuan opened #1839 "how to close optuna log"
![image](https://user-images.githubusercontent.com/20265321/93339158-d193e900-f85d-11ea-88ba-6e6064ddd3de.png)

[2020-09-16 13:02] c-bata commented on #1839
Hi @Jie-Yuan. You can set the threshold level for the logger via `optuna.logging.set_verbosity()` function.

[code]

[2020-09-16 13:15] c-bata commented on #1569
Hi @koh-joshua. I found the bug on my CMAES library and fixed it at v0.6.1. So your problem might be resolved after upgrade cmaes library.
https://github.com/CyberAgent/cmaes/releases/tag/v0.6.1

[2020-09-16 13:21] c-bata commented on #1569
By the way, can I close this issue?

If your problem will not be resolved, please post the entire code to reproduce the problem. I understand that this may not be possible, but it is hard to fix the performance issue without reproducing.

[2020-09-16 19:14] Madman600 commented on #1835
Thanks. How can I turn logging for optuna off completely?

[2020-09-16 19:33] Madman600 commented on #1835
Never mind I figured it out, I was calling disable_default_handler in a method where I create my logger instead of when the module is executed initially.

[2020-09-16 19:33] #1835 closed

[2020-09-17 02:10] HideakiImamura commented on #1834
Thanks for raising an important issue! This is a critical bug. To address this issue, how about mapping the choices to its index arrays?

[2020-09-17 04:15] HideakiImamura commented on #1801
## Note
In PR #1804, to address the `error: Cannot assign to a type` issue for `optuna/integration/chainer.py:13:`, I just add `# type: ignore`.
[code]
However, as pointed by @toshihikoyanase in #1804, there are the same substitutions in other places such as
[code]
I don't know how we avoid `error: Cannot assign to a type` without `# type: ignore`. This is future work for #1804. I will add the `co

[2020-09-17 05:26] toshihikoyanase commented on #1801
@HideakiImamura Thank you for adding a comment about my review point.

If you make the problem `contribution-welcome`, how about creating an independent issue? It will clarify the focus and would be helpful for contributors.

[2020-09-17 06:36] HideakiImamura commented on #1801
@toshihikoyanase Thank you for the comment. I will create another issue after merging PR #1804.