[2020-01-30 09:43] hvy commented on #835
Sorry for the delayed response, and thanks. I agree that the current documentation somewhat assumes that TPE would be the obvious choice for many and that details aren't of that much interest. At the same time, https://optuna.readthedocs.io/en/latest/reference/study.html#optuna.study.create_study will guide you to [the page listing all sampler](https://optuna.readthedocs.io/en/latest/reference/sam

[2020-01-30 10:02] erniejunior opened #879 "PyMysql error not catched"
During distributed optimization with five workers, one crashed with the following error:
[code]
Full log with all stack traced here: [failure.log](https://github.com/optuna/optuna/files/4133355/failure.log)

It looks like some problem with the pymysql driver which is of course not your fault. However it would be nice if such errors were caught and the trial dropped instead of crashing the entire w

[2020-01-30 10:46] toshihikoyanase commented on #879
Thank you for reporting the issue. I have two comments on it.

## 1. Connection timeout

I think it is related to https://github.com/optuna/optuna/issues/622 because both of them are caused by the connection timeout.

Please try [the workaround](https://github.com/optuna/optuna/issues/622#issuecomment-566916494) shown in the issue. Or please update Optuna with the master branch of this repository

[2020-01-30 10:57] smly commented on #861
Partially correct. The evaluation result of "auc" is not used in my example code, but it doesn’t mean something is overridden. You can omit `param['metric']`.

More precisely, as described in [LightGBM document](https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric), `param['metric']` is **the metric(s) to be evaluated on the evaluation set(s)**. It doesn't mean that `param['metric']` i

[2020-01-30 11:41] flamby commented on #861
Thanks for the clarification @smly

and keep the good work!

closing then.

[2020-01-30 11:41] #861 closed

[2020-01-30 12:15] twolodzko commented on #835
When I have more time to play around with it and go through some of the code, I'll consider contributing by improving the documentation.

[2020-01-31 01:11] toshihikoyanase opened #883 "Update the TensorFlow Estimator example using v2 APIs."
## Motivation

Thanks to #868 and #871, the examples for TensorFlow Estimator works with tensorflow>=2.0.0. In the PRs, they use `tf.compat.v1` mainly to minimize the changes, but they will possibly be obsolete in the future. So, we'd like to update the examples before TensorFlow stops the support of v1 APIs.

## Description

Please update the following examples using v2 APIs of TensorFlow.
- [`ex

[2020-01-31 01:18] nuka137 commented on #734
@g-votte

Created PR #882 .

P.S.
I also noticed `make doctest` raises below error in newest scikit-learn (0.22.1).
I think `_index_param_value` is removed in newest scikit-learn. (https://github.com/scikit-learn/scikit-learn/pull/15863/files)

[code]

[2020-01-31 01:44] g-votte commented on #734
@nuka137
Cool! Let us take a look.

Regarding the scikit-learn problem, the version is limited as `<=0.22.0` in [`setup.py`](https://github.com/optuna/optuna/blob/master/setup.py#L70), just because `_index_param_value` has been removed as you mention.

#881 is addressing this issue.

[2020-01-31 02:30] crcrpar commented on #870
Thank you for reporting @nyanp!

As #872 is merged, let me close this issue.

[2020-01-31 02:30] #870 closed

[2020-01-31 09:52] c-bata commented on #798
The implementation of [this library](https://github.com/CyberAgent/cmaes) might help this issue.

https://github.com/CyberAgent/cmaes#execution-speed

[2020-01-31 10:48] toshihikoyanase commented on #798
@c-bata
Cool!! It must be useful for this issue. Thanks!

@crcrpar
I'm really sorry for the late reply. You withdrew #805 but your new idea in #809 that uses bracket-specific studies seems to be useful for this issue especially for the first approach. Thank you for your suggestion.

[2020-01-31 10:49] c-bata commented on #798
I found a solution for better performance withouut `ensure_constant_search_space=True`. I've just implemented, then the latest benchmark results are below:

![screenshot](https://user-images.githubusercontent.com/5564044/73533652-b2795000-4462-11ea-9811-5baf3bb370f8.png)

[2020-02-02 16:50] DiegoAE opened #886 "Order of reported intermediate values of a trial"
Does optuna guarantee to keep the reported order of  intermediate values regardless of the RDB used?

I'm using postgresql as DB backend, and when I try to plot the intermediate values using `plot_intermediate_values` I get strange plots (see attachment). The reason is related with the order in which the values are loaded for plotting. For instance, the orange trial in the upper part loads the dic

[2020-02-03 05:31] toshihikoyanase commented on #886
Thank you for reporting the issue.

It seems to be a bug of [`FrozenTrial`](https://optuna.readthedocs.io/en/stable/reference/structs.html#optuna.structs.FrozenTrial) and [`Storages`](https://optuna.readthedocs.io/en/stable/reference/storages.html), and I created a PR (i.e., https://github.com/optuna/optuna/pull/887) to fix it.

If the PR does not work in your environment, could you show us your e

[2020-02-03 18:12] DiegoAE commented on #886
Thanks for the prompt fix @toshihikoyanase.

[2020-02-03 18:12] #886 closed

[2020-02-04 00:57] hayata-yamamoto opened #888 "Is it possible to add suggest_discrete_int?"
Hello, Developers,
Is it possible to add `suggest_discrete_int` method to trial?

## Motivation

We want to make a grid somehow so that parameter search becomes more efficient and less time-consuming.

## Description

Optuna already has a discrete_uniform method on optuna.Trial. It's quite useful, but some of the models require integer values as their arguments. For instance, XGBoost. Since n_esti

[2020-02-04 04:47] toshihikoyanase commented on #888
Hi @hayata-yamamoto,

Thank you for your request!
We have already received similar requests like https://github.com/optuna/optuna/issues/510 and are discussing the design of new APIs there. (The last comment was about four month ago, though.) I think the (b) API of [this comment](https://github.com/optuna/optuna/issues/510#issuecomment-536868317) is corresponding to your request.

suggest_int(name

[2020-02-04 05:54] hayata-yamamoto commented on #888
@toshihikoyanase
Nice information! I'm sorry for bothering you!

I'll close this issue

[2020-02-04 05:54] #888 closed

[2020-02-04 05:56] hayata-yamamoto commented on #510
@sile
Do you have any progress in this?
I'm still looking forward to implementing this feature.

[2020-02-04 06:58] sile commented on #510
@hayata-yamamoto

Thank you for looking forward to this feature. But, unfortunately, there has been almost no progress since last year. Though Optuna dev team will be still busy for the coming months, we will keep in mind that this is a wanted feature and try to implement it if possible.

[2020-02-04 10:51] toshihikoyanase opened #891 "Add an example to use `XGBoostPruningCallback` with `xgboost.cv`."
## Description

Thanks to #865 , `XGBoostPruningCallback` works with `xgboost.cv` (i.e., the cross-validation feature of XGBoost). As suggested in [this comment](https://github.com/optuna/optuna/pull/865#pullrequestreview-352015224), please add a new example to `examples/pruning` in order to demonstrate how to use the pruning feature with the cross-validation.

Please note that `xgboost.cv` does n

[2020-02-04 10:57] Crissman opened #892 "Parallelism and sequential algorithms"
Many of the sampling algorithms in Optuna assume sequential sampling, which is violated when parallel trials are run. We should look at implementing an algorithm like [NNI's Constant Liar](https://github.com/microsoft/nni/blob/98f66f76d310b0e0679823d966fdaa6adafb66c2/docs/en_US/CommunitySharings/ParallelizingTpeSearch.md) to address this.

[2020-02-04 11:01] erniejunior commented on #879
Thank you @toshihikoyanase for the hints! When do you plan the next release of optuna? I would rather use released software for my experiments for the sake of reproducability.

[2020-02-04 12:11] toshihikoyanase commented on #879
Not decided yet, but I think we can release the next minor update soon (c.f., [milestone of v1.1.0](https://github.com/optuna/optuna/milestone/20)).
I'll let you know as soon as we release it.

[2020-02-05 00:04] hayata-yamamoto commented on #510
@sile
Oh..., I appreciate your informing.

I wonder which solution is likely to be implemented.
If it's in agreement, contributors (including me) can make this feature instead of core developers, I afraid.

[2020-02-05 02:31] 876arham commented on #892
I would like to work upon this problem!

[2020-02-05 06:10] Y-oHr-N commented on #534
Sorry for the late reply.

That is a good news for me.

We hope to discuss merging at the Optuna development sprint event on March 1. Current differences between LightGBMTuner and OptGBM that I know are as follows.
https://speakerdeck.com/yohrn/8th-place-solution-of-autowsl-2019?slide=14

[2020-02-05 06:40] hvy commented on #823
Looking forward to your paper. 👍  Do you have further ideas on how to implement it that you might be able to share? As for filtering past trials, we've actually recently merged an implementation of the [Hyperband pruner](https://github.com/optuna/optuna/pull/809) which defines its own [Study subclass](https://github.com/optuna/optuna/blob/master/optuna/pruners/hyperband.py#L144-L178) overriding `g

[2020-02-05 07:33] PhilipMay opened #894 "Question: Is it ok to open SQLite database file twice?"
While I do a training with:
[code]

I want to open up an other notebook and read the data from the database like you describe here: https://optuna.readthedocs.io/en/stable/tutorial/rdb.html#experimental-history

The question is: is it ok to open the database file (SQLite) twice?

Thanks
Philip

[2020-02-05 08:28] toshihikoyanase opened #895 "[RFC] BatchTrial that suggests and evaluates multiple configuration sets at once."
## Motivation

In training/inference of neural networks, data are usually processed using mini-batch to accelerate the data process using devices like GPUs. Thanks to the tensor computing frameworks including numpy and cupy, it is easy to write such batched functions for usual numerical optimization.

Currently, Optuna hardly benefits from such batched functions because it assumes each trial sugge

[2020-02-05 09:46] sile commented on #894
Thank you for your question.

It's okay unless you place an SQLite database file on NFS.
SQLite doesn't allow multiple applications to open the same database file on NFS simultaneously. If you are interested in the detail, please refer to [the SQLite official FAQ entry](https://www.sqlite.org/faq.html#q5).

[2020-02-05 10:01] smly commented on #534
@Y-oHr-N, thanks for your comments! I'm looking forward to discussing OptGBM with you at the event.
Now that https://github.com/optuna/optuna/pull/896 is merged and OptGBM is listed in `examples/README.md`. Let me close this issue as resolved. Thanks again for your great work!

[2020-02-05 10:01] #534 closed

[2020-02-05 10:57] smly commented on #810
Resolved by https://github.com/optuna/optuna/pull/865.

[2020-02-05 10:57] #810 closed

[2020-02-05 11:31] PhilipMay commented on #894
Awsome. Thanks!

[2020-02-05 11:31] #894 closed

[2020-02-06 04:19] toshihikoyanase commented on #879
@erniejunior Optuna v1.1.0 was released today! You can try it with `pip install -U optuna`.
I hope `pool_pre_ping` (https://github.com/optuna/optuna/pull/806) can resolve your problem.

[2020-02-06 04:49] crcrpar opened #899 "Improve `HyperbandPruner`"
The current bracket selection and budget computation are a bit too naive. Thus I'm wondering if we can improve them although I have no idea.

Note that the two methods are vertical so that we can access them independently.

- https://github.com/optuna/optuna/blob/f7fb69bc49ef534cdbaeb16597e86043bf3b0bce/optuna/pruners/hyperband.py#L114-L119
- https://github.com/optuna/optuna/blob/f7fb69bc49ef534cd

[2020-02-06 06:25] hvy commented on #877
Closing as fixed by #884 .

[2020-02-06 07:18] #877 closed

[2020-02-07 00:55] sile opened #902 "Add `step` option to `Trial.suggest_int()` method."
It seems beneficial to add `step` option to `Trial.suggest_int()` method. The option can control the interval of the sampled parameter values as follows:

[code]

## Motivation

This is one of the frequently requested features by users (see the following issues):

- #510
- #888

## How to implement this feature?

I think that one of the possible solutions is to expand [IntUniformDsitribution](http

[2020-02-07 01:21] sile commented on #510
Hi @hayata-yamamoto, sorry for the delayed response.

To clarify the design and approach, I created a contribution-welcome issue #902 for, so-called, `suggest_discrete_int()` method. I'd really appreciate it if you (or other contributors) could implement the feature.

[2020-02-07 02:51] toshihikoyanase commented on #695
Hi @arita37
We have a development sprint on March 1 at Otemachi, Tokyo. I think it would be a good opportunity to discuss AutoML and Optuna. If you are interested in the event, please join it via
https://optuna.connpass.com/event/163940/.

[2020-02-07 04:45] sile opened #904 "The doc of `optuna.integration.lightgbm.train` function cannot be generated if LightGBM isn't installed."
Due to the bug the title describes, [the current API reference doc](https://optuna.readthedocs.io/en/latest/) doesn't contain the entry of `optuna.integration.lightgbm.train` function.

# Expected behavior

The build of the function doc should be succeeded even if LightGBM isn't installed in the build environment.

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. Ensure

[2020-02-07 05:01] arita37 commented on #695
Hello,

Thanks for sharing, thats look interesting.
I have my small son to manage,
but I will try to join it.

Thanks

[2020-02-07 05:38] toshihikoyanase commented on #695
@arita37 Oh! I see. Family comes first.
If possible, I'm looking forward to seeing you.

[2020-02-07 06:07] hayata-yamamoto commented on #510
@sile
Thanks!

[2020-02-07 06:18] sile commented on #510
Great!

[2020-02-07 06:32] keisuke-umezawa commented on #904
I will take it.

[2020-02-07 06:35] sile commented on #904
Thanks! Please go for it.

[2020-02-07 09:16] #851 closed

[2020-02-08 02:21] david-leon opened #905 "Why element of `CategoricalDistribution` can not be list or tuple?"
For use of `trial.suggest_categorical()`, I got warning as `Choices for a categorical distribution should be a tuple of None, bool, int, float and str for persistent storage but contains ['m, 's'] which is of type list.`
Is there any reason that element of `CategoricalDistribution` can not be list or tuple? It seems all right if I ignore the warning, is there any risk if I do so?

## Note to the q

[2020-02-08 04:24] arita37 commented on #695
In any case,
Can we discuss over chat channel ?

I was busy by other topic
but interest in this topic.

[2020-02-08 06:45] crcrpar commented on #905
Hi @david-leon

Good question!
One possible reason is that tuple is immutable while list is mutable (ref: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).
So, if the choices is list, it can be changed at some point even during the `study.optimize`. However, if it is tuple, we cannot change it after the construction.

Here's the simple example that shows the difference

[2020-02-08 09:25] c-bata commented on #905
Hi @crcrpar

I guess the questioner want to defined a search parameter like `trial.suggest_categorical([ ['m', 's'], ['a', 'b'] ])`. At least, the warning message is only shown at such a situation (see [here](https://github.com/optuna/optuna/blob/5d217a44133e47cb39d6384ea48dd514840dc3c0/optuna/distributions.py#L295-L300) for details). And `suggest_categorical` converts a `choices` argument to `tup

[2020-02-09 09:01] #825 closed

[2020-02-09 15:16] PhilipMay opened #906 "Hyperband Usage Documentation"
First many thanks for the new hyperband pruner.

I would like to request some more information on how to use it. I guess that it is necessary to tune the default parameters. Maybe you could provide some more information then just link to the papers. When should I set which parameter to what value?

The paper talks about an infinite horizon setting. Since I often do not set the number of iterations

[2020-02-09 18:57] yutayamazaki commented on #891
@toshihikoyanase I will work on this issue.

[2020-02-10 01:00] toshihikoyanase commented on #891
@yutayamazaki Thank you!

[2020-02-10 05:42] kondo-kk opened #909 "lightgbm tuner can't handle 'ndcg' metric"
When I set 'ndcg' as metric, ligbtgbm_tuner raise key error at `booster.best_score[valid_name][metric]`

## Expected behavior

 Probably, 'metric' variable at the tuner is 'ndcg' but `booster.best_score` dictionary at the booster class stores 'ndcg@20'. So the  KeyError has raised.

## Environment

- Optuna version: 1.1.0
- Python version: 3.5.3
- OS: Debian GNU/Linux 9
- (Optional) Other librarie

[2020-02-10 06:21] toshihikoyanase commented on #695
It supports the pruning feature. Cool!
Currently, it only use MedianPruner, but [HyperbandPruner](https://optuna.readthedocs.io/en/stable/reference/pruners.html#optuna.pruners.HyperbandPruner) is available since v1.1.0. The HyperbandPruner showed better performance than MedianPruner in [this benchmark result](https://gist.github.com/sile/18fc40dbc597d588aad7216443877f24). Please try it in your tas

[2020-02-10 08:50] arita37 commented on #695
Thanks, will check it
in mlmodels.

Role of mlmodels is to be framework agnostic
and various models and optimisers.

If you have some comments on mlmodels,
feeel free.

[2020-02-10 11:05] toshihikoyanase commented on #909
Hi @kondo-kk,
Thank you for reporting the issue.
I think I can reproduce the error in [this notebook](https://colab.research.google.com/drive/1NH3CtNuo7hsZWi4u7E1YOPHKWyP-7x0o). It probably has some problems because I'm not familiar with learning-to-rank using LightGBM.
If you have any comments or questions, please let me know. Or, it would be a great help of us if you share your working examples.

[2020-02-11 07:09] PhilipMay opened #913 "Clean running trials"
## Motivation

You do not have to specify the number of trials in `study.optimize`. Then you can stop the optimization with "KeyboardInterrupt". When your optuna is connected to a DB the trail you interruped will stay in status "running" for ever. I am not sure what this means for the optimizer but my guess is that it is not good when you restart the optimization. This is because optuna thinks tha

[2020-02-11 17:47] Y-oHr-N opened #914 "Unable to reproduce results before and after a study is deepcopied"
The behavior is different between 0.19.0 and 1.x.x.

## Environment

- Python version: 3.6.5
- OS: Windows 10

## Examples

[code]

## Logs

### v0.19.0

[code]

### v1.0.0

[code]

### v1.1.0

[code]

[2020-02-12 02:36] c-bata commented on #914
It seems a cause of this problem is the following commit.
https://github.com/optuna/optuna/commit/3f01ca234d91dd5281e784f9c0f5f124f897f275

[2020-02-12 03:36] c-bata opened #916 "Problem of TPE optimization with `DiscreteUniformDistribution`"
I suspect that the implementation of TPE with `DiscreteUniformDistribution` has a problem when building its surrogate model. To check the problem, I prepare the following simple snippet:

[code]

The best_params is `Best value: 8.0 (params: {'x': 6.0, 'y': -10.0})`. And the execution log is following.

<details>

<summary>execution log</summary>

[code]

</details>

Then I optimized the same objec

[2020-02-12 04:43] #797 closed

[2020-02-13 04:10] nuka137 commented on #883
@toshihikoyanase (cc: @arpitkh101)

I created PR which uses only v2 API. (#924)
This PR uses premade estimator API instead of API sets of `tf.compat`.
After I created PR, I noticed that @arpitkh101 already created PR which uses `tf.compat.v2`.
Should I rename this example to co-exist?
Thanks!

[2020-02-13 05:49] c-bata opened #925 "Idea for performance improvements of DiscreteUniformDistribution"
## Motivation

I suspect that the current implementation around the discrete uniform has a performance issue.

I assume that we obtain three evaluatioin values of minimization problem which holds a single-dimensional search space `DiscreteUniformDistribution(name='x', low=0, high=10, q=1.0)`.

* x=2 -> f(x) = 4
* x=5 -> f(x) = 1
* x=9 -> f(x) = 10

It seems there are promising parameters around `x

[2020-02-13 06:58] #905 closed

[2020-02-14 05:49] sile commented on #417
Closing this issue, since we have merged #520 that implements the `Study.enqueue_trial()` method, which can be used to set initial search parameters.

[2020-02-14 05:49] #417 closed

[2020-02-14 07:59] PhilipMay commented on #906
Maybe you both could help with this? @crcrpar @arita37

[2020-02-14 08:13] stakky commented on #852
@sile Hi. Can I take this issue?

[2020-02-14 08:15] sile commented on #852
Of course, please go for it!

[2020-02-14 08:36] #883 closed

[2020-02-14 09:26] toshihikoyanase opened #930 "[Reminder] Update `examples/pruning/tensorflow_estimator_integration.py`."
This issue is just a reminder to update `examples/pruning/tensorflow_estimator_integration.py` as commented [here](https://github.com/optuna/optuna/pull/924#issuecomment-586012905).

[2020-02-16 07:20] keisuke-umezawa opened #933 "Explicit explanation how to write docstring"
As contributors write docstrings for their implementations, it is better to show an explicit example how to write docstrings.
e.g. in [pytorch reference](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#writing-documentation), it refers [Google style](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) docstrings.

Currently, in optuna, there are no explicit

[2020-02-16 07:46] keisuke-umezawa commented on #734
I greped files which use `.. code ::`. I think it means wrong usage of doctest.

- [ ] optuna/visualization/parallel_coordinate
- [ ] optuna/visualization/slice
- [ ] optuna/visualization/intermediate_values
- [ ] optuna/visualization/optimization_history
- [ ] optuna/visualization/contour
- [ ] optuna/logging
- [ ] optuna/storages/rdb/storage
- [ ] optuna/trial
- [ ] optuna/pruners/successive_hal

[2020-02-16 08:48] arpitkh101 commented on #933
Same problem

[2020-02-16 14:33] PhilipMay commented on #906
For example I am interested in the question on how to configure the Hyperband pruner when your trial needs 5 hours to fit and when you can only afford to calculate like 40 trials. And under which conditions is it useful to change the default parameters?

[2020-02-17 01:31] #916 closed

[2020-02-17 01:31] c-bata commented on #916
Fixed at #917.

[2020-02-17 04:24] hvy commented on #734
A related topic https://github.com/optuna/optuna/issues/933.

[2020-02-18 05:13] c-bata opened #938 "AttributeError is raised when using RDB storage."
## Reproducible examples (optional)

[code]

## Expected behavior

tag: v1.1.0

[code]

## Error log

rev: 7344ee0f

[code]

## Environment

- Optuna version: 1.2.0 (master branch, rev: 7344ee0f).
- Python version: 3.8.1
- OS: macOS
- (Optional) Other libraries and their versions:

## Steps to reproduce

1. Optimize with RDB storage backend.

## Additional context (optional)

[2020-02-18 05:22] c-bata commented on #938
It seems this bug is raised after https://github.com/optuna/optuna/pull/844

[code]

[2020-02-18 05:34] c-bata commented on #938
I reverted #844 at.
https://github.com/optuna/optuna/compare/master...c-bata:revert-progress-bar?expand=1

Then I confirmed this bug will be fixed.

[code]

[2020-02-18 07:37] toshihikoyanase commented on #938
I failed to reproduce this problem when I used docker as follows:

938.py
[code]

[code]

Could you share more information about your environment such as the output of `pip freeze`?

[2020-02-18 07:43] c-bata commented on #938
Hmm... Here is the results of `pip freeze`.

[code]

[2020-02-18 07:48] toshihikoyanase commented on #938
Thank you for your swift reply! I'll check further details.

[2020-02-18 07:53] c-bata commented on #938
@toshihikoyanase I can confirm no exceptions are raised if I created a new venv environment.

[code]

[2020-02-18 09:27] toshihikoyanase commented on #938
@c-bata I'm not fully sure but `prompt_toolkit` may be related to this issue. When I uninstalled it from your list of libraries, AttributeError is not raised.

[2020-02-18 09:31] c-bata commented on #938
Thank you for your investigation. I guess `prompt_toolkit` is installed with iPython or ipdb that are not dependencies of Optuna. I close this.

[2020-02-18 09:43] c-bata commented on #938
I closed but I wonder that someone will report the same issue because `prompt_toolkit` is in dependencies in `jupyter`. Hmm...

[2020-02-18 11:51] kasparthommen commented on #510
Hi all,

I think the new `suggest_int` method should also have a `log` flag (or, as suggested in another comment, a `distribution` parameter accepting strings).

For example,

[code]
would produce values between 1 and 4 equally likely as values between 4 and 16.

Model parameters that benefit from discrete log-uniform distributions are e.g.:
- The number of neighbors in [KNN](https://scikit-learn.

[2020-02-18 16:33] cthoyt commented on #510
@kasparthommen it would be nice to specify the log scale as well.

[code]
Such that [1, 2, 4, 8, 16] are generated.

As a question for all: would these 5 values be generated with equal probability? Or is it weighted?

[2020-02-18 16:45] kasparthommen commented on #510
No, **all** values between 1 and 16 will be generated, but the probability decreases for larger values.

[2020-02-19 00:21] hayata-yamamoto commented on #510
It looks a good suggestion, but should it be implemented another function?
Comparing other suggestion functions, I'm afraid suggest_int could be a bit huge than other functions. This difference could lead to users' confusion, I guess.

So, `suggest_int` should be implemented as corresponded to `suggest_discrete_uniform` and `suggest_uniform`. It's seemed that `suggest_log_int` should be developed

[2020-02-19 07:30] toshihikoyanase commented on #930
#935 resolved this issue. Closing.

[2020-02-19 07:30] #930 closed

[2020-02-19 07:52] kasparthommen commented on #510
My suggestion to add the `log` parameter to `suggest_int` does not make it any more complicated than `suggest_float` IMHO. Can you elaborate why you think it would become a bit "huge"?

I don't really care *how* it is implemented underneath as long as it provides the functionality I have suggested :-)

I don't agree - I think we should adopt @sile's proposal (2nd post) and extend the `suggest_int`

[2020-02-19 09:12] hayata-yamamoto commented on #510
I'm sorry. This is my wrong :(

If adding `log` paramter in `suggest_int` is planned, it should be done!

[2020-02-19 10:24] sile commented on #510
When I wrote https://github.com/optuna/optuna/issues/510#issuecomment-536868317, I didn't plan to add a log-scale option to `suggest_int` method,  but it sounds good idea.

[2020-02-19 16:39] kasparthommen commented on #510
@sile Cool, appreciated!

[2020-02-20 03:47] hvy commented on #933
@keisuke-umezawa thanks for bringing this issue up. Do you have any ideas for how to address it?

[2020-02-20 06:07] stakky commented on #852
@sile
I implemanted a prototype and tested it. I changed a pruning sample(optuna/examples/pruning/simple.py) to reproduce the issue and then warning message was emitted as intended.
https://github.com/stakky/optuna/commit/d42fc64fdfefbdede4ec3cdde623cd18daf80fe2
But this prototype emits the warning message too much. I think it should be emited per one trial. What do you think?

[2020-02-21 00:31] #904 closed

[2020-02-21 00:41] sile commented on #852
@stakky Thanks!

I agree with your opinion. I think that it's better to use [warnings.warn()](https://docs.python.org/3/library/warnings.html#warnings.warn
) instead of Optuna logger. `warnings.warn()` don't emit duplicate messages.
The detail has not been decided, but Optuna dev team is planning to use `warnings.warn()` for warnings related to implementation miss, and Optuna logger for warnings r

[2020-02-21 00:45] sile commented on #852
Anyway, if you create a PR, we can discuss it on the PR.

[2020-02-21 06:06] #938 closed

[2020-02-21 09:41] Y-oHr-N commented on #534
Hi @smly,

I heard disappointing news that the event will be canceled.

So there are two things I want to check here.

1. Does the Optuna development team agree to merge OptGBM into Optuna?
2. If you agree, what are the topics we need to discuss, that is, what can be the obstacles to merging?

[2020-02-22 07:51] keisuke-umezawa commented on #933
For docstring guidelines, basically I would like to follow [Example Google Style Python Docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html).

But there are several differences between it and current one. So it is better to write our docstrings examples?

[code]

[2020-02-23 05:22] keisuke-umezawa commented on #933
One question is that: which is better way to test output? e.g. https://github.com/optuna/optuna/pull/882/files#diff-815bd38671f30e415efa796835df638fR771

1. Ussing `assert` to test output in [directive-testcode](https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html#directive-testcode)
1. Ussing [directive-testoutput](https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html#d

[2020-02-23 05:30] keisuke-umezawa commented on #734
@g-votte
Could you add the checklist in the [comment](https://github.com/optuna/optuna/issues/734#issuecomment-586678423) to top comment of this issue, because people can easily understand what they need to fix?

[2020-02-23 08:07] g-votte commented on #734
@keisuke-umezawa
Thank you very much for your listing up! I edited the comment.

[2020-02-24 06:00] keisuke-umezawa opened #956 "Introduce formatter"
## Motivation

If we introduce a formatter to Optuna and just use it, we do not need to think about formatting.

## Description

There are famous formatters in python:

1. [autopep8](https://github.com/hhatto/autopep8) (current)
2. [Black](https://github.com/psf/black)
    - example of applying black #957
3. [yapf](https://github.com/google/yapf)

c.f. https://blog.frank-mich.com/python-code-forma

[2020-02-24 06:29] keisuke-umezawa commented on #956
imo, I want to use black as our formatter.

[2020-02-24 06:33] c-bata commented on #956
+1 to use black.

I also use black at https://github.com/CyberAgent/cmaes.

[2020-02-25 00:12] eafpres commented on #859
Hi--today I had to update my keras/tensorflow, and during that I got this:
ERROR: optuna 1.0.0 has requirement scipy<1.4.0, but you'll have scipy 1.4.1 which is incompatible.
I looked at the workaround above but apparently pipenv isn't for Windows systems.  Is there another workaround?

[2020-02-25 05:09] hvy commented on #933
https://github.com/optuna/optuna/issues/933#issuecomment-589929849

I basically agree with the above comment and that it'd improve readability. I'd like to hear opinions from other developers. My concern is how to maintain the docstrings, especially if we start customizing the rules. Can we use black for that, or yapf (c.f. https://github.com/optuna/optuna/issues/956)?

[2020-02-25 05:13] hvy commented on #933
https://github.com/optuna/optuna/issues/933#issuecomment-590028720 (latter question)

I personally find `print`s to be verbose and rather uninformative in `testcode`. I this either 1., or a standard comment is fine, as these doctests are not unit tests but merely there to make sure they are up to date.

[2020-02-25 07:44] sile commented on #859
@eafpres I'm not sure but you might be able to resolve the issue by updating optuna to [v1.1.0](https://github.com/optuna/optuna/releases/tag/v1.1.0). The version contains the patch https://github.com/optuna/optuna/pull/838, which relaxed scipy version restriction.

[2020-02-25 09:18] #656 closed

[2020-02-25 10:54] smly commented on #534
@Y-oHr-N, I'm sorry that I cannot meet you at the dev sprint event.
Today, Optuna development members including me discussed integrating OptGBM into Optuna. In order to answer your question, we need to discuss many things with you, such as remaining development tasks, API, maintenance, and existing issues in OptGBM. If it's okay with you, let's schedule a video conference to discuss these things w

[2020-02-25 14:44] sshkhr commented on #589
Hi @g-votte I am new to optuna and was looking to apply for the GP-BO-based sampler project for GSoC 2020. I think this could be a good first issue for me to get started. Is someone already working on this or else I'll send in a PR?

[2020-02-25 22:01] kidrahahjo commented on #956
Flake8 can also be a good formatter at times.
It's not rigid and also it doesn't automatically fix the errors which is often useful.

[2020-02-26 04:39] toshihikoyanase commented on #909
Hi @kondo-kk ,

https://github.com/optuna/optuna/pull/912 was merged into the master branch today. I think you can use `ndcg` metrics with LightGBM Tuner now if you install the development version of Optuna (see https://optuna.readthedocs.io/en/latest/installation.html).

Please let me know if you have further problems.

[2020-02-26 05:29] smly opened #960 "Support aliases for learning-to-rank metrics in LightGBM Tuner"
In LightGBM, `ndcg` and `map` have many aliases. As for `ndcg`, aliases are `lambdarank`, `rank_xendcg`, `xendcg`, `xe_ndcg`, `xe_ndcg_mart`, and `xendcg_mart`. They all work on the original LightGBM. However, LightGBM Tuner in Optuna doesn't support them.

In addition, the metric `accuracy` coded in LightGBM Tuner doesn't exist in the original LightGBM. This should be removed.

## Expected behavi

[2020-02-26 08:33] g-votte commented on #589
@sshkhr
Sure! Please go for it.

I think this is one of good-to-first issues to grasp how to make a PR.
After that, we can deep dive into implementing a sampler class.

[2020-02-26 08:45] kondo-kk commented on #909
@toshihikoyanase
Thank you for your quick response and letting me know.

[2020-02-26 09:06] i-Hun opened #961 "How to change schema in postgresql to store the study."
I put postgresql connection string into a`storage`argument in `create_study` method and got an error, since optuna trying to create new table in a public schema, which I can not access. Could someone help me and say how to change the schema to another one?

[2020-02-26 13:47] keisuke-umezawa commented on #933
Basically, formatter do not change comments, so we can use black for yapf.

[2020-02-26 14:01] keisuke-umezawa commented on #933
But, I also do not like customized guidelines, and as much as possible I want to follow [Example Google Style Python Docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html).

For those, we can ignore the differences above. It means we can do following:

- When you want to add `Add Example: sections`, you can do it.
- Args and Attributes sections can start with a ne

[2020-02-26 14:01] keisuke-umezawa commented on #933
* We follow the docstring style defined by [Example Google Style Python Docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html).

# Optuna Specific Conventions
## Add examples with doctest
If you want to add an example, you can add  an `Example` section in docstring.
It should be tested by doctest e.g.
[code]

[2020-02-26 22:13] nuka137 commented on #734
@g-votte @keisuke-umezawa

Thanks for listing up!

`optuna/exceptions.py` (#958) and `optuna/trial.py` (#882)) are already merged.
Could you mark them as completed?
Also, doctest for `optuna/structs` is removed [in this discussion](https://github.com/optuna/optuna/pull/958#discussion_r383844795).

I will tackle `optuna/pruners/**` next. Thanks!

[2020-02-27 00:45] g-votte commented on #734
@nuka137
Thanks for your update. It's very helpful.

Cool! Please go for it.

[2020-02-27 03:00] toshihikoyanase commented on #909
@kondo-kk
Although @smly reported that https://github.com/optuna/optuna/pull/912 needed a follow-up (https://github.com/optuna/optuna/issues/960), I think that this issue has been resolved. So, let me close it.
Please feel free to re-open it or create new issues.

[2020-02-27 03:00] #909 closed

[2020-02-27 08:11] toshihikoyanase commented on #891
Resolved by https://github.com/optuna/optuna/pull/907. Closing.

[2020-02-27 08:11] #891 closed

[2020-02-27 08:24] Crissman commented on #892
@876arham Please give it a start!

[2020-02-27 17:23] Y-oHr-N commented on #534
@smly , OK. How do we communicate?

[2020-02-27 18:18] Y-oHr-N commented on #914
I have read https://github.com/optuna/optuna/pull/692#issuecomment-558510300.

Are there any plans to fix it in the future to ensure the reproducibility?

[2020-02-28 05:58] smly commented on #534
How is Google Hangout? let me send a DM to you on Twitter.

[2020-02-28 06:58] g-votte opened #966 "Exception/Method to exit a study."
## Motivation

The motivation of this issue is to enable the user to customize the exit criterion of a study. We've already had similar request in #850 where the user want to give a performance threshold. In addition, this feature would improve the `GridSampler` so that the user do not have to specify `n_trials`, as discussed in https://github.com/optuna/optuna/pull/665#discussion_r361424127.

##

[2020-02-28 08:11] sile commented on #914
Hi @Y-oHr-N, thank you for reporting this issue.
I created a draft PR #967 to address this problem (this PR introduces additional overhead to samplers so it might not be accepted though).

[2020-02-28 08:44] Y-oHr-N commented on #534
No problem. I'm waiting for a DM.

[2020-02-28 10:03] toshihikoyanase commented on #961
Optuna uses [`sqlalchemy`](https://www.sqlalchemy.org/) to handle RDB access, and I think you can change the schema using [database URLs](https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls). For example, if your schema is `myschema`, the URL will be as follows:

`postgres+psycopg2://username:password@localhost:32007/optuna?options=--search_path%3Dmyschema`

[2020-02-28 13:40] Y-oHr-N commented on #914
Thank you for your quick response. I hope the PR is successfully merged.

[2020-03-01 02:39] hvy commented on #956
Leaving some community statistics that shows how Black is being "more liked".
https://star-history.t9t.io/#google/yapf&psf/black

[2020-03-02 07:31] leonweber opened #970 "Eval loop running twice in PyTorch ignite example?"
I am currently going through the example for the PyTorch ignite documentation. I am wondering why we need an ```evaluator``` and another ```pruning_evaluator``` that both run during evaluation. Isn't this a problem for expensive evaluation loops?

[2020-03-02 07:33] leonweber commented on #970
Never mind. I just didn't read the code correctly. The pruning evaluator is run after each epoch, and the other evaluator is only used once after training has finished.

[2020-03-02 08:24] hvy commented on #970
I suppose you mean this example https://github.com/optuna/optuna/blob/master/examples/pytorch_ignite_simple.py. You have a perfectly valid point and I think this example can be simplified in two ways.
1. Do no run `evaluator` in the callback. We don't have to run an expensive function just to print the training error.
1. Stick to one evaluator (that prunes as necessary).

Let me create a PR to fix

[2020-03-02 11:41] keisuke-umezawa commented on #711
@c-bata
List of files grepped by `# type:`.

- [ ] setup
- [ ] optuna/visualization/parallel_coordinate
- [ ] optuna/visualization/slice
- [ ] optuna/visualization/intermediate_values
- [ ] optuna/visualization/optimization_history
- [ ] optuna/visualization/utils
- [ ] optuna/visualization/contour
- [ ] optuna/logging
- [ ] optuna/storages/rdb/models
- [ ] optuna/storages/rdb/storage
- [ ] optuna

[2020-03-02 13:04] keisuke-umezawa commented on #906
@PhilipMay I added explanations #972. How about it?

[2020-03-02 13:21] keisuke-umezawa commented on #734
@g-votte #955 closed `optuna/visualization/parallel_coordinate`.

[2020-03-02 13:22] keisuke-umezawa commented on #734
https://github.com/optuna/optuna/pull/973 will close `optuna/visualization/*`.

[2020-03-02 15:09] PhilipMay commented on #906
@keisuke-umezawa Thanks! I will have a look into it and give feedback.

[2020-03-02 20:03] PhilipMay commented on #906
@keisuke-umezawa What about applying the HyperbandPruner to a 5 or 7 fold cross validation?
In that situation I only have 5 or 7 steps.
Is that possible / useful? Or do I need something with many steps?

[2020-03-03 01:07] pablete commented on #762
Related to #974 . Using RedisStorage drastically speeds up queries to the datastore ie: get_all_study_summaries gets really fast ;)

[2020-03-03 11:14] #970 closed

[2020-03-03 19:49] maxmatical opened #975 "Trouble replicating results from Optuna trial"
I've been trying to use Optuna with fastai. When I run the study, I get the following values

[code]

However, if I create the learner with the same hyperparameters, I cannot reproduce 0.875, and the accuracy is stuck at 0.5143198370933533.

<img width="413" alt="image" src="https://user-images.githubusercontent.com/8890262/75813543-26f32780-5d5e-11ea-9f9b-34e349b67c47.png">

[2020-03-03 20:15] maxmatical commented on #975
I am using a custom model (from huggingface transformers) with fastai. It it possible that the model weights aren't being reset across different trials? Because it seems that the trial result values always seem to converge to a specific value (0.5143198370933533)

[2020-03-03 20:27] PhilipMay opened #976 "Pruning `n_warmup_steps` documentation issue."
The documentation of `n_warmup_steps` seems to be misleading. It sais:

See here: https://github.com/optuna/optuna/blob/master/optuna/pruners/percentile.py#L86

But the code sais:
[code]

The correct documentation should say: "Pruning is disabled until the trial exceeds the given number of step."

What do you think? I can provide a PR if you want...

[2020-03-04 06:12] toshihikoyanase commented on #976
@PhilipMay Good catch! Please go for it.

[2020-03-04 06:31] toshihikoyanase commented on #975
Hi @maxmatical,

Hmm. I'm not familiar with fastai, but I couldn't find any code to reset the weights/states shared with other trials in [`examples/fastai_simple.py`](https://github.com/optuna/optuna/blob/master/examples/fastai_simple.py). I think more information about your code is required for further troubleshooting. So, it will be a great help if you share your code (or examples with the chara

[2020-03-04 12:04] #581 closed

[2020-03-04 12:05] maxmatical commented on #975
The code looks like this

[code]
Where `custom_transformer_model` is loading a pre-trained ROBERTA model. I even made sure to check that the fastai learner was being destroyed at the end of each trial. When I print out the model weights at the before training in each trial, I get something like
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/8890262/75877511-e9d27800-5

[2020-03-04 19:35] PhilipMay commented on #976
PR on #980

[2020-03-04 23:07] nuka137 commented on #734
@g-votte

`optuna/pruners/**` were merged (#964). Could you update these items as completed?

Next, I will check ` optuna/samplers/*` and `optuna/integration/skopt. Thanks!

[2020-03-05 00:34] g-votte commented on #734
@keisuke-umezawa @nuka137
I updated the list.
Thanks a lot for your continued contribution!

[2020-03-05 06:26] c-bata opened #982 "Add `skip_if_exists` option at enqueue_trial for distributed optimization."
## Motivation

`enqueue_trial()` is added from v1.2.0. But this function allows duplicate parameters.

## Description

Let's assume that executing the following script on a distributed environment.

[code]

One worker enqueues `x=5` and `x=0`, then other workers will enqueue `x=5` and `x=0` again.
So introducing a `skip_if_exists` option will be useful.

## Alternatives (optional)

## Additional c

[2020-03-05 09:21] #976 closed

[2020-03-05 12:12] keisuke-umezawa commented on #956
@/here
How can I archive conclusion? 🤔

btw, I will create PR with black.

[2020-03-05 13:44] #975 closed

[2020-03-05 15:43] mikeaalv opened #984 "Unexpected behavior on pruning when run optuna with my neural network"
Hey, Optuna seems to behave widely for me. The run code is like this :
[code]

The objective function is like this:

[code]

The objective here is based on performance(MSE) on the 'test' set (I will have another set for final test). The MSE used for pruning (trial.report) is also the MSE output in the latter examples. The same MSE for the last epoch is returned by the objective function. I expect

[2020-03-05 16:24] hvy commented on #956
I think most of the core members are okay with black, so far. A PR could be a starting point to discuss it more in detail. Just curious how it will be different from https://github.com/optuna/optuna/pull/957 ?

[2020-03-05 20:14] VladSkripniuk commented on #966
Could you help me to understand what has to be done here? It looks like the code provided in the description solves the task. Here is an example:
[code]
which makes the study stop once the `EXIT_THRESHOLD = 0.5` is achieved:
[code]

[2020-03-06 00:43] g-votte commented on #966
Hi @VladSkripniuk ,

Thanks a lot for your taking a look into this issue.

The expected behavior is catching the `StopStudy` inside the study object to safely get back from the `optimize` method, instead of terminating the script with the error.

It might be helpful to see how the study object handles `TrialPruned` raised in an objective function: https://github.com/optuna/optuna/blob/master/optun

[2020-03-06 08:33] c-bata commented on #956
In my opinion, we need to avoid conflict with other pull requests as possible as we can. At least, #957 significantly increases the costs of other pull requests.

[2020-03-06 08:42] keisuke-umezawa commented on #956
I created two PRs for applying black to all files with following conditions:

- w/ string format
    - https://github.com/optuna/optuna/pull/987
- w/o string format

[2020-03-06 10:00] bigbird555 commented on #711
Excuse me. I have a question about this issue.
You mean that someone needs to rewrite all the comments like #type hope -> fuga in all the above files into comments following Oputuna Specific Conventions of https://github.com/optuna/optuna/wiki/Coding-Style-Conventions ?

[2020-03-06 10:01] bigbird555 commented on #711
Also, it seems necessary to remove variable annotation syntax form all the above files. Am I right ?

[2020-03-06 10:06] c-bata commented on #711
Yes.

No. Optuna still doesn't adopt variable annotation syntax because of the Python3.5 support. We need to keep a comment-based annotation style for variables.

[2020-03-06 10:19] bigbird555 commented on #711
So, in short, do you need functions like below in Optuna for now?

`def func(hoge, fuga) -> type
"""hoge is integer and fuga is float"""

    some procedure`

[2020-03-06 10:25] c-bata commented on #711
More precisely, you need to specify the types of `hoge` and `fuga` like below.

[code]

[2020-03-06 10:34] bigbird555 commented on #711
I think I understood what you need.
Is it okay to submit PR to you when I correct them ?

[2020-03-06 11:49] toshihikoyanase commented on #984
Thank you for your detailed report.

I guess the overfitting occurs during the training. The score of Trial#2 at 48th epoch is lower than that of Trial#0 at 300th epoch, but Trial#0 might mark better score at 48th epoch. If so, it is expected that `SuccessiveHalvingPruner` prunes Trial#2.

I think you can check overfitting with the intermediate result plot. You can easily plot the result using [op

[2020-03-06 13:12] VladSkripniuk commented on #966
Thank you @g-votte for clarifications! I added some code to catch the `StopStudy` inside the study object.

[2020-03-06 23:31] mikeaalv commented on #984
I checked the case you mentioned. I turns out the minimum MSE at trial 0 is indeed slightly lower (~0.907) but not as low as the end test MSE at trial 1 (~0.64). The MSE at trial 0 at epoch 48 is higher (0.9475). You can check it from this file https://www.dropbox.com/s/0vbprux0veenesn/testmodel.sapelo2.out?dl=0

Also as you mentioned the case of overfitting, that definitely can happen at any trai

[2020-03-08 13:45] michiboo commented on #733
@g-votte Hi I created a PR for this issue https://github.com/optuna/optuna/pull/994

[2020-03-09 02:26] toshihikoyanase commented on #933
@keisuke-umezawa Thank you for your proposal.  It basically sounds good to me.
I found some differences with the current convention such as
- an empty line after function definition (c.f., https://github.com/optuna/optuna/wiki/Coding-Style-Conventions#an-empty-line-after-a-functionclass-definition), and
- Sphinx-style link to Python objects like `True` and `False` (e.g., https://github.com/optuna/

[2020-03-09 03:30] toshihikoyanase opened #997 "`optuna.integration.PyTorchLightningPruningCallback` does not work with `pytorch_lightning==0.7.1`."
## Environment

- Optuna version: 1.2.0
- Python version: 3.7.2
- OS: macOS 10.13.6
- (Optional) Other libraries and their versions: pytorch_lightning==0.7.1

## Error messages, stack traces, or logs

Command
[code]

Error message:
[code]

## Additional context

The base class of `PyTorchLightningPruningCallback` (i.e., `EarlyStopping`) is updated by 0.7.x.
For example,
1. the `check_metrics` meth

[2020-03-09 04:42] toshihikoyanase opened #1000 "Dashboard (beta) does not work with `bokeh==2.0.0`."
## Environment

- Optuna version: 1.2.0
- Python version: 3.7.2
- OS: macOS 10.13.6
- (Optional) Other libraries and their versions: pytorch_lightning==0.7.1

## Error messages, stack traces, or logs

[code]

[code]

## Additional context (optional)

- The dashboard is in the beta-phase. Do we update the current implementation? Or do we create a new one?

[2020-03-09 05:30] hvy commented on #956
Thank you for the different PRs. The actual changes are much easier to see if the string normalizations are separated (as they are different commits). Briefly discussing this with the team, it seems like most are okay with introducing black, and in particular to align to `"` for strings. One of the purposes of the formatter is to keep a consistent style not having the developer have to think about

[2020-03-09 09:10] c-bata commented on #982
I decided to close this issue (see https://github.com/optuna/optuna/pull/992#issuecomment-596410883). Thanks tohmae :bow:

[2020-03-09 09:10] #982 closed

[2020-03-09 09:52] Alex-Lekov opened #1001 "How can i do early stopping in optuna?"
How can i do **early stopping** in optuna? I tried pruners, but they do not stop the optimization. just stop the training round. I would like to immediately stop the all optimization when the new best models have not appeared for a long time. Without waiting for the completion of all rounds or time...

[2020-03-09 09:57] hvy commented on #1001
Are you looking for something like https://github.com/optuna/optuna/issues/966 ?

[2020-03-09 10:07] Alex-Lekov commented on #1001
Yes. I did not find how to stop the optimization entirely by the rule. I tried `raise  optuna.structs.TrialPruned()`, but it only skips the round.

[2020-03-09 10:47] hvy commented on #1001
There are no APIs dedicated for you're describing yet (see #966). However, such a feature has been asked for before and a workaround was also suggested https://github.com/optuna/optuna/issues/850#issuecomment-577018760. You'll probably have to modify the body of the callback function to iterate over previous trials (which are accessible through the `study`).

[2020-03-09 11:45] Alex-Lekov commented on #1001
Thanks for the answer! Here is my quick version of this functionality. Hope authors add this feature in upcoming versions?

[code]

[code]

[Colab Notebook](https://colab.research.google.com/drive/1I8abciKFXBxkoXrcwLiG7_BrYskLnV8k)

[2020-03-09 17:14] hvy commented on #1001
Thanks for sharing your code and generously a notebook on Colab. As you are not the first one to ask, future users will most likely find this useful as well. Let me close this issue for now as fixed and let us keep an eye on #966 to introduce a dedicated API.

[2020-03-09 17:14] #1001 closed

[2020-03-09 20:09] grfreitas commented on #732
I want to give a sugestion here: the figures are generated by plotly with `go.Scatter`, if plotting the graph is the reason for the program stopping, one way to reduce the lag generated by it is by changing the call to `go.Scattergl`. It is capable of rendering more points with less lag.

[2020-03-10 03:52] toshihikoyanase opened #1004 "`sklearn.utils.safe_indexing` will be removed in `scikit-learn==0.24`."
`sklearn.utils.safe_indexing` in `optuna.integration.sklearn.OptunaSearchCV` should be updated because it is deprecated and will be removed in 0.24.

https://github.com/scikit-learn/scikit-learn/blob/0.22.X/sklearn/utils/__init__.py#L292-L294

[code]

Please see also https://github.com/optuna/optuna/pull/952#issuecomment-596311385.

[2020-03-10 04:11] #960 closed

[2020-03-10 04:25] toshihikoyanase opened #1005 "Order dependencies in `setup.py` alphabetically."
The libraries in `setup.py` are not arranged in alphabetical order. I think it would be helpful for developers if we fix it.

Examples:

https://github.com/optuna/optuna/blob/master/setup.py#L30-L41
[code]

https://github.com/optuna/optuna/blob/master/setup.py#L61-L66
[code]

[2020-03-10 10:42] himkt commented on #510
Hi, I'd like to work on this issue if it is possible. 😸
(If it's possible, I'll start from implementing methods listed in (a).)

[2020-03-10 13:30] ghost2718 commented on #1005
Hello, I am newcomer can I fix this issue?

[2020-03-10 13:32] c-bata commented on #1005
Hi @ghost2718. It seems @VladSkripniuk worked on this issue.

[2020-03-10 13:34] himkt commented on #711
I encountered the importing problem of `optuna.study.Study` (https://github.com/optuna/optuna/pull/963/files#discussion_r388350274).

We have to avoid directly importing of `Study` class because it causes a runtime error.
Although I'm not sure what is the best choice, I avoid an import error by [forward reference](https://www.python.org/dev/peps/pep-0484/#forward-references).

[code]

[2020-03-10 14:17] keisuke-umezawa commented on #956
That is true. If we apply black, we need to think how to do it.

[2020-03-10 14:38] #1005 closed

[2020-03-11 01:01] sile commented on #510
Sure. Please go for it! > @himkt

[2020-03-11 01:29] nuka137 commented on #734
@g-votte

`optuna/samplers/*` and `optuna/integration/skopt` are already merged.
Could you mark them as completed status?

I'm considering to tackle `optuna/integration/tensorflow` next.
But, the example in `optuna/integration/tensorflow.py` will be similar to `examples/pruning/tensorflow_estimator_integration.py` if the example is simple.
I'm not sure this is a good way to introduce the example f

[2020-03-11 06:03] g-votte commented on #734
@nuka137
Thanks for your letting me know! (and sorry for making you update frequently..)

Good catch. Introducing almost the whole part of the example might be too much. I think one of options is to delete the docstring and put a reference to the example instead.

[2020-03-11 09:30] ghost2718 commented on #803
Hi, Can I work on this issue

[2020-03-11 09:44] himkt opened #1012 "[Proposal] Add allennlp integration"
It would be nice to integrate with allennlp lib.

## Motivation

[Allennlp](https://github.com/allenai/allennlp) is a NLP library that is used in NLP researchers/practitioners including me.
There is [allentune](https://github.com/allenai/allentune), which is the library of parameter optimization for allennlp.
By using allentune, users can search hyperparameters by random search.
However, `optuna`

[2020-03-11 10:04] toshihikoyanase commented on #803
@ghost2718 Thank you for your interest.

If you work on it, [`mong`](https://github.com/toshihikoyanase/mong), a docker-like name generator, may be useful.
I'm developing it in my personal repository, and one of the features is the up-to-date name dictionary using the [GitHub Actions workflow](https://github.com/toshihikoyanase/mong/actions?query=workflow%3A%22check+dict+update%22).  We can see so

[2020-03-11 10:15] ghost2718 commented on #803
@toshihikoyanase Thank you, I will start working on this issue. I will actively seek your advice regarding any implementation probem.

[2020-03-11 10:41] toshihikoyanase commented on #803
@ghost2718 Thank you! If you have any questions, please let me know.

[2020-03-11 17:03] PhilipMay commented on #913
I would really appreciate feedback on this. Maybe it is a cli feature. What do you think?

[2020-03-11 17:11] PhilipMay opened #1015 "How does the sampler (tpe) handle the different trial states?"
Hi,
a trial can have different states:
[code]

When the sampler (tpe) sees these trials in a database when a new trial starts - how does it handle them? It uses completed trials to get a signal on the fitness landscape to select the next parameter set. But how does it handle FAILed, PRUNED and RUNNING trials? Does it just ignore them?

This question is connected to this item: #913

Thanks
Philip

[2020-03-11 18:06] PhilipMay opened #1017 "MLflow integration"
I am thinking of an [MLflow](https://mlflow.org) integration. What do you think about this? I would contribute but need someone who discusses with me on where to plug it in.

I saw the MLflow example here: https://github.com/optuna/optuna/tree/master/examples/mlflow

It should be able to automatically log everything that is written to the optuna DB also to MLflow.

What do you think?

[2020-03-11 22:09] nuka137 commented on #734
@g-votte

Thanks for your advice.

Good idea! I will do this.
BTW, I noticed there are other examples which can be applied in same way.
e.g.

* optuna/integration/lightgbm
* optuna/integration/pytorch_ignite
* optuna/integration/pytorch_lightning

At first, I will fix `optuna/integration/tensorflow.py` and `examples/pruning/tensorflow_estimator_integration.py `.
After that I will tackle more examp

[2020-03-12 08:13] Crissman commented on #892
No comment from @876arham . Still looking for contribution for this issue! Volunteers?

[2020-03-12 12:17] keisuke-umezawa commented on #956
@hvy I opened a new PR to merge changes. https://github.com/optuna/optuna/pull/1020

[2020-03-12 13:44] ghost2718 commented on #803
@toshihikoyanase I have looked at other name generators, along with the one you had suggested. I felt that more or less every one of them is like mong. So I tried this out:

`    def _create_unique_study_name(session):
        # type: (orm.Session) -> str

        while True:
            # study_uuid = str(uuid.uuid4())
            # study_name = DEFAULT_STUDY_NAME_PREFIX + study_uuid

[2020-03-13 02:56] sile commented on #913
Thank you for your proposal, and sorry for the delayed response.
I think that it's good to add a feature to clean such zombie trials. However, IMO, it feels a bit weird to add `clean_running` option to `optuna.create_study()` function. To keep `create_study` function simple, I prefer adding a didicated function (e.g., `optuna.study.clean_running_trials(study: Study)`) for this porpose. Once implem

[2020-03-13 04:14] sile commented on #913
**FYI** As an alternative approach, it might be possible to add handling of "KeyboardInterrupt" signal (see also #485 ).

[2020-03-13 06:02] hvy commented on #913
I personally find the `KeyboardInterrupt` signal handler approach to be cleaner, trying to reduce zombie trials in the first place. I guess  that it on the other hand requires quite a bit of work (incl. writing exhaustive tests). So, it could be tackled at a later time.

[2020-03-13 08:43] toshihikoyanase commented on #803
@ghost2718 Thank you for your proposal.

I think we need to add suffixes to the name generated by mong. This is because the number of unique names is about 25,000 and it seems to be too small for some intensive users. What do you think if you add 3 or 4 random digits after the name generated by mong?

In addition, `while True` may cause an infinite loop if candidate names are not available. How ab

[2020-03-13 09:28] hvy commented on #803
We could also add prefixes instead which might allow some sort of sorting. Instead of random number we could then use formatted dates or Unix times. It might also be reasonable not being too generous in the name generator and recommend intensive users to actually specify names explicitly.

[2020-03-14 13:11] g-votte commented on #1017
@PhilipMay
I love this idea. It should make Optuna more visualizable especially when the user is familiar with MLFlow.

A possible design might be to provide a callback function/class under `optuna.integration.mlflow` like what is shown in [the example](https://github.com/optuna/optuna/tree/master/examples/mlflow), while I think there're some other ways to integrate the library.

What kind of impl

[2020-03-14 20:09] PhilipMay commented on #1017
I think I will build a callback implementation first.

[2020-03-14 21:21] chenghuzi commented on #913
Agree with @hvy , just started using Optuna and faced the same issue. So I made some experimental changes [here](https://github.com/chenghuzi/optuna/commit/da0590d45ccb5c159e883aa5d566fa3fe37f9d4b) in the storage part and it works. Just removed running trial records from the database.

But this causes another problem: in `in_memory.py` we cannot directly delete elements from `trials` as `get_trial

[2020-03-14 23:02] PhilipMay commented on #1017
Well - see the PR here: #1028 Feedback welcome. :-)

[2020-03-15 03:28] kuroko1t commented on #820
I ran into a similar problem when running optuna in 8 parallels using joblib.

[code]

[2020-03-15 08:45] louisabraham commented on #820
@kuroko1t where did you use joblib?

[2020-03-16 02:36] sile commented on #803
Agree. I personally prefer human understandable datetime format to unixtime format.

This choice also sounds acceptable. I think that we could raise an exception and recommend the user to specify the name manually if the retry number of a name generation exceeded a predefined count.

[2020-03-16 03:16] sile commented on #1015
Thank you for your question.
Alghtough the behavior depends on sampler implementation, the default sampler (TPESampler) only considers trials that has COMPLETE or PRUNED state when it samples (suggests) new parameters (other trials are just ignored).

[2020-03-16 03:36] sile commented on #1015
The following list describes the behavior of other samplers:
- [RandomSampler](https://optuna.readthedocs.io/en/stable/reference/samplers.html#optuna.samplers.RandomSampler) and [GridSampler](https://optuna.readthedocs.io/en/stable/reference/samplers.html#optuna.samplers.GridSampler) ignore all trials
- [CmaEsSampler](https://optuna.readthedocs.io/en/stable/reference/integration.html#optuna.integr

[2020-03-16 06:22] kuroko1t commented on #820
I parallelized  optimize function using joblib as follows. i think error frequency was low.

[code]

[2020-03-17 01:21] hvy opened #1033 "`plot_intermediate_values` example code does not contain intermediate values."
The example code snippet embedded in the documentation for [`plot_intermediate_values`](https://github.com/optuna/optuna/blob/master/optuna/visualization/intermediate_values.py) doesn't call `Trial.report` and thus does not contain intermediate values. The example should be updated. See also https://github.com/optuna/optuna/pull/1003#issuecomment-599359742.

Current documentation with empty plot:

[2020-03-17 08:01] hvy commented on #956
I created a PR addressing above comment https://github.com/optuna/optuna/pull/1030 (c.f. https://github.com/optuna/optuna/pull/1020#issuecomment-599403792). It has now been merged so let me close this issue. Thanks a lot @keisuke-umezawa for the long running investigation.

[2020-03-17 08:01] #956 closed

[2020-03-18 04:53] hvy commented on #933
+1 for omitting the "empty line" rule for reasons already mentioned. It's not something we want to nitpick on during reviews.

[2020-03-18 09:41] #612 closed

[2020-03-18 22:11] Ahanmr commented on #1004
Hi, the necessary changes are already made in `optuna.integration.sklearn.OptunaSearchCV` for handling 0.22 and 0.24 versions of sklearn. Is there something still pending here in this issue?

[2020-03-20 07:09] keisuke-umezawa commented on #933
Thank you for the comments, and sorry for late relply. I want to add following changes into [the coding guideliens](https://github.com/optuna/optuna/wiki/Coding-Style-Conventions):

1. Delete the rule for `an empty line after function definition` (c.f., https://github.com/optuna/optuna/wiki/Coding-Style-Conventions#an-empty-line-after-a-functionclass-definition),
2. Add docstrings guidelines.

# O

[2020-03-20 18:37] ghost2718 commented on #803
Hello @toshihikoyanase , sorry for the delay. I read the above suggestions. I personally felt that a four-digit code as a prefix would make them look cleaner. Anyways I edited the code like this.
 `
  def _create_unique_study_name(session):

        create_time = datetime.now()
        prefix = create_time.strftime("%m/%d/%Y-%H:%M:%S")
        num_tries = 0
        while True and num_tries < 1000:

[2020-03-22 15:03] denutza opened #1045 "n_jobs crashes kernal"
My CPU has 12 threads, any time I optimize with n_jobs >=2 the kernal crashes within 1-2 trials.
I'm tuning  with xgb.train and I have the nthread parameter set to 6.

Is there a conflict between setting both threads?

[2020-03-23 03:36] hvy commented on #1045
Are you able to provide some more specific information about your environment and code/stacktrace for reproduction?

I'm not familiar with how `nthread` affects the internals of the `DMatrix` unfortunately but I can share that `n_jobs>=2` in Optuna will invoke `joblib.Parallel` [inside the study](https://github.com/optuna/optuna/blob/master/optuna/study.py#L355). Depending on your situation, you m

[2020-03-23 06:32] hvy commented on #933
Thanks for the updates and the separate diffs (those help). I'd like to verify this with other core developers and committers but changes basically LGTM. I have two questions.
- Are we going to progressively update our documentation (e.g. contribution-welcome) to match these rules?
- Does `Note:` do the same thing as `.. note::` ?

[2020-03-23 06:46] denutza commented on #1045
I really wouldn't know how to go about a lot of that.

But I should clarify, I didn't literally mean setting "n_jobs>=2".
I meant anywhere from "n_jobs=2" to "n_jobs=12" crashes the kernel.

***Anything but n_jobs=-1

[2020-03-23 08:49] hvy commented on #1045
I see. I tried to reproduce this issue with https://github.com/optuna/optuna/blob/master/examples/xgboost_simple.py modifying `params` to contain `nthread` and then also by passing `nthread` to the `DMatrix`es but failed to do so. Maybe the example is too trivial, or it's my environment.

Are you able to work around this issue?  Again, for instance using multi-processing or if you are using a RDB

[2020-03-23 12:43] toshihikoyanase commented on #803
Hello @ghost2718 , thank you for including the suggestions.

Hmm, everyone has their own preference in the style of `prefix`. So, how about removing the prefix and creating a PR which contains only minimum code?

Through the discussion, I found that the main discussion points are as follows:

1. Format of the default names
2. Exception handling of name collision

## 1. Format of the default names

[2020-03-23 18:43] barneyhill opened #1049 "Pruner example code is missing training data"
When run, all pruner examples give:
`NameError: name 'X_train' is not defined`
Current documentation with faulty examples: https://optuna.readthedocs.io/en/stable/reference/pruners.html

[2020-03-23 18:57] barneyhill commented on #1049
Should I make a pull request so that all example code in the documentation includes a sklearn dataset such as that in https://optuna.readthedocs.io/en/latest/reference/integration.html#optuna.integration.OptunaSearchCV? I believe this would make the documentation more accessible

[2020-03-24 01:29] toshihikoyanase commented on #1049
Hi @barneyhill, thank you for proposal.

Currently, the examples employ a dummy dataset as follows:

[code]

If we show the above code, the example may lose focus. So we hide it into the setup code.
https://optuna.readthedocs.io/en/stable/_modules/optuna/pruners/median.html#MedianPruner

I agree with you. The self-contained examples will be more helpful for readers if we can keep the code simple.

[2020-03-24 15:31] barneyhill commented on #1049
Thank you @toshihikoyanase for your quick feedback.
I''ll attempt to add the training data to all relavant code examples by the end of today.

[2020-03-25 05:17] nuka137 commented on #734
@g-votte

`optuna/integration/tensorflow.py` is merged.

I think we can apply this method to below files same way.
I will tackle this ASAP.

||Example|
|---|---|
|optuna/integration/lightgbm|https://github.com/optuna/optuna/blob/master/examples/pruning/lightgbm_integration.py|
|optuna/integration/mxnet|https://github.com/optuna/optuna/blob/master/examples/pruning/mxnet_integration.py|
|optuna/inte

[2020-03-26 06:56] PhilipMay commented on #1015
Ok. Thanks @sile
How does TPU "see" a pruned trial? I mean when throwing the prune exception you do not provide a metric but only the information that the trial is "bad" with these parameters.

[2020-03-26 11:31] g-votte commented on #734
@nuka137

Cool! I also think we can take similar approaches for them.

I think the example is [here](https://github.com/optuna/optuna/blob/master/optuna/integration/sklearn.py#L513-L528). Since this is relatively small, we could keep it inside the docs.

[2020-03-27 08:34] sile commented on #1015
@PhilipMay

`TPESampler` ranks trials by using the last reached step as the primary key (higher is better) and the objective value at the step as the secondary key (i.e., pruned trials have worse rankings than complete trials). Then, the sampler uses the ranking information to sample next parameters. If a trial was pruned before reporting any values, it's regarded as a trial that has the worst ran

[2020-03-27 12:10] PhilipMay commented on #1015
@sile Thanks for this explanation. Now I understood.

Should we (I as a PR) put this explanation to the documentation here: https://optuna.readthedocs.io/en/latest/reference/samplers.html#optuna.samplers.TPESampler

What do you think?

[2020-03-27 13:16] sile commented on #1015
Sounds good!

[2020-03-27 19:52] VladSkripniuk opened #1055 "[Proposal] Add Catalyst integration"
## Motivation
Catalyst is a PyTorch framework for DL research and development. Overview from the projects [github](https://github.com/catalyst-team/catalyst):

It would be nice to add a custom module for Catalyst to allow for easy integration.
## Description
We can implement pruning using Catalysts support for custom callbacks.

[2020-03-28 07:03] keisuke-umezawa commented on #933
Right now, I made the guideline to follow current docstrings in Optuna.
But, we still have some differences between the guideline and code.

Main differences may be:

1. Some functions or classes do not have docstrings.
2. Some docstrings do not include `Example`.
3. Some `Example`s do not follow the guideline.

yes, they are same.
`Note:` is google style, and `.. note::` is sphinx style. I locall

[2020-03-28 08:59] keisuke-umezawa opened #1058 "Add `duration` information into FrozenTrial and Dataframe."
## Motivation

We want to add `duration` information into both `FrozenTrial` and `Dataframe`, so that we can easily know how long it took for each trial.

## Description

We want to add `duration` information into [`optuna.structs.FrozenTrial`](https://github.com/optuna/optuna/blob/master/optuna/structs.py#L66) and it should be implemeted as a property method of `FrozenTrial`.

After the above imp

[2020-03-28 09:05] c-bata commented on #1058
I prefer to implement it as a property method for consistency.

[2020-03-28 09:28] keisuke-umezawa opened #1059 "Use the option`--study-name` instead of ` --study` in all cli commands."
## Motivation

We want to align the option name as `--study-name`, so that we can easily remember the option name.

## Description

Almost all cli commands use the option name `--study-name`, but only the following commands uses `--study`.

- `optuna study set-user-attr`
- `optuna study optimize`
- `optuna study set-user-attr`

We want to align the option name as `--study-name`.

[2020-03-28 12:51] VladSkripniuk opened #1060 "[Proposal] Add integration with Tensorboard"
## Motivation
Tensorboard provides [HParams dashboard](https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams) which is useful for identifying most promising sets of hyperparameters. It would be nice add custom module to optuna for writing experiment results to tensorboard.

## Description
We can add a callback, which writes experiment results to tensorboard. Below is an example

[2020-03-29 04:32] keisuke-umezawa opened #1063 "Delete the argument `is_higher_better` from `TensorFlowPruningHook`."
## Motivation

Because the argument [`is_higher_better` is obsolete](https://github.com/optuna/optuna/blob/master/optuna/integration/tensorflow.py#L56-L61) in `TensorFlowPruningHook`, we can delete `is_higher_better`.

## Description

Same as above.

[2020-03-29 12:39] #902 closed

[2020-03-29 19:11] konradsemsch opened #1066 "LightGbm - recommendations on hyperparameters tuning"
Hi guys, I followed all of your examples regarding tuning LightGbm, however, I was hoping that perhaps some of you could share or reference some best practices and answer my questions below:

- how many trails should the experiment run? Is a 100 typically sufficient to find a set of parameters that are 'good enough'?

- is the default learning rate and a hundred fitting rounds 'good' for finding t

[2020-03-30 03:10] hvy commented on #1066
Have you read this blog post? It might be helpful addressing some of your points https://medium.com/optuna/lightgbm-tuner-new-optuna-integration-for-hyperparameter-optimization-8b7095e99258.

[2020-03-30 04:34] hvy commented on #933
1. and 3. should be fixed but I don't think 2. should be considered an issue, i.e. examples are optional. Making issues SGTM.

Thanks for the verification. Aligning to either seem fine.

[2020-03-30 07:35] hvy opened #1067 "Drop Python 3.5 support"
Thread to discussion dropping Python 3.5 support.

See also [Drop Python 2 support. #713]( https://github.com/optuna/optuna/issues/713)

[2020-03-30 07:37] hvy commented on #1067
`scipy` which is an install requirement is dropping support for Python 3.5 in its next minor version upgrade 1.5.0.

[2020-03-30 07:45] konradsemsch commented on #1066
Thanks @hvy, that's definitely an awesome reference I wasn't aware of!

[2020-03-30 23:21] toshihikoyanase commented on #984
I'm sorry for the delayed response. I plotted the intermediate values of each trial and found out that pruned trials have higher intermediate values than trial#0 or trial#1. So, I think that this is the expected behavior. Please take a look at the following figure:
![plot_intermediate](https://user-images.githubusercontent.com/3255979/77970542-698d2d00-7327-11ea-8827-1064de3f2aaf.png)

If you feel

[2020-03-31 02:15] mikeaalv commented on #984
Thank you very much. Sorry forgot to check the minimum of trial #1, which turns out really small (0.492). Trial #2 did turn back overfitting and the final result is worse than 1.

[2020-03-31 04:31] toshihikoyanase commented on #984
@mikeaalv Thank you for your reply.
I think this issue was resolved, so let me close it. Please feel free to re-open it or create a new PR if you have further questions or comments.

[2020-03-31 04:31] #984 closed

[2020-03-31 11:09] toshihikoyanase commented on #933
@keisuke-umezawa

Could you tell me why you choose the method level docstring?
Currently, Optuna employs the class level docstring, and the Example Google Style Python Docstrings accepts it.

In addition, could you show me an example repositories which employ the method level docstring?
I'm not familiar with it and some popular repositories such as TensorFlow and PyTorch use the method level docst

[2020-03-31 15:13] toshihikoyanase opened #1069 "Support discrete parameters by `Trial.suggest_float()`."
This is a followup of #1021 , and it focuses on  https://github.com/optuna/optuna/pull/1021#pullrequestreview-376794576. The full discussion of `suggest_float` can be found the original issue  https://github.com/optuna/optuna/issues/510.

## Description

Please add `step` parameter to `Trial.suggest_float` in order to suggest discrete parameter like [`Trial.suggest_discrete_uniform()`](https://opt

[2020-03-31 22:12] nuka137 commented on #734
@g-votte

Thanks!
I created new request to fix these documentation.

[2020-04-01 01:06] #798 closed

[2020-04-01 01:20] sile commented on #835
As a merged PR #940 addressed this issue, please let me close this.

[2020-04-01 01:20] #835 closed

[2020-04-01 07:25] ytsmiling commented on #1058
Hi, I'll work on this issue.

[2020-04-01 07:29] sile commented on #1058
@ytsmiling Thanks! Please go for it.

[2020-04-01 10:24] himkt opened #1072 "Separate `trial.py` into `trials/xxx_trial.py`."
The line number of `trial.py` becomes large. (1071L)
How about creating a directory `trials` and separating `trial.py` into `trials/base_trial.py`, `trials/trial.py` and `trials/fixed_trial`? (file names are just examples.)

[2020-04-01 23:08] ytsmiling commented on #589
Hi, I'd like to work on this issue.
I think applying lazy-import for `optuna.dashboard` itself requires smaller changes than applying it for its dependencies (e.g., ```bokeh```, ```tornado```).
Can I go in this direction?

[2020-04-02 01:07] sile commented on #589
@ytsmiling Please give it a start!
However, if you (sshkhr) have already started to address this issue, please let us know. > @sshkhr

Sounds good. I think that Optuna's `integration` modules also adapt that approach for lazy importing (c.f. [optuna/integration/\_\_init\_\_.py](https://github.com/optuna/optuna/blob/master/optuna/integration/__init__.py)).

[2020-04-02 02:32] sshkhr commented on #589
Hi @ytsmiling please go ahead with the implementation. My schedule has been badly affected by COVID-19 and unfortunately, I won't be able to work on this anytime soon. I'd still love to contribute to optuna sometime in the future.

[2020-04-02 05:20] #1058 closed

[2020-04-02 12:51] himkt opened #1078 "[Proposal] Add integration with allennlp training with jsonnet config files."
# Motivation

I propose a wrapper module for allennlp cli interface.
Many allennlp users train their model with configuration files written in jsonnet.
(example: [sentiment analysis](https://github.com/allenai/allennlp/blob/master/training_config/basic_stanford_sentiment_treebank.jsonnet))
Although I made the example of allennlp [here](https://github.com/optuna/optuna/pull/949),
it would be better

[2020-04-02 13:27] vmgustavo opened #1080 "Is it possible to specify a starting point for the values suggested?"
Instead of starting from a random point I would like to define a specific set of parameters to start the search. Lets say I have prior knowledge about the problem and I know a set of parameters that would perform well and it should try to improve from there, is it possible to specify this initial set? Or is it always random?

[2020-04-02 13:43] hvy commented on #1080
Hi @vmgustavo. You can "queue" parameter configurations before starting the optimizations using [`Study.enqueue_trial`](https://optuna.readthedocs.io/en/latest/reference/study.html?#optuna.study.Study.enqueue_trial). Would that work for you? Let me leave a reference to #417 as it sounds like a duplicate.

[2020-04-02 15:12] vmgustavo commented on #1080
It seems to be enough for me. Thanks, I will try to use it.

[2020-04-03 02:31] hvy commented on #1072
I agree that `trial.py` is becoming somewhat bloated. If the bloating is the only reason, my suggestion is to keep the API unchanged (introducing `trials/` will change the API). However, rethinking the API might be of interest as well. I find it a bit strange that only `Trial` is exposed through `optuna.Trial` but e.g. `FrozenTrial` is exposed as `optuna.trial.FrozenTrial`. I'd like to hear what o

[2020-04-03 03:02] hvy commented on #1072
Might be related https://github.com/optuna/optuna/pull/1075.

[2020-04-03 05:07] sile opened #1084 "Apply `@abc.abstractmethod` decorator to the abstract methods of `BaseTrial`."
Currently, the abstract methods of the `BaseTrial` class aren't decorated by `@abc.abstractmethod`, but I think that it is not intentional. We should apply the decorator to the methods since it is a good Python convention to follow.

[2020-04-05 10:21] MokkeMeguru opened #1091 "prune and valid/test"
I want to train some deep learning model which consumes too many time and GPU resource.
So I need your prune method in the trial. But I wonder which I should use **test evaluation value** or **valid evaluation value**. (https://github.com/optuna/optuna/blob/master/examples/mlflow/keras_mlflow.py#L78)

We know test evaluated value is no related with valid evaluation value in training. So, I afraid

[2020-04-05 13:22] VladSkripniuk commented on #763
Is this issue still relevant? I get the following results:
#### Environment
- Ubuntu 18.04
- 2.7 GHz Intel Core i7
- 16 GB DDR4
#### Storage
- PostgreSQL 12.2
#### Results
[code]
That script runs in less than a second
[code]

[2020-04-06 03:11] elbaro opened #1092 "Race Condition For First Run"
When spawning multiple studies with the same postgres backend,
the script crashes because each process tries to create the db table.

## Expected behavior

db lock, no crash.

## Environment

- Optuna version: 1.2.0
- Python version: 3.8

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

[code]

## Additional context (optional)
only tried postgres

[2020-04-06 04:08] hvy commented on #1080
Let me close this ticket for now as resolved. Feel free to reopen as needed.

[2020-04-06 04:08] #1080 closed

[2020-04-06 05:58] c-bata commented on #1092
Hi @elbaro. To avoid this problem, you need to run database migrations before running `exp.py`.

1. Create a database from a command-line interface: `$ optuna create-study --storage ... --study-name ...`.
1. Load a study using [optuna.load_study()](https://optuna.readthedocs.io/en/latest/reference/study.html#optuna.study.load_study) on your python program.

There are no simple solutions to run dat

[2020-04-06 08:22] A03ki opened #1096 "Propose updating the output of FrozenTrial in first.rst"
In [optuna/docs/source/tutorial/first.rst](https://github.com/optuna/optuna/blob/master/docs/source/tutorial/first.rst), the output of `FrozenTrial` is old.

It doesn't have  `distributions`.

---

According to History of structs.py, optuna added `distributions` after 2019.
See [Add `distributions` properties to {Trial,FixedTrial,FrozenTrial}.](https://github.com/optuna/optuna/commit/ae2adbe90572b

[2020-04-06 09:21] donggu-prestolabs commented on #1092
The `exp` above meant a study, not a trial. Each line does its own `optuna.study.create_study`.
Currently I run a small dummy study in advance.
[code]
Should I run the migrate cmd for each study? Other than race conditions, `optuna.create_study` just works fine to init the database.

[2020-04-06 09:21] elbaro commented on #1092
The exp above meant a study, not a trial. Each line does its own optuna.study.create_study.
Currently I run a small dummy study in advance.

python exp.py study=dummy  # db init
python exp.py study=study1 &
python exp.py study=study2 &
..

Should I run the migrate cmd for each study? Other than race conditions, optuna.create_study just works fine to init the database.

[2020-04-06 09:44] c-bata commented on #1092
I see. I misunderstood.

No. It's OK just migrate once. You can migrate your database by using `optuna storage upgrade --storage YOUR_DATABASE` without creating a study. So I think the following steps work as you expected.

[code]

[2020-04-06 10:19] elbaro commented on #1092
Thanks, it solved my problem.

[2020-04-06 10:19] #1092 closed

[2020-04-07 01:57] #683 closed

[2020-04-07 02:25] hvy commented on #1096
Thanks for pointing this out, `optuna/docs/source/tutorial/first.rst` indeed seems to have been forgotten. Let me label this as `contribution-welcome`.

Additionally, the log format has been changes as well (https://github.com/optuna/optuna/pull/965) and should probably be updated.

[2020-04-07 02:45] toshihikoyanase commented on #1091
IMO, the validation values are usually used for hyperparameter tuning, and the test values are never used in any training phases (including pruning) to keep the evaluation unbiased.

As you mentioned, some Optuna examples use `test` datasets, but they may be better to be renamed `valid` datasets. What do you think of it?

[2020-04-07 07:57] toshihikoyanase opened #1097 "Add a description about document location stored in CircleCI artifact."
Thanks to #1008, documents of the submitted PRs are automatically built in CircleCI jobs and are stored in the artifact. But, some developers say that they cannot access the artifact tabs.

So, how about documenting the URL to the built document?
For example, a URL of the document in the artifact is as follows;

https://34609-122299416-gh.circle-artifacts.com/0/docs/build/html/index.html

Here, `3

[2020-04-07 08:43] hvy commented on #1097
Sounds good. I think a simple solution would suffice as we're planning to migrate from CircleCI to GitHub Actions.

[2020-04-07 12:52] keisuke-umezawa commented on #933
Sorry, it seems that it is just my preference. I also checked other libraries s.t. sklearn, and they use class level docstring. So, I will delete followings lines from wiki:

[code]

[2020-04-08 00:00] hvy commented on #933
Sound perfectly reasonable to me!

[2020-04-08 00:06] toshihikoyanase commented on #933
@keisuke-umezawa
I agree with you. Thank you for your detailed explanation!

[2020-04-08 01:13] #426 closed

[2020-04-08 02:56] hvy commented on #933
Would you mind updating the coding style guide accordingly? Let me know if you're busy and maybe I could do it.

[2020-04-08 06:26] #1096 closed

[2020-04-08 06:47] #605 closed

[2020-04-08 07:29] #589 closed

[2020-04-08 11:20] himkt opened #1105 "Import order for libraries in integration modules"
Basically, Optuna follows the rule of import order recommended in PEP-8. (#514).
However, PEP-8 doesn't mention about conditioned import.

There was some discussion (https://github.com/optuna/optuna/pull/777#pullrequestreview-329563858) but there is no description in the coding style convention.
I think it would be good to get agreement among the developers and put it in the convention.

[2020-04-08 13:16] jinnaiyuu commented on #1091
I believe that these datasets should be named validation set and avoid calling them test sets.
It may not be that obvious for beginners that we should tune hyperparameters using validation set, not test set.

Actually when I wrote the [lightgbm tuner example](https://github.com/optuna/optuna/blob/master/examples/lightgbm_tuner_simple.py#L21), I intentionally named it validation set...

[2020-04-08 15:00] keisuke-umezawa commented on #933
@hvy I changed as follows:
https://github.com/optuna/optuna/wiki/Coding-Style-Conventions/_compare/86d5c5cfa13bb0b88e8e5fef5a8d5402d6efe9cb...e9b2ca54e588d16eacc80e1cbd3ca4856b0c0c5b

[2020-04-08 15:40] toshihikoyanase opened #1107 "Rename test datasets in examples."
Rename test datasets in examples.

As mentioned in https://github.com/optuna/optuna/issues/1091#issuecomment-610953375, some of the Optuna examples use 'test' datasets to tune hyperparameters, but they are 'validation' datasets actually. This naming convention may be confusing to beginners, and this issue proposes to rename them.

## List of target examples

The following examples use terms like `

[2020-04-08 15:41] toshihikoyanase commented on #1091
@jinnaiyuu That makes sense. I created an issue (#1107) to fix the dataset names.
Thank you!

[2020-04-09 05:09] #1084 closed

[2020-04-09 08:46] hvy commented on #933
Thanks a lot, the changes LGTM.

[2020-04-09 14:25] keisuke-umezawa commented on #933
@hvy If you satisfied with the current guideline, we can close this issue. How do you feel about it?

[2020-04-11 14:30] keisuke-umezawa commented on #711
@c-bata
Like #734 , could you add [this list](https://github.com/optuna/optuna/issues/711#issuecomment-593362218) to the top of this issue, because it is easier to understand which we need to fix next.

[2020-04-11 14:54] c-bata commented on #711
Sounds good 👍  I updated the description.

[2020-04-13 03:01] ytsmiling opened #1115 "Study does not close all connections to RDB."
## Expected behavior

Finished studies do not consume database resources.

## Environment

- Optuna version: 1.3.0
- Python version: 3.5
- OS: Ubuntu 18.04
- MySQL (docker): `mysql:8.0.19` (localhost)

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. Use MySQL backend.
2. Create multiple studies from a single process.

## Reproducible examples (optional)

[code]

## Addi

[2020-04-13 16:24] himkt commented on #1063
@keisuke-umezawa
I think this issue has been resolved in #1083.

[2020-04-14 05:05] #1033 closed

[2020-04-14 14:40] himkt commented on #1012
working on #1086.

[2020-04-14 14:43] keisuke-umezawa opened #1117 "Implement partial fixed sampler."
## Motivation

Sometimes, when we try an experiment again, we want to override some parameters by fixed values.

e.g.

[code]

## Description

I would like to propose `partial fixed sampler` to override some parameters by fixed values , because it is easy to run experiments with small code changes.

I want to discuss two points here:

1. `partial fixed sampler` is needed or not.
2. If it is needed

[2020-04-15 00:53] hvy commented on #1063
Thanks for pointing that out. You're absolutely right, let me close this ticket.

[2020-04-15 00:53] #1063 closed

[2020-04-15 04:47] hvy commented on #933
Thanks, I'm personally okay with the new style. However, it'll require several changes (e.g. all the directives such as `..seealso:` -> `See also:` etc.) so I'm wondering others don't have any comments.

[2020-04-15 04:48] hvy commented on #933
Sorry for pinging but @crcrpar do you have any inputs on these changes?

[2020-04-15 06:19] crcrpar commented on #1072
Might be reference https://github.com/optuna/optuna/pull/681.

[2020-04-15 07:46] PhilipMay commented on #1017
PR is merged. Closing this.

[2020-04-15 07:46] #1017 closed

[2020-04-15 08:59] Crissman opened #1120 "AttributeError: module 'optuna.trial' has no attribute 'TrialState'"
Error message running https://github.com/optuna/optuna/blob/master/examples/pruning/simple.py
On Optuna 1.3

[code]

Should be `optuna.structs.TrialState.PRUNED`?

[2020-04-15 09:09] hvy commented on #1120
It's expected. You're trying to run an example from the `master` with an older version of Optuna (v1.3.0). You can either get an older example that works with v1.3.0, or install the latest `master`. C.f. https://github.com/optuna/optuna/pull/1101/files#diff-c1a684f35f39bf0b0408bb88c6d5106c.

[2020-04-15 15:05] crcrpar commented on #933
Actually I don't have any taken on how docstring should look like and I'm happy if there is one clear guideline.

[2020-04-16 00:45] hvy commented on #1066
Let me close this issue as fixed. Please feel free to reopen as needed.

[2020-04-16 00:45] #1066 closed

[2020-04-16 01:43] Crissman commented on #1120
Understood. Thanks!

[2020-04-16 01:43] #1120 closed

[2020-04-16 14:15] keisuke-umezawa opened #1128 "Align the order of arguments of `optuna.study.create_study` and `optuna.study.load_study`."
## Motivation

Currently, `optuna.study.create_study` and `optuna.study.load_study` have different orders of arguments, although their roles are similar. I want to align the order of arguments.

- [create_study](https://github.com/optuna/optuna/blob/master/optuna/study.py#L761-L768)
- [load_study](https://github.com/optuna/optuna/blob/master/optuna/study.py#L844-L849)

## Description

I want to al

[2020-04-16 14:20] keisuke-umezawa opened #1129 "Implement a decorator to Indicate the date for deprecation."
## Motivation

We would like to implement a decorator to Indicate the date for deprecation to show when classes and functions are deprecated to users.

## Description

Implement a decorator to Indicate the date for deprecation, and annotate classes and functions which are deprecated.

[2020-04-16 23:14] smly opened #1130 "Add instructions for setting up RDB storage"
## Motivation

There are few descriptions for RDB storage in the documentation. Adding the information required to set up the RDB will help users who use parallel execution.

## Description

At a minimum, it would be better to specify what permissions are expected of RDB users.

I tried Distributed computation with MySQL by allowing `SELECT`, `UPDATE`, and `INSERT` statements to any table in the d

[2020-04-17 01:01] #1069 closed

[2020-04-17 15:55] PhilipMay commented on #1015
I will do a PR. Would like to keep the issue open until then.

[2020-04-17 19:38] scouvreur commented on #1129
Is anyone working on this - could I take a look at it ?

[2020-04-18 02:40] crcrpar opened #1133 "CI failure: torch==1.4.0+cpu not found"
CI failed to install pytorch CPU 1.4.0 in https://github.com/optuna/optuna/pull/1086/commits/f52aebb2f11147e903d0014b7b384e705b631bc1's CI.

## Error messages, stack traces, or logs
[build_36874_step_103_container_0.txt](https://github.com/optuna/optuna/files/4495905/build_36874_step_103_container_0.txt)

CI: https://circleci.com/gh/optuna/optuna/36874?utm_campaign=vcs-integration-link&utm_medium=

[2020-04-18 13:37] WeirdKeksButtonK opened #1134 "How to ban some parameter subspace?"
Let's say I want to tune [SVM](https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html).

This is pseudo-code for the parameter space:
[code]
The problem is that the combination `penalty='l1' AND loss='hinge'` is not supported by scikit-learn. Can I tell Optuna not to sample this combination?

I tried raising an exception (used the `catch` argument), but Optuna constantly samp

[2020-04-18 15:15] c-bata commented on #925
I close this because of this issue seems to be low-priority.

[2020-04-18 15:15] #925 closed

[2020-04-19 01:59] crcrpar commented on #1134
Hi @WeirdKeksButtonK

How about defining `loss` space conditionally as described in [Branches and Loops](https://optuna.readthedocs.io/en/stable/tutorial/configurations.html#branches-and-loops)? For example,

[code]

[2020-04-19 07:22] keisuke-umezawa commented on #1129
@scouvreur Of course! If you have any ambiguity, please tell about it.

[2020-04-19 08:12] keisuke-umezawa opened #1136 "Enable to skip pruning by specified interval for every pruning class."
## Motivation

We want to specify interval to skip pruning, so that we can fasten iterations.
In most cases,  we do not need to run pruning after each iteration, but currently we can not avoid it.

## Description

Enable to skip pruning by specified interval for the certain PruningCallback classes.

- PruningCallback
    - [x] [LightGBMPruningCallback](https://github.com/optuna/optuna/blob/master/

[2020-04-19 08:24] keisuke-umezawa opened #1137 "Example of distribute training with TensorFllow."
## Motivation

Currently, we do not have an example of distribute training with TensorFllow. It is useful for TensorFlow users.

https://www.tensorflow.org/guide/distributed_training

## Description

Create an example of distribute training with TensorFllow.

[2020-04-19 12:50] himkt commented on #1105
I found this PR is the re-raising of #783.
I close this issue and discuss in the original issue.

[2020-04-19 12:50] #1105 closed

[2020-04-19 12:59] himkt commented on #783
@hvy

It’s reasonable for me to put a conditioned import including a single assignment on the bottom of imports.
(I think a conditioned import including a variable assignment should appear only in integration module.)

And, it might be out of scope in this PR, I think putting a conditioned import without a variable assignment below local library specific imports is natural since it may use methods

[2020-04-20 03:00] sile commented on #1130
Maybe related issue: https://github.com/optuna/optuna/issues/517

[2020-04-20 03:04] hvy commented on #1133
I believe the failure is mitigated by merging the latests master branch. The latest CircleCI configuration must be used in conjunction with the latest `setup.py`.

[2020-04-20 04:07] crcrpar commented on #899
https://github.com/optuna/optuna/pull/1138

[2020-04-20 04:35] crcrpar commented on #1133
Looks so, sorry for bothering you...

[2020-04-20 04:35] #1133 closed

[2020-04-21 01:22] toshihikoyanase commented on #1078
@himkt
https://github.com/optuna/optuna/pull/1086 has been merged into master.
Can we close the issue?

[2020-04-21 01:23] himkt commented on #1078
@toshihikoyanase Thank you for pointing out, yes, we can close this issue now.

[2020-04-21 01:38] ytsmiling commented on #1134
Hi,
You can use python to describe the constraint. Does the following code work for your case?

[code]

[2020-04-21 02:33] toshihikoyanase commented on #1078
@himkt Thanks! Let me close this issue.

[2020-04-21 02:33] #1078 closed

[2020-04-21 03:02] hvy commented on #1067
Memo: `llvmlite` which is required by `numba` which is required by e.g.`dask_ml` in our examples has stopped providing wheels for Python 3.5 starting from 0.32.

[2020-04-21 12:25] WeirdKeksButtonK commented on #1134
Yes, this is my current solution. However, if `penalty=='l1'` then `loss='hinge'` is "sampled" without the sampler knowing it, hence, without updating internal statistics of the sampler related to `loss`.

In general form:
[code]
In this case, statistics of `a_if_true` and `a_if_false` are not shared. In theory, this is fully valid, but in practice one could (depends on a task) benefit if the stat

[2020-04-21 12:25] #1134 closed

[2020-04-21 14:50] himkt opened #1151 "[RFC] Run GitHub Actions only on `optuna/optuna`."
GitHub Actions are running on forked repositories (for example, https://github.com/himkt/optuna/actions).
If an `example` CI fails on a forked repo, a user could receive an alert mail like the following.

[code]

I think it doesn't need to run GitHub Actions `example` and `stale` on forked repositories.
I'm wondering we can stop them using [`jobs.<job_id>.if`](https://help.github.com/en/actions/re

[2020-04-21 18:06] himkt commented on #510
@sile

https://github.com/optuna/optuna/issues/510#issuecomment-536868317

- `suggest_float` is introduced in optuna now
- `suggest_float` supports `uniform`/`loguniform`/`discreteuniform`

Is there something we have to work on in this PR?
The discussions about `suggest_int` have ended?

[2020-04-21 18:12] himkt commented on #1012
- remove `CallbackTrainer`: allenai/allennlp/issues/3519
- introduce `epoch_callback`: allenai/allennlp/pull/3970

callback features in AllenNLP Trainer have been actively discussed.
Implementation seems to be unstable.

Therefore, I make a decision to suspend this issue until the next version of AllenNLP is released
and the interface of AllenNLP is stable.

[2020-04-22 00:17] sile commented on #510
@himkt Thanks!
I think we might be able to address https://github.com/optuna/optuna/issues/510#issuecomment-587423700 ( adding `log` option to `suggest_int`) within this issue.
However, IMO, the API design has not been fixed (e.g., do we need to add `log_base` option or not?), so it might be better to create another issue to discuss this specific topic and close #510.
What do you think of it?

[2020-04-22 11:13] towadroid opened #1153 "Bibtex entry on optuna webpage misses a comma"
The template Bibtex entry on [optuna webpage](https://optuna.org/#paper) misses a comma after the author field.

Wasn't sure were to put this minor "bug", hope this is the right place.

[2020-04-22 11:57] toshihikoyanase commented on #1153
@towadroid Thank you for pointing it out!
I fixed it. The new page will be deployed in a couple of days (hopefully).

![image](https://user-images.githubusercontent.com/3255979/79978938-b2c23e00-84db-11ea-9793-43a1394ddae7.png)

[2020-04-23 00:46] himkt commented on #1151
On `himkt/optuna`, I tested behaviors of `if` and confirmed it works well.

### `if: github.repository == 'optuna/optuna'`
https://github.com/himkt/optuna/actions/runs/84853659
https://github.com/himkt/optuna/commit/a702192f1c6a980922633db4e6b5bd0fa39d7543

The job `example` was launched but all builds were skipped.

### `if: github.repository == 'himkt/optuna'`
https://github.com/himkt/optuna/act

[2020-04-23 01:26] sile commented on #1151
I definitely agree with you.

[2020-04-23 01:33] himkt commented on #510
@sile
Thank you for your clarification.
OK, I will work on adding `log` to `suggest_int` later.

[2020-04-23 01:41] sile commented on #510
@himkt Cool! Thanks!

[2020-04-23 02:16] hvy commented on #1151
Thanks, that makes sense. For a quick fix, you should also be able to disable the actions in the fork using GitHub's `Settings` --> `Actions` --> `Actions permissions` --> `Disable Actions for this repository`.

[2020-04-23 04:27] himkt commented on #1151
Thank you for reactions, I'll make a PR later.

@hvy
Thank you for pointing out, you're right!
Let me note disabling email notification (`Settings` -> `Notifications` -> `GitHub Actions` and remove checks on `Email`) also works for a quick fix. (But this is the account-wide configuration)
(I also think it would be better to avoid making collaborators update their settings manually.)

[2020-04-23 06:28] hvy commented on #1151
Thanks a lot!

[2020-04-23 09:03] MokkeMeguru commented on #1091
I'm waiting for the progress at #1107

[2020-04-24 02:31] #1151 closed

[2020-04-24 10:57] #899 closed

[2020-04-24 20:12] faustiandilemma opened #1165 "Issue with lgb example"
My apologies if this is not the appropriate place for this question.  I'm trying to run the optuna lgb example and trying to take out certain parameters but it seems that when I run the study it defaults to optimizing "feature_fraction" even when I have it commented out or deleted from the objective.  Am I missing something?

Here is my code:

[code]
## Note to the questioner

If you are more comf

[2020-04-25 12:15] VladSkripniuk commented on #1165
@faustiandilemma could you provide output, which is produced by the code you run? I tried the piece of code which you provided and it looks like `feature_fraction` is not actually optimized:
[code]

[I 2020-04-25 14:06:52,363] Finished trial#0 with value: 0.956140350877193 with parameters: {'num_leaves': 143, 'bagging_fraction': 0.8237765334272114, 'bagging_freq': 4, 'min_child_samples': 14}. Best

[2020-04-25 18:40] faustiandilemma commented on #1165
Hi @VladSkripniuk, thank you for your response.  I was able to run and reproduce your code with the breast_cancer data, and then when I ran my dataset again it worked and only optimized the features I had selected.  Appreciate the help!

As a follow up, I still can't get the output to recognize my "verbosity" input (20) and it defaults to outputting every score for each round.  I've tried putting

[2020-04-25 19:39] VladSkripniuk commented on #1165
Hi @faustiandilemma, I'm not familiar with verbosity levels of LightGBM. What behavior do you expect when you set verbose=20? To suppress warnings you can put `"verbose": -1` in the param dictionary. To suppress outputting score after each round you can set `verbose_eval=False` in `lgb.train'. I attach the code snippet:
[code]

[2020-04-26 05:58] faustiandilemma commented on #1165
With verbose 20 I was expecting it to only print results every 20 rounds but it's still printing the score for every round. I'll look at the docs again and see what I can find.  Thanks again for your help.

[2020-04-26 06:31] VladSkripniuk commented on #1165
@faustiandilemma you are welcome. This [stackoverflow](https://stackoverflow.com/q/44719651) answer proposes how to set frequency of output.

[2020-04-26 07:14] keisuke-umezawa commented on #767
@hvy @ytsmiling Is it okay to close it?

[2020-04-26 12:15] WeirdKeksButtonK commented on #1134
Probably, it was too early to close the issue, I don't know if there are plans to support dynamic categorical spaces for TPE. For me, it is not a blocker, anyway.

[2020-04-26 19:22] sskarkhanis opened #1169 "Question about xgboost CV and n_estimators / num_boost_round"
Hello

I'm enjoying exploring Optuna.

I have a question on getting cross validated results with xgboost and CV with Optuna. Asking here as I couldn't find any examples in the repo on this.

I've studied the example you've posted here: https://github.com/optuna/optuna/blob/master/examples/xgboost_simple.py.

My attempt to use xgb.CV with Optuna,

[code]

While this will give me the CV metric (auc

[2020-04-26 22:13] ytsmiling opened #1170 "Major refactoring of storage classes."
## Motivation

Current storage class implementations have several issues listed in the following.
- Inconsistent error handlings between backends.
- Significant bottlenecks in the storage class on training with / querying to RDB.
- O(trial^2) running time even with random-sampler and CMA-ES.
- Undefined consistency models for multi-worker optimizations.

Some of these limitations come from the opt

[2020-04-26 22:14] ytsmiling commented on #767
Yes, I think we can close this issue.

[2020-04-26 22:14] #767 closed

[2020-04-27 02:42] keisuke-umezawa commented on #933
I will add description that both style is acceptable for `..seealso` and `See also:.

[2020-04-27 06:30] toshihikoyanase commented on #1169
Hello @sskarkhanis,

I agree. To get the `n_estimators` (I think it is equivalent to the number of iteration. Please let me know if it's wrong.), I think you can use the `xgb_cv_results`. It contains evaluation history (metric values at each iteration), so its length is corresponding to the `n_estimators`.

[code]

By the way, the average of the `xgb_cv_results['test-auc-mean']` is used as an obje

[2020-04-27 08:41] sskarkhanis commented on #1169
Hello

Really appreciate the quick response. Thank you. :)
You are right about the n_estimators. num_boost_round and n_estimators are aliases.
Though in optuna I could only use n_estimators in trial.set_user_attr() and not num_boost_round (got an error message)

Based on your suggestion, I've modified the code now to,

[code]

I'd be happy to add it as an example under https://github.com/optuna/op

[2020-04-27 19:51] faustiandilemma commented on #1165
@VladSkripniuk That worked perfectly.  Thanks again for all your help!

[2020-04-28 01:57] #1107 closed

[2020-04-28 01:59] himkt opened #1176 "Show title in figure for contour plot."
I noticed `optuna.visualization.plot_contour` show a plot without its title.

<img width="913" alt="Screen Shot 2020-04-28 at 10 49 53" src="https://user-images.githubusercontent.com/5164000/80437965-01d5fc00-893e-11ea-896a-343b2e51bc90.png">

I think it's better to show a title to be consistent with other plot features such as `optuna.visualization.plot_optimization_history` and `optuna.visualiza

[2020-04-28 10:38] sebastianheinz opened #1178 "Memory increase over trials"
Hi,

I am using Optuna to tune a larger neural network architecture. During optimization the memory consumption of my Python process increases with approx. 1 GB per trial. The process starts at ~2GB and terminates after 15 trials because of OOM (I have a 16GB machine).

I've tried to replicate this behavior with a smaller model:

[code]

Can you share some info why memory usage increases strongly

[2020-04-28 11:40] harupy commented on #1176
Can I work on this?

[2020-04-28 11:41] himkt commented on #1176
@harupy Sure, thank you for your interest!

[2020-04-29 12:41] Jimmy2027 opened #1186 "attribute errors when trying pytorch_lightning_simple example"
I have tried to run the code from the [pytorch_lightning_simple](https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py) example for my own model, but get attribute errors with the `LightningModule`.

## Expected behavior

I expect the code from the example to run without errors.
## Environment

- Optuna version: 1.3.0
- Python version: 3.7
- OS: macOS Catalina Version 1

[2020-04-29 13:18] keisuke-umezawa commented on #762
@ytsmiling @hvy Can we close this issue?

[2020-04-29 13:19] keisuke-umezawa commented on #762
@ytsmiling @hvy
I think we can close this issue, so I close it now.

But if you think we need to keep it, please reopen it.

[2020-04-29 13:19] #762 closed

[2020-04-29 13:38] keisuke-umezawa commented on #933
https://github.com/optuna/optuna/wiki/Coding-Style-Conventions/_compare/e9b2ca54e588d16eacc80e1cbd3ca4856b0c0c5b...97975720f757055c0897054e1538b7839e762b0b

[2020-04-29 19:26] nzw0301 commented on #1117
We might implement this feature as a new class of `FixedTrial`. This is because `FixedTrial` has a similar API.

[2020-04-29 20:00] nzw0301 commented on #1117
I think we can already perform this kind of setting by using [`Study.enqueue_trial`](https://optuna.readthedocs.io/en/latest/reference/study.html#optuna.study.Study.enqueue_trial).

For example,

[code]

[2020-04-30 03:42] kmedved commented on #1169
I think this would be a great example to add. Calculating n_estimators for a final model after early stopping is a very common task.

[2020-04-30 04:36] toshihikoyanase commented on #1169
@sskarkhanis Sorry for the delayed response.

I would appreciate your contribution to the Optuna repository.

[2020-04-30 04:48] toshihikoyanase commented on #1178
Hi @sebastianheinz ,

How about calling [`tf.keras.backend.clear_session`](https://www.tensorflow.org/api_docs/python/tf/keras/backend/clear_session) at the beginning of the objective function as can be seen in [this example](https://github.com/optuna/optuna/blob/master/examples/pruning/tfkeras_integration.py#L73-L75).

I had a similar problem when I was creating the Keras/tf.keras examples and fo

[2020-04-30 06:33] hvy commented on #1186
Sorry I believe it's a know bug but please correct me if I'm wrong. Is it fixed by this ongoing PR https://github.com/optuna/optuna/pull/1013 you think?

[2020-04-30 07:22] festeh commented on #1186
As the error `TypeError: Can't instantiate abstract class LightningNet with abstract methods forward` states you need to implement `forward` method in the `LightningNet`. Note that the current lightning example in the repo has this method implemented.

[2020-04-30 07:24] festeh commented on #1186
Something like this
[code]

[2020-04-30 07:31] #997 closed

[2020-04-30 13:13] sebastianheinz commented on #1178
Perfect, solved the problem! Maybe it would make sense, to put this information somewhere. Thank you!

[2020-04-30 14:06] VladSkripniuk commented on #1136
`TensorFlowPruningHook` skips pruning based on `run_every_steps` argument. `ChainerPruningExtension` skips pruning based on `pruner_trigger` argument.
I think we need a discussion to decide whether we need to reformat these two classes to add `interval` argument.

[2020-04-30 17:42] Hoiy commented on #820
Received `sqlite3.OperationalError: database is locked` error with only 2 processes optimizing on the same study. Both processes stopped immediately due to this error. This happens rarely though.

[2020-05-01 01:47] #1176 closed

[2020-05-01 05:11] harupy commented on #1097
@toshihikoyanase

This GitHub Action automatically creates a link to the doc as a commit status.

https://github.com/larsoner/circleci-artifacts-redirector-action

I tried this aciton on my repo:

<img width="817" alt="Screen Shot 2020-05-01 at 14 09 00" src="https://user-images.githubusercontent.com/17039389/80783658-6fd82880-8bb5-11ea-8ae0-31d26628649a.png">

https://github.com/harupy/kernel-pro

[2020-05-01 05:18] hvy commented on #966
A PR is ongoing https://github.com/optuna/optuna/pull/1025.

[2020-05-01 05:49] hvy commented on #1055
PR is ongoing at https://github.com/optuna/optuna/pull/1056.

[2020-05-01 05:51] hvy commented on #1049
Discussion is ongoing at https://github.com/optuna/optuna/pull/1051#issuecomment-620337888.

[2020-05-01 05:54] hvy commented on #1045
Let me close this issue as stale. Feel free to reopen as needed!

[2020-05-01 05:54] #1045 closed

[2020-05-01 05:58] toshihikoyanase commented on #1097
@harupy Thank you for your information. Sounds good!
It seems to be a third-party GitHub Action, and I'm a bit worried about stability.
Have you ever seen any problems with it on your repository?

[2020-05-01 06:30] harupy commented on #1097
So far, it seems to be working fine.

As reported in https://github.com/larsoner/circleci-artifacts-redirector-action/issues/7, this action does not seem to work when a PR source repo has CircleCI enabled.

[2020-05-01 13:07] nzw0301 commented on #510
@himkt Could I help you implement `suggest_int`?

I guess a new `suggest_int` looks like `suggest_int(name: str, low: int, high: int, log: bool, base: int, step: int)`.
In addition, is it better to implement the following functions?

- `suggest_loguniform_int(name: str, low: int, high: int, base: int, step: int)`
- `suggest_uniform_int(name: str, low: int, high: int)`

as a counterpart of `suggest

[2020-05-01 13:58] himkt commented on #510
Hi @nzw0301, thank you for your interest!
To be honest, your suggestion sounds helpful to me since I'm a little bit busy now.

I basically agree with you but I think `suggest_int` doesn't have to support `base`, which is consistent with `suggest_loguniform`.

I think what we have to do is implementing `suggest_intloguniform` because `suggest_uniform_int` is the same as [`suggest_int`](https://optu

[2020-05-02 05:41] yiyinying opened #1198 "Is the pruner minimum?"
val_loss is minimum
val_acc is maximum

if set direction='maximize':
  pruner is val_loss or val_acc

[2020-05-02 07:05] nzw0301 commented on #510
Thank you @himkt for your kind reply.

You are right! My understanding was wrong.

It sounds fine.

[2020-05-02 08:28] sile commented on #510
Thanks, @nzw0301 and @himkt  !

IMO, it's sufficient only to extend `suggest_int` and we don't have to implement `suggest_intloguniform` (or `suggest_uniform_int`).
Now, there is `suggest_loguniform` but it's just a historical reason. It's not determined yet, but we might deprecate the method (and `suggest_uniform`) in favor of `suggest_float` in the future.

Agree.

[2020-05-02 13:50] zxweed opened #1199 "get_param_importances(study) returns random values each call"
After finished study.optimize call to `get_param_importances` returns different (and seems to be random) values each call.

## Expected behavior
The values of importances must be the same.

## Environment
- Optuna version: 1.3.0
- Python version: 3.7.5
- OS: ubuntu 19.10

## Reproducible examples (based on examples/sklearn_simple.py)
[code]
OrderedDict([('value', 0.7264216630695697), ('classifier'

[2020-05-02 14:52] grafi-tt commented on #820
Probably Python routines are blocking transaction.  Each query itself is not so slow.

@kuroko1t  @louisabraham Could you try this patch?

[code]

[2020-05-02 19:28] liori opened #1200 "Equivalent of hyperopt's normal/lognormal parameters"
Is it possible to have a parameter taken from a normal/lognormal distribution? Effectively a parameter either not constrained at all, or constrained only to positive numbers. Thanks!

[2020-05-02 19:42] nzw0301 commented on #510
@sile Thank you for your reply! I understood.

I'll create a PR to support `log` argument of `suggest_int` since @himkt seems too busy.

[2020-05-03 05:31] hayata-yamamoto commented on #510
Wonderful!

[2020-05-04 06:53] keisuke-umezawa commented on #933
I close this issue, because we achieved the goal I want to do when I opened it.
If you find any other issues about the guideline of docstring, please open another issue.

[2020-05-04 06:53] #933 closed

[2020-05-04 10:24] gauthamzz opened #1206 "Add support for group in learning to rank in lightgbm"
[code]

the above throws an error

[code]

grouping allows for keeping queries together.

[2020-05-06 02:30] hayata-yamamoto commented on #510
@himkt @nzw0301

Let me ask a question to you. Do you have any test case of `suggest_int(high, low, step, log=True)`

To be honest, it's easy to understand if this function has a `base` argument.  This is because it has already shown at https://github.com/optuna/optuna/issues/510#issuecomment-587551510

On the other hand, if you only use natural logarithm to generate samples, it may be hard to und

[2020-05-06 04:35] harupy opened #1207 "Bug when passing multiple callbacks to `MultiObjectiveStudy.optimize`"
When passing multiple callbacks to `MultiObjectiveStudy.optimize`, it uses only the last callback.

[code]

This code outputs:

[code]

Colab notebook that reproduces this bug:
https://colab.research.google.com/drive/1YeT8ItU9IO65wXsqY9k-_ATCrCBW0BRZ?usp=sharing

## Expected behavior

The output is expected to be:

[code]
## Environment

- Optuna version: master branch
- Python version: 3.6.9
- OS

[2020-05-06 06:49] nzw0301 commented on #510
@hayata-yamamoto

### Add tests

I haven't created tests. Thank you for your kind comment.

### `base` argument

I don't think so. Even if `base` is introduced, `suggest_int` doesn't return such values. `suggest_int` with `log=True` should be a counterpart of `suggest_float` for consistency.  In addition, our implementations will be the almost same as [`automl/ConfigSpace`](https://automl.github.i

[2020-05-06 07:04] hayata-yamamoto commented on #510
I've got. That's cool.
I'm looking forward :)

[2020-05-06 07:18] himkt commented on #510
@hayata-yamamoto Thank you for sharing your concerns.
And thank you @nzw0301 for clarifying, I agree with you.

Let me put a small note about the option for the logarithm scale.
As https://github.com/optuna/optuna/issues/510#issuecomment-587557701 says, all values between `low` and `high` will be generated in
`suggest_int` with `log` option. The probability decreases for larger values.

A histogra

[2020-05-06 07:40] kasparthommen commented on #510
Please note that according to [my comment](https://github.com/optuna/optuna/issues/510#issuecomment-587557701) **all** values between 1 and 16 are being generated (1, 2, 3, ..., 14, 15, 16), but the larger values are being generated with **lower** probability than the smaller values.

The implemention is simply `int(round(sample_continuous/step))*step` where `sample_continuous` comes from a contin

[2020-05-06 11:05] sile commented on #1207
Thank you for reporting this bug. I created #1209 to fix this problem.

[2020-05-06 23:49] nuka137 commented on #734
@g-votte

Sorry for late response.
I created a PR (#1212) which will fix a doctest on optuna/storages/rdb/storage.py.
I think all doctests are fixed after merging this PR.

[2020-05-06 23:51] #1153 closed

[2020-05-07 05:20] g-votte opened #1213 "`experimental` decorator adds extra indents to docs"
An extra indent appears in the docs when the [`experimental`](https://github.com/optuna/optuna/blob/2d5f24b06eed56ece72b8dfa878135bb4bb63779/optuna/_experimental.py#L60) decorator is added to a method of a class. This does not happen with a top level (i.e., not nested) class or function.

## Steps to reproduce

1. add an `experimental` decorator to a method of a class
2. make the document

## Repr

[2020-05-08 00:19] toshihikoyanase commented on #1004
@Ahanmr I'm sorry for the delayed response. This issue was resolved by https://github.com/optuna/optuna/pull/1031 as you mentioned.
Thank you!

[2020-05-08 00:19] #1004 closed

[2020-05-08 00:49] toshihikoyanase commented on #1206
Hello @gauthamzz ,

Does `group` exsit in the arguments of the original `lightgbm.train`?
I couldn't find it in the [reference](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm-train
), but [Dataset]( https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html#lightgbm.Dataset) seems to have the `group` argument.
If you can use it, I think we can leave

[2020-05-08 03:10] toshihikoyanase commented on #1136
I think we have an alternative approach to skip pruning. How about adding a method like `BasePruner.is_target_step(step: int) -> bool` so that the callbacks can query the timing of pruning to the pruners?

This is because the pruners have logic to skip pruning. If we add the `interval` argument to the callbacks, users may need to take care of the relationship between the logic and the `interval` a

[2020-05-08 04:08] toshihikoyanase commented on #1000
This issue was resolved by https://github.com/optuna/optuna/pull/998. Let me close it.

[2020-05-08 04:08] #1000 closed

[2020-05-08 04:14] toshihikoyanase commented on #961
@i-Hun
Let me close this issue. Please feel free to re-open it or create new issues if you have further problems.

[2020-05-08 04:14] #961 closed

[2020-05-08 04:20] #906 closed

[2020-05-08 04:20] sile commented on #914
@Y-oHr-N Since this problem seems to have been solved by #968, I'll close this issue. Feel free to reopen it if you still have any problems.

[2020-05-08 04:20] #914 closed

[2020-05-08 04:26] toshihikoyanase commented on #879
@erniejunior
Let me close this PR. If you have further problems, please feel free to re-open it.

[2020-05-08 04:26] #879 closed

[2020-05-08 04:37] hvy commented on #782
@keisuke-umezawa do you have any ideas on this?

[2020-05-08 04:40] sile commented on #752
Since there are no activities for a long time on this issue, please let me close it. Feel free to reopen this or create another issue if need.

[2020-05-08 04:40] #752 closed

[2020-05-08 04:42] HideakiImamura commented on #823
Thanks for the suggestion! I think that restarting samplers is useful when the evaluation of the objective function is low costs, but less useful when the evaluation of the objective function is high costs, such as in neural network hyperparameter search. This functionality should be implemented with documentation about it.

[2020-05-08 04:53] sile commented on #745
Since this issue itself seems to have been solved and there is a related issue #821, please let me close it.
FYI, we have implemented the multi-objective feature by #1054.

[2020-05-08 04:53] #745 closed

[2020-05-08 08:55] harupy opened #1219 "Color pytest outputs using `--color==yes`"
## Motivation

Color pytest outputs using `--color==yes`. This allows us to easily identify failed tests on CI.

<img width="521" alt="Screen Shot 2020-05-08 at 17 54 22" src="https://user-images.githubusercontent.com/17039389/81389546-fa3fff80-9154-11ea-9361-4195e31b2446.png">

## Description

## Alternatives (optional)

## Additional context (optional)

[2020-05-08 09:05] hvy opened #1220 ""auto" `{min,max}_resource` heuristic could yield different results on different processes."
## Expected behavior

Estimated `min_resource` of the `SuccessiveHalvingPruner` and `max_resource` of `HyperbandPruner` using the `"auto"` argument, on different processes used under distributed optimization is expected to behave identically. As it's currently implemented, although it in practice might be rare (see reproduction steps), could lead to unexpected behaviors. See https://github.com/opt

[2020-05-08 09:05] harupy commented on #1219
With `--verbose` and `--color==yes`, it would look like:

<img width="1145" alt="Screen Shot 2020-05-08 at 18 04 47" src="https://user-images.githubusercontent.com/17039389/81390485-7f77e400-9156-11ea-8c5e-348ef4b250d3.png">

[2020-05-08 09:06] hvy commented on #1220
A possible fix might be to simply allow the first process computing the resource to mark the trial through `system_attr` and have following processes check this mark.

[2020-05-08 09:13] harupy commented on #1219
I usually add these options to `pytest.ini` like below which makes `pytest` equivalent  to`pytest --verbose --color=yes`

[code]

https://docs.pytest.org/en/latest/customize.html#adding-default-options

[2020-05-08 09:15] hvy commented on #1220
I noticed this issue isn't restricted to distributed optimization as it could also apply for resumed study optimization.

[2020-05-08 09:31] harupy commented on #1213
It seems we need to indent the `.. note::` section.

[code]

[2020-05-08 09:35] PhilipMay commented on #906
This is great! Thanks.

[2020-05-08 17:03] gauthamzz commented on #1206
I was using the sklearn interface of lightgbm. Couldn't find any docs regarding it .

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRanker.html

I tried this out based on this issue https://github.com/optuna/optuna/issues/960

Is there an example I can look into on how optuna works with this interface?

I can take a look at that meanwhile.

[2020-05-08 22:43] diff7 opened #1224 "OOM with pytorch after a few trials initialized."
Setting status of trial#28 as TrialState.FAIL because of the following error: RuntimeError('CUDA out of memory. Tried to allocate 88.00 MiB (GPU 0; 10.76 GiB total capacity; 9.77 GiB already allocated; 9.25 MiB free; 9.67 MiB cached)',)

[2020-05-08 22:45] #1224 closed

[2020-05-08 22:46] diff7 commented on #1224
Sorry, my bad, need to sleep more.

[2020-05-09 08:41] keisuke-umezawa commented on #1136
That is true. The `interval` should be managed by pruning class.

[2020-05-11 00:54] toshihikoyanase commented on #1206
I see. `LGBMRanker.fit` has the `group` argument.

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRanker.html#lightgbm.LGBMRanker.fit

Currently, Optuna's `LightGBMTuner` supports only the Training API of LightGBM. https://github.com/optuna/optuna/pull/1018 will introduce the scikit-learn compatible interface, but it is under the review.

So, if you want to use scikit-learn API w

[2020-05-11 00:54] hvy opened #1226 "Bad monitoring metrics with integration callbacks are difficult to notice."
## Motivation

Bad/wrong monitoring metrics represented by key strings with the following integration callbacks are difficult to notice. For instance, a simple typo in the metric would make the pruner a NOOP pruner. One might expect an error.

- https://github.com/optuna/optuna/blob/master/optuna/integration/keras.py (resolved by #1759)
- https://github.com/optuna/optuna/blob/master/optuna/integra

[2020-05-11 01:56] #1207 closed

[2020-05-11 03:04] hvy commented on #1199
This is currently expected as the behavior is determined by the underlying `fanova` library and we haven't yet provided a public API for, in this case, configuring the seed. As for now, if you happen to be able to modify the code that calls `fanova`, you can pass the seed there.

[2020-05-11 03:25] hvy commented on #1220
Maybe leaving a note in the documentation is fine for now.

[2020-05-11 04:29] nuka137 commented on #734
@g-votte

Thanks to many reviewers, all doctests listed in the head of this issue are fixed.
I think we can close this issue now.
What do you think?

[2020-05-11 08:01] sile commented on #1220
Agree.
Besides, it might be applied even if there are no process restarts. For example, let's consider the following scenario (I assumes that there is only one worker and `HyperbandPruner(max_resource="auto")` is specified):
1. The first trial calls `trial.report(value, step=10)`
2. The second trial calls `trial.report(value, step=100)`
3. The following trials also call `trial.report(value, step=1

[2020-05-11 09:30] hvy commented on #1220
Thanks for you input and example scenario. Yes actually just documenting it might be a reasonable decision, as doing a proper fix isn't trivial.

[2020-05-11 14:03] CristianMonea opened #1230 "Out of bounds error when using CmaEsSampler"
I cannot run the sample code for the CME-ES algorithm provided [here](https://optuna.readthedocs.io/en/stable/reference/samplers.html). It runs for one trial and then it outputs an out of bounds error.

## Expected behavior

To perform optimization of the given objective function using the CMA-ES algorithm.

## Environment

- Optuna version: 1.4.0
- Python version: 3.6.8
- OS: Windows 10 x64
- Oth

[2020-05-11 14:48] c-bata commented on #1230
Hi @CristianMonea. Thank you for reporting the bug.

I wrote a patch for this issue and open https://github.com/optuna/optuna/pull/1231.
But I couldn't reproduce your problem on my macbook. Could you check that the patch fixes your problem like:

[code]

[2020-05-11 15:11] CristianMonea commented on #1230
It works. Thank you!

[2020-05-11 15:13] c-bata commented on #1230
I see. Thank you!

[2020-05-12 02:00] #1230 closed

[2020-05-12 05:09] ytsmiling opened #1232 "[RFC] Stop multi-thread supports."
## Motivation
The current optuna supports multi-thread execution. However, it does not result in any speed gain in general use cases because of python GIL. Rather, the execution time can become longer when we specify n_jobs > 1.
The multi-thread support just complicates storage codes and causes hard-to-catch bugs. For example, I suspect the thread-safety relates to #820
Additionally, it forces sto

[2020-05-12 05:17] ytsmiling commented on #1232
This PR relates to #1170.

[2020-05-12 05:26] c-bata commented on #1232
I once optimized a hyperparameters of [libffm](https://github.com/ycjuan/libffm) (a library for field-aware factorization machines). libffm does not provide official python binding. So I use Optuna via command line interface. In such a situation, multi-thread optimization is useful.

Although optuna is mainly designed for machine learning, we can use optuna for wide variety of projects as a black-

[2020-05-12 05:35] ytsmiling commented on #1232
Thank you for sharing the experience.
Indeed, if you spawn a new process in each trial, the GIL won't be a problem and the multi-thread support can improve the overall execution time.

[2020-05-12 05:40] ytsmiling commented on #1232
I updated the proposal. Even though the updated proposal is already mentioned in #1170, I think this problem is worth having a dedicated issue to discuss.

[2020-05-12 07:49] #1219 closed

[2020-05-12 10:12] harupy commented on #1213
Can I work on this?

[2020-05-12 15:05] TheoLvs opened #1233 "Hyperparams confidence interval estimation"
Hello,

Thanks for the great work on Optuna library,
It's definitely a game-changer compare to other options, I just switched to Optuna in many of my personal & professional projects.

I do have one question, is there a way of computing parameters confidence intervals? Maybe with a specific sampler?

Thanks a lot,
Theo

[2020-05-12 21:10] ytsmiling opened #1235 "`sklearn`-`skopt` version incompatibility causes doctest failure."
## Expected behavior

The following test should succeed.
[code]

## Environment

Please refer `.circleci/config.yml` and `setup.py`.

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. ```pip install scikit-learn==0.23.0```
2. ```pip install scikit-optimize```
3. ```python -c "import skopt"```

[2020-05-12 21:12] ytsmiling commented on #1235
It seems the same issue occurs in other tests as well.

[2020-05-12 21:31] ytsmiling commented on #1235
https://github.com/scikit-optimize/scikit-optimize/issues/902

[2020-05-12 22:26] #1235 closed

[2020-05-13 00:24] toshihikoyanase commented on #1200
I'm sorry for the delayed response.

I think the normal distribution has the mean and standard deviation to specify the values to be suggested. Currently, Optuna does not support them. Since this is the first request for such distributions,  could you share your usage of such distributions?

[2020-05-13 00:27] toshihikoyanase commented on #1198
Thank you for your question.
The pruner uses the intermediate values reported in the objective function. So, please specify `val_acc` when you set `direction='maximize'`.
I think [this example](https://github.com/optuna/optuna/blob/master/examples/pruning/simple.py#L38-L39) will help you report the `val_acc` as intermediate values.

[2020-05-13 03:10] HideakiImamura commented on #1233
Hi Theo!

Thank you for your insightful question.  I'm very glad to hear that you've started to use Optuna.

In current Optuna implementation, there is no way for computing parameter confidence intervals because estimating confidence of parameters is difficult. There are some reasons why it is difficult.

- [1] For any samplers, we can compute how the optimized hyperparameter performs well after h

[2020-05-13 03:33] liori commented on #1200
Sure! The story is that I was optimizing hyperparameters for training neural networks. I used `hyperopt` and set the learning rate as a lognormal with mode of `0.01` and the interquartile range was around `0.1` to `0.001`. After a night of computations I woke up to see that `hyperopt`'s TPE found an optimum around `10`, much better than anything close to my initial bet!

Out of curiosity then I wa

[2020-05-13 05:16] CMobley7 opened #1237 "XGBRegressor eval_metric error"
To Whom It May Concern,

I'm trying to use `XGBRegressor` with a pruning callback, similar to your example [here](https://github.com/optuna/optuna/blob/master/examples/pruning/xgboost_integration.py.). However,
I get either `XGBoostError: [05:03:32] /workspace/src/metric/metric.cc:31: Unknown metric function validation-rmse` with `eval_metric="validation-rmse"` or

[code]

with `eval_metric="rmse"

[2020-05-13 05:46] toshihikoyanase commented on #1237
@CMobley7 Thank you for your question.

I created [a notebook](https://colab.research.google.com/drive/1mKTnuF1uSW33LIKtntQC-bA212sx792q?usp=sharing) to investigate the problem, so please take a look at it.

I found that the metric name seems to be `validation_0-rmse`. So, I think you can resolve your issue if you update the metric name for `XGBoostPruningCallback`.

[code]

But, I couldn't unders

[2020-05-13 06:43] Crissman opened #1238 "[RFC] Examples folder organisation"
The hierarchy of the `/examples` folder regarding pruning examples isn't clear.  In the `/pruning` folder, the examples in that folder aside from `simple.py`  are actually integration examples, which this one is not. Outside of that folder, there are other examples that include pruning, such as `chainer_simple.py` and `fastai_simple.py`.

Ok to relabel the `/pruning` folder `/integrations` and mov

[2020-05-13 07:35] HideakiImamura commented on #685
Hi all.

The main objective of this Issue is to delete trials from a study. This is discussed in Issue #821. And the sub-objective to add the documentation around FAIL-ed trials is already addressed in PR #1214. So I will close this Issue.

If there are any problems, I will re-open this Issue.

[2020-05-13 07:35] #685 closed

[2020-05-13 07:56] TheoLvs commented on #1233
Hello,

Thanks a lot for your quick answer :)

That's what I had in mind indeed, I computed the std of the parameters yielding x%-quantile of the best values in a study. Which can be sufficient as you mentioned to have intervals even if it's not proper statistical confidence interval.

I'm working on a Bayesian sampler with pyro using Stochastic Variational Inference and MCMC, I'll let you know if

[2020-05-13 07:56] #1233 closed

[2020-05-13 07:59] #1072 closed

[2020-05-14 02:40] toshihikoyanase commented on #1200
@liori Thank you for sharing your use case.

Interesting! That's an advantage of optimization without range constraints.

Although Optuna does not support unbounded distributions, I think we can utilize Optuna's visualization feature to revise the range of distribution. For instance, [Parallel Coordinates plot](https://optuna.readthedocs.io/en/stable/reference/visualization.html#optuna.visualizati

[2020-05-14 06:13] HideakiImamura opened #1241 "`CmaEsSampler` uses the independent sampler for `trial.suggest_loguniform`"
In the current implementation, the `optuna.samplers.CmaEsSampler` uses the independent sampler for `trial.suggest_loguniform`. This is not intentional. It should be sampled by CMA-ES algorithm.

# Environment

- Optuna version: 1.4.0
- Python version: 3.6.5
- OS: macOS Catalina 10.15.4

# Code
[code]

# Result
[code]

[2020-05-14 07:34] smly commented on #1237
According to the implementation, it seems that xgboost's [Scikit-Learn API](https://xgboost.readthedocs.io/en/latest/python/python_api.html#module-xgboost.sklearn)  including XGBRegressor and XGBClassifier always uses a metric name like `validation_(index)-(metric)`, not `validation-(metric)`.

Ref: https://github.com/dmlc/xgboost/blob/f27b6f9/python-package/xgboost/sklearn.py#L790-L806

I will cr

[2020-05-14 07:42] c-bata commented on #1241
Hi @HideakiImamura. Thank you for reporting this serious bug.
I've just opened #1243.

[2020-05-14 07:46] HideakiImamura commented on #1241
@c-bata Thank you for the quick PR! I will review it soon.

[2020-05-15 02:25] toshihikoyanase commented on #1178
That's a good idea!
How about posting is issue to [Stackoverflow](https://stackoverflow.com/questions/tagged/optuna) with `optuna` tag?

In addition, if you change the issue title (e.g., "OOM errors during optimization of tf.keras" or something like that), the users can reach this issue via Google.

[2020-05-15 02:46] hvy commented on #1186
Thanks @festeh for addressing some of the issues.

As for `TypeError: '<' not supported between instances of 'Trainer' and 'int'`, it seems to have been fixed by https://github.com/optuna/optuna/pull/1013/files#diff-37446c9777fc86723ebc01eb61ccb696R51-R61, which is included in the latest release 1.4.0 (or in the master branch). So if you could update your Optuna to the latest version with e.g. `pi

[2020-05-15 02:46] #1186 closed

[2020-05-15 05:17] toshihikoyanase commented on #622
#806 resolved this issue. Let me close it.

[2020-05-15 05:17] #622 closed

[2020-05-15 05:19] #297 closed

[2020-05-15 05:29] toshihikoyanase commented on #1091
@MokkeMeguru  #1107 was resolved by #1164 and #1167, and let me close this issue.
Please feel free to re-open it if you have any comments.

[2020-05-15 05:29] #1091 closed

[2020-05-15 05:47] toshihikoyanase commented on #1097
@harupy I'm sorry for the delayed response.

Because we recommend turning off the CircleCI in the source (forked) repository, I think the issue does not affect Optuna repository.

It will be a great help to us if you send a PR to introduce this GitHub Action.

[2020-05-15 06:01] g-votte commented on #1213
@harupy
Sure! Please go for it!

[2020-05-15 06:02] g-votte commented on #734
I see that all listed items are resolved; so, let me close this issue.

@nuka137
Thanks again for your contribution. Great job!

[2020-05-15 06:02] #734 closed

[2020-05-15 06:18] hvy commented on #1128
Thanks for bringing this up, it's definitely something that should be uprooted... The problem is that there doesn't seem to be a straight forward way to go through a deprecation process. Additionally, as both functions are likely already used by the majority of the users (at least `create_study`), it's better not to make any rushed changes before hearing the opinions from more users. Let me close

[2020-05-15 06:18] #1128 closed

[2020-05-15 06:24] toshihikoyanase commented on #1165
@faustiandilemma The issue has been resolved, and let me close this issue. Please feel free to re-open it if you still have problems.

@VladSkripniuk I really appreciate your contribution.

[2020-05-15 06:24] #1165 closed

[2020-05-15 07:02] toshihikoyanase opened #1245 "Release Tasks for v1.5.0."
Optuna v1.5.0 -- in June 2020

Features (TBD):
- [x] Performance improvement of `RDBStorage`
  - #1191
  - #1175
  - #1140
- [x] NSGA-II #1163

[2020-05-15 07:04] toshihikoyanase opened #1246 "Release Tasks for v2.0.0."
Optuna v2.0.0 -- in July 2020

Features:
- [x] Hyperband (non-experimental)
- [x] Hyperparameter importance (non-experimental)
- [x] LightGBM Tuner (non-experimental)
- [x] Performance optimization

Updates:
- [RC0](https://github.com/optuna/optuna/releases/tag/v2.0.0-rc0) was released on July 6, 2020.
- [`release-v2.0.0`](https://github.com/optuna/optuna/tree/release-v2.0.0) branch was created on

[2020-05-15 08:43] harupy commented on #1097
@toshihikoyanase Thanks for the comment. Yes, I'll submit a PR.

I'm worried about this too. We could create our own action using https://github.com/actions/github-script. It should look like:

[code]

[2020-05-15 11:02] toshihikoyanase commented on #1097
@harupy Thank you for your suggestion.

I'm not sure but I guess the maintenance cost of the `github-script`-based action is high because it depends on both GitHub and CircleCI. If either one updates the APIs, we may need to fix the action by ourselves.

Since this action is optional, how about waiting for the update when the action fails?

[2020-05-15 11:14] harupy commented on #1097
@toshihikoyanase You're right. I'll use https://github.com/larsoner/circleci-artifacts-redirector-action.

[2020-05-17 08:36] DavidPfl opened #1250 "Which sampler is used by default for relative sampling?"
From what I understand, when calling [`optuna.study.create_study`](https://optuna.readthedocs.io/en/stable/reference/study.html#optuna.study.create_study), the [`TPMESampler`](https://optuna.readthedocs.io/en/stable/reference/samplers.html#optuna.samplers.TPESampler) is used as the default sampler.

And as I understand from [`optuna.samplers.BaseSampler`](https://optuna.readthedocs.io/en/stable/re

[2020-05-17 15:08] liori opened #1251 "Enable `objective(study.best_trial)`"
I find it useful to be able to re-run trials to investigate them further, e.g. with more debugging/data reporting enabled. I thought that it would be natural if I could manually run a trial from a study e.g. by:

    my_objective(my_study.best_trial, more_reporting=True)

but given that the objective function calls various `suggest_*` methods, I get `AttributeError: 'FrozenTrial' object has no att

[2020-05-18 03:16] hvy commented on #783
Thanks, that sounds good. Clearly separating non-trivial (conditioned) imports seems to be more readable too.

On a second thought though, I'm wondering if just mentioning that "conditional or non-trivial imports should come after standard (std-3rdparty-internal) import" won't suffice for coding style guidelines. For instance, the `TYPE_CHECKING` conditions should be less frequent now that we're a

[2020-05-18 03:33] HideakiImamura commented on #1220
Thank you for the insightful issue and discussions!

I think that adding documentation for using the `auto` argument is reasonable. I made a PR #1252 to give it.

I think that we should raise a warning when `max_resource = "auto"` and the step of the last intermediate value changes with each trial. What do you think?

[2020-05-18 04:28] RaviThej0803 commented on #850
What if the threshold varies everytime based on data, how do we fix that threshold then?

[2020-05-18 06:01] toshihikoyanase commented on #850
Hi @RaviThej0803. Thank you for your question.
https://github.com/optuna/optuna/pull/1025 introduced a method to stop optimization (i.e., [`Study.stop`](https://optuna.readthedocs.io/en/latest/reference/study.html#optuna.study.Study.stop)). Now, we can change the threshold in objective functions flexibly.

Please call `trial.study.stop()` in your objective function if the threshold based on the da

[2020-05-18 15:20] JiyuanZhang221 opened #1255 "optimization performance for high-dimensionality problem"
Is optuna efficient for solving high-dimensionality (e.g., with tens or hundreds of variables) optimization problem?
## Note to the questioner

If you are more comfortable with [Stack Overflow], you may consider posting your question with the "optuna" tag there instead.
Alternatively, for issues that would benefit from more of an interactive session with the developers,
you may refer to the [optun

[2020-05-19 02:42] hvy commented on #1220
Thanks for #1252, I took a look and had it merged.

That might be an option. At first, I was a bit concerned since having various number of steps between trials a valid use case. For instance, sampling learning rates is quite common and it's reasonable to vary the number of steps in the same way. However, with HB and "auto" combined it might be a viable option, if we can do it without any signific

[2020-05-19 07:10] konradsemsch opened #1258 "Adapting lightgbm tuner for k8s usage"
What would be required to adapt the following example to run on a k8s cluster: [link](https://github.com/optuna/optuna/blob/master/examples/lightgbm_tuner_simple.py), to perform iterative parameter tuning.

In the most basic example ([link](https://github.com/optuna/optuna/blob/master/examples/lightgbm_simple.py)) I noticed the CLI instructions at the top of the file:

    $ STUDY_NAME=`optuna cre

[2020-05-19 07:35] #1097 closed

[2020-05-19 08:13] HideakiImamura commented on #1255
Thank you for considering using Optuna! Optuna is a tool that can be used universally to optimize black-box objective functions with or without high-dimensional arguments. For example, a black-box function is one in which the derivative of the function cannot be computed, or the value of the function takes a long time to compute. What kind of use case do you have in mind for Optuna?

[2020-05-19 09:23] HideakiImamura commented on #1250
Thank you for your question! I will answer the questions as follows.

The `TPESampler` is also used as the default sampler for `sample_relative`. But, in the current Optuna implementation, the `TPESampler` does not adapt to `sample_relative`, that is, never samples anything in `sample_relative`. (Please refer to [here](https://github.com/optuna/optuna/blob/master/optuna/samplers/tpe/sampler.py#L16

[2020-05-19 09:29] HideakiImamura commented on #1251
Thanks for your proposal! I totally agree with your idea.
To realize the feature, we need to add some `suggest_*` methods for `FrozenTrial`. Let me give this issue the contribution-welcome label.

[2020-05-19 23:56] JiyuanZhang221 commented on #1255
Thank you Hideaki.  I am working on a real world optimization problem that involves a computationally expensive black box objective function. It takes tens of minutes or even several hours to get one evaluation of the objective function. Besides, the derivative cannot be computed. We are particularly eager for efficient optimization algorithms that are capable of giving a promising solution within

[2020-05-20 02:13] g-votte commented on #1258
Though we haven’t provided such an example or guidance, it’s definitely worth doing. Let me put the `contribution-welcome` tag for this issue.

[2020-05-20 04:26] HideakiImamura commented on #1251
I think there is room for discussion on how to realize this feature.

1. Adding some `suggest_*` methods to `FrozenTrial`.
2. Internally, converting `FrozenTrial` to `FixedTrial`.

In my opinion, the first choice is preferable in terms of simplicity. Also, if we add the `suggest_*` methods to the `FrozenTrial`, I think that `FixedTrial` may be deprecated. I would like to discuss these points.

[2020-05-20 04:41] HideakiImamura commented on #1255
Thanks for your reply. I think Optuna might be a good solution for your case study. The default optimization algorithm in Optuna is the Tree-structured Parzen Estimator (TPE). This algorithm can be used for the black-box objective function with hundreds of dimensions. Please refer to the [paper](https://dl.acm.org/doi/10.5555/3042817.3042832).

However, in my opinion, the constraint of the number

[2020-05-20 11:46] hvy commented on #1251
1 might be most simple from the user perspective but I'm wondering if it isn't a bit overkill for something that can be achieved quite easily `objective(optuna.trial.FixedTrial(study.best_trial.params))`. But I agree `objective(study.best_trial)` is ideal 🤔

[2020-05-20 17:43] RaviThej0803 commented on #850
Not able to access that part of code, could you please accept my access request

[2020-05-21 22:11] g-votte commented on #966
Let me close this issue, because #1025 has been merged.

[2020-05-21 22:11] #966 closed

[2020-05-22 02:32] arita37 commented on #695
Google published a paper on meta-learning
meta-dataset :
https://github.com/google-research/meta-dataset

My hypothesis is
   Hyper-parameter is strongly related to meta-learning trough searching the transition distribution :
   P(X—>Y)

where X and Y are 2 datasets.
In the case of hyper params,
X and Y are same datasets with at different time

[2020-05-22 04:22] toshihikoyanase commented on #728
Hi @Fhrozen , let me share some updates related to this issue.

1. MLFlow callback

#1028 introduced a callback function for MLFlow as an integration module. Last time, I said that it might be too early to Omniboard specific features, it may be good timing to start to implement an integration module for Omniboard.

2. Storage with NoSQL backend

#974 introduced storage based on Redis, which is an

[2020-05-22 04:44] CMobley7 commented on #1237
Sorry for the delayed reply. Thank you @toshihikoyanase for getting back to me so quickly. Your fix worked. Thanks @smly for tracking down the reason why. I really appreciate both of your help.

[2020-05-22 04:44] #1237 closed

[2020-05-22 05:11] hvy commented on #1169
PR is ongoing at #1202.

[2020-05-22 05:12] #1178 closed

[2020-05-22 05:26] hvy commented on #1049
Latest PR is ongoing at #1221.

[2020-05-22 05:36] sile commented on #1015
Some explanations were added to `TPESampler` by https://github.com/optuna/optuna/pull/1214. Do you still plan to write further documentation? > @PhilipMay

[2020-05-22 06:42] HideakiImamura commented on #1250
Thank you so much for asking a meaningful question. I'd like to close this issue. If there is anything else you want to ask, please open again.

[2020-05-22 06:42] #1250 closed

[2020-05-23 15:39] PhilipMay commented on #1015
No. This doc is ok I think.

[2020-05-23 15:39] #1015 closed

[2020-05-23 18:16] liori commented on #892
Some design question: would you want to have constant liar switchable (and if so, where would you put the switch?)? Or maybe always-on?

[2020-05-25 05:05] #1049 closed

[2020-05-25 05:49] crcrpar commented on #842
Let me close this since the PR for `Dockerfile` got merged. Remainders are configurations for VSCode and PyCharm but we need to discuss whether having those files in this repo.

[2020-05-25 05:49] #842 closed

[2020-05-25 05:55] HideakiImamura commented on #1255
Thank you for your question. I will close this issue. Please tell me if you have any other questions, then I will re-open this issue.

[2020-05-25 05:55] #1255 closed

[2020-05-25 06:06] hvy opened #1281 "`experimental` decorator breaks class documentation."
The `experimental` decorator used on classes break documentation. This could be one manifestation but there is an issue with how the documentation including type hints are propagated to the decorated class. This does not apply for free functions.

See https://github.com/optuna/optuna/pull/1265#issuecomment-633195955 for how it may break.

## Expected behavior

Class documentation should not be alt

[2020-05-25 07:35] #1059 closed

[2020-05-25 09:38] harupy commented on #1281
@hvy I think the root cause of this issue is [_make_func_spec_str](https://github.com/optuna/optuna/blob/master/optuna/_experimental.py#L121) which does not seem to handle keyword-only arguments properly.

[2020-05-25 10:39] harupy commented on #1281
I found `wrapped_init` is not decorated by `functools.wraps`. This changes the signature of `__init__` to `(self, *args, **kwargs) -> None`.

https://github.com/optuna/optuna/blob/e48e4624a486a68484c4824fed243207df000361/optuna/_experimental.py#L104-L106

Decorating `wrapped_init` by  `functools.wraps` should solve this issue.

[2020-05-25 10:57] harupy commented on #1281
Decorating `wrapped_init` by `functools.wraps` and removing `func_spec_str` should solve this issue.

[2020-05-25 11:08] harupy commented on #1281
It looks fine.

<img width="709" alt="Screen Shot 2020-05-25 at 20 06 31" src="https://user-images.githubusercontent.com/17039389/82807774-6778c200-9ec3-11ea-8f9c-90409c32800a.png">

[2020-05-26 01:56] toshihikoyanase commented on #1206
@gauthamzz Let me close this issue. Please feel free to re-open it or create new PRs if you have further problems.

[2020-05-26 01:56] #1206 closed

[2020-05-26 02:02] hvy commented on #1281
Thank you for the swift debugging. Looking forward to your PR.

[2020-05-26 02:34] sile commented on #913
@PhilipMay Do you still want this feature? By reviewing https://github.com/optuna/optuna/pull/1038, it turned out that it's not an easy task to tackle this issue considering distributed optimization, so if not important, I think that it might be better to close this issue.

[2020-05-26 04:10] PhilipMay commented on #913
Closing it. Thanks for asking.

[2020-05-26 04:10] #913 closed

[2020-05-26 04:28] sile commented on #913
Thank you for the swift response!

[2020-05-26 06:12] toshihikoyanase opened #1290 "[RFC] Should discrete distributions include `high`?"
Optuna has the following numerical distributions:

[Continuous]
- `UniformDistribution`
- `LogUniformDistribution`

[Discrete]
- `DiscreteUniformDistribution`
- `IntUniformDistribution`
- `IntLogUniformDistribution`

All of them have the range parameters `low` and `high`, but the inclusion of `high` is different.
The continuous distributions exclude `high`, but the discrete distributions include `

[2020-05-27 09:22] konradsemsch opened #1297 "How to combine optimizing a model on a kubernetes cluster (using DB) and MlFlow?"
Hello, could you please advise how to go about optimizing the model on a cluster and combining it with an Ml Flow dashboard across all combined runs?

As far as I understand, if I add this to my script in the docker image, the UI will be available for runs performed by a single pod, correct?
https://github.com/optuna/optuna/blob/master/examples/mlflow/keras_mlflow.py

I've also been looking at thi

[2020-05-28 01:34] #1281 closed

[2020-05-28 20:54] VitorGuizilini-TRI opened #1300 "Hyperparameter optimization on multiple machines"
What is Optuna's standard way of performing simultaneous hyperparameter optimization on multiple machines, with different IPs?

[2020-05-29 01:58] toshihikoyanase commented on #1198
Let me close this PR. Please feel free to re-open it or create a new PR if you have questions or comments.

[2020-05-29 01:58] #1198 closed

[2020-05-29 02:31] hvy commented on #1300
Hi @VitorGuizilini-TRI, thanks for reaching out. Are you working under some specific network environments? Otherwise, the standard way is described here (although very briefly) https://optuna.readthedocs.io/en/stable/tutorial/distributed.html.

What you need is an RDB that can be accessed from your machines. You can share your script containing the code with Optuna that works towards this RDB to y

[2020-05-29 05:56] toshihikoyanase commented on #1245
The code for v1.5.0 has been frozen, and we’ll release it on June 1.
Ongoing PRs will be carried over to the next version which is planned for July.
https://github.com/optuna/optuna/milestone/24?closed=1

[2020-05-31 13:58] keisuke-umezawa commented on #782
@hvy

Yes, I agree with it. I will make a draft of it.

[2020-05-31 22:47] ytsmiling opened #1307 "[RFC] Change the default argument of `gc_after_trial` in `Study.optimize` to `False`."
## Description
`Study.optimize` calls `gc.collect()` after every objective  evaluation. This change was added in #377. In #377 we added the gc invocation because ChainerMN example loads the full MNIST dataset in every objective call and it wasted too much memory. I understand that the gc invocation is useful for some users. However, the gc call can be a bottleneck in the whole `optuna` optimizatio

[2020-05-31 23:13] ytsmiling opened #1308 "Unnecessary return value of `BaseStorage.set_trial_param`."
## TL;DR
This issue requests to deprecate the return value of `BaseStorage.set_trial_param` and change the behavior to "always overwrite existing values".

## General background
[`BaseStorage.set_trial_param`](https://github.com/optuna/optuna/blob/24300dc57661bff7961499a2d52534fcd41ad258/optuna/storages/base.py#L120) method returns True and set a new parameter when the specified parameter-name doe

[2020-05-31 23:29] ytsmiling opened #1309 "Unnecessary return value of `BaseStorage.set_trail_intermediate_value`."
## TL;DR
This PR requests to deprecate the return value of [`BaseStorage.set_trial_intermediate_value`](https://github.com/optuna/optuna/blob/24300dc57661bff7961499a2d52534fcd41ad258/optuna/storages/base.py#L144) method.

## General background
[`BaseStorage.set_trial_intermediate_value`](https://github.com/optuna/optuna/blob/24300dc57661bff7961499a2d52534fcd41ad258/optuna/storages/base.py#L144) me

[2020-06-01 00:20] ytsmiling opened #1310 "Nan-handling in `BaseStorage.get_best_trial`."
In the current implementation, `BaseStorage.get_best_trial` raise `ValueError` when there are no trials completed, while returns arbitrary trial when all trials' values are `nan`. This behavior should be added to `BaseStorage` doc. Alternatively, we might better change the behavior to raise `ValueError` as well.

[2020-06-01 00:28] keisuke-umezawa commented on #734
Congratulations! I detached it from pinned items.

[2020-06-01 00:38] hvy commented on #782
Thanks for the suggestion. Yes, that sounds like a good first approach forwarding. At least, readers are forwarded to concrete code.

[2020-06-01 02:08] reidswanson opened #1311 "Add a Dirichlet distribution"
A Dirichlet distribution is not included in either Optuna or Hyperopt but would be useful for some applications.

## Motivation

There are cases when you need a set of parameters that sum to one. For example, creating a weighted average of values. In the case of only two values a simple uniform value works, but does not extend to 3 or more. In the past, I've simply generated as many values as I ne

[2020-06-01 02:28] HideakiImamura commented on #823
The user should be able to change the sampling algorithm at will. This sampling algorithm is another one that the user should be able to choose from. However, since there has been no comment from anyone for a while, please let me close this issue for the moment. If more users want this feature, I'll open this issue up again for discussion.

[2020-06-01 02:28] #823 closed

[2020-06-01 06:07] Crissman commented on #892
I think default on, which option to switch off would be best.

[2020-06-01 08:58] araffin opened #1314 "Stable-Baselines3 RL Example"
Hello,

I was wondering if you would be interested in adding an example with Optuna + Stable-Baselines3 for hyperparameter tuning in an reinforcement learning context?

It has been used successfully in both v2 and v3 in the zoo repo:
- https://github.com/DLR-RM/rl-baselines3-zoo
- https://github.com/araffin/rl-baselines-zoo

Stable Baselines:
- https://github.com/hill-a/stable-baselines (v2, tenso

[2020-06-01 11:44] toshihikoyanase commented on #1311
Thank you for your feature request.

Interesting! I think we can utilize the eager (define-by-run) interface of Optuna as an alternative approach. Suppose we have three hyperparameters (`x`, `y`, and `z`). We can use the value of `x` to suggest `y` and the values of `x` and `y` to suggest `z`.

[code]

Regarding the Dirichlet distribution, I can't find straightforward ways to implement it for samp

[2020-06-01 13:30] reidswanson commented on #1311
Ah cool, thanks for the tip! I've been using hyperopt for a while, but just started testing out optuna. This is not possible in hyperopt so it didn't occur to me that it could be an alternative. Definitely works well enough for my purposes.

[2020-06-01 13:30] #1311 closed

[2020-06-02 07:07] hvy commented on #1310
I don't think it's currently an issue since trials with `nan` are automatically failed with `TrialState.FAIL` and are therefore not counted as a completed trial. In other words, `ValueError` is raised consistently.

[2020-06-02 08:50] hvy commented on #1314
Hi @araffin. Thanks for your suggestion and for letting us know about very interesting use cases.

I'd like to know your thoughts on the following as there is probably room for some discussion.  Namely, whether this example should be located in this repository or in one of yours, and by whom it should be created. AFAIK, there are no experts on Stable-Baselines3 in the committer team here so it mig

[2020-06-02 08:58] araffin commented on #1314
This is already included in our two repos in fact.
I can provide a simpler example if needed with a pull request to your repo. Our API is also fairly stable, so we should not have to update it too often.

[2020-06-03 02:02] hvy commented on #783
Leaving a note. This issue is somewhat alleviated by this PR https://github.com/optuna/optuna/pull/1315.

[2020-06-03 03:15] hvy commented on #1314
Oh, I see. Could you point me to those examples? I'm sure other committers are interested in those as well. As you pointed out, the stability of the API is something we consider since if the example is to be added, we'll most likely run it in our daily CI jobs to make sure it's not breaking. I don't know how heavy of a task it is but as it's easier to discuss based on code, would you mind creating

[2020-06-03 03:45] himkt commented on #783
Thank you for mentioning your update and sorry that I haven't made any updates for a long time.

I think this issue can be closed with two factors: first, @hvy will introduce a module for optional importing. This PR would be able to be a drop-in replacement for imports of third party libraries (e.g. https://github.com/optuna/optuna/blob/master/optuna/integration/chainer.py#L4-L15). Second, we now

[2020-06-03 04:52] hvy commented on #783
Yes, I think it's fine to close this ticket. It's non-trivial to establish proper guidelines and the merits aren't that significant.

[2020-06-03 05:15] crcrpar commented on #1245
https://github.com/optuna/optuna/releases/tag/v1.5.0 has been out.

[2020-06-03 05:15] #1245 closed

[2020-06-03 05:53] himkt commented on #783
OK, let me close it.

[2020-06-03 05:56] #783 closed

[2020-06-03 06:20] g-votte commented on #1297
There would be a variety of ways to run Optuna with Kubernetes and MLflow. A possible solution would be: based on the [Kubernetes example](https://github.com/optuna/optuna/tree/master/examples/distributed/kubernetes), modifying the manifest to launch a MLflow pod. You can use [`MLflowCallback`](https://optuna.readthedocs.io/en/stable/reference/integration.html#optuna.integration.MLflowCallback) by

[2020-06-03 07:57] danpolus opened #1318 "Optimization starts from scratch after switching sampler from TPE to CMA-ES"
The following code performs 500 optimization trials with TPE sampler and then another 500 optimization trials with CMA-ES sampler. Sometimes the optimization continues from the same point after the sampler switch and sometimes it starts from scratch.

smp = optuna.samplers.TPESampler()
study = optuna.create_study(sampler=smp)
study.optimize(objective, n_trials=500)
study.sampler = optuna.integrati

[2020-06-03 09:52] toshihikoyanase commented on #1318
Thank you for your report.

Hmm, `optuna.integration.CmaEsSampler` does not keep any states between trials and uses the entire optimization history to suggest the next parameter values (c.f., https://github.com/optuna/optuna/blob/master/optuna/integration/cma.py#L213-L216). I created a notebook to check the behavior of `CmaEsSampler` with a simple quadratic function:
https://colab.research.google.

[2020-06-03 10:33] apiszcz opened #1319 "Optuna dashboard page shows up blank on localhost."
Optuna 1.5.0, Python 3.7.7

The following command
`optuna dashboard  --storage "postgres://postgres@localhost:5444/optuna" --study-name test
`the http server starts up and the web page opens to a blank page. Refresh the page produces another blank page. Any ideas on where I should look to resolve the issue?

Thank you for a great package and documentation!

[code]
![2020-06-03T093802_465_455](http

[2020-06-03 10:36] apiszcz opened #1320 "Dashboard to html option producing a bokeh error."
Optuna 1.5.0, Python 3.7.7

`optuna dashboard  --storage "postgres://postgres@localhost:5444/optuna" --study-name test --out optunadashboard.html`

[code]

[2020-06-03 12:36] himkt commented on #1012
Although `AllenNLP` major release hasn't been released yet, I think that it will be out not too long after that. I also think the design of `epoch_callback` is stable and will be included in the major release.
So it would be possible to work on the first implementation for AllenNLPPruner using the `epoch_callback` mechanism. Currently, I'm not available and will start to work in the next two weeks

[2020-06-03 18:47] apiszcz opened #1324 "Database table trial_system_attributes empty."
Running optuna many times I have only seen values appear in the database table trial_system_attributes a few times, the rest of the time the table is blank. I'm running 8 to 16 optuna instances in parallel the database is PostGres 12.3. Without the value keeping track and locating the attributes for the best result is difficult.

![image](https://user-images.githubusercontent.com/1430861/83676861-

[2020-06-03 19:00] #1324 closed

[2020-06-04 03:23] hvy commented on #1310
Let me close this ticket for the above reason. `ValueError` might not be the best type describing the state of missing completed trials, but it's somewhat outside the scope of this issue.

[2020-06-04 03:23] #1310 closed

[2020-06-04 11:05] toshihikoyanase commented on #1319
Sorry for the inconvenience of the dashboard, but it is still in beta and may be unstable.

I think you're using `bokeh==2.0.2`. If so, it is a known issue reported in #1000. The dashboard does not work with `bokeh>=2.0.0`, and I can reproduce the error with `bokeh==2.0.2`. In my environment, the dashboard works with `bokeh==1.4.0`, so please downgrade it.

Although #1000 was closed by #998, it wo

[2020-06-04 11:07] danpolus commented on #1318
Thanks for your fast reply!
Indeed, there might be a problem with my error value. Many times it's NaN. I set it to np.inf or to a very large number (10 times bigger than the maximum possible error). So this is what the objective function returns.  Can you propose a better strategy?
Regarding using CMA only, sometimes it explores the entire parameter range and sometimes get "stacked" in a very narr

[2020-06-04 11:08] toshihikoyanase commented on #1320
I confirmed that this error also occurred with `bokeh>=2.0.0`. I think the cause is the same as https://github.com/optuna/optuna/issues/1319#issuecomment-638780661. Please downgrade `bokeh` to `1.4.0`.

[2020-06-04 12:21] apiszcz commented on #1319
Thank you, the dashboard displays correctly with Bokeh 1.4.0.
I did not see any 'obvious' errors from 2.0.2, and am not sure where to look.
In the interim i have created a few SQL queries to produce results of interest. The database integration is excellent!
Thank you.

[2020-06-04 13:05] toshihikoyanase commented on #1319
Great! I'm happy to help you.

I created a PR (#1326) to raise `ImportError` if the bokeh version is not supported.

Just FYI, Optuna can export results as a [pandas DataFrames](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html). Please refer to [Study.trials_dataframe](https://optuna.readthedocs.io/en/stable/reference/study.html#optuna.study.Study.trials_dataframe). I th

[2020-06-04 13:14] apiszcz commented on #1319
Thank you, using the dataframe option also.

[2020-06-05 08:23] araffin commented on #1314
https://github.com/DLR-RM/rl-baselines3-zoo/blob/master/utils/hyperparams_opt.py

I was writting the PR when I realized that optuna was also supporting python3.5 which is not the case for SB3 (it supports python 3.6+ to use f-strings).
A solution would be to use SB2 instead for python3.5 (which depends on tensorflow), they share the same api, so it should be a one line change.

[2020-06-05 14:45] #1213 closed

[2020-06-05 23:27] sladekm opened #1330 "How to save study object?"
I have created a callback function to save the study object after each trial, but it fails with error:
`PicklingError: Can't pickle <function <lambda> at 0x7f2607412940>: it's not found as jupyter_client.session.<lambda>`

I have found an example notebook, where the `joblib.dump(study, 'study.pkl')` is inside the objective function and it works fine,  but when I try the same thing in my code, it d

[2020-06-06 00:18] sladekm commented on #1330
So I have finally found out, that it was due to  `show_progress_bar=True` in `study.optimize()`. Should I open a new issue, when it is an experimental feature?

[2020-06-06 00:18] #1330 closed

[2020-06-07 02:29] keisuke-umezawa opened #1334 "Update docstrings to match the current guideline."
# Motivation
Recently, we have introduced the docstrings guideline, and it is written in [wiki](https://github.com/optuna/optuna/wiki/Coding-Style-Conventions#docstrings).

However, some docstrings do not follow it. So, here, I would like to make a list which we need to update.

# List
## Need to add examples
- [ ] optuna.study.create_study
- [ ] optuna.study.load_study
- [ ] optuna.study.delete_s

[2020-06-07 07:46] amitness commented on #1224
@diff7 I am facing the same issue with PyTorch. Did you find any solution?

[2020-06-08 02:59] toshihikoyanase commented on #728
Let me close this issue since it is staled. Please feel free to re-open it or create a new PR if you have any updates.

[2020-06-08 02:59] #728 closed

[2020-06-08 14:53] cmeier303 opened #1339 "Plotly not install errror, though installed"
Hi All,

I have Plotly installed and I am getting an error from optuna that it isn't. My version of plotly is 4.8.1.  Is there a solution for this?  If I should install an older version of plotly, which version should it be?

Thanks!
Chris

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipytho

[2020-06-08 20:04] PhilipMay opened #1340 "Avoid problem with length limit of 5000 in MLflow"
## Motivation
When using the `MLflowCallback` it is possible that the user added `user_attrs` (like lists of float) that are longer then 5000 characters when converted to a `str`. This causes problems with MLflow which limits the length to 5000. See example below:

[code]

## Description
I suggest to check the strings if they are `len() > 5000` and cut them if needed. If this happens a warning sho

[2020-06-09 02:28] hvy commented on #1340
I'm not familiar with how "tags" are used in `mlflow`, but would truncating the string representation mitigate your issue? If so, I think that's a reasonable approach. It'd be good to know if this number 5000 can be retrieved via some public API but I guess it's not a must.

Back to the usage of "tags", would you mind briefly explaining why you need more than 5000 characters since I suppose is bey

[2020-06-09 04:16] HideakiImamura commented on #1339
Thanks for the question. Could you give me your OS information and results of the following commands in the python interpreter?
[code]

[2020-06-09 04:42] PhilipMay commented on #1340
I will have a look into the MLflow code to retrieve the 5000 limit.

Sometimes I am logging a list of feature importances (SHAP values) to the user attr of optuna. Since I have 50000 features (bioinformatics) it is a list of 50000 floats. That is longer then 5000 characters when converted to a string. But there are also other less extreme cases where I want to log the individual results of a neste

[2020-06-09 04:48] toshihikoyanase commented on #850
@RaviThej0803
I'm sorry for the delayed response. I changed the permission of the example. Could you try it again?

https://colab.research.google.com/drive/1H-foFvi2X_0JehDgb2BJ1480asz8wxaN?usp=sharing

[2020-06-09 10:07] #1309 closed

[2020-06-09 11:05] toshihikoyanase opened #1346 "[RFC] Remove some deprecated features in v2.0.0."
## Background

Optuna has deprecated features such as `Trial.trial_id` and `Study.study_id`. I think it's a good opportunity to revise them at the major release. Here's a proposal of policy to remove them. If you have any comments or suggestions, please let me know.

## Policy to remove deprecated features

- Deprecated features will be removed in the major release after the next in general. For e

[2020-06-09 13:35] datasatanic opened #1347 "Close connection after optimize"
## Expected behavior

I need to build many, fast-training models. For this i'm using multiprocessing.Pool:
[code]
In each task i'm creating stydy with unique name  and run optimize. As storage is used Postgres 12.

After a few cycle, i get error from psycopg2: "too many client"
How I can manualy close connection for finished task and study. Or exist anotherway?
P.S. I know about the possibility to

[2020-06-10 01:24] #1308 closed

[2020-06-10 01:57] ytsmiling commented on #1115
Related issue: #1347.

[2020-06-10 08:28] worldblue0214 opened #1351 "Error when using custom metrics in optuna.integration.lightgbm"
## Expected behavior
I got an error when using custom metrics in optuna.integration.lightgbm.

## Environment

- Optuna version: 1.5.0
- Python version: 3.7.7
- OS: MacOS Catalina 10.15.5
- Anaconda
- (Optional) Other libraries and their versions:
[conda_list.txt](https://github.com/optuna/optuna/files/4757062/conda_list.txt)

## Error messages, stack traces, or logs
[code]

## Steps to reproduce

[2020-06-10 11:27] datasatanic commented on #1347
``` study._storage._backend.engine.dispose()``` not help

[2020-06-11 01:30] ytsmiling commented on #1115
I couldn't reproduce the connection leak in v1.5, and this might have been solved by recent refactorings of storage classes.

[2020-06-11 01:42] ytsmiling commented on #1347
Thank you for reporting the problem. I remember that I encountered a similar problem, but I somehow failed to reproduce the problem. Would you mind sharing code with the problem?

[2020-06-11 01:46] harupy opened #1353 "Readthedocs uses Sphinx 3.1.0 and experimental functions and classes show incorrect signature"
### Example

![Screen Shot 2020-06-11 at 10 32 03](https://user-images.githubusercontent.com/17039389/84335134-1d842180-abcf-11ea-88e5-3693e95d91eb.png)

https://optuna.readthedocs.io/en/latest/reference/visualization.html#optuna.visualization.plot_param_importances

---

### Log on Readthedocs

![Screen Shot 2020-06-11 at 10 44 57](https://user-images.githubusercontent.com/17039389/84335783-9df75

[2020-06-11 01:47] harupy commented on #1353
https://github.com/sphinx-doc/sphinx/pull/7651 introduced in Sphinx 3.1.0 seems to cause this bug.

[2020-06-11 02:06] harupy commented on #1353
There are two ways to prevent this issue in the future.

1. Use this `docs/requirements.txt` file in CircleCI.
2. Remove `docs/requirements.txt` and use `.readthedocs.yml` to install dependencies with `setup.py`.

[code]

- https://docs.readthedocs.io/en/stable/config-file/v2.html#python
- https://docs.readthedocs.io/en/stable/config-file/v2.html#packages

[2020-06-11 02:59] toshihikoyanase commented on #1353
Thank you for your report and suggestions.

I think `sphinx_rtd_theme` which is included in `setup.py[document]` is not required by Sphinx. Maybe it is not harmful, but I'd like to remove it if possible.

On the other hand, it is required by local/CI build. So, it may be inevitable to keep both `doc/requirements.txt` and `setup.py[document]`. Do you have any ideas about it?

[2020-06-11 04:26] harupy commented on #1353
It is not harmful. Readthedocs pre-install some packages (including `sphinx_rtd_theme`) before running `pip install .[document]`. So `pip install .[document]` only updates `sphinx` (and its dependencies) and does not affect `sphinx_rtd_theme` because it's already installed.

![Screen Shot 2020-06-11 at 13 01 02](https://user-images.githubusercontent.com/17039389/84344911-f5082180-abe6-11ea-87f7-a1

[2020-06-11 04:36] toshihikoyanase commented on #1353
@harupy Thank you for your investigation. I didn't know that Sphinx uses it.
I think it's reasonable to take the second approach that allows us to integrate the document dependencies into `setup.py`.

[2020-06-11 05:13] harupy commented on #1353
Verified the second approach works on my forked repo.

### Required changes

https://github.com/harupy/optuna/pull/3/files

### Documentation build log

https://readthedocs.org/projects/harupy-optuna/builds/11232421/

### Generated documentation

https://harupy-optuna.readthedocs.io/en/latest/reference/visualization.html#optuna.visualization.plot_param_importances

[2020-06-11 09:25] sile commented on #510
Through the following PRs, the update of the Suggest API has been completed. All of the features will be available by the next major release (v2.0.0) planned for July.
Many thanks to all the contributors involved in this issue! Great work!

- Added `step` to `suggest_int`: https://github.com/optuna/optuna/pull/910
- Introduced `suggest_float`: https://github.com/optuna/optuna/pull/1021, https://gi

[2020-06-11 09:25] #510 closed

[2020-06-11 09:29] hvy opened #1356 "Specify `classifiers` in `setup.py`."
## Motivation

`setup.py` does not specify [`classifiers`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#classifiers). Besides what's stated in the official documentation, there are other benefits such as https://github.com/optuna/optuna/pull/1350#issuecomment-642402771 in doing so.

## Description

This issue suggests specifying `classifiers` in `setup.py` for reason

[2020-06-12 04:02] #1241 closed

[2020-06-12 04:35] #1353 closed

[2020-06-12 06:41] toshihikoyanase commented on #617
Now that we have also hosted the notebook in Google Colab, we can replace `nbviewer.jupyter.org` with it. I'd like to create a PR and close this PR.

[2020-06-12 07:06] hvy commented on #878
Note, this still seems to be an issue.

[2020-06-12 07:15] hvy commented on #1238
The example directory is somewhat of a mess and I definitely agree that it should be cleaned up. Your approach sounds reasonable separating integration examples, although some concepts such as pruning are orthogonal. I personally prefer having another intermediate layer, something along the following.

example/
|_ integration/
|_ features/
  |_ pruning
  |_ visualization
  |_ ...

In any case, I t

[2020-06-12 07:15] hvy commented on #1238
@keisuke-umezawa might have some comments on this issue.

[2020-06-12 08:46] hvy commented on #763
Thanks @VladSkripniuk for your investigation. I also verified that the this issue is resolved in the current master (comparing against 0.19.0 where I could reproduce the issue. Note that you should restart the process a second time only to load the existing study to not rely on cache), likely due to recent optimizations around the storage and in particular the RDB storage.

Mostly identical to wha

[2020-06-12 08:47] hvy commented on #763
Let me close this issue as fixed. Feel free to reopen as needed.

[2020-06-12 08:47] #763 closed

[2020-06-12 08:54] hvy commented on #878
They should ideally be marked as experimental using https://github.com/optuna/optuna/pull/1146.

[2020-06-12 20:06] Nanthini10 opened #1365 "Is there support for single-node multi-GPU runs"
I'm trying to use multiple GPUs to run the study trials, and I was not able to find any information of doing so. I was able to find one _possible_ way of setting the environment variable and running it multiple times manually. This becomes inconvenient while trying to run notebook experiments.

Is there a way to have a parameter like `n_gpus` to specify how many GPUs to use?

[2020-06-14 08:52] datasatanic commented on #1347
Example of code:
[code]

[2020-06-14 15:56] PhilipMay commented on #1340
I asked the MLflow guys if they want to fix this issue on their side: https://github.com/mlflow/mlflow/issues/2931

[2020-06-15 00:33] hvy opened #1368 "Cannot build the docs with latest `sphinx` 3.1.1."
## Expected behavior

Docs should be built properly without warnings/errors. Following warnings are raised by `sphinx`'s latests release `3.1.1`.

## Environment

- `sphinx==3.1.1`

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. `pip install sphinx -U`
2. `cd docs`
3. `make clean`
4. `make html`

[2020-06-15 02:46] smly commented on #1351
Thank you for reporting this issue!
I created a workaround patch to address this. I hope this helps.
https://gist.github.com/smly/33036bb6b4833865854d94072f2c2902

NOTE: LightGBM Tuner with this patch doesn't exactly match the original LigthGBM spec, so we need to note the expected behavior of Tuner into the documentation.

[2020-06-15 04:32] #617 closed

[2020-06-15 05:07] #1356 closed

[2020-06-15 07:39] HideakiImamura commented on #1339
You already told me about the version of plotly. Sorry for the confusion.

We haven't investigated Optuna's behavior on Windows environment. Looking at the log above, it looks like you are using Windows OS. Can I ask for more information for the OS version?

Also, looking at the logs above, I believe you are creating an environment using Anaconda. Is this a virtual environment? If so, may I ask wh

[2020-06-16 01:20] hvy commented on #782
Maybe we can close this ticket since I actually believe that the underlying initial problem is solved.

[2020-06-16 04:48] nzw0301 commented on #1334
Thank you for making the list. This issue seems to be a good first issue for someone who considers contributing optuna!  But IMO, a solution to this issue seems unclear. For example, `need to add see also`: we may not understand how to solve it by reading the [guideline](https://github.com/optuna/optuna/wiki/Coding-Style-Conventions) because there is not `see also` related section in the page. Cou

[2020-06-16 08:32] hvy commented on #1307
A brief recap.

1. OOM issues encountered https://github.com/optuna/optuna/pull/325
1. Decided to automatically run GC after each trial https://github.com/optuna/optuna/pull/377
1. Decided to allow not running GC by introducing `gc_after_trial` https://github.com/optuna/optuna/pull/533, https://github.com/optuna/optuna/pull/632
1. Now, we'd like change the default valeu

[2020-06-16 08:35] hvy commented on #1307
An open question but in case we're changing the default behavior to not run the GC after each trial, do we still want top provide this parameter? From a user perspective encountering an OOM error, I would assume that that person would go to for instance the FAQ before heading to the API reference of `Study.optimize` (I'd like to follow up with a FAQ entry about this topic in case we'd change the d

[2020-06-16 08:39] c-bata commented on #1307
I personally agree to remove the parameter like I commented https://github.com/optuna/optuna/pull/533#issuecomment-532077535. user-defined callback sounds enough for this problem.

[2020-06-16 09:09] toshihikoyanase commented on #1346
We removed all the deprecated features listed in https://github.com/optuna/optuna/issues/1346#issue-635333483 from the master branch. If you have any problems, please let us know.

[2020-06-16 09:14] hvy commented on #1307
Thanks @c-bata for you input. I noticed it's might be more of a "follow-up" to what's addressed in this issue, but in any case would like to continue that discussion as well.

Back to this issue, I agree with https://github.com/optuna/optuna/pull/533#issuecomment-534898777 that we're stretching beyond the responsibility of the framework. While I know that it's a controversial topic still (within t

[2020-06-16 21:19] felipeeeantunes opened #1381 "Joblib-spark as a possible alternative for Distributed Optimization"
Since we are able to use Optuna with `joblib`, it seems possible to generalize the method using [`joblib-spark`](https://github.com/joblib/joblib-spark) to leverage a spark backend similar to HyperOpt SparkTrials(). Of course, the tradeoffs between parallelism and running should be considered here.

[2020-06-17 04:11] ytsmiling opened #1383 "Add `last-updated-time` to RDB schema."
This issue proposes to add a `last_updated_time` column to the RDB schema (`trials` table).

## Motivation

The current implementation of optuna RDB storage classes requires to perform O(trial) communication per each `get_all_trials` call. To reduce the communication cost to O(worker) on average (during the optimization process), each storage instance needs to know which trials are created/updated

[2020-06-17 05:33] toshihikoyanase commented on #1365
It may be a naive approach, but how about using the shared queue to manage the GPU IDs?

The procedure is as follows:
1. Add available GPU IDs (i.e., `0, 1, ..., n_gpu-1`) to the queue
1. Fetch a GPU ID from the queue at the begging of a trial
1. Push the GPU ID to the queue at the end of the trial
1. Run Study.optimize with `n_jobs=n_gpus`.

I created a notebook to check the approach with a toy e

[2020-06-17 06:46] toshihikoyanase commented on #1381
Thank you for your proposal. I didn't know that HyperOpt uses Spark as a parallelization backend.
I'm not familiar with `joblib-spark`, but I guess the current optuna can be used with it as far as I briefly checked the [example](https://github.com/joblib/joblib-spark) in `joblib-spark` README.

If it doesn't work, I would appreciate it if you could tell us the missing features needed to support `j

[2020-06-17 07:25] toshihikoyanase commented on #1347
Thank you for sharing your code. I reproduced the problem with the master branch (https://github.com/optuna/optuna/commit/05de3f7ff673364ca822fd2119a80dd37a04b9cb).

I'm sorry for the inconvenience, but we may not have enough resources to investigate this problem in detail because members of the core development team focus on the [v2 release tasks](https://github.com/optuna/optuna/issues/1246).
We

[2020-06-17 08:03] #1307 closed

[2020-06-18 00:43] toshihikoyanase commented on #1117
[FYI] Let me share a prototype of the partial fixed sampler:
https://colab.research.google.com/drive/1HagfZ1bAv6rT_TDuzgtInFq6g0BnzjO8?usp=sharing
It was created to answer the [question](https://gitter.im/optuna/optuna?at=5ee9ee940c34bc5cccb0cd76) in Gitter.

I think it follows @keisuke-umezawa's design, but this feature can be implemented using `Study.enqueue_trial` as @nzw0301 mentioned. Please

[2020-06-18 09:32] nzw0301 commented on #1251
I agree with @hvy. Option 1 is simpler but I suppose `FronzenTrial` and `FixedTrial` share many methods by adding `suggest_*` methods to `FronzenTrial`.  I also like the 2nd option, e.g.,`my_objective(best_trial.to_fixed_trial())`.

Let me put some my first impression of this proposal.  In my experience, it sounds a little bit similar to `refit` mode in [`sklearn.model_selection.GridSearchCV`](htt

[2020-06-18 10:23] keisuke-umezawa commented on #782
@hvy
If we do not have any other key features, I think we can close this issue.

[2020-06-18 14:20] nzw0301 opened #1388 "Could we show bullet list of classes in ToC?"
When I search the details of a class in a page, I would like to see the bullet list for classes to access the target class in the page without scrolling down the page or `Ctr-f`.

For example, when we open [trial](https://optuna.readthedocs.io/en/latest/reference/trial.html) page, I would like to see the names of classes under the trial page:

[code]

Would you mind considering adding such informa

[2020-06-18 15:04] hvy commented on #1388
Definitely agree. @keisuke-umezawa is currently working on https://github.com/optuna/optuna/pull/1357 ([preview](https://44751-122299416-gh.circle-artifacts.com/0/docs/build/html/reference/study.html)), maybe it addresses this issue?

[2020-06-18 16:22] nzw0301 commented on #1388
@hvy Thank you for your comment! I think so! I'm really looking forward to merging the PR!

[2020-06-18 16:22] #1388 closed

[2020-06-18 18:41] Nanthini10 commented on #1365
Thanks for your response!

Doing it this way, there was no activity in one of my two GPUs. I attempted to do multi-GPU computation with dask as follows, and I was able to observe the utilization of both the GPUs

[code]

[2020-06-19 00:39] keisuke-umezawa commented on #1334
Thank you for feedback. In my first idea, the reference of `optuna.study.Study.get_trials` and `optuna.study.Study.trials` should be connected by `See also`, because they are related each other.

But, as you said, it is not clear. I will write explanation.

[2020-06-19 00:40] crcrpar commented on #1368
Could you tell us the status of this issue?
Do we still see this problem? Do you just forget to close?

[2020-06-19 01:50] toshihikoyanase commented on #1319
#1326 has been merged, and let me close this issue.

[2020-06-19 01:51] #1319 closed

[2020-06-19 01:51] toshihikoyanase commented on #1320
#1326 has been merged, and let me close this issue.

[2020-06-19 01:51] #1320 closed

[2020-06-19 03:15] hvy commented on #1368
It's still an issue in the sense that we cannot build the docs with `3.1.1`. We could close this issue however if we make sure to support future releases of `sphinx`.

[2020-06-19 06:08] #1368 closed

[2020-06-19 08:46] toshihikoyanase opened #1394 "Remove description about `optuna study optimize` from examples and docs."
## Motivation

#1384 deprecated the `optuna study optimize` command, but many examples have descriptions about it at the top of the files. I think we can remove them for consistency.

## Description

Please remove the descriptions about `optuna study optimize` from example files.
- [ ] docs/source/faq.rst ([this section](https://optuna.readthedocs.io/en/latest/faq.html#how-can-i-use-two-gpus-for-e

[2020-06-19 09:06] hvy opened #1395 "Occasional test failure with `ChainerMNStudy` with Python 3.5."
## Expected behavior

Tests should pass.

## Error messages, stack traces, or logs

https://app.circleci.com/pipelines/github/optuna/optuna/1171/workflows/41e626df-8501-46ca-a724-9b1c27079253/jobs/45897

## Additional context (optional)

Seems to be specific to Python 3.5 and only happen randomly.

[2020-06-19 10:58] toshihikoyanase commented on #1365
Great👍

Thank you for sharing your viable solution. I haven't seen the `dask_cuda`, but it seems to help many Optuna users who optimize deep neural networks.

[2020-06-19 21:01] Nanthini10 commented on #1365
dask_cuda is a tool for managing dask workers on CUDA systems. It's a part of https://rapids.ai/ project.

Thanks for you help! 👍
Closing the issue.

[2020-06-19 21:01] #1365 closed

[2020-06-19 22:54] josiahcoad commented on #429
This worked for me!

[code]

[2020-06-20 17:06] ritvik1512 commented on #1394
I would like to try to tackle this. Thanks!

[2020-06-21 09:47] himkt commented on #1395
I also encountered the failure in Python 3.7.

https://app.circleci.com/pipelines/github/optuna/optuna/1195/workflows/eccc4813-e4b0-443f-acba-90992ac0b738/jobs/46106/steps

[2020-06-21 10:58] himkt opened #1401 "Pruner doesn't prune at the first step."
## Expected behavior

Pruner does the pruning.

## Environment

- Optuna version: 1.5.0
- Python version: 3.7.7
- OS: Ubuntu 18.04
- (Optional) Other libraries and their versions: AllenNLP 1.0.0

## Reproducible examples

[code]

It's a small bug but some libraries (e.g. AllenNLP) report metrics from `epoch==0`.
For the input `epoch==0`, pruner never prunes a trial because it satisfies `step <= n_

[2020-06-21 13:57] kradant opened #1402 "enable visualization of best trials (and not all trials)"
Please add a possibility to visualize only the best trials (or even enable some more advanced filtering) in the optuna.visualization functions. Currently I can only visualize the whole study. Then you have a few hundred trials in this study, the visualization is useless as I can't see the details.

## Motivation

Enable better visualization out of the box for studies with a lot of trials.

## Alte

[2020-06-22 02:12] hvy commented on #1395
Also in Python 3.8. Python version seems to be irrelevant. https://app.circleci.com/pipelines/github/optuna/optuna/1202/workflows/77a93dea-69d5-48d1-a911-fcad5878609e/jobs/46167/steps

[2020-06-22 02:38] HideakiImamura commented on #1402
Thanks for the important suggestion! I agree with your idea to improve Optuna's visualization functions. I left the relevant recent PR (ongoing) for your alternative idea: https://github.com/optuna/optuna/pull/1335

[2020-06-22 04:25] harupy commented on #1395
We can reproduce the error with:

[code]

[2020-06-22 04:26] toshihikoyanase commented on #1401
Thank you for your report.

As @hvy mentioned in https://github.com/optuna/optuna/pull/660#discussion_r343654827, the current implementation of `n_warmup_steps` assumes 1-based-indexing, and `epoch==0` is out of the range.

This implicit specification is sometimes confusing, and I think we can change it to 0-based-indexing, which is more familiar with Python users.

If we employ 0-based-indexing,

[2020-06-22 04:52] hvy commented on #1395
We should preferable deal with this as soon as possible and I tried several times but couldn't reproduce it locally. Did you encounter it frequently?

Note: Some discussions offline that https://github.com/optuna/optuna/pull/1380 could be related but I'm not sure.

[2020-06-22 06:09] harupy commented on #1395
@hvy Can you fix `test_chainermn.py` as below and run the command again?

[code]

[2020-06-22 11:48] toshihikoyanase commented on #1395
@harupy Thank you for sharing the command. I can reproduce the failure without the hack in https://github.com/optuna/optuna/issues/1395#issuecomment-647304646.

The actual error seems to be the last trial (Trial 20), which is still recognized as `RUNNING`.

[code]

[2020-06-22 13:31] felipeeeantunes commented on #1381
@toshihikoyanase yes, since Optuna uses joblib, the straightforward utilization of joblib-spark works. I think the application to random search will work perfectly, but I'm not sure how it will behave when using TPE sampler since the algorithm is not straightforward parallelizable. In particular, I'm not sure if Asynchronous Successive Halving will behave as expected in the spark workers.

[2020-06-22 23:14] himkt commented on #1012
I working on this in #1399.

[2020-06-23 03:07] harupy opened #1408 "Make the Read-the-docs badge point to the latest version instead of the stable version"
![Screen Shot 2020-06-23 at 12 18 16](https://user-images.githubusercontent.com/17039389/85357200-c0338d00-b54b-11ea-990c-294648d0be6c.png)

On README, there is a badge that shows the documentation build state on Read-the-Docs. Now it points to the **stable** version which gets updated on a new version release. Just wondering if it makes senes to make it point to the **latest** version which gets

[2020-06-23 03:14] hvy commented on #1314
I'm really sorry for the delayed response, noticing you already started working on an example.

You are right about the supported Python version. Did you imagine something along conditioning imports based on the Python version used? That might be a reasonable approach to keep https://github.com/optuna/optuna/blob/master/setup.py simple. I suppose that it also depends on the user base of SB2 so wou

[2020-06-23 04:25] #1395 closed

[2020-06-23 04:57] harupy commented on #1408
I just realized this makes it difficult to catch issues on the `stable` version.

[2020-06-23 08:32] HideakiImamura commented on #1129
Hello everyone, PR #1382, which introduces deprecation decorator is merged. So let me close this Issue. If there is any discussion, I will open this Issue again.

[2020-06-23 08:32] #1129 closed

[2020-06-23 08:37] araffin commented on #1314
Good news =) Any date in mind?

I think the best option would be to wait for Optuna to drop python 3.5, this will make the PR much simpler ;)

[2020-06-23 16:10] nzw0301 opened #1411 "Deprecated decorator's message does not appear"
## Expected behavior

When we run a method or class has [deprecated decorator](https://github.com/optuna/optuna/blob/879009b95b03988e5cd1f2e335f3bf1c6367aa87/optuna/_deprecated.py#L36) of optuna, we expect a warning message is shown. But the current implementation does not show any warning message.

## Environment

- Optuna version: [the lastest version](https://github.com/optuna/optuna/tree/87900

[2020-06-23 16:23] nzw0301 commented on #1411
To solve the issue, we will add `_logger = logging.get_logger(__name__)` to a top part of [`optuna._deprecated.py`](https://github.com/optuna/optuna/blob/879009b95b03988e5cd1f2e335f3bf1c6367aa87/optuna/_deprecated.py),
and add `_logger.warning(message)` after `warnings.warn(message, DeprecationWarning)` in [`optuna._deprecated.py`](https://github.com/optuna/optuna/blob/879009b95b03988e5cd1f2e335f3

[2020-06-23 17:14] harupy commented on #1411
By default, `DeprecationWarning` is not emitted unless it's triggered in `__main__`. This explains why `FrozenTrial` emits a deprecation warning but `IntLogUniformDistribution` does not.

https://docs.python.org/3/library/warnings.html#default-warning-filter

Why do the tests for `deprecated` pass? It's because `pytest.warns` overrides the default Python warnings filters and make all the warnings

[2020-06-23 18:02] nzw0301 commented on #1411
Thank you for your clarification! Your points are very helpful! Indeed I should have mentioned https://github.com/optuna/optuna/pull/1387#issuecomment-647929395 related to the first point...

I suppose that the warning message will not be formatted when we use `FutureWarning` or `DeprecationWarning` in `warnings.warn(message, HERE)`. So `DeprecationWarning` is more user-friendy because they do not

[2020-06-23 18:41] harupy commented on #1411
Displaying a warning using a logger does not seem to be the right approach because it doesn't show a stack trace and makes it unclear where the warning is emitted.

[2020-06-23 18:58] nzw0301 commented on #1411
I think your point is beyond this issue because such codes already exist in optuna's codebase. Could you create your point as another issue? Based on the discussion, I will update the solution of this PR.

[2020-06-24 04:09] HideakiImamura commented on #1411
Hi all. Thank you for all of your contributions.

After the discussion with core team members, we have decided to use only `warnings.warn()` for the deprecation messages according to https://docs.python.org/3/howto/logging.html, because users can avoid this situation (reported in Issue #1411) by fixing their own code.
![image (1)](https://user-images.githubusercontent.com/38826298/85496863-fc34240

[2020-06-24 04:13] HideakiImamura commented on #1411
For the second TODO, note that it was recently modified in the ongoing PR #1413, just for deprecation.

[2020-06-24 04:23] nzw0301 commented on #1411
@HideakiImamura Thank you for sharing the conclusion by optuna's core developers. I suppose this issue is not bag, so let me close this issue.

Cheers,

[2020-06-24 04:23] #1411 closed

[2020-06-24 04:59] hvy commented on #1314
That'd be one option. On the other hand, we are quite interested in taking a look at your examples. How about creating examples that only support Python 3.6 and up? We already have such examples and it's fine as well (we'll skip those conditionally based on Python versions from the CI).

The reason is that we don't have a fixed date yet for the drop. 🙁

[2020-06-24 05:06] harupy commented on #1411
@HideakiImamura Thanks for the clarification. Are you planning to replace `DeprecationWarning` (which turned out to be ignored by default) in the `deprecated` decorator with a different warning category class?