[2021-01-14 13:26] GuidoBartoli commented on #2201
`disable_default_handler()` worked fine, thanks! :+1:

Regarding the progress bar, I actually use `tqdm` in many projects, but in its default behavior, so it gives no scrolling problems like that. I really wouldn't know what to fix internally to make it work with `optuna`, sorry... :disappointed:

[2021-01-14 13:26] #2201 closed

[2021-01-14 13:46] ThomasBury commented on #2184
Hi,

Thank you for your reply, I mostly agree.  However, considering a different train and validation split for each trial (each combination of HP), then one is not comparing the error on the same set. This means that one is evaluating both the knowledge uncertainty and data uncertainty which can lead to stochastic variability of the score(s).  Assuming that there is an overall best hyper-paramete

[2021-01-14 14:34] safranchik commented on #2202
Thank you! That does resolve my question.

[2021-01-14 14:34] #2202 closed

[2021-01-15 02:09] HideakiImamura opened #2210 "Add `seed` argument to the `GridSampler`"
## Motivation

In the `optuna.samplers.GridSampler`, the order of visiting the grids is randomly determined. However, the `GridSampler` missed the `seed` argument, so there is no reproducibility in that order.

## Description

Add `seed` argument to `optuna.samplers.GridSampler`.

[2021-01-15 02:20] HideakiImamura opened #2211 "Make `GridSampler` aware of partially fixed parameters by `PartialFixedSampler`"
## Motivation

Currently, even if we partially fix some parameters with `GridSampler` by using `PartialFixedSampler`, the `GridSampler` ignores the partially fixed parameters and simply visits all grids. However, the actual sampled parameters are fixed parameters. It means we waste trials if we use `PartialFixedSampler` with `GridSampler`.

## Reproducible example
- optuna: https://github.com/optu

[2021-01-15 07:22] pratik-99 commented on #2210
I'm new to contributions can you please help me understand what needs to be done here

[2021-01-15 08:12] Shawn513 commented on #2177
HI, I would like to ask:
If i've already have some observation points and would like to use these data to tell the study.
So first I will need to
Trail = study.ask()
then how can I set the trail's parameters to the already known data points  ? Here I noticed that there's trial.suggest_int("n_layers", 3, 5),  but this will be generated a new data point , is there any func could directly feed the da

[2021-01-15 08:45] hvy commented on #2177
You could probably use [`Study.enqueue_trial`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.enqueue_trial) for that. Something along the following.

[code]

[2021-01-15 10:02] Shawn513 commented on #2177
Thank you very much ！ I will use enqueue_trial to try.

[2021-01-16 03:30] nothingeasy commented on #2199
Thanks a lot ！
Maybe I make some mistake . I reload the study and it cause choices changed!

[2021-01-16 03:30] #2199 closed

[2021-01-17 00:11] sharov-am opened #2215 "Typo in xgboost_simple.py ? dart instead of gblinear"
Hi.

Is it a typo in file https://github.com/optuna/optuna/blob/master/examples/xgboost_simple.py
that
 `  if param["booster"] == "gbtree" or param["booster"] == "dart":
   ...
`
 and
` if param["booster"] == "dart":
....
`
"dart" is mentioned two times. Probably in first check should be  "gblinear" instead of "dart" ?

[2021-01-17 07:29] nzw0301 commented on #2215
Hi @sharov-am, Probably not. `dart` booster has the same hyper-parameters as `gbtree` because `dart` inherits `gbtree` booster. This is set in the first `if` block. In addition, `dart` has its own hyper-parameters set by the second `if` block.

Reference: https://xgboost.readthedocs.io/en/latest/tutorials/dart.html#parameters

[2021-01-17 12:20] #2215 closed

[2021-01-17 14:31] blaney83 opened #2216 "v2.4.0 DB migration script corrupts saved studies over a certain size"
After update to v2.4.0, the DB migration script for migrating table schema from study DB's <2.4.0 (`$ optuna storage upgrade --storage $STORAGE_URL`) corrupts sqlite DB's over a certain size (number of trials).

## Expected behavior

The migration/update to the table schema works fine for smaller tables, so I would expect it to work on larger tables as well. If not, perhaps a warning before it cor

[2021-01-17 23:23] HideakiImamura commented on #2210
@pratik-99 Thanks for the contribution. Unfortunately, in the discussion with other core-development members, the `seed` argument is not necessary for `GridSampler` due to the following reasons.
- We don't have any scenarios in which we want to ensure the order of grids.
- If we want to ensure the order of grids, we can use `Study.enqueue_trial` now.

Therefore, I closed this issue. Sorry for the

[2021-01-17 23:23] #2210 closed

[2021-01-18 00:24] HideakiImamura commented on #2216
I test the DB migration using the following script.
[code]
I didn't have any errors after the upgrade and `load_study`. Could you share the reproducible code?

[2021-01-18 03:03] crcrpar commented on #1721
There's one thing to do: Multi-objective. But I don't have any idea of better contents, except for using PyTorch.

[2021-01-18 05:47] not522 commented on #2203
My suggestion: best points on Pareto front should not be covered by other points.

[2021-01-18 11:07] tide90 opened #2225 "Disable UserWarning?"
Hey,

How can I diasble/ignore the follwoing warning:
Getting this from suggest_int with a step.

[code]

I tried:
[code]

But did not work!

[2021-01-18 16:35] blaney83 commented on #2216
I cannot share the code directly, but your snippet accomplishes essentially the same thing. You ran the study with v2.3.0 and then successfully updated the study using the optuna CLI for v2.4.0? If so, perhaps it's not related to total number of trials but rather related to the size of the DB file created. I ran `sqlite3_analyzer` on the file and have included the output below. I couldn't find any

[2021-01-18 20:06] blaney83 opened #2227 "`study.trials_dataframe` call fails for multi-objective studies"
When using the new multi-objective study framework in v2.4.0 (`optuna.create_study(..., directions=[...])`), calling the `trials_dataframe` message raises an exception caused by some incorrect column spec type comparison in the _dataframe framework. It appears the column aggregation for contains a bug when used with multiple objectives, which adds an extra `values` Tuple to the `values` Set during

[2021-01-18 23:08] HideakiImamura commented on #2216
Yes, I did it. Do you have no error if you use my code snippet? If so, I suspect that it is an issue of your local environment. It may be one of the library you use. Is not so, it should be an issue of the DB migration script.

For the reproducibility, please tell me the number of trials and the number of parameters. From the analysis results shared with you, it seems that trial parameters are dom

[2021-01-18 23:19] HideakiImamura commented on #2227
Thanks for raising an issue. I have tested with the following code snippets but had no error with the following outputs. The version of Optuna is v2.4.0.
[code]
<img width="1182" alt="スクリーンショット 2021-01-19 8 16 08" src="https://user-images.githubusercontent.com/38826298/104970387-9af9f500-5a2e-11eb-97ef-e1a779ea7760.png">

Could you share the reproducible codes or snippet?

[2021-01-18 23:29] HideakiImamura commented on #2225
For the `UserWarning`, please fix your own code. I think the range of `suggest_int` should be changed to [1, 991], whose width `991 - 1 = 990` can be divisible by `step=10`.

There are two types of warnings: one that can be suppressed by modifying the user code, and one that the user has no way of dealing with and can adjust the level of display of logging. The `UserWarning` is the former one. Ple

[2021-01-19 01:25] hvy commented on #2211
I personally find the current behavior logical and well defined, at least from an API perspective, and would suggest keeping the two samplers decoupled. I agree that it's not very practical.

[2021-01-19 03:12] eflopez1 commented on #343
Thank you for the explanation. Could this possibly be included in the documentation? These images offer a great explanation.

[2021-01-19 06:04] hvy opened #2233 "Call base sampler's `after_trial`"
## Expected behavior

A sampler may hold a different sampler object to which suggestions are fallen back. E.g. `TPESampler` falls back to the `RandomSampler` for the first few trials. (At least) When a fallback occurs, the `after_trial` method of that different sampler should be called.

### Samplers

- [x] `PartialFixedSampler` #2209
- [ ] `CmaEsSampler`
- [ ] `TPESampler`
- [ ] `PyCmaEsampler`
-

[2021-01-19 09:25] tide90 commented on #2225
@HideakiImamura  Thank you. But what is now the right handling for this warning? Could you make an example?

[2021-01-19 09:50] ZumbiAzul opened #2234 "How to make optuna suggest different values (i.e. overwrite them) few times in a row?"
Here is the code example:
[code]

When I run it I get this:
[code]
As you see, `trial` somehow sticks to the value it initially suggested.
I would like `trial` to suggest new value each time `trial.suggest...` is called. There must be a way of doing it, but I have not figured it out yet. Could anybody point me at the solution?

I have also posted this question on [StackOverflow](https://stackoverf

[2021-01-19 09:55] nzw0301 commented on #2225
I execute the following code, but the warning message still appears...

[code]

[2021-01-19 11:22] ZumbiAzul opened #2235 "Optuna does not overwrite a suggested value by another following suggestion"
Here is the code example:
[code]

When I run it I get this:
[code]
As you see, `trial` somehow sticks to the value it initially suggested.
It would be more natural if `trial` suggested new value each time `trial.suggest...` is called. It is also very handy when building up a neural network architecture, and in cases when a suggested parameter does not satisfy a certain condition, so another sugges

[2021-01-19 11:23] nzw0301 commented on #2234
I think you just need to set a larger value to `n_trials.` If you want to avoid evaluating objective with the same hyper-parameters, I suggest you the following strategies depending on your problem

1. evaluate again. I think that it is acceptable if the evaluation cost is low
2. perform grid-search if your searched space is small
3. return the objective value evaluated at previous trials. (I'm no

[2021-01-19 11:55] blaney83 commented on #2216
Thank you for your response. I ran your script with v2.3.0 and then updated the db using the v2.4.0 cli (reproducing the original conditions) and the migration was successful:

[code]
The number of parameter was 34.

The number of trials defined in the creation of the study was 1000. The optimization was running in a distributed environment with a remote file system providing the db for managing t

[2021-01-19 11:59] ZumbiAzul commented on #2234
@nzw0301 If I use `n_trials=3' I get the following:
[code]
But I really need it to work for `n_trials=1`.
I am trying to suggest a neural network architecture, using `while`-loop in y code. And I check the suggested values for ertain conditions. If they do not meet them I want to suggest other values.

For example, one of the conditions I check is whether a new size of the input image after a conv

[2021-01-19 13:06] nzw0301 commented on #2234
How about pruning such a trial?

[2021-01-19 13:58] ZumbiAzul commented on #2234
@nzw0301 That is an interesting suggestion. I am relatively new to optuna, and I have a feeling that pruning works automatically (provided I use `report` and `should_prune`). How can I just tell optuna to prune a trial?

[2021-01-19 14:33] nzw0301 commented on #2234
@ZumbiAzul I think you just call `raise optuna.TrialPruned()` like optuna's pruner, such as [`MedianPruner`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.pruners.MedianPruner.html)'s example:

[code]

I note that pruned trials are differently treated by the sampler depending on the sampler. Please see https://github.com/optuna/optuna/issues/1647 for details.

I'm not sure thi

[2021-01-19 14:47] y0z commented on #2235
Hi. I have investigated why this happens.

The following code says that this behavior is intended.
https://github.com/optuna/optuna/blob/0280b598a85a6bc79b22a10a1e5edde82a09044e/optuna/trial/_trial.py#L704

[2021-01-19 16:24] ZumbiAzul commented on #2235
Thanks a lot @y0z for looking into it. I still think that it should be in principle realizable to be able to overwrite a suggested value by another value without spoiling the intentions of the algorithm. This would be extremely useful in many practical implementations. I understand that this is more like a feature suggestion and not a reporting a bug.

[2021-01-20 00:38] brunofacca opened #2237 "Multi objective vs. single objective with combined metrics"
Thanks for this great library.

I'm working with a dataset that has an extremely low signal-to-noise ratio and a relatively small number of observations, so it is extremely susceptible to overfitting. Even though I use KFold CV and there are no information leaks, I recently had inflated validation scores due to overfitting of the *validation* data. Using nested CV would be too expensive and may no

[2021-01-20 00:45] HideakiImamura commented on #2211
Thanks for the reply. Hmm... I'd like to know the user's opinion. As you mentioned, making the two samplers unrelated may make it easier for the user to understand each one. This behavior could be made a specification. I would like to leave this issue open and work on it when a user has questions.

[2021-01-20 00:56] HideakiImamura commented on #2216
Thank you. Then the failure of the DB migration may be due to the script.

That's reasonable. I look forward to the results of the investigation.

[2021-01-20 02:34] crcrpar opened #2240 "Relax style check requirements for examples and tutorials"
Currently we apply the bunch of rules to tutorials and examples likewise optuna source code.
However, since .py files under tutorial directory are actually jupyter notebooks-ish (at least I think so during editing them), thus it's a little bit demanding for tutorial to conform to Optuna style guide like two empty spaces between blocks, and this is the case for examples personally.

[2021-01-20 06:56] g-votte opened #2242 "Some categorical ticks are plotted as float numbers with `optuna.visualization.plot_contour`"
With `optuna.visualization.plot_contour`, some categorical ticks are shown as float numbers.

## Environment

- Optuna version: 2.4.0
- Python version: 3.7.9

## Reproducible examples

Run the following code:
[code]

## Current behavior
The following figure shows the output of the repro example. Some ticks are not shown as categorical values. For example the values of `a` in the vertical axis and

[2021-01-20 07:09] nabenabe0928 commented on #2237
Hallo, I will post some points here.

First, multi-objective optimization tries to find the so-called Pareto front shown below.
![Dominated-non-dominated-and-Pareto-front-solution-set](https://user-images.githubusercontent.com/47781922/105138900-e39dd500-5b38-11eb-8ce9-cd8149dcab47.png)

On the other hand, the single-objective function tries to find the single objective function in a straightforwa

[2021-01-20 16:38] brunofacca commented on #2237
Thank you very much for the detailed reply.

I think I'll stick with the single objective for now due to computational budget concerns.

[2021-01-20 16:38] #2237 closed

[2021-01-20 16:44] ZumbiAzul commented on #2234
Thanks, @nzw0301 . This definitely helps, although it does not solve my question directly. I had to rewrite/restructure my code in order for it to work as I want using `raise optuna.TrialPruned()`.

[2021-01-21 01:25] toshihikoyanase opened #2246 "Add Hydra Optuna Sweeper example"
## Motivation

[Hydra](https://hydra.cc/) is a framework for configuring complex applications. Recently, it provides a [plugin](https://hydra.cc/docs/next/plugins/optuna_sweeper/) to optimize hyperparameters using  Optuna. I think providing an example of Hydra Optuna plugin will be helpful for both Hydra and Optuna users.

![image](https://user-images.githubusercontent.com/3255979/105261405-eea543

[2021-01-21 06:46] toshihikoyanase opened #2247 "`MOTPESampler` raises `ValueError` when it solves a simple knapsack problem"
## Expected behavior

When I tried to solve a simplified multi-objective knapsack problem using `MOTPE`, I got `ValueError`. I think it should handle this problem or show a more user-friendly error message.

The problem is defined as follows:
[code]

## Environment

- Optuna version: v2.4.0
- Python version: Python 3.6 (Google Colab)
- OS: N/A (Google Colab)

## Error messages, stack traces, or lo

[2021-01-21 07:00] toshihikoyanase commented on #2247
Although the error occurred in `optuna/samplers/_tpe/sampler.py`,  I confirmed that `TPESampler` can solve a single-objective version of the problem as expected. I think this is an issue of `MOTPESampler`.

<details>
<summary> TPE reproducible code </summary>

[code]

</details>

[2021-01-21 09:34] hvy opened #2248 "SQLite `:memory:` with `n_jobs>1` leads to `sqlalchemy.exc.OperationalError`"
## Motivation

Multi threaded optimization using `n_jobs > 1` with SQLite's `:memory:` database leads to an error although it should be possible with later versions of SQLite.

### Reproduction code

[code]

[code]

## Description

See above.

## Additional context (optional)

[sqlalchemy documentation regarding `:memory:` with multiple threads.](https://docs.sqlalchemy.org/en/13/dialects/sqlite.h

[2021-01-21 15:14] y0z commented on #2247
Hi. Thank you for your report.

I find that _calculate_weights_below returns a corrupted weights_below by using your reproducible code.
Sorry, this is my fault.
This is a bug of `_calculate_weights_below` without enough corner case handling.
https://github.com/optuna/optuna/blob/e6f788901060e42857b97c1ccc5b36978c7ed1e3/optuna/samplers/_tpe/multi_objective_sampler.py#L563

When I run your reproduci

[2021-01-21 15:15] nzw0301 commented on #2225
@tide90
How about this?

[code]

[2021-01-21 15:22] nzw0301 commented on #2225
@HideakiImamura I think we cannot disable `UserWarning` by using `optuna.logging.set_verbosity` as in https://github.com/optuna/optuna/issues/2225#issuecomment-762732337.

[2021-01-21 16:59] blaney83 commented on #2216
After trying to reproduce locally with a modified version of your sample study script, I failed to be able to reproduce the issue.

Tests I conducted:
- studies with db file sizes 10X the size of the two corrupted study files I initially noticed the issue with
- overrunning the initially specified number of trials
- running studies in parallel
- defining user attributes during trials
- rw of the s

[2021-01-21 17:18] y0z commented on #2247
Here is a simple heuristic that I came up with, though a better weighting strategy may exist.

First, make observed objective vectors unique before calculating their hypervolume contribution.
Then, calculate weights `w` for each objective vector `v` based on their hypervolume contribution.
Finally, assign the weights of `w/n` to each observation where `n` is the number of observations having the o

[2021-01-21 20:19] nzw0301 opened #2250 "Could the document of disabling logging message be improved?"
This issue is based on my poor understanding of optuna. It might be wrong.

Optuna's warning messages come from two different logging methods according to [the wiki page of coding style](https://github.com/optuna/optuna/wiki/Coding-Style-Conventions#logging-howto):

- `warnings.warn`
- `optuna.logging.Logger.warnings`

However, I think that [the document of logging](https://optuna.readthedocs.io/e

[2021-01-22 02:57] HideakiImamura commented on #2216
Thank you for your careful and insightful reply.

Great! If you encounter any problems, please feel free to raise an issue.

Sounds good to me, but I don't have any concrete ideas to improve the log message. Do you have any idea? If you have one, I welcome you to send us a PR!

[2021-01-22 02:58] HideakiImamura commented on #2216
Let me close this issue since this is addressed.

[2021-01-22 02:58] #2216 closed

[2021-01-22 04:38] HideakiImamura commented on #2225
As I described in https://github.com/optuna/optuna/issues/2225#issuecomment-762512549, the users should deal with the `UserWarning` by modifying their own code. Now, you should change your code as follows.
[code]

[2021-01-22 04:58] hvy commented on #2185
There's an RFC issue about changing the behavior whether the upper bound should really be excluded or not. Feel free to leave comments if you have any. That'd  help move it forward. https://github.com/optuna/optuna/issues/2185

[2021-01-22 06:26] Uproar197 opened #2252 "Pruner problem"
Hi, I am new to Optuna and I met a problem.
I use **"conda install -c conda-forge optuna"** to install optuna, version is 2.4.0 , but when i try to use
 **if trial.should_prune():
     raise optuna.TrialPruned()**
it will report **module 'optuna' has no attribute 'TrialPruned'**
in addition, when using
**pruned_trials = [t for t in study.trials if t.state == optuna.trial.TrialState.PRUNED]
complet

[2021-01-22 06:28] HideakiImamura commented on #2250
Thanks for the proposal! I had an informal discussion with other committers about this proposal. In conclusion, we agreed to add some information to make it easier for users to understand the difference between `warnings.warn` and `_logger.warnings`. Do you have any ideas on where exactly to add this information?

[2021-01-22 06:53] toshihikoyanase commented on #2252
Hi @Uproar197 , thank you for your question.

When I tried the [`pruning example`](https://github.com/optuna/optuna/blob/master/examples/pruning/simple.py) using the image of anaconda3 docker image, it worked as expected.
Could you give us more specific information to reproduce the error (e.g., a Python script, the other installed libraries, and etc)?

[2021-01-22 07:34] toshihikoyanase commented on #2247
@y0z Thank you for your investigation.

Oh, I'm sorry but I made a mistake. The dimension of `profits` is not correct. It was `(n_knapsack, n_items)` but it should be `(n_items, n_knapsack)`.

The points are distributed if I plot the fixed objective functions using the random sampler.
![image](https://user-images.githubusercontent.com/3255979/105458766-82a70600-5ccc-11eb-892d-a0b38e3b60cc.png)

St

[2021-01-22 07:48] nzw0301 commented on #2250
Thank you for discussing this issue with other committers! I'm glad to hear that. I think [this faq section](https://optuna.readthedocs.io/en/latest/faq.html#how-to-suppress-log-messages-of-optuna) and  [`logging.set_verbosity`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.logging.set_verbosity.html).

[2021-01-22 08:14] Crissman opened #2253 "trial.study.best_value raises exception instead of returning None"
Currently, `trial.study.best_value` raises an exception if called before any trials are completed. When used within the objective function, this aborts the objective function in an ugly fashion, unless encapsulated in `try/except` loop. Instead of raising an exception, returning `None` would accomplish the same result, without requiring exception handling.

## Motivation
Allow clean coding within

[2021-01-22 08:25] Uproar197 commented on #2252
Thank you for your reply.
Now, I try the example you provide, I copy the file into sample.py, and use **python sample.py** to test. And it reports **AttributeError("'Trial' object has no attribute 'suggest_float'",)** , so i change it to suggest_loguniform and delete **log=True**, then it shows:
![image](https://user-images.githubusercontent.com/46192007/105465581-6f993380-5cd6-11eb-9773-b7c6d0345

[2021-01-22 08:40] toshihikoyanase commented on #2252
Hmm, I guess your process might refer to optuna v1.2.0 or older.

`optuna.TrialPruned` was introduced in v1.5.0 by https://github.com/optuna/optuna/pull/1204, and `Trial.suggest_float`  was introduced in v1.3.0 by https://github.com/optuna/optuna/pull/1021.

Could you show us the optuna version you used?

[code]

[2021-01-22 08:45] Uproar197 commented on #2252
ohh, the version is:
![image](https://user-images.githubusercontent.com/46192007/105467688-6198e200-5cd9-11eb-960c-a93201036474.png)
but I used **conda  list** to query, the result is:
![image](https://user-images.githubusercontent.com/46192007/105467841-9311ad80-5cd9-11eb-8626-a4daaba071b6.png)
why will this happen?

[2021-01-22 08:52] toshihikoyanase commented on #2252
I guess this may be an issue of the order of `sys.path`.
According to the log message, `/home/user.local/lib/python3.6/site-packages` has a higher priority than site-packages of conda.
Could you show the `sys.path` and PYTHONPATH, please?

[code]

[code]

[2021-01-22 09:04] Uproar197 commented on #2252
the sys.path:
![image](https://user-images.githubusercontent.com/46192007/105469683-fac8f800-5cdb-11eb-8799-74664921c286.png)
and PYTHONPATH is
![image](https://user-images.githubusercontent.com/46192007/105469781-1502d600-5cdc-11eb-826c-0e927a97aabf.png)

[2021-01-22 09:22] toshihikoyanase commented on #2252
I guess conda's site-packages is `/home/user/.conda/envs/myHRNet/lib/python3.6/site-packages`. How about adding it to the head of `PYTHONPATH`?

[code]

Alternatively, you can use conda's optuna if you remove the old optuna from `/home/user/.local/lib/python3.6/site-packages` somehow.

[2021-01-22 09:37] Uproar197 commented on #2252
ok, thanks.

[2021-01-22 10:39] y0z commented on #2247
@toshihikoyanase Thank you for your comment.

I see, no problem.

----

It is a more complex problem than first I expected.
I have considered the problem and my opinion is that adding `EPS` to contributions may be better.

The proposed change actually avoids zero division but `weights_below` still can be an array of zeros.
[code]

Based on my understanding, some of the values of `weights_below` ca

[2021-01-24 07:27] EROPLM opened #2256 "TypeError: can't pickle _thread.RLock objects"
When training tensorflow.keras model using Jupiter lab, program prints TypeError on finishing trial_0.
Training data is MNIST data.

# Steps to reproduce

1) Downloading data

2) Preprocessing data below

image data shape: (n_data,28,28,1)
target data shape: (n_data,10)
image data file: X_train.npy
target data file: y_train.npy

3) Run source code below
`
import os
import optuna
import numpy as np

[2021-01-24 09:00] nzw0301 commented on #2240
Related to this, the check has been failed due to mypy for the last few PRs. The latest mypy version has been updated to `v0.8.0` from `v0.7.9.`. According to [the release note](https://mypy-lang.blogspot.com/2021/01/mypy-0800-released.html), mypy starts to check files under directory without `__init__.py`; `examples/multi_objective/` in this case.

[2021-01-24 23:58] HideakiImamura commented on #2240
Thanks for raising an issue. IMO, this proposal is reasonable. I'd like to have other committers' opinions. @g-votte @toshihikoyanase @hvy Do you have any opinions?

[2021-01-25 13:53] Uproar197 opened #2262 "visualization problem"
Hello, I am new to optuna, and now I'm trying to make use of optuna's visualization tools on linux server, but after i run the example provided at https://optuna.readthedocs.io/en/latest/reference/visualization/generated/optuna.visualization.plot_edf.html
there is no response, that means I can not visualize it. Can you do help me ?

[2021-01-25 14:31] blaney83 commented on #2227
Sure! After investigation, I found the cause of the issue. It seems that if, for some reason, the first trial fails or returns a value which is inconsistent with the multi-objective value intended for the trial, the mapping of `value -> values` adds this erroneous item to the `values` set. Then, in the internal `_trials_dataframe` method, the `sort` comparison fails.

In my case, the distributed n

[2021-01-25 17:39] ZumbiAzul opened #2263 "How can I alter ranges of the parameters during the optimization process?"
How can I alter ranges of the parameters during the optimization process?

So I run this command:
[code]
When it reaches 100 trials I would like it to change ranges for the suggested parameters.
Is there a way of doing it?

[2021-01-25 18:01] Hoeze opened #2264 "Is it possible to re-use a study with a different sampler?"
Hi, I wonder whether it would be possible to re-use an existing studie's trials.
I.e. create a study with a RandomSampler and then, lateron, load the trial outcomes into a different study to pre-initialize e.g. some TPESampler.

[2021-01-25 19:26] blaney83 commented on #2264
Yes, that shouldn't be a problem. If you want to initialize a baseline study with e.g. `n` startup trials, save the study locally after `n` trials and then load it again and continue with a different sampler or a variety of samplers to test their performance, that will work just fine. Each time you load a study, it uses the provided Sampler instance or creates a default if none is provided.

Some

[2021-01-26 01:58] not522 commented on #2262
Thank you for your question. Maybe you need to call the `.show()` method. Because visualization functions just return `plotly.graph_objs._figure.Figure`.
[code]

[2021-01-26 02:11] nzw0301 commented on #2263
How about this?

[code]

[2021-01-26 02:49] not522 commented on #2227
Thank you for your investigation! I wrote the PR #2265 to fix this error.

[2021-01-26 07:12] Uproar197 commented on #2262
Thanks !

[2021-01-26 12:30] crcrpar commented on #2262
Let me close this as the question seems to be resolved (It's great)!

[2021-01-26 12:30] #2262 closed

[2021-01-26 12:33] crcrpar opened #2266 "Update `optuna.visualization` top page: Call `show` if figures not displayed"
In some environments, plotly-backend `optuna.visualization` functions don't display the generated images, which is resolved by
just calling `show` method of plotly object.
Therefore, we should add a note to https://optuna.readthedocs.io/en/latest/reference/visualization/index.html.

Example
[code]

Related issue: #2262

[2021-01-27 02:30] toshihikoyanase commented on #1721
I guess we can use LightGBM instead of PyTorch to mitigate the build time.

The following is just an example of multi-objective optimization for LightGBM. Some metrics like precision and recall show trade-off relationships. Then, we can apply multi-objective optimization to maximize both precision and recall simultaneously.
Practically, users may maximize the AUC and tune the threshold to valance

[2021-01-27 06:41] SurajitTest opened #2270 "Optuna 2.4.0 and XGBoost 1.3.3 : Using optuna integration and xgb.cv() : n_jobs > 16"
1. When I use Optuna 2.4.0 and XGBoost 1.3.3 (using optuna integration and xgb.cv()) with 'n_jobs'=32 in a machine that has 60 CPUs - the program runs for 18 hours without any trial output.

2. I am presently using Optuna 2.4.0 and XGBoost 1.3.3 , with 'n_jobs'=16 on a machine with 60 CPUs, I start obtaining results of trial outputs within 45-60 mins.

As I have a machine with 60 CPUs , what value

[2021-01-27 07:42] toshihikoyanase commented on #2270
Hi @SurajitTest
Thank you for your question.

I guess XGBoost also creates threads (c.f., https://stackoverflow.com/questions/48269248/limiting-the-number-of-threads-used-by-xgboost) in addition to Optuna's threads. I'm not fully sure, but you might unexpectedly many threads (e.g., `n_jobs` * `n_cpus` = 32 * 60 = 1920).
How about setting the environment variable `OMP_NUM_THREADS=1` to restrict the

[2021-01-27 09:17] tide90 opened #2272 "Handling Times"
I cannot see how to do this in asimple way withot subclassing your whole framework:

I want to write a message lets say every 1 hour to a file if my study is running.

[code]

But since start is outside the function it is unknown inside the trials...

`UnboundLocalError: local variable 'start' referenced before assignment
`
How can I handover a start time to measure how much time is elapsed? I jus

[2021-01-27 10:25] konradsemsch opened #2273 "Selecting the best trial based on a different criterium?"
Hello Optuna Team!

Is it possible to select the best trial also based on a different criterium? As far as I understand by looking at most examples, the best trial is selected based on the mean of results and the max/min values it always chosen. However, I've also seen other ways of selecting the best trial (e.g. [tune in R](https://tune.tidymodels.org/reference/show_best.html)), where simpler mod

[2021-01-27 10:59] nzw0301 commented on #2272
I think the simplest way to define your own objective as in [this page](https://optuna.readthedocs.io/en/stable/faq.html#how-to-define-objective-functions-that-have-own-arguments). The objective stores the `start_time` and check your condition in each call.

So how about this?

[code]

[2021-01-27 11:14] toshihikoyanase commented on #2247
Thank you for your detailed explanation. I totally agree with you. Your PR is more than welcome.

One thing I want to mention is that I used only categorical variables. In your explanation, you dived into the `_sample_mo_numerical`, but I guess we needed to check `_sample_mo_categorical_index` actually. When the `weights_below` is a zero vector, `counts_below` is also a zero vector. Then, `weighte

[2021-01-27 13:08] y0z commented on #2247
@toshihikoyanase
Thank you for your comment.
It is quite helpful for me to understand the behavior of Optuna.

I have just made a minimal PR to fix this issue based on our discussion (https://github.com/optuna/optuna/pull/2274).
Could you review the PR?

[2021-01-27 13:11] #2227 closed

[2021-01-27 13:12] blaney83 commented on #2227
Awesome. Thank you!

[2021-01-27 13:25] toshihikoyanase commented on #2247
@y0z Thank you for your PR. I'll check it.

[2021-01-27 14:05] nzw0301 commented on #2256
I'm afraid that your code does not work since some variables are undefined. But, I suggest you save your model's weights in the objective function with trial id instead save as a user-attribute, then you can load the model's weight after the optuna's optimisation.

See details on [this faq page](https://optuna.readthedocs.io/en/stable/faq.html#how-to-save-machine-learning-models-trained-in-objecti

[2021-01-27 18:33] blaney83 commented on #2273
Hey! Not the Optuna Team, but I thought I would make a suggestion. If you are looking to optimize something other than your standard model performance (e.g. loss or other), have you considered any of the following:

- changing the value returned from each Trial to be a weighted composite value which balances both the model measure (e.g. loss) and your other desired goal (e.g. measure of simplicity

[2021-01-27 23:13] Hoeze opened #2275 "How to handle incremental addition of new models?"
Hi, I'd like to incrementally add more models / architectures to my study like this:
[code]
However, when I try to append more models I get this error:
`ValueError: CategoricalDistribution does not support dynamic value space.`

Is there a good way to solve this issue?

[2021-01-28 00:35] hvy commented on #2177
Related PR to allow suggestions via `Study.ask` by passing distributions https://github.com/optuna/optuna/pull/2271

[2021-01-28 00:52] hvy commented on #2273
I could perhaps add that we have several samplers that support constrained optimization as well. You could for instance use your model performance as the main objective and define a slack constraint (threshold) on the model complexity. This is an example using the `BoTorchSampler` https://github.com/optuna/optuna/blob/master/examples/multi_objective/botorch_simple.py If you are able to use the lat

[2021-01-28 02:14] EROPLM commented on #2256
Thank you for your comment.
I want to use HDD as little as possible.
Would it be possible to save only best trial model?

I have another question.
What do you think is the cause of this error?

[2021-01-28 02:20] toshihikoyanase commented on #2247
Let me close this issue since #2274 fixed the error.
BTW, I think the [discussion](https://github.com/optuna/optuna/issues/2247#issuecomment-765313554) about heuristics of weights seems to be worthful for future improvement, we may want to create an independent issue as `feature-request`.

@y0z What do you think of it?

[2021-01-28 02:20] #2247 closed

[2021-01-28 02:26] EROPLM commented on #2256
When I write this program, I use <a href="https://stackoverflow.com/questions/62144904/python-how-to-retrive-the-best-model-from-optuna-lightgbm-study">this page</a>.

[2021-01-28 07:33] SurajitTest commented on #2270
Hi @toshihikoyanase,
                                    Thanks a ton for your response. Presently , I am running with n_jobs=16 and I did observe that the OMP_NUM_THREADS environment variable is not set.  Shall  (n_jobs=32,OMP_NUM_THREADS environment variable=1) complete trials faster as compared to (n_jobs=16,OMP_NUM_THREADS environment variable is not set) considering the given below ?
1. Numbe

[2021-01-28 07:50] toshihikoyanase commented on #2270
I'm sorry but I cannot tell whether (n_jobs=32,OMP_NUM_THREADS environment variable=1) is faster or not since I'm not fully confident with the cause of the problem.

Is it possible to measure the actual computation time?

[2021-01-28 10:44] nzw0301 commented on #2256
Thank you for sharing the page.

Yes. I think [this answer](https://stackoverflow.com/a/62164601/2406562) is what you want: please use a global variable rather than the user-attribute to store keras model. Another option is to use a custom objective such that you save the best "performance" and save your model at the end of the evaluation of the objective as I answered before.

In my understanding

[2021-01-28 10:49] nzw0301 commented on #2275
How about using `suggest_int` with a dynamic range instead of using `suggest_categorical`?

[2021-01-28 12:08] konradsemsch commented on #2273
Hi @blaney83 @hvy - thank you for your answers and suggestions! Let me give you some more context maybe:

- we have a `LightGbm` classification model
- at this stage we're not optimising the parameters of the model itself (using default values), but certain properties of the data pipeline through cross-validation with `sklearn`

Here's a high-level sneak peak:

[code]

So I do want to optimize the

[2021-01-28 14:01] EROPLM commented on #2256
@nzw0301 Thank you for your comment.
Could you tell me the way to solve the error?
I think I can solve the error by making a non-pickle-able object a pickle-able object.
Could you tell me how to do it?

[2021-01-28 14:08] nzw0301 commented on #2256
Could be? Please check comments in the tensorflow's issue that I have shared in the previous comment to you.

However, I do not recommend converting your model to pickle-able object since [this answer](https://stackoverflow.com/questions/62144904/python-how-to-retrive-the-best-model-from-optuna-lightgbm-study/62164601#62164601) will be enough for you.

[2021-01-28 14:32] EROPLM commented on #2256
I'll check tensorflow's issue and trial and error.
Thank you very much.

[2021-01-28 15:30] nzw0301 commented on #2256
@EROPLM Could you close this issue? I believe your problem has come from `tf.keras` and I have provided other ways to solve your issue.

[2021-01-28 21:00] Hoeze commented on #2275
Does this have some practical issues because of integer being ordered?

[2021-01-28 21:06] Hoeze commented on #2264
Thanks for the great explanation!

[2021-01-28 21:06] #2264 closed

[2021-01-29 02:10] toshihikoyanase opened #2279 "Add instruction for development of schema migration scripts"
## Motivation

Optuna employs alembic to upgrade RDB schema, but I could not find the document which explains how to generate the upgrade script. I think it would be helpful for both developers and reviewers if we share such a document somewhere in the repository.  This document is primarily for developers, not for users, so I think the GitHub wiki is the first choice. What do you think of it?

Th

[2021-01-29 02:13] toshihikoyanase commented on #2279
@HideakiImamura @sile @c-bata Please let me know if you find any mistakes in the instruction.

[2021-01-29 04:02] not522 commented on #2039
We can add feature to prioritize grids that are not yet running. It reduces duplicated trials during distributed optimization.

[2021-01-29 08:30] Uproar197 opened #2286 "Multi-GPUs with optuna"
Hello, now I meet a problem, the overview of my code is shown in the following link:
https://github.com/Uproar197/Code/blob/main/my_optuna_problem.py

I can use Optuna to conduct experiments, but I don’t know why when the training epoch is relatively small, eg. **5 epochs**,  the experiment can be performed according to the given trial value and output; but when the number of the epoch is relative

[2021-01-29 11:49] toshihikoyanase commented on #1721
I updated the mulit-objective optimization example using the [UCI Bank Marketing dataset](https://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
It contains much more data samples than the breast cancer dataset, and it seems be more realistic. It takes about a minute to execute 40 trials in Google Colab. I think it fits RTD build time limitation.

[code]

https://colab.research.google.com/drive/

[2021-01-29 13:33] EROPLM commented on #2256
@nzw0301 Thank you for your advice. This Error was resolved thanks to your support.
I will close this issue.
Thank you very much!

[2021-01-29 13:34] #2256 closed

[2021-01-29 13:35] nzw0301 commented on #2256
@EROPLM Awesome! I'm glad to hear that!

Cheers,

[2021-01-29 13:46] nzw0301 commented on #2286
I would answer one of your questions for sure.

This is because you use PyTorch's distributed data-parallel.

I think other questions are also related to distributed data-parallel training.

[2021-01-29 19:41] blaney83 commented on #2273
Hey @konradsemsch,

Thanks for the extra info. I _think_ I understand your goal here. For the purpose of this response lets assume your secondary condition is standard deviation (SD) (but as you say it could be anything). Please let me know if I understand this correctly:

You're currently optimizing the mean AUC from your model cross-validation and this is still the objective. However, the best t

[2021-01-29 20:02] blaney83 commented on #2273
Hey @konradsemsch,

Thanks for the extra info. I _think_ I understand your goal here. For the purpose of this response lets assume your secondary condition is standard deviation (SD) (but as you say it could be anything). Please let me know if I understand this correctly:

You're currently optimizing the mean AUC from your model cross-validation and this is still the objective. However, the best t

[2021-01-29 22:50] omry commented on #1799
Thanks for the awesome contribution @toshihikoyanase! I had no idea you are one of the core Optuna devs!

I think it's a small price to pay for an awesome integration.

You are very welcome to host it in the optuna reo if you like.
The downside is that it may be a bit less visible to Hydra users and that the Hydra team will not be able to make changes as Hydra evolves (which is the same difficulty

[2021-01-30 07:49] toshihikoyanase commented on #1799
@omry Thank you for your kind words!

Optuna v2.5.0 will make the ask-and-tell interface public, and I'll be able to resolve this issue. I'll send a PR after releasing v2.5.0.

Thanks.
Actually, I changed my mind, and I'd like to keep sending the PR to Hydra repository. I deeply appreciate your insightful code reviews, which significantly improved the plugin. It will be difficult for me to keep up

[2021-01-30 09:18] omry commented on #1799
Sounds good!

Yeah, I think it makes sense. It's also great to have you on board with the plugin to keep it up to date with new development in Optuna (like multi-objective optimization)!

[2021-01-30 15:33] rgommers commented on #1797
The `scipy.stats.qmc` module is a thing now, PR is merged. It will be in the 1.7.0 release (which is still a while away, probably May) - but it'll be in the nightly wheels soon (https://anaconda.org/scipy-wheels-nightly/), probably tomorrow.

[2021-01-30 15:55] tupui commented on #1797
Let me know if you need help. I can take some time to propose a PR.

[2021-01-30 17:37] 0x41head commented on #2057
If no one is working on this I would like to give it a shot.

[2021-01-30 18:39] GuidoBartoli commented on #2057
The optimal behaviour could be that the brighter areas are minimum/maximum according to optimization direction, so regardless of the settings, you always look for going from dark blue to white.

[2021-01-31 07:13] kstoneriv3 commented on #1797
That is great news!! I will implement Sobol sampler for Optuna soon using `scipy.stats.qmc` soon!

[2021-01-31 08:54] majiang opened #2289 "handling evaluation cost"
## Motivation
Depending on the parameters, a trial takes a short or long time, or more generally, costs less or more.  Currently, [we can utilize timeout-decorator to mark a trial pruned if it takes too long a time](https://github.com/optuna/optuna/issues/1484).  It is more convenient to easily invest more to promising trials than others.

## Description
A sampler which
* models the cost *C*(*p*)

[2021-01-31 13:41] Uproar197 commented on #2286
Sorry for my late response. Maybe it is the case you answered. And is there anyone who knows why it will be stuck?

[2021-01-31 14:12] nzw0301 commented on #2286
I think that the deadlock of Sqlite is the reason that your code stops. The other databases, such as MySQL or PostgreSQL, can prevent your issue. Please see details in https://optuna.readthedocs.io/en/latest/tutorial/10_key_features/004_distributed.html

[2021-01-31 14:48] Uproar197 commented on #2286
Thanks a lot! I will check the link you offer to see if it is the reason.

[2021-01-31 19:03] konradsemsch commented on #2273
Hey @blaney83! I really appreciate the time you took to explain that - thanks a lot! I think the `user_attr` approach you mentioned is exactly what I'm looking for as it fits into one of the two alternative approaches for selecting the best parameter combination I mentioned in my original question.

Nevertheless, I will surely also take a look into the other samplers that Optuna offers to explore

[2021-02-01 01:58] Crissman commented on #2081
On some low end testing, reduction of HP based on HPI did not seem to provide a significant search boost, when using TPE, so closing this issue.

[2021-02-01 01:58] #2081 closed

[2021-02-01 02:22] Crissman commented on #1238
After some thought about this, I think it would be better for us to group the examples by framework, like `pytorch`, `xgboost`, instead of by `pruning` or `integration`.

@hvy Don't follow your comment on Github actions, so let's discuss offline.

[2021-02-01 03:51] hvy opened #2293 "NumPy 1.20.0 incompatibilities"
## Motivation

NumPy released [v1.20.0](https://github.com/numpy/numpy/releases/tag/v1.20.0) in 21-01-31 with several updates including deprecations and type hint annotations. Currently, Optuna is not compatible with this version. Type hint errors are the known issues. The NumPy version in `setup.py` is therefore constrained to avoid this latest release with `<1.20.0` (https://github.com/optuna/op

[2021-02-01 04:10] hvy commented on #1238
If you for instance look at https://github.com/optuna/optuna/runs/1801496728?check_suite_focus=true, you can see that all examples are executed under a single large step (taking more than 3 hours). I meant splitting this up into multiple steps.

![Screen Shot 2021-02-01 at 13 08 59](https://user-images.githubusercontent.com/5983694/106413977-d238bf00-648e-11eb-979e-043b89b94ac4.png)

[2021-02-01 04:30] hvy commented on #1232
Just for the record, joblib has been removed and Optuna now only supports multi threading https://github.com/optuna/optuna/pull/2269. I think we can extend this change to include multi processing by simply replacing the executor. However, supporting the in memory storage will remains a TODO.

[2021-02-01 06:30] Crissman commented on #1238
Gotcha. Ok to make a PR to group examples by platform, and update the github actions to test by directory?

[2021-02-01 07:06] hvy commented on #2293
mypy errors from CI (e.g. https://github.com/optuna/optuna/runs/1800022865?check_suite_focus=true)
[code]

[2021-02-01 07:22] hvy commented on #1238
Sounds good to start working on a PR (or PRs) 👍

[2021-02-01 07:39] Crissman commented on #2080
So, I went to a palette generator, based off the color of the Optuna logo, #07639F: https://mycolor.space/?hex=%2307639F&sub=1

These were my favorites:

<img width="637" alt="Screen Shot 2021-02-01 at , Feb 1, 2021  4 38 32 PM" src="https://user-images.githubusercontent.com/4338467/106428264-04a4e500-64ac-11eb-902a-6a187af9b24a.png">
<img width="530" alt="Screen Shot 2021-02-01 at , Feb 1, 2021

[2021-02-01 10:38] 0x41head commented on #2293
Working on it .

[2021-02-01 14:23] ZumbiAzul commented on #2263
Thanks! It works.

[2021-02-01 14:39] hvy opened #2295 "Release Tasks for v2.6.0"
Tracking issue for Optuna [v2.6.0](https://github.com/optuna/optuna/milestone/32).

**Items**

- [x] Drop `joblib` https://github.com/optuna/optuna/pull/2269

[2021-02-01 14:40] hvy commented on #2198
Let me close this one since v2.5 was just released.

Here is the corresponding issue for the next v2.6 release, #2295.

[2021-02-01 14:40] #2198 closed

[2021-02-01 14:54] nzw0301 commented on #2263
@ZumbiAzul Awesome! Could you close this issue? I believe your issue is solved.

[2021-02-01 21:40] brethvoice opened #2296 "Importances in plot do not match values in dictionary saved out"
The parameter importances I saved out as a .json dictionary do not match what appears when they are plotted automatically.

## Expected behavior

The numbers and order of importance could match to make more sense.

## Environment

- Optuna version: 2.4
- Python version: 3.8
- OS: Windows 10

## Steps to reproduce

1.  Save out parameter importances ordered dictionary as .json file in callback, as

[2021-02-01 21:51] brethvoice commented on #2296
To see what the plotted importances could look like, use the following code (stripped down from [source](https://optuna.readthedocs.io/en/stable/_modules/optuna/visualization/_param_importances.html#plot_param_importances)):
[code]
Then in a Python environment, load importances.json, then show the `plot_param_importances` figure instantiated with it as the sole argument.

[2021-02-02 01:39] hvy commented on #2293
That'd be great. Would you like to tackle all of them? We could split it up to allow incremental fixes. For instance, per directory/submodule and/or whether it's an error or a note (I was thinking of Tweeting this [here](https://twitter.com/OptunaAutoML/status/1351049129414324225) but though I'd check with you first).

[2021-02-02 09:09] 0x41head commented on #2293
Yes. That would be really helpful. I fixed some of it yesterday. So if anyone is solving it you can clone my master repo :
https://github.com/0x41head/optuna/tree/master

This is the updated log :
`optuna\multi_objective\_hypervolume\wfg.py:21: error: Incompatible types in assignment (expression has type "ndarray", variable has type "None")
optuna\samplers\_tpe\multivariate_parzen_estimator.py:75:

[2021-02-02 11:53] hvy commented on #2293
Got it. Parsed the files and listed them up in the description. Maybe you could go ahead and create an initial PR and other contributors could push to your branch of create a new one based on it.

[2021-02-02 12:18] hvy commented on #2296
This is actually not a bug per se. https://github.com/optuna/optuna/issues/2207 is a duplicate.

[2021-02-02 12:36] Uproar197 commented on #2286
Unfortunately，it seems not about the database. I changed the database from Sqlite to MySQL and ran the codes, it's still stuck when the trial number comes to five.

[2021-02-02 12:39] Devanshu24 commented on #2293
I would be happy to help @0x41head !
Looking forward to your PR, so I can pitch in :)

[2021-02-02 12:44] 0x41head commented on #2293
@Devanshu24 @hvy done.

[2021-02-02 13:17] Devanshu24 opened #2301 "Add development env creation steps in CONTRIBUTING.md"
Currently, the [`CONTRIBUTING.md`](https://github.com/optuna/optuna/blob/master/CONTRIBUTING.md) does not have the steps to setup the development environment. Maybe we could add something like this

## Development

To create your local development environment, do the following:

First fork the repository, then

[code]

This is just some draft I thought of, firstly I wanted to run the idea by every

[2021-02-02 13:41] keisuke-umezawa commented on #1618
By using [darglint](https://github.com/terrencepreilly/darglint), I can make a list for undocumented exceptions. Although I only check the outputs of `./optuna/study.py`, it seems good in the most cases. (One problem is that it can not recognize `:exc:`. e.g. `:exc:'ValueError'`)

- [ ] ./optuna/visualization/_pareto_front.py:plot_pareto_front:22: DAR401: -r ValueError
- [ ] ./optuna/storages/_bas

[2021-02-02 15:51] brethvoice commented on #2296
@hvy thank you for the educational comment.  I have updated my code to do the following:
[code]
and then whenever I call `optuna.importance.get_param_importances()` or `optuna.visualization.plot_param_importances()` I pass it this same evaluator, based on the same random seed.

[2021-02-02 15:51] #2296 closed

[2021-02-02 19:25] Inayat-Khan commented on #1339
This is definitely an issue on Windows 10.
After creating the Anaconda environment and then successfully installing using
conda install -c plotly plotly

Successfullly running :
import plotly
plotly.__version__

This shows  version  = 4.14.3

But optuna visualisation code fails to find plotly.

optuna.visualization.plot_contour(study, params=["kmeans__n_clusters"]) errors with :

-----------------

[2021-02-03 09:22] Crissman opened #2306 "Add RL and multi-objective examples to examples/readme.MD"
In working on #2302 , I noticed that multi-objective and rl examples are not linked in the examples/readme.MD. Once that PR is merged, will add them to the examples page.

While there, would also be good to simplify the links for that page, to remove the repetition between simple and pruning examples, which are in the same folder now anyway.

[2021-02-03 09:29] HideakiImamura commented on #1381
FYI: Optuna does not use `joblib` internally from https://github.com/optuna/optuna/pull/2269, but Optuna can still be used with `joblib` and `joblib-spark` as it is now.

[2021-02-03 09:54] HideakiImamura commented on #1766
@mrocklin @jrbourbeau [Just FYI] Optuna does not use `joblib` internally from #2269, so it is reasonable to use native Dask UIs when we implement `DaskStudy.optimize`.

[2021-02-03 11:57] tide90 commented on #2225
@HideakiImamura I think you missed soemthing in your code example above? Or why does this block the message?

[2021-02-03 12:59] tide90 opened #2310 "In trial you get always the same suggestions?"
Hi,

I thought I have to tackle this and take care by myself, but the suggestions are always the same within each trial?

So using a for loop inside the trial I get always the same suggestions of the parameters. Is this intended or accidentally?

[code]

I get always the same x1, x2 per trial.

[2021-02-03 15:21] nzw0301 commented on #2310
Could you share the full code to reproduce the results?

[2021-02-03 15:26] nzw0301 commented on #2310
This is the intended behaviour. If a hyper-parameters is already sampled in a trial, optuna does not sample the hyper-parameter again.

Related issue: https://github.com/optuna/optuna/blob/0280b598a85a6bc79b22a10a1e5edde82a09044e/optuna/trial/_trial.py#L704

[2021-02-03 15:41] nzw0301 commented on #2272
@tide90 hi, did you use this example for your issue?

[2021-02-03 15:48] #2310 closed

[2021-02-03 16:52] jeromepatel commented on #1683
I am looking forward to work on this issue! Please assign it to me if possible

[2021-02-04 00:50] hvy commented on #1683
Sure, I think you can. It's been assigned but it's also been open for a while now. 👍

[2021-02-04 09:45] sachinruk opened #2311 "Using previous states to suggest parameters"
Due to the way that our infrastructure is set up I unfortunately cannot attach any kind of Database to our kubernetes cluster. However, I can write out the previous parameters and the result to s3. So what I'm hoping to do is the following workflow (and I'm hoping that there is a way I can use Optuna this way).
1. Generate some initial random parameters (say 5 sets) and run those in parallel using

[2021-02-04 15:28] ZumbiAzul commented on #2235
@nzw0301 Thats right.

[2021-02-04 15:33] ZumbiAzul opened #2312 "No plots appearing when using visualisation tools."
Hello, I am using Spyder to write my python code, and I am using optuna to optimise my neural network.
When I try any of the optuna's visualisation commands, there is no plot appearing in the Plots section of the Spyder interface.

Amongst the lines I tried are the following
[code]

Is there a way how I can use the Figure object `fig` that is returned by optuna visualisation methods to force the p

[2021-02-04 19:13] Inayat-Khan opened #2313 "Reopen : https://github.com/optuna/optuna/issues/1339"
Please reopen ticket  :  https://github.com/optuna/optuna/issues/1339
Windows 10 doesn't work with the visualisation feature of Optuna , check out the original ticket for the details I wrote there.

Thanks
Inayat Khan

[2021-02-05 00:46] crcrpar commented on #2312
Hi @ZumbiAzul

I would try `fig.show()` method to display the figure.
https://github.com/optuna/optuna/issues/2262 might be related.

[2021-02-05 02:53] crcrpar commented on #2311
Hi, I'm not quite confident, but I hope I could provide some notes here.

**Passing five results to Optuna**: `optuna.study.Study.add_trial` enables us to pass the used hyperparameters and the corresponding result to `Study`. [Docs](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.add_trial).

**Suggesting next 5 sets of parameters**: Especiall

[2021-02-05 04:14] sachinruk commented on #2311
Thanks @crcrpar, certainly helps a big part of the problem that I was having. If I understand the second half of your answer, you're saying simply do `study.optimize` on each pod separately right?

The thing that I'm worried about is that the parameters generated in each of those pods might be the same. I understand that this is a low probability. If we can generate 5 unique set of parameters that

[2021-02-05 04:38] crcrpar commented on #2311
Yes, I meant that and I noticed that parallel execution basically requires some RDB.
Ah, identical sets of parameters could be suggested.

[Ask and Tell API](https://github.com/optuna/optuna/releases/tag/v2.5.0) introduced in v2.5.0 can be useful, I guess.
@hvy What's your take?

[2021-02-05 05:25] sachinruk commented on #2311
Ah, so I can just:
[code]
i.e. I'm guessing/ hoping I don't need a corresponding tell component.

[2021-02-05 05:37] hvy opened #2314 "`LightGBMTuner` default metric consideration"
## Motivation

The following comment in https://github.com/optuna/optuna/pull/2299#issuecomment-773321979 should be addressed.

(C.f. https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric)

Currently, the `LightGBMTuner` always defaults to `binary_logloss`.

## Description

See above.

[2021-02-05 05:37] hvy commented on #2314
@toshihikoyanase, is this aligned with your interpretation?

[2021-02-05 05:51] toshihikoyanase commented on #2314
Yes, it is! Thank you for reporting the issue.

[2021-02-05 06:02] hvy commented on #2311
I think you could use the ask and tell API for that, basically as in the code above. You would then usually tell the results of the corresponding trial/objective values back to the study using `Study.tell`. However, if you instead skip telling and instead write to a bucket or similar, you could create a new study in each pod, each time, parse the data in the bucket, and reconstruct the entire tria

[2021-02-05 06:39] sachinruk commented on #2311
Just expanding on what you said in the second paragraph, are you saying that the suggestions would be similar because its only conditioning on the past trials, but not the parameters we are trying to run in parallel? So this would dampen our effectiveness of using parallelism right?

Is the PR mentioned above supposed to help with this issue? Or alternately, is there an algorithm that would be bet

[2021-02-05 08:10] hvy commented on #2311
Yes and yes.

For the first question, yes. However, it seems like it won't be ready just yet. There is also a working constant liar sampler as a gist by @toshihikoyanase. Would you be able to use this one perhaps? https://gist.github.com/toshihikoyanase/d2bbf883f4f4acde1793ccc7effee4b7

[2021-02-05 11:23] TezRomacH opened #2315 "Change inheritance of PytorchLightningPruningCallback"
## Motivation

PyTorchLightningPruningCallback class is inherited from `pl.EarlyStopping`.
But EarlyStopping itself determines when to stop training, without using data from Trial. Is it necessary to keep such a construct or is it enough to inherit from `pl.Callback`?

## Additional context (optional)

Previous discussion was here: #2294

[2021-02-05 11:39] sachinruk commented on #2311
Perfect, looks like exactly what I was after. Thank you!

[2021-02-05 11:39] #2311 closed

[2021-02-05 14:30] mhdadk opened #2316 "AssertionError using multivariate TPE sampler"
## Expected behavior

Script was running normally. Completed trial 18, but then got an `AssertionError`. This never happened before while running the same script. I previously ran the same script for 36 trials until it stopped due to a CUDA out of memory error, but that's not relevant here.

## Environment

- Optuna version: 2.5.0
- Python version: 3.8.5
- OS: Red Hat Enterprise Linux
- (Optional)

[2021-02-05 16:11] y0z commented on #2316
Hi.
This bug seems to be the same as https://github.com/optuna/optuna/pull/2055.

[2021-02-05 16:38] allenciox opened #2317 "Two issues with optuna.integration.allennlp.AllenNLPExecutor. One is error, the other is wrong results."
There are two issues, using Optuna with optuna.integration.allennlp.AllenNLPExecutor.   The first is that everything works fine when number of jobs is set to be greater than one.   But when njobs is set > 1 an error always occurs after a random number of trials.

The second is that when the parameter to be optimized is based on validation data, it is always obtained from the last epoch, not the be

[2021-02-05 16:43] allenciox commented on #2317
whoops, timeout I used was actually 60*60*12, not 60*5 as reported (that was on a debugging run, to try to discover more about what was going on)

[2021-02-05 16:46] mhdadk commented on #2316
So does this mean that can only use the TPE sampler with `multivariate = False`?

[2021-02-05 16:56] y0z commented on #2316
In brief, you have three options.
1. turn off `multivariate` (the easiest workaround)
2. cherry-pick the commits to fix this bug from #2055
3. turn off pruning

[2021-02-05 16:59] mhdadk commented on #2316
Thanks for the help! Should I keep this issue open?

[2021-02-05 17:00] y0z commented on #2316
I think so.
This issue should be closed after merging #2055.

[2021-02-05 20:04] blaney83 opened #2318 "Study Utils Module"
First of all, Optuna is amazing, so thank you for all of your work on this project. It's an incredible library.

There is one thing that I find myself missing over and over while using it: a dedicated API for Study manipulation/control. I think there is some key utility functionality which would make this library close to perfect. ***The primary goal of most of the suggestions is focused on the re

[2021-02-06 00:29] ali2iptoki opened #2319 "why i get Trial 0 failed?"

[2021-02-06 00:38] ali3assi opened #2320 "when does mean Trial 0 failed?"
Please, I am new to optuna. I follow some notebook and it is great. So, now I tried to use it in my code in both programs. in the first one it works good but in the second one, the code executes and when all the epochs end with the first trial scenario
[code]

I get the following error:
`[W 2021-02-05 19:14:13,487] Trial 0 failed, because the value None could not be cast to float.`

Note that I am

[2021-02-06 01:55] dtczhl opened #2321 "How to continue training?"
I wonder how to continue training in optuna. Basically, my goal is to know how the accuracy of the trained model improves when I feed into more data (I don't want to train a new model for different sizes of dataset from scrath). I can easily do it via the `init_model` parameter of the official LightGBM model <https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm.train>.

[2021-02-06 18:44] blaney83 commented on #2319
This should be closed. Besides being empty, I believe the question was again in another issue.

[2021-02-06 18:52] blaney83 commented on #2320
Sounds like an exception in your optimization function. You should start by debugging into your model training function. When the value returned is None, it means your function is failing before it finishes. Start with some basics (`try...except`) and look into the stack trace.

[2021-02-07 08:54] nzw0301 commented on #2275
I guess there is no issue with `log=False`.

[2021-02-07 09:17] nzw0301 opened #2324 "`model_dir` of `LightGBMTunerCV` is not generated."
## Expected behavior

According to [`LightGBMTuner` ](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTuner.html#optuna.integration.lightgbm.LightGBMTuner), if `model_dir` does not exist, optuna creates the directory, and saves boosters into the directory. I can confirm that I just add `model_dir=` (say `model_dir="./boosters"`) to the argument of `.

[2021-02-07 10:40] blaney83 commented on #2289
Just an idea- could you add a penalty to the trial value if it's long running? I feel like you could steer the algorithm just by taking time into account in the value. This would be more subtle than pruning for example, as the trials will finish, but they will be viewed as less promising when choosing the next parameters.

[2021-02-07 14:45] blaney83 opened #2325 "Allow TPE Sampler to consider "fixed_params" in observation pairs"
When suggesting the next parameters, the TPE sampler should consider "fixed_params" in the observation pairs.

## Motivation

Currently, when seeding a study with trial parameters via `enqueue_trial`, the parameters are not correctly instantiated (e.g. with distributions or actual mappings to parameters) if the implementation of the optimization function does not explicitly call `trial.suggest_...

[2021-02-07 15:21] crcrpar commented on #2324
Somehow `"model_dir"` is not listed in `LightGBMTunerCV` documentation: https://optuna.readthedocs.io/en/latest/reference/generated/optuna.integration.lightgbm.LightGBMTunerCV.html,

![image](https://user-images.githubusercontent.com/16191443/107150915-6cbf6380-69a3-11eb-802d-cd96b1c3cf19.png)

[2021-02-08 01:16] toshihikoyanase opened #2327 "`Study.optimize` cannot be stopped properly when `sampler=GridSampler` and `pruner=HyperbandPruner`"
## Expected behavior

The study should be stopped without errors.

## Environment

- Optuna version: v2.6.0.dev
- Python version: 3.8.5
- OS: Ubuntu 20.04
- (Optional) Other libraries and their versions: N/A

## Error messages, stack traces, or logs

[code]

## Reproducible examples (optional)

[code]

## Additional context (optional)

### Cause

This is mainly because `_BracketStudy` does not hav

[2021-02-08 05:00] z7ye opened #2328 "CategoricalDistribution does not support dynamic value space."
optuna does not support dynamic value space for CategoricalDistribution. I dont see why  adding or removing choices in the CategoricalDistribution is a problem. Would it possible to add this feature please?

[2021-02-08 06:36] toshihikoyanase commented on #1795
@hvy The errors in https://github.com/optuna/optuna/issues/1795#issuecomment-728605927 were resolved by #2067, #2068 and #2323. Can we close this issue?

[2021-02-08 07:09] toshihikoyanase commented on #2324
@nzw0301 @crcrpar Thank you for your investigation. We should fix this bug.

Currently, `LightGBMTuner.__init__` creates the `model_dir` if it does not exist.
https://github.com/optuna/optuna/blob/03eb57eb8eb1d844936445f6768c6d13fc859e34/optuna/integration/_lightgbm_tuner/optimize.py#L832-L835

But, we can move the logic to the `LightGBMBaseTuner.__init__` because all the subclasses have the `mode

[2021-02-08 10:03] ZumbiAzul commented on #2312
@crcrpar `fig.show()` doesn't seem to have any effect.

[2021-02-08 10:03] sebffischer opened #2329 "Seed for _independent_sampler when using SkoptSampler"
Reproducibility

## Motivation

I wanted to make the hyperparameter-search reproducible by passing "random_state" to the "skopt_kwargs" argument of
SkoptSampler(). However the results were not reproducible and eventually I solved it via:

[code]

## Description

It would be nice to have the argument "seed" for SkoptSampler() so that the seed of the independent sampler is also set.

[2021-02-08 10:12] SotaMatsuzawa commented on #1339
Hi, I'm having the same problem on MacOS.
After creating the Anaconda environment and then successfully installing using `conda install plotly`
- optuna version: 2.3.0
- plotly version: 4.14.3
- python version: 3.8.5

---
import plotly
dir(plotly)

->['__version__',
 'colors',
 'data',
 'graph_objects',
 'graph_objs',
 'io',
 'offline',
 'tools',
 'utils']

---
plot_optimization_history(study)
->I

[2021-02-08 11:09] FloHu commented on #1339
I'm working on Windows10 and can confirm. Plotly can be imported from the Python console but Optuna cannot find it:

`
  File "C:\local_tools\Anaconda3\lib\site-packages\optuna\_imports.py", line 86, in check
    raise ImportError(message) from exc_value

ImportError: Tried to import 'plotly' but failed. Please make sure that the package is installed correctly to use this feature. Actual error: No

[2021-02-08 13:15] himkt commented on #2057
Resolved in https://github.com/optuna/optuna/pull/2291. Thank you @0x41head!

[2021-02-08 13:15] #2057 closed

[2021-02-09 01:04] hvy commented on #1795
Thanks for the heads up, yes I think we can close it.

[2021-02-09 01:04] #1795 closed

[2021-02-09 09:56] sehoff opened #2331 "MOTPESampler StorageInternalError after ~300 iterations"
Running a multiobjective optimization using the MOTPESampler, an exception is raised after ~300 iterations when writing to a postgres DB. Apparently, the length of the insert into trial_system_attributes is too long.

- The optuna exceptions is: "optuna.exceptions.StorageInternalError: An exception is raised during the commit. This typically happens due to invalid data in the commit, e.g. exceedin

[2021-02-10 04:33] ironv opened #2333 "support for single-node multi-GPU runs using pytorch-lightning"
I am using the following [example](https://github.com/optuna/optuna/issues/1365#issuecomment-645161471)  to create code which runs on a single VM with 4 GPUs and 24 CPUS (1 thread/core).  A feed-forward network model written in pytorch-lightning is being tuned, and unlike the [example](https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py) the ranges for `nlayers`, `dro

[2021-02-10 05:45] ironv commented on #2333
All four GPUs are used initially. Within about a minute, one of them goes to 0 and then in about 3-4mins only one of them is being used and the rest are at 0% .  I did try with `storage=...` i.e using a db, that does not make a difference.

[2021-02-10 08:18] veritas9872 commented on #1224
@diff7 I am also facing the same problem. Could this issue please be reopened? Memory usage is more than 2 times what it should be.

[2021-02-10 09:03] toshihikoyanase commented on #2328
Thank you for your feature request. We can see some similar requests such as https://github.com/optuna/optuna/issues/372 and https://github.com/optuna/optuna/issues/2199. As mentioned in https://github.com/optuna/optuna/issues/372#issuecomment-480690635, we need design discussions of APIs and it may be difficult to resolve this issue soon.

Please keep this issue open as a tracker.

[2021-02-10 10:16] behloolsabir commented on #1339
Encountered the same error in MacOS. Experimented installing plotly by pip as well as conda.

- optuna==2.4.0
- plotly==4.14.3
- cufflinks==0.17.3
- Python 3.6.9

[2021-02-10 11:05] toshihikoyanase commented on #2329
Hi @sebffischer
Thank you for your report.

How about using the `independent_sampler` argument of `SkoptSampler.__init__`?
The following is an example code:

[code]

I confirmed the reproducibility in the following notebook:
https://colab.research.google.com/drive/1bGmVeWDSWM8i76sneTK0jruXxJSSV2y8?usp=sharing

[2021-02-10 14:15] SammyRamone opened #2334 "Tensorboard integration breaks when using suggest_float with step parameter"
The tensorboard integration throws an error if the `trial.suggest_float()` method is used with a `step` parameter. If no step parameter is given, it works fine.

## Expected behavior
Should not throw an error.

## Environment

- Optuna version: 2.5.0
- Python version: 3.6
- OS: Ubuntu 18.04
- (Optional) Other libraries and their versions: tensorboard 2.4.1, tensorflow 2.4.1

## Error messages, sta

[2021-02-10 19:35] nzw0301 commented on #2334
I could reproduce the bug you reported. Indeed, when we use `trial.suggest_float` with the `step` argument, optuna evaluates `param_name, hp.Discrete(param_distribution.low, param_distribution.high)` in [TFboard integration](https://github.com/optuna/optuna/blob/master/optuna/integration/tensorboard.py). However, `hp.Discrete` takes only one argument: `values`, rather than two float values. I'm no

[2021-02-11 05:27] nzw0301 opened #2336 "TensorBoard integration for a hyper-parameter sampled by using `suggest_int(log=True)`"
## Motivation

The currently TensorBoard integration does not support `IntLogUniformDistribution` that is used for `suggest_int` with `log=True`.

## Description

Add lines for `IntLogUniformDistribution` [these lines](https://github.com/optuna/optuna/blob/master/optuna/integration/tensorboard.py#L60-L86):

[code]

I believe that adding test is also helpful.

## Alternatives (optional)

## Additio

[2021-02-11 12:36] SammyRamone commented on #2331
I had the same issue (also using postgresql). I managed to fix this by changing the type of the `value_json` column in the `trial_system_attributes` from `character varying(2048)` to `text`. This removes the limit and I did not encounter the bug afterwards again (yet). Obviously, this is not a real solution to this issue, as I think there should not be such long entries there in the first place. S

[2021-02-11 12:54] timonegk opened #2337 "Tensorboard integration with integers for parameter boundaries"
When using the `optuna.integration.tensorboard.TensorBoardCallback` with integer parameters for `suggest_uniform`, a `TypeError` is raised.

## Expected behavior
No TypeError should be raised, instead the integer should be casted to a float.

## Environment

- Optuna version: 2.5.0
- Python version: 3.7.5
- OS: Debian Testing
- (Optional) Other libraries and their versions: Tensorboard 2.4.1

## E

[2021-02-11 15:40] jeromepatel commented on #2233
I am interested in working on this. It would be helpful if any contributor can assign this to me

[2021-02-11 15:47] sehoff commented on #2331
Thanks a lot for this workaround! This only works once the database hase been initialized by optuna, if I am not mistaken? As such, one needs to first start the hyperparameter search, break it, apply your workaround and continue the hyperparameter search on the same study_name ?!

[2021-02-11 15:59] SammyRamone commented on #2331
Yes, you first have to initialize the database one time by running Optuna. But since the error just happens after some time, this works.
You're welcome :)

[2021-02-11 16:51] ali3assi opened #2338 "how to see the trials in optuna-dashboard?"
I am using optuna in my code. I need just to see the trials drawn in optuna-dashboard. For the moment, i can start optuna-dashbord, but it is empty. So, my question once, I run my code form visual studio how can i see for example the trials in optuna-dashboard?

## Note to the questioner

If you are more comfortable with [Stack Overflow], you may consider posting your question with the "optuna" ta

[2021-02-12 00:54] hvy commented on #2233
That'd be great. You don't need an assignment as long as we have a record here. Let me know if you need any help and I'm looking forward to the PR(s).

[2021-02-12 04:50] viiids opened #2339 "What Sampling function does Optuna use and how to use a custom Sampling function"
I am interested in knowing what Sampling function Optuna uses and also if I can customize it. Also, I need to pass some additional information while observing trials and need this information when running my custom sampling function. Is there a pluggable way to do this?

[2021-02-12 07:24] y0z commented on #2339
Hi. The tutorial about User-Defined Sampler may be helpful.
https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/005_user_defined_sampler.html#sphx-glr-tutorial-20-recipes-005-user-defined-sampler-py

[2021-02-12 07:46] viiids commented on #2339
@y0z thank you for responding. My acquisition function also changes after every observation so ideally I would like to create a new study with a freshly updated instance of CustomSampler and observe all the existing trials into that study again.

So is there a service API similar to what most other HPO libraries have where I can request for new trials to be evaluated and observe existing trials, a

[2021-02-12 08:04] y0z commented on #2339
Although I'm not so an expert in Optuna, you might be able to implement what you want by combining the following APIs.
`add_trials` API
https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.add_trials
`ask` and `tell` APIs
https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.ask
`get_trials` API
http

[2021-02-12 15:54] ZumbiAzul commented on #2312
Using `dir(fig)`, I found that `fig` has the method `write_image('image.png')`, which creates the file `image.png` into the working directory. This is, of course not the direct solution, but better than nothing.

Another method was `to_image()`, but I havent figured out how to use it yet to show the plot in Spyder.

[2021-02-13 00:54] ali2iptoki opened #2340 "How can exploit parallelism in Optuna?"
`SuccessiveHalvingPruner` is supposed to be executed in parallel way. How can configure our code (simple code) to exploit the exploit parallelism in Optuna?

## Note to the questioner

If you are more comfortable with [Stack Overflow], you may consider posting your question with the "optuna" tag there instead.
Alternatively, for issues that would benefit from more of an interactive session with th

[2021-02-13 02:12] majiang opened #2341 "UserWarning: Choices for a categorical distribution should be a tuple of None, bool, int, float and str for persistent storage but contains"
I have provided a list of tuples of integers, e.g. `[(0,), (1, 2), (2, 3, 4)]` as the `choices` argument of `trial.suggest_categorical` method.
The optimization session seems working while generating a number of (one for each choice?) warning as the title of this issue.

My question is that, what's the drawback I have to be aware of from the warning? Some possibilities I think of are, from worst:

[2021-02-13 11:17] himkt commented on #2341
Hello @majiang, I think your optimization basically works without any problem.
You can use Optuna with the search space in parallel, and with RDB.

**Some types such as tuple or dictionary are not recommended** because there is no guarantee for compatibility across different storage backends (e.g. MySQL and Redis).

(ref. [documentation for CategoricalDistribution](https://optuna.readthedocs.io/en

[2021-02-13 11:37] himkt commented on #2340
You can run an optimization in parallel by simply executing your Python script from multiple terminals.
It needs the shared RDB (MySQL or PostgreSQL are recommended). Please see the [documentation](https://optuna.readthedocs.io/en/stable/tutorial/10_key_features/004_distributed.html) for more detail.

[2021-02-13 11:51] himkt commented on #2338
Do you use Optuna with storage such as SQLite3 or MySQL? If you use Optuna without RDB storage, you have to update your script to save the optimization history into the database before you launch `optuna-dashboard`.
To use Optuna with RDB, please read the [documentation](https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/001_rdb.html#sphx-glr-tutorial-20-recipes-001-rdb-py).

If you save

[2021-02-13 13:55] majiang commented on #2341
Thank you @himkt for your prompt response. I'm glad my optimization basically works.

When compatibility issues become tangible I'll expect an Exception, and then encode the choices to strings.

Btw I had started the optimization with `CmaEsSampler` and thanks to your reference I have replaced it with `TPESampler` before wasting this night 😄

[2021-02-13 13:55] #2341 closed

[2021-02-13 15:33] himkt commented on #2337
Thank you @timonegk for raising the issue. I reproduced the error and opened the PR #2343.
If you have some comments for the PR, please put them to the PR. 😸

[2021-02-13 15:41] himkt commented on #2319
Thank you @blaney83. Let me close the issue.

[2021-02-13 15:42] himkt commented on #2319
@ali2iptoki
I close this issue. Feel free to comment if you need.

[2021-02-13 15:42] #2319 closed

[2021-02-13 17:27] ali2iptoki commented on #2340
@himkt  thanks for your answer. But in the case of executing the same script with the same study-name and storage both times, and if we already configured Optuna with Neptune, we will see two project ID in Neptune, NO?

[2021-02-13 19:14] himkt commented on #2317
Hello @allenciox. First of all, sorry for the late reply.
And thank you for trying Optuna with AllenNLP.

If you want to run parallel execution, please try simply running your Python code from multiple prompts instead of specifying `n_jobs` in `optimize`.

(And also, consider using [allennlp-optuna](https://github.com/himkt/allennlp-optuna), if you want to use Optuna in `allennlp` command. `allenn

[2021-02-14 04:41] himkt commented on #2317
I'm wondering allennlp trainer picks the best epoch based on the value of `loss`, as you commented out `validation_metric` in your trainer configuration. (`GradientDescentTrainer` watches `loss` by default. https://docs.allennlp.org/v1.3.0/api/training/trainer/#gradientdescenttrainer)

What happens if a configuration is updated to watch an accuracy as a validation metric?
If it doesn't solve your

[2021-02-14 04:49] himkt commented on #2315
Thank you @TezRomacH for reporting the problem (#2294) and working on fixing it (#2326).
Let me close this issue because the problem seems to be fixed now. (cc. @toshihikoyanase, @HideakiImamura)

[2021-02-14 04:49] #2315 closed

[2021-02-14 05:05] himkt commented on #2225
Hello @tide90, I think the suggestion by @HideakiImamura will not contain any logic to block a warning message. I think we can erase a warning message by (a) filtering out it explicitly (https://github.com/optuna/optuna/issues/2225#issuecomment-764713213) or (b) modifying a code to fixing a cause of warning. The suggestion takes the latter approach.

He suggested fixing a code such that a range of

[2021-02-14 06:09] nzw0301 commented on #2336
I'll send a PR to fix this issue after PR #2335.

[2021-02-14 15:16] 0x41head commented on #2203
It doesn't seem as if someone has picked this up. Mind if I give it a try ?

[2021-02-15 01:11] hvy commented on #2203
Sure, it'd be great.

[2021-02-15 10:43] 0x41head commented on #2203
@hvy Could you please look at the current and updated versions below and provide comments regarding the same.

Current:
![before](https://user-images.githubusercontent.com/53595853/107936156-4f445800-6fa8-11eb-8855-e32f0b6300de.png)

Updated:
![after](https://user-images.githubusercontent.com/53595853/107936180-5703fc80-6fa8-11eb-8e5b-d9d6a9c54d75.png)

If this looks good, I can go ahead and submi

[2021-02-15 13:32] himkt commented on #2340
@ali2iptoki

1.
You can skip creating a new study if it already exists. Please specify `load_if_exists=True` in `create_study`.
(ref. https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.create_study.html#optuna.study.create_study)

2.
You're right. You have to run a program on each computer.

You can also specify `n_jobs` in `study.optimize`. It would be helpful if you have a

[2021-02-15 19:28] ali2iptoki commented on #2340
@himkt  thanks but when I get the following
[code]

I am using mysql

[2021-02-16 00:03] ali3assi opened #2350 "Trial 44 failed because of the following error: ValueError('All layers added to a Sequential model should have unique names."
when running the paralisation in optuna as follows:
[code]

i get the following exception:
`[W 2021-02-15 18:53:35,171] Trial 44 failed because of the following error: ValueError('All layers added to a Sequential model should have unique names. Name "batch_normalization" is already the name of a layer in this model. Update the `name` argument to pass a unique name.')

## Environment

- Optuna vers

[2021-02-16 00:20] not522 commented on #1619
Is it OK to close this issue?

[2021-02-16 01:25] hvy commented on #1619
This is not a strong opinion but we could keep it open for contribution fixing the remaining TODOs discussed in in #2140.

[2021-02-16 01:44] hvy commented on #2203
Looks great. Will you make similar changes to the 3d variant as well? A detail but the legend labels might open for discussion since they're here singular. There are in practice multiple values for each data point (trial). We could name those "Trial" and "Best Trial" for instance (if you hover over the points, you'll see the trial information so it's consistent from this point of view).

[2021-02-16 01:54] crcrpar commented on #2350
Could you share the (minimal) reproducible code?

[2021-02-16 03:55] ali3assi commented on #2350
@crcrpar thanks for your reply. I added for each layer a name attribute so the above exception is not thrown. BUT I have something strange since it is expected to execute my code in parallel way and unfortunately I cannot see the parallelization like:
[code]
So the execute in normal way.
1- In fact I have the code in file test.py which include all optuna stuff like study.optimize etc.
and in anoth

[2021-02-16 04:23] ali3assi opened #2351 "parallelisation is not working in optuna"
How can we execute the code in parallel in optuna. The documentation is so naive about that.
Suppose I have a test.py file which includes the following code:

[code]

and I have another test2.py file which calls the test.py file like that:
[code]
  But the code:

1. is not executed in parallel. I cannot see for example in the console: Trial 0 finsihed .... Trial 1....
2. The code creates two exper

[2021-02-16 04:27] nzw0301 commented on #2350
@ali3assi Could you share the codes related to both sampling hyper-parameters with optuna and model construction?
This is because your error looks like a deep learning framework's error.

[2021-02-16 04:30] ali3assi commented on #2350
@nzw0301  Unfortunately I cannot since the code is a little bit big. The error is generated only when I add n_jobs in optimize function of optuna.

[2021-02-16 04:31] nzw0301 commented on #2334
Hi, @SammyRamone. If you use the master branch of optuna, the reported error does not appear :)

[2021-02-16 04:37] nzw0301 commented on #2350
@ali3assi okay, could you check this related issue https://github.com/optuna/optuna/issues/1885 ?

[2021-02-16 04:42] ali3assi commented on #2350
@nzw0301 Thanks I will check it but can you please tell me how can run my code in parallel using the code and not the terminals

[2021-02-16 04:44] nzw0301 commented on #2336
Ah, I realise that I should send after #2343 by @himkt.

[2021-02-16 04:45] ali3assi commented on #2350
I added the name for each layer, but not working

[2021-02-16 04:45] nzw0301 commented on #2350
@ali3assi I'm afraid that we cannot tell you that without full reproducible codes :(

[2021-02-16 04:46] HideakiImamura commented on #2351
Thanks for the question. Please execute the python program in different processes manually. For example, if you use macOS, open 2 terminals, and just run `python test2.py` in each terminal. Then, Optuna parallelizes the optimization with 2 processes.

[2021-02-16 04:50] ali3assi commented on #2351
@HideakiImamura  Thanks for your reply. I am on windows. But I need to parallelize the code on a pc of 48 cpus, I need to open 48 terminales?

[2021-02-16 04:52] HideakiImamura commented on #2351
Actually, you don't have to open 48 windows. You can just open one terminal and execute the python program twice in the background.

[2021-02-16 04:54] ali3assi commented on #2351
@HideakiImamura Sorry sir but it is not clear. How do that in the background?

[2021-02-16 04:57] HideakiImamura commented on #2351
Just run `python test2.py &`.

[2021-02-16 05:00] ali3assi commented on #2351
Thanks but python test2.py & how many times this command suppose to execute the code? It is equivalent to how many "opened' terminal?

[2021-02-16 05:04] HideakiImamura commented on #2351
Once. This command will simply run `test2.py` once in the background.

[2021-02-16 05:09] ali3assi commented on #2351
@HideakiImamura I am so sorry sir, I cannot catch your idea. I need to parallelize. I just Try the command and the code is executed in sequential way for one time. So suppose i do this command how it is executed 48 times

[2021-02-16 05:12] ali3assi commented on #2351
I any way is not working in parallel, two experiments are created while logically i should have only one which runs in parallel

[2021-02-16 05:16] ali3assi commented on #2350
@nzw0301 Thanks just I fixed the problem following the same way. I have one layer without name, so after adding it the name, the code work fine. BUT the parallelisation still not working and the code work as it is without parallelisation.

[2021-02-16 05:19] nzw0301 commented on #2350
@ali3assi  Awesome! I'm glad to hear that. I think that you report the parallelisation issue as another issue.

[2021-02-16 05:20] HideakiImamura commented on #2351
You seem to have misunderstood Optuna's parallel distributed optimization scheme. Optuna's parallelization scheme is how to run trials in parallel. The study, which is equal to the experiment, is identified with the name. If you use `load_if_exists=True`, the existing study is loaded. In different processes, `study.optimize`s communicate with each other through your specified RDB.

If you want to

[2021-02-16 07:10] nzw0301 commented on #2011
[code]

https://github.com/nzw0301/optuna/commit/1b2c694c91a2061d53b21c51ab92c44043ac7749

I'm not familiar with matplotlib, but

[2021-02-16 07:39] 0x41head commented on #2203
Thanks for the commenting @hvy. I have made similar changes to the 3d variant as well.
Below is the updated image for the pareto plot. Do let me know if you have any other recommendations.
![image](https://user-images.githubusercontent.com/53595853/108032136-04821900-7058-11eb-8fbd-821ed74d10e6.png)

[2021-02-16 08:05] hvy commented on #2203
Thanks for the quick action. That looks good to me. Could you work on a PR perhaps?

[2021-02-16 09:05] 0x41head commented on #2203
@hvy done 👍

[2021-02-16 10:35] nzw0301 commented on #1616
May I ask how to add a tutorial entry? Tutorial scripts look like unusual python scripts (jupyter?). Is there any guideline to add a tutorial entry?

[2021-02-16 11:16] himkt commented on #2340
The error shows you failed to connect MySQL server.
You have to install and launch a server first.
Then make sure that you can connect a server by MySQL CLI.
Let me put the [reference](https://dev.mysql.com/doc/refman/8.0/en/installing.html) to MySQL documentation.

After you succeed to set up a MySQL server, create a database.
(ref. https://optuna.readthedocs.io/en/latest/tutorial/10_key_features

[2021-02-16 12:24] twolffpiggott opened #2356 "examples/kubernetes `check_study.sh` should match whole words"
In the [Distributed Optimisation on Kubernetes](https://github.com/optuna/optuna/tree/master/examples/kubernetes) example, the `check_study` script is intended to ensure that a study exists before allowing the Optuna workers to start optimisation.

Since it uses `grep PATTERN` instead of `grep -w PATTERN`, it can succeed when a study that only has "k8s_mlflow" as a substring exists e.g. "foo_k8s_m

[2021-02-16 14:40] nzw0301 commented on #2246
@toshihikoyanase I think this issue is solved by #2290.  Could you close the issue? If there is a thing for this issue, I'm happy to work for it.

[2021-02-16 14:42] nzw0301 commented on #2242
hi, @g-votte , I think this issue is solved by #2297. Could you close the issue? If there is a thing for this issue, I'm happy to work for it.

[2021-02-16 16:15] timonegk commented on #2337
Thanks @himkt, the patch works for me.

[2021-02-16 22:24] g-votte commented on #2242
@nzw0301
Closing the issue. Thanks for your contribution!

[2021-02-16 22:24] #2242 closed

[2021-02-17 01:47] hvy commented on #2356
Makes sense, thanks a lot for the report. Would you like to send a PR? Otherwise, I could label this as `contribution-welcome`.

[2021-02-17 03:19] #2301 closed

[2021-02-17 04:02] veritas9872 opened #2358 "SuccessiveHalvingPruner Implementation question"
According to the documentation, the SuccessiveHalvingPruner implements [ASHA](https://arxiv.org/pdf/1810.05934.pdf).

However, it does not expose the number of `brackets` as a hyper-parameter and has a `bootstrap_count` variable instead.

Are these two equivalent? If not, I would like to request more documentation on what this variable does.

Also, if there is no way to change the number of bracke

[2021-02-17 06:03] twolffpiggott commented on #2356
Great, no problem- I'd love to make a PR :)

[2021-02-17 06:25] hvy commented on #2356
Oh, that'd be great.

[2021-02-17 06:59] toshihikoyanase commented on #2246
@nzw0301 Thank you for your kind ping. As you mentioned, this issue was resolved. I'd like to close it.

[2021-02-17 06:59] #2246 closed

[2021-02-17 07:48] #2337 closed

[2021-02-17 14:02] himkt commented on #2337
Thank you @timonegk for raising the issue!

[2021-02-17 20:59] phiresky opened #2364 "CLI option to merge multiple RDBStorages"
## Motivation

I have multiple studies running on different computers that are not in the same network, and I don't or can't setup a central DB server.

## Description

A cli option like `optuna merge target.db postgresql://...` would copy all studies and trials from source.db into target.db. This can be used both to migrate a storage as well as to merge data from different storages after the fact

[2021-02-18 02:14] #2327 closed

[2021-02-18 09:27] 0x41head commented on #2203
Issue was resolved with PR. Can someone close it ?

[2021-02-18 10:53] crcrpar commented on #2358
I'm not quite sure whether I understand your question correctly, though the number of brackets is a value used inside Hyperband is computed in `HyperbandPruner` as follows:
https://github.com/optuna/optuna/blob/563f3a7d8c738bc0d645d0cda1e6e827782578ab/optuna/pruners/_hyperband.py#L195-L210.

[2021-02-18 11:14] #2263 closed

[2021-02-18 11:34] hvy commented on #2203
You're right. Sorry for having it delayed, and again, thanks for the PR 🙇

[2021-02-18 11:34] #2203 closed

[2021-02-18 11:58] #2336 closed

[2021-02-18 12:22] nzw0301 commented on #2011
Hi @appleparan, your reported bug has been solved by #2354!

[2021-02-18 14:32] jeromepatel commented on #2233
hello @hvy, I have already implemented <code>after_trial</code> for <code>CmaEsSampler</code>, I guess I have thought about <code>NSAGAIISampler</code> as it contains existing <code>after_trial</code> ( my approach is that we should ask fallback Sampler from user as a parameter). So, I am thinking about adding <code>_independent_sampler</code>, same as <code>CmaEsSampler</code>, to make all implem

[2021-02-19 08:19] nyanhi commented on #2324
@toshihikoyanase Sure, I will take a look this issue this weekend. Sorry for the delay in response.

[2021-02-19 08:21] toshihikoyanase commented on #2324
@nyanhi Thanks! If you have any questions on this issue, please feel free to ask me.

[2021-02-20 13:38] keisuke-umezawa commented on #2364
If you have not started to use the target DB, how about migrating data from the source to the taarget by [postgre migration tool](https://www.postgresql.org/docs/9.0/migration.html)?

[2021-02-21 05:25] himkt commented on #2356
Let me close this issue, as #2363 was merged. Thank you @twolffpiggott for your great contribution!

[2021-02-21 05:25] #2356 closed

[2021-02-21 12:13] 0x41head commented on #2050
@crcrpar I would love to look into this issue. However, I have no idea as to how I should go about it. Could you possibly guide me ?

[2021-02-22 01:00] koh-joshua commented on #2351
I think what ali3assi may be asking for is the good old n_jobs=-1:
study.optimize(objective, n_trials=n_trials, n_jobs=-1)

This will utilize all the cores on your computer for the single study. However, depending on the complexity of the objective and number of trials, you will typically not see all cores utilized or 100% CPU usage. Also, since Optuna > 2.0, the n_jobs=-1 don't really seem to be

[2021-02-22 03:33] #2036 closed

[2021-02-22 04:00] veritas9872 commented on #2358
@crcrpar Does this mean that `n_brackets` cannot be specified during class initialization? I believe that this was a hyper-parameter that could be set by the user. The original paper uses a default of 3 and the implementation in ray tune uses a default of 1.

[2021-02-22 06:48] kousakuin-A opened #2371 "Trial.suggest_int() with NSGAIISampler exceeds the range which is set using another sampled variable"
When one variable was sampled with the range using another sampled variable, such as `a = trial.suggest_int('a', 0, 100)` and `b = trial.suggest_int('b', 0, 100-a)`, `a + b <= 100` should be True.
However, this constraint happened to be violated when used with `NSGAIISampler`.
I also tried with `RandomSampler` and `TPESampler`, and these samplers seems to obey the constraint.

## Expected behavior

[2021-02-22 07:18] HideakiImamura commented on #2358
Are these two equivalent?

No, they are not equivalent.

Sure. In short, bootstrap_count specify the minimum number of trials to proceed one "rung"(this is referred in the original paper of Hyperband) to the next. This argument has been introduced in #1945. Please check it for more details. By the way, your proposal to make the documentation richer is reasonable. Do you have any motivation to cont

[2021-02-22 07:37] nzw0301 commented on #2371
Note that the reported issue happens when we use other `suggest_*` method with `NSGAIISampler`. For example, `suggest_uniform`.

[2021-02-22 07:44] nzw0301 commented on #2371
@kousakuin-A Did you try to use `constraints_func`?

[2021-02-22 08:13] crcrpar commented on #2050
I'd first try `optuna/optuna:py3.7-dev` as a base image of the mentioned Dockerfile and see whether that works or not.
To do this, I'll replace `FROM python:3.5-slim-buster` with `FROM optuna/optuna:py3.7-dev` and remove https://github.com/optuna/optuna/blob/master/examples/kubernetes/simple/Dockerfile#L5 before run the example.

If it's not working, investigate what's missing/wrong.

[2021-02-22 10:30] not522 commented on #2351
@koh-joshua Thank you. Your observation is very meaningful. Could you give a reproducible example? It will help to investigate the cause of the performance problem.

[2021-02-22 16:58] brunofacca opened #2374 "Favoring stable parameters (sensitivity analysis)"
Hello,

I've been looking into a couple of sensitivity analysis libraries and I'm wondering if Optuna provides any way of favoring regions of the parameter space that produce more stable results. For simplicity's sake, imagine that we're optimizing a single hyperparameter of an ML model. In the following plot, the x axis is the value of the parameter and the y axis is the objective  (higher is bet

[2021-02-22 18:10] 0x41head commented on #2050
Everything seems to be working just fine. No issues in building the Dockerfile in my local environment.
Here are the changes in my local repo: https://github.com/0x41head/optuna/blob/kb_dockerfile/examples/kubernetes/simple/Dockerfile
If everything seems fine, I can start creating a PR.

[2021-02-23 00:39] crcrpar commented on #2050
Sounds good :+1:

If training also worked as well, I'd love you to create a pull request.

[2021-02-23 11:45] jeromepatel commented on #2306
@Crissman I would like to work on this issue. Can you provide some guidance/steps or how should I tackle this issue?

[2021-02-23 12:10] veritas9872 commented on #2358
@HideakiImamura Thank you for the explanation. I will look into the original paper and find out more about the algorithm.

[2021-02-24 01:17] crcrpar opened #2381 "Support botorch v0.4.0"
The arguments of [`NondominatedPartitioning`](https://botorch.org/api/utils.html?highlight=nondominatedpartitioning#botorch.utils.multi_objective.box_decompositions.non_dominated.NondominatedPartitioning) seems to have been changed during the transition to v0.4.0, leading to a failure of Optuna's integration test and version constraint (#2379)

[2021-02-24 07:32] nzw0301 commented on #2381
Like this?

Replace these lines

https://github.com/optuna/optuna/blob/202b9b81c254a776b5ebcf65cff3e631104fc1d7/optuna/integration/botorch.py#L203-L208

with
[code]

[2021-02-24 08:28] crcrpar commented on #2381
I'm not familiar with BoTorch things at all, but `ref_point` shouldn't be Tensor?

[2021-02-24 08:52] nzw0301 commented on #2381
Oops, indeed. It's my fault.

[2021-02-24 09:19] not522 opened #2384 "Use `study.get_trials` with states instead of naive filtering"
## Motivation
In many examples, `pruned_trials` and `complete_trials` are obtained by filtering `study.trials`. `study.get_trials` with `states` argument introduced by #1943 will simplify the implementation.
https://github.com/optuna/optuna/blob/b6de94d1f3042b43d5a1cb5b729795d74cebb026/examples/pytorch/pytorch_simple.py#L128-L129

[2021-02-24 09:53] jeromepatel opened #2385 "Adding a new parameter to `TPESampler`"
## Motivation

Currently, there is no argument to pass <code>independent_sampler</code> in <code>TPESampler</code> but in the future, it may be useful to users and may provide flexibility if we can add something as an argument to it like other samplers.

## Description

In current implementation, There is a variable <code>random_sampler</code> there in <code>TPESampler</code>, whose <code>after_tr

[2021-02-24 10:01] jeromepatel commented on #2384
I am interested in working on this issue. Can you guide me on this and how many examples (files) are needed to be changed?

[2021-02-24 10:11] not522 commented on #2384
Thank you! Following examples have stale implementations.
- `examples/simple_pruning.py`
- `examples/chainer/chainer_integration.py`
- `examples/chainer/chainermn_integration.py`
- `examples/keras/keras_integration.py`
- `examples/mxnet/mxnet_integration.py`
- `examples/pytorch/pytorch_distributed_simple.py`
- `examples/pytorch/pytorch_simple.py`
- `examples/samplers/simulated_annealing_sampler.py

[2021-02-24 10:15] jeromepatel commented on #2384
Okay, I'll start working on it, and once completed, submit a PR for the same.

[2021-02-24 10:21] juliuskittler opened #2387 "Sample a batch of params, evaluate objective function offline, and provide objective function results to BO study explicitly."
## Motivation

First of all, a huge "Thank You" for this package; Optuna has become my favourite package for hyperparameter tuning with Bayesian Optimization (BO).

It seems to me that with a few tweaks, Optuna could become very successful even beyond hyperparameter tuning. In domains such as R&D, we also sometimes optimize a complex objective function that takes very long to evaluate. Evaluating

[2021-02-24 11:13] not522 commented on #2387
Thank you for your feedback! I think the [ask-and-tell](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.ask)  interface will help with your case. The following code is an example of how to use the ask-and-tell interface for batch optimization.

[code]

[2021-02-24 14:52] juliuskittler commented on #2387
@not522 thanks a lot, that is very helpful!

[2021-02-24 16:33] nzw0301 commented on #2351
I could reproduce the reported issue by @koh-joshua with a single study setting:

[code]

Note that the code block comes from jupyter notebook to measure the running time.

Even though I checked out the optuna's version to `v1.5.0`, `n_job=-1`'s performance was not faster than `n_job=1`'s one.

To make optuna faster again, I tried to change the backend of `joblib` of optuna `v.2.4.0` explicitly;

[2021-02-25 04:13] not522 commented on #2387
OK! Let me close this.

[2021-02-25 04:13] #2387 closed

[2021-02-25 05:14] hvy commented on #895
Just to make it clear, this is the most recent PR https://github.com/optuna/optuna/pull/1729.

For the record, batch evaluation (not suggestion) is now possible using the ask and tell interface as discussed in https://github.com/optuna/optuna/issues/2387.

[2021-02-25 05:43] toshihikoyanase commented on #2374
Hello @brunofacca
Thank you for your question. Optuna has visualization functions, and I think we can create a similar plot to yours using [plot_slice](https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visualization.plot_slice.html#optuna.visualization.plot_slice).

[2021-02-25 06:12] aimanmutasem opened #2388 "AttributeError: 'function' object has no attribute 'zero_grad'"
## Note to the questioner

Hello all :)

I'm excited to use `optuna` in my NMT project, especially to optimize only the learning rate following an example in GitHub as :

[code]
Unfortunately, I got an error during the implementation:

[code]

Could you help?

Kind regards,
Aiman Solyman

[2021-02-25 06:20] toshihikoyanase commented on #2388
Hello @aimanmutasem

Thank you for using Optuna. I guess you need to evaluate the `objective` function to get the `optimizer` instance.
As you may not use `Study.optimize`, you can evaluate the `objective` as follows:

[code]
(See also https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.ask)

[2021-02-25 10:31] hvy commented on #2177
Added two items to the list in the description, namely one to add a tutorial and a second to allow logging.

[2021-02-25 11:20] nzw0301 opened #2389 "`optuna.visualization.plot_parallel_coordinate` plots categorical values and indices"
## Expected behavior

When we use `visualization.plot_parallel_coordinate` for categorical hyper-parameters, the y-axis contains the categorical values and indices. For example, hyper-parameter `y` of [the latest version](https://optuna.readthedocs.io/en/latest/reference/visualization/generated/optuna.visualization.plot_parallel_coordinate.html)  is this example:

![newplot](https://user-images.gi

[2021-02-25 11:34] nzw0301 commented on #2389
I'll send PR to solve it.

[2021-02-25 12:54] nzw0301 commented on #2389
I think the easy way to resolve this issue is like this [update](https://github.com/nzw0301/optuna/commit/08b3628a6699e836eb90805fce169cc0b82a1c5d), then

![newplot (1)](https://user-images.githubusercontent.com/7121753/109155408-d8cb0580-77b2-11eb-9af9-a7414ece78d7.png)

But, I realised that the index was necessary according to [the test of this function](https://github.com/optuna/optuna/blob/086

[2021-02-25 13:30] brunofacca commented on #2374
That's a very interesting plot, @toshihikoyanase. Thank you for letting me know about it.

I've used an example of optimizing a single parameter to make it easier to explain and to plot. In practice, I'm optimizing 12+ parameters together. I could plot each of them individually and manually choose the most stable value for each. However, the ideal scenario would be for Optuna to take such stabilit

[2021-02-25 13:55] casparvl opened #2391 "Optuna TPE optimizer with multivariate=True returns incorrect range of numbers for suggest_int after some trials"
When using a TPE sample with `multivariate=True` (i.e. `optuna.samplers.TPESampler(multivariate=True)`), the `suggest_int` function starts to return integers that are not within the specified range after a certain number of trials.

For example, I've specified `my_int = trial.suggest_int('my_int', 1, 9, 2)`, thus expected trials to select `my_int` from the range `1, 3, 5, 7, 9`. However, after ~15

[2021-02-26 00:01] toshihikoyanase commented on #2374
Ah, in that case, `plot_slice` will create `n_params` plots without considering the correlation between the parameters, and it may be difficult for us to choose the stable parameters based on them.

Currently, Optuna does not have such a feature to help users find stable solutions, but I agree with you. Could you give us links to the papers / software related to sensitivity analysis if you have?

[2021-02-26 03:40] jeromepatel commented on #2385
I want to point out that currently, <code>NSAGAIISampler</code> and <code>MOTPESampler</code> don't have <code>independent_sampler</code> either, so we can consider them also (just for a reference of upgrade)

[2021-02-26 05:21] nzw0301 commented on #2389
@himkt Do you have any opinion? I think you reviewed a PR related to ths visualisation function last month, so you might be familiar with it. But please ignore me if you are not.

[2021-02-26 05:46] HideakiImamura commented on #2385
TPE supports independent sampling by default. So, it is inappropriate to add `independent_sampler` to `TPESampler`.

By the way, if the number of previous trials is smaller than `n_startup_trials`, the `RandomSampler` is used in `TPESampler`. I think it would be natural to allow this `RandomSampler` to be changed to any other sampler. For example, if `SobolSampler` or `LatinHypercubeSampler` are s

[2021-02-26 05:48] HideakiImamura commented on #2385
I'd like to discuss the name of the argument to be added. `independent_sampler` is inappropriate as I said. How about `init_sampler`? Do you have any opinions?

[2021-02-26 05:55] HideakiImamura opened #2396 "Don't use `numpy.append`"
In some parts of Optuna, `numpy.append` is used. However, dynamically changing `numpy.ndarray` is slow, so for performance, it is better to append as a list first, and then cast with `numpy.asarray`. We are looking for someone to list and fix the parts where `numpy.append` is used.

[2021-02-26 06:07] jeromepatel commented on #2385
@HideakiImamura Thank you for your suggestion. I agree with you on the point that <code>TPESampler</code> doesn't look appropriate with an argument named <code>independent_sampler</code> as it already supports it by default. As the proposal for a new sampler could improve flexibility (for eg. <code>SobolSampler</code> and others), the name <code>init_sampler</code> sounds perfect to me. I would li

[2021-02-26 06:12] hvy commented on #2396
I suppose you're referring to code that repeatedly calls `numpy.append` inside a loop. Allocating new arrays in each iteration is inefficient and I agree that such code can be optimized. Just leaving a note that this can be done in different ways. For instance, if you know the loop size, you could perform a single allocation prior to the loop.

[2021-02-26 06:35] jeromepatel commented on #2396
I would like to work on this issue if you can guide me on this, it would be helpful.

[2021-02-26 09:52] nzw0301 commented on #1785
It works now...?

[code]

[code]

[2021-02-26 10:20] toshihikoyanase opened #2397 "Add more visualization features for multi-objective optimization (e.g., constraint handling, animation)"
## Motivation

When I used multi-objective optimization, I wanted new features of `plot_pareto_front`. I'm not fully sure if they are useful for the other people, but let me share the ideas.

### [DONE] 1. Constraint-aware pareto-front plot

Recently, Optuna enables us to add constraints to multi-objective optimization. The `plot_paret_front` function, however, does not consider whether the soluti

[2021-02-26 10:33] nzw0301 commented on #1785
Ok, not yet :(

[2021-02-26 10:58] nzw0301 commented on #1785
Several PRs of scikit-learn are trying to fix the source of this issue (`0` division of `std`). We will come back to this issue if the PRs have been merged into a future stable version.

[2021-02-27 01:49] crcrpar commented on #2011
thank you @appleparan for reporting and @nzw0301 for the fix

[2021-02-27 01:49] #2011 closed

[2021-02-27 02:16] nzw0301 commented on #2389
I think that the indices are unnecessary, so let me send a PR.

[2021-02-27 05:09] #2266 closed

[2021-02-27 05:44] tohmae commented on #1862
We forgeted to set storage option in optuna.create_study and optimized several times.
After that if we want to save study and optimize, I think that it is better to do the following.

before:
[code]

after:
[code]

[2021-02-27 07:29] HideakiImamura opened #2415 "TPE design discussion"
## Descriptions
The Optuna's default sampling algorithm, TPE, has some options and drawbacks. This issue is a note to be addressed in the future. Please feel free to leave comments.

## TODOs
- [ ] Merge standard TPE and multivariate TPE
- [ ] Merge standard TPE and multi-objective TPE
    - API refinement of weight arguments
- [ ] Performance improvement on discrete optimization
    - Use some ke

[2021-02-27 11:47] y0z opened #2421 "Hypervolume computation results are incorrect"
Hypervolume must be monotonically increasing according to the addition of a nondominated point.
However, Optuna's hypervolume computation module sometimes returns a decreased value.

## Reproducible examples and Expected behavior

Please refer to the following colab.
https://colab.research.google.com/drive/1rZMYwNjQOxVNN8huDztsyl6BNAVMWdW9?usp=sharing

For the purposes of comparison, I also comput

[2021-02-27 22:20] Stephocke commented on #2340
I have another question regarding parallel computation.
I also had some trouble setting up my MySQL stuff but eventually, I made it.

Even while I was busy setting it up, it occurred to me that if the `suggest` functions are deterministic, it is not true parallelization as you end up with multiple processes evaluating the same point.

Now that I have started my experiment, I have to conclude that

[2021-02-27 23:51] bwegge commented on #2169
Hi, I am experiencing the same issue with single objective studies and the SQLite backend. I use pruning with the TFKerasPruningCallback, where in some rare cases a nan loss is reported, which then causes the whole program to crash. I also think it is preferrable to handle such reports of nan values more gracefully by letting the program continue in that case, and marking the trial e.g. as FAILED

[2021-02-28 02:21] turian commented on #1447
@hvy I apologize for the delay. I am still quite interested in this feature.

I have reviewed your colab and I am not sure it is correct. Let me paste it here and add my comments:

[code]

Here is an example of value minimization with patience 3, where the above code would not work:
[code]

So at step 3, we have score 0.6 and have not improved over step 0 with score 0.5.

However, your code appear

[2021-02-28 02:42] turian commented on #1447
https://colab.research.google.com/drive/1_5DJb5mdLIkQFqVvzNw-gWOr52USapA-?usp=sharing

[2021-02-28 02:47] turian commented on #1447
I have also added a min_delta parameter, like pytorch lightning. So you must improve by at least min_delta at one point in the last patience steps, versus all previous steps

[2021-02-28 02:58] turian commented on #1447
Here are some unit tests that pass in my code but didn't work in your version:

[code]

You can see in my plot (see colab I pasted) that stopping occurs after three epochs that don't improve by min_delta:

![image](https://user-images.githubusercontent.com/65918/109406417-272a0100-7979-11eb-8ab9-4bdea439e4cb.png)

[2021-02-28 03:13] aimanmutasem commented on #2388
Thank you sir, I'm a beginner with `Optuna` and it is my fault I don't study the basics well.

There are good examples of using `Optuna` with image processing tasks like [1](https://github.com/shaktiwadekar9/Optuna_PyTorch_Hyperparameter_Searchl) and [2](https://towardsdatascience.com/https-medium-com-perlitz-hyper-parameter-optimization-with-optuna-1c32785e7df).

In my [project](https://github.co

[2021-02-28 08:57] #2389 closed

[2021-02-28 14:41] nzw0301 opened #2424 "Explain the backend of `optimize` with `n_jobs != 1`"
Let me write a note related to the discussion of the behaviours of optuna's `n_jobs=-1` at the last dev-sprint.

Optuna's `optimize` with `n_job=-1` or `n_job>1` sometimes confuses the users because it is multi-threading. However, users from the machine learning community are familiar `n_jobs=-1`  in sklearn's usage; sklearn's `n_jobs` uses multi-processing for parallelization. As a result, optuna

[2021-02-28 19:01] turian commented on #1447
One further thing I would like to comment about my implementation: It only implements patient pruning within the current trial.

I think more desirable behavior would be that it does patient pruning with respect to all trials. That is, it has patience steps to achieve min_delta better score versus the best score of ALL trials observed beforehand (at patience steps ago).

For example the blue curve

[2021-02-28 23:21] #1984 closed

[2021-02-28 23:21] #1981 closed

[2021-02-28 23:21] #1970 closed

[2021-02-28 23:21] #1957 closed

[2021-02-28 23:21] #1939 closed

[2021-02-28 23:21] #1875 closed

[2021-02-28 23:21] #1863 closed

[2021-02-28 23:21] #1851 closed

[2021-02-28 23:21] #1846 closed

[2021-02-28 23:21] #1827 closed

[2021-02-28 23:21] #1798 closed

[2021-02-28 23:21] #1794 closed

[2021-02-28 23:21] #1765 closed

[2021-02-28 23:21] #1740 closed

[2021-02-28 23:21] #1739 closed

[2021-02-28 23:22] #1734 closed

[2021-02-28 23:22] #1727 closed

[2021-02-28 23:22] #1710 closed

[2021-02-28 23:22] #1706 closed

[2021-02-28 23:22] #1641 closed

[2021-02-28 23:22] #1640 closed

[2021-02-28 23:22] #1636 closed

[2021-02-28 23:22] #1608 closed

[2021-02-28 23:22] #1592 closed

[2021-02-28 23:22] #1578 closed

[2021-02-28 23:22] #1550 closed

[2021-02-28 23:22] #1534 closed

[2021-02-28 23:29] kmedved commented on #2424
Agreed. I spent a long time playing with Optuna trying to understand this behavior before figuring this out. It's very counterintuitive given the rest of the python ecosystem right now.

[2021-02-28 23:52] #2321 closed

[2021-03-01 00:21] fsmosca commented on #1862
In the [game parameter optimizer](https://github.com/fsmosca/Optuna-Game-Parameter-Tuner/blob/7227da41e63cad5bef87a10ac17cbad6dd02ff29/tuner.py#L733) that I did, I use the load_if_exist parameter.

[2021-03-01 00:45] toshihikoyanase commented on #1632
Let me reopen this issue since we are discussing in #1947 and #1997.

[2021-03-01 01:51] hvy commented on #1995
Let me reopen this issue and make it no-stale. Requirements are mostly unchanged, although joblib has been removed. https://github.com/optuna/optuna/blob/master/setup.py

[2021-03-01 02:57] hvy commented on #1856
PR is ongoing at #2003.

[2021-03-01 03:39] crcrpar commented on #1880
We've used `pip==21` despite this issue, and I've seen no failures. However, recently https://github.com/optuna/optuna/runs/1993960604?check_suite_focus=true took about 1 hour to install integration requirements. This could be attributed to that that new AllenNLP is compatible with spacy v1 and pip tries to install multiple spacy by source build.

So, as tentative measures, we could
- constrict pi

[2021-03-01 03:49] hvy commented on #1880
Thanks for the heads up and the alternatives. I personally prefer being less aggressive with `--use-deprecated=legacy-resolver` if that is sufficient, since it allows us to keep testing with the latest `pip`, until we solve the underlying dependency conflicts.

[2021-03-01 04:02] zhuo931077127 opened #2426 "How to get the best parameters and values of multi objective study?"
[code]

And I get the following error:
RuntimeError: The best trial of a `study` is only supported for single-objective optimization.

How to get the best params and values of multi-objective optimization? Thanks

[2021-03-01 04:26] y0z commented on #2426
Hi.

You can use `best_trials` instead.
https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.best_trials

[2021-03-01 06:35] #2426 closed

[2021-03-01 07:57] not522 commented on #2384
This issue is resolved by #2393.

[2021-03-01 07:57] #2384 closed

[2021-03-01 13:33] tetsuoh0103 commented on #1793
@toshihikoyanase
Hi, I was faced with this issue and created sample fix based on version==2.5.0.
The design is basically same with 2. in the above discussion.
Could you consider to take a look if this is what you expected. If OK, I will create PR.
[fix_sample.zip](https://github.com/optuna/optuna/files/6061903/fix_sample.zip)

[2021-03-01 13:41] brunofacca commented on #2374
Hello @toshihikoyanase. Sorry for the delayed reply.

* [SALib](https://github.com/SALib/SALib) is the most popular sensitivity analysis library (that I'm aware of) in Python. The "Methods included" section of their GitHub repo readme links to the various papers whose methods are implemented in the library.
* [uncertainpy](https://github.com/simetenn/uncertainpy) also looks interesting to me. It's

[2021-03-01 23:21] #1500 closed

[2021-03-01 23:21] #1480 closed

[2021-03-01 23:22] #1318 closed

[2021-03-02 01:06] toshihikoyanase commented on #1793
@tetsuoh0103 Thank you for your suggestion. Your code will be a great help to us.
In general, sharing the code in zip archives has potential security risks like unintended contamination of malicious code, so could you directly send a draft PR, please?

[2021-03-02 02:35] crcrpar commented on #2424
That's super great if the documentation explains what's going on when `n_jobs=-1`.

[2021-03-02 13:29] tetsuoh0103 commented on #1793
@toshihikoyanase  Thank you for your comment and sorry for the inconvenience. Please take a look at the PR#2431.

[2021-03-03 00:38] toshihikoyanase commented on #1793
@tetsuoh0103 Thank you for your PR. I'll check it.

[2021-03-03 01:16] crcrpar commented on #2350
Let me close this issue because the main problem seems to have been resolved :)

[2021-03-03 01:16] #2350 closed

[2021-03-03 03:15] tbenst commented on #1417
Still matters to me

On Mon, Mar 1, 2021 at 3:22 PM github-actions[bot] <notifications@github.com>
wrote:

--

Tyler Benster | tylerbenster.com
Twitter: @tbenst <http://twitter.com/tbenst> | LinkedIn: tylerbenster
<http://www.linkedin.com/in/tylerbenster/>

[2021-03-03 10:49] 0x41head commented on #2050
My PR took care of this issue . Could you please close it @crcrpar ?

[2021-03-03 14:39] crcrpar commented on #2050
Thanks for pinging me, and kudos to your work.

[2021-03-03 14:39] #2050 closed

[2021-03-03 15:59] Lawrence-Krukrubo commented on #1671
Was having the very same problem. Thanks for the solution @toshihikoyanase it's helped me too.

[2021-03-04 00:03] not522 commented on #2391
This issue is resolved by #2392.

[2021-03-04 00:03] #2391 closed

[2021-03-04 04:10] #2424 closed

[2021-03-04 13:52] jeromepatel commented on #2189
@hvy I am interested in working on this issue. IMO, we should first discuss in which samplers we have to implement <code>before_trial</code>, and then further discuss the approaches to implement this in details (including parameters, API etc).
I am looking forward to everyone's opinions/ideas on this. Thank you.

[2021-03-04 22:37] thomasj02 opened #2441 "Pruner is too aggressive when trials have different numbers of steps"
I'm using the MedianPruner (although I think the PercentilePruner has the same issue). When there are more than n_startup_trials trials, but only one of them is long-running (e.g., most trials end at epoch 10, but one trial ends at epoch 100), then it looks like the MedianPruner will trigger pruning on epoch 11 on a new trial if the new trial is worse than the long-running trial. This makes the Me

[2021-03-04 23:21] #2001 closed

[2021-03-05 06:36] nzw0301 commented on #2441
hi @thomasj02, I think your point is discussed in #1447.

[2021-03-05 15:21] brethvoice commented on #1972
After some thought about the "n_startup_trials" parameter of the TPE sampler, I was wrong.  It also does not apply to the RandomSampler, which is not a Bayesian search method, so there would need to be an entire new sampler created.  I am going to close this issue but if anyone wants to look into this in the future with me, please let me know!

[2021-03-05 15:21] #1972 closed

[2021-03-05 15:28] brethvoice opened #2447 "Improve gamma implementation for TPESampler"
The default gamma takes the ceiling of T/10 rounded up, where T is the total number of trials.  However, it also caps out at 25 total trials that can ever be in the "good" category; this proposal would change the default gamma.

## Motivation

There could be a more sensible way to approach the choice of the top-performing trials.  With a linear T/10 calculation there is room for rapid growth in th

[2021-03-05 16:40] pplonski commented on #1066
@konradsemsch I had similar issues with LightGBM optimization as you described.

I'm working on [AutoML system](https://github.com/mljar/mljar-supervised) which is using heuristic for hyperparameters tuning: random search + hill climbing. It works pretty well when training with a limited time budget. Although I started to search for something more sophisticated, that can work for longer runs.

I'v

[2021-03-05 18:19] thomasj02 commented on #2441
I think #1447 is a different issue. That bug deals with problems around pruning jittery loss functions. The issue I'm describing occurs even with perfectly smooth loss functions. Let me try to illustrate with an example. Suppose you're using the MedianPruner with n_startup_trials is 5, and you have 5 trials completed. Due to early stopping, 4 of the trials end at epoch 10, and one trials (trial 5)

[2021-03-05 18:56] nzw0301 commented on #2441
Thank you for your explanations. Could you give a reproducible code for your bug?

[2021-03-05 19:04] nzw0301 commented on #2441
In my understanding, you can avoid the issue by not performing early stoping for `n_startup_trials`.

[2021-03-05 20:37] thomasj02 commented on #2441
I've put a repro here: https://gist.github.com/thomasj02/b2496c881aaa3731c6b5aaf7e5bc76fb

You're correct that the issue could initially be avoided by not performing early stopping for n_startup_trials, if all trials have a the same maximum number of epochs. But a common use case is training a network until convergence (i.e. with no defined number of maximum epochs).

[2021-03-07 01:06] turian opened #2451 "trial.sample_distribution"
There should be a `trial.sample_distribution(nsteps=1000)` method which returns a probability distribution, in range [0, 1] with nsteps steps

## Motivation

It would be nice to learn whether a distribution should be linear or exponential (with a particular exponent) or gaussian or whatever.

We have a target dataset. We have a method that creates a new dataset. We want our new dataset to have low

[2021-03-07 02:11] turian commented on #2451
Another use case: You want to sample points with maximal diversity. However, distance of the parameters is not correlated with actual instance distance. Thus, you want the parameter distribution to be optuna'ed

[2021-03-07 09:32] nzw0301 commented on #2441
Thank you for sharing your code and clear explanations. I understood your feature request.

That can be implemented by adding a new argument of `PercentilePruner` like `n_samples_to_prune` to the pruner classes since `MedianPruner` inherits `PercentilePruner`. Then pruner's `prune` returns `False` if the number of evaluated trials is less than `n_samples_to_prune`.

Modifying `n_startup_trials`'s

[2021-03-07 23:21] #2008 closed

[2021-03-08 01:28] crcrpar opened #2454 "Bump PyTorch version to 1.8"
We've seen MNIST download failure recently: #2438 #2453

Once the next AllenNLP comes out, we can update PyTorch version and remove the patches introduced by the two pull requests mentioned above.

[2021-03-08 01:53] crcrpar commented on #2324
closing, as 2336 has been landed.

[2021-03-08 01:53] #2324 closed

[2021-03-08 03:13] #2381 closed

[2021-03-08 03:15] crcrpar commented on #1232
https://github.com/optuna/optuna/pull/2428 add some description of n_jobs

[2021-03-08 06:32] nzw0301 commented on #2324
Thanks, guys!

[2021-03-08 11:36] nzw0301 opened #2455 "Sort categorical values including numbers in `plot_parallel_coordinate`"
## Motivation

When the categorical values contain only numerical values such as int or float values, it would be great that the axis of `plot_parallel_coordinate` is sorted. (see also the example and plots below.)

I guess current both implementations don't sort the suggested values.

## Description

Treat the values as numerical and sort them.

## Additional context (optional)

[code]

The follo

[2021-03-08 23:02] ironv opened #2456 "parallel runs on single node"
I am trying to run Optuna with pyTorch Lightning on an Azure VM with 4 GPUs.  Unfortunately, I do not have sudo access and cannot install mysql or postgres.  The only database which _appears_ to work is sqlite.  I have very simple code to create the study

[code]
and in the objective function

[code]

I am kicking off the runs in two terminals and find the GPUs and CPUs are lighting up nicely.  Ho

[2021-03-09 01:50] brunofacca commented on #2374
Hello. I've found a couple of interesting papers on the subject:

* https://www.mitpressjournals.org/doi/pdf/10.1162/evco.2006.14.4.463
* https://riuma.uma.es/xmlui/bitstream/handle/10630/15353/TD_BERUTICH_%20LINDQUIST_Jose_Manuel.pdf?sequence=1&isAllowed=y: This one is about optimization of trading strategies but a lot of its contents discuss optimization in general.

[2021-03-09 04:42] #2358 closed

[2021-03-09 05:53] nzw0301 commented on #2456
HI, @ironv Could you share the codes and commands? I'm afraid that we cannot investigate the issue without full reproducible codes because it takes too much time :(

[2021-03-09 10:40] nzw0301 commented on #2286
Hi, @Uproar197 sorry for confusing you by answering the wrong approach. I think you can solve your issue by using a new feature introduced by #2303.

[2021-03-09 11:00] 0x41head commented on #2293
Issue resolved with PR #2300.Can be closed.

[2021-03-09 12:11] hvy commented on #2293
Thanks for the heads up. Let me close the issue.

[2021-03-09 12:11] #2293 closed

[2021-03-09 14:28] nzw0301 commented on #1417
@tbenst Could u give a minimum example? I'll try to investigate the issue.

[2021-03-09 19:38] Inayat-Khan commented on #1339
pallogu. Thanks.
1) Are you saying that you did not **import matplotlib**  in the notebook's python code.
2) Or are you saying the environment in which the notebook runs did not have matplotlib install ( by conda or pip) ?

[2021-03-09 21:21] pallogu commented on #1339
Yes indeed, I did not import matplotlib into notebook. The environment itself had the matplotlib, I just did not import it.
Hope it helps

[2021-03-10 04:29] nzw0301 commented on #2456
@ironv Thank you for sharing your code.

## [1] is there something that one can see which I am obviously messing up?

This is because each process uses the same random seed and TPESampler samples hyperparameters independently until the trial id reaches `n_startup_trials`, which default value is `10`.

This is expected behaviour.  (see https://github.com/optuna/optuna/issues/1883).

[2021-03-10 06:02] nzw0301 commented on #2441
Additional context: Ray tune has such an argument, `min_samples_required`. See https://docs.ray.io/en/master/tune/api_docs/schedulers.html#median-stopping-rule-tune-schedulers-medianstoppingrule.

[2021-03-10 06:46] ironv opened #2462 "StorageInternalError (data exceeding max length) with TPESampler"
Using the following Optuna code

[code]

I get the following error in one of the terminals when running in parallel.  I see a similar error here #2331  but here I am using the `sqlite`, `TPESampler` and it happens much sooner (neither of which may be relevant for fixing!).  Is there a programmatic way of doing the fix suggested there and will that even work here?

[code]

[2021-03-10 06:48] ironv commented on #2456
Thank you that certainly helped.  Is there a way of forcing some reproducibility?   I just changed it to `sampler = optuna.samplers.TPESampler(n_startup_trials=5)` and added the `max_trials_callback`.  I could fix a seed per `GPUID` and that would force each run to be different but repeatable (as long as it is on one node).

[2021-03-10 07:06] nzw0301 commented on #2456
I'm glad to hear that. In my understanding, unfortunately, no. We cannot perform the reproducible distributed optimisation.

[The section in the official FAQ](https://optuna.readthedocs.io/en/stable/faq.html#how-can-i-obtain-reproducible-optimization-results) says

[2021-03-10 08:56] nzw0301 commented on #2462
I think this is a known issue for distributed optimisation with SQLite. Optuna does not recommend SQLite for distributed optimisation:

[2021-03-10 09:56] keisuke-umezawa commented on #2233
@jeromepatel Thank you for a lot of contributions! I close this issue 🎉

[2021-03-10 11:34] pplonski opened #2464 "New CatBoost integration - add CatBoostPruningCallback"
I'm working on the integration of Optuna in my AutoML framework: [MLJAR](https://github.com/mljar/mljar-supervised). In the MLJAR AutoML, there are available many different algorithms, among them, there are Xgboost, LightGBM, CatBoost. There is a lack of CatBoost pruning callback. From experimenting with Xgboost and LightGBM I see a huge improvement when pruning callback is used.

Do you have plan

[2021-03-10 12:49] 0x41head commented on #2049
Do I follow the same procedure as I did with #2375 ?

[2021-03-10 13:21] nzw0301 commented on #2464
Hi @pplonski, I think catboost doesn't have any callback function like other boosting libraries; it sounds impossible to implement a pruning callback. Do you know something like a callback in cat boost?

By the way, your project looks really cool!

[2021-03-10 14:12] nzw0301 commented on #2396
@HideakiImamura I think that this issue can be closed.

@jeromepatel Please do not worry that your kindful proposal was not accepted 😢

[2021-03-10 14:21] jeromepatel commented on #2396
@nzw0301 I am happy with the progress and contribution I am making to this organization. So, thank you for all your support and guidance.

[2021-03-10 14:55] nzw0301 commented on #2441
Dear @HideakiImamura @hvy @toshihikoyanase, what do you think about this feature request?

[2021-03-10 21:08] #2333 closed

[2021-03-10 21:09] #2456 closed

[2021-03-10 21:23] ironv opened #2465 "multi-GPU training on a single node using joblib"
I am running grid search on a VM with 4GPUs and 24CPUs.  The attached [code](https://github.com/optuna/optuna/files/6118882/mlp-pl-optuna-joblib.py.txt)  which uses joblib and multiprocessing (created using an example posted earlier on this board) works fine.   Here's the issue -- I had to set num_workers=0 to get it to work.  As one can see, the entire dataset is being loaded to each of the GPUs

[2021-03-10 21:32] #2462 closed

[2021-03-11 00:45] hvy commented on #2295
v2.6.0 was just released so let me close this issue.

[2021-03-11 00:45] #2295 closed

[2021-03-11 01:00] crcrpar commented on #2049
Thank you for finding this. I think just bumping up PyTorch suffices: https://github.com/optuna/optuna/blob/30161b238b33b32300aedfc8364ef511b5849543/examples/kubernetes/mlflow/Dockerfile#L8-L10

[2021-03-11 05:46] nzw0301 commented on #2465
I think that the issue is related to a combination of `multiprocess.Parallel` and PyTorch's dataloader. [This section](https://pytorch.org/docs/stable/data.html#single-and-multi-process-data-loading) might be useful-- `num_workers` should be `0` with multi-process.

How about using [`suggest_categorical`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.trial.Trial.html#optuna.tr

[2021-03-11 08:01] jeromepatel commented on #2038
@hvy I am interested in working on this issue. if you could guide me on this, it would be helpful.

[2021-03-11 08:50] hvy commented on #2038
That'd be great. I have not yet surveyed how to go about doing this. Do you have any thoughts or ideas? I was briefly imagining creating multiple code coverage outputs and merge them to create the report.

[2021-03-11 09:40] y0z commented on #2421
Although I'm not familiar with the detail of the hypervolume computation algorithm, updating `self._reference_point` after L37 before L38 might be a bug similar to #1812.

https://github.com/optuna/optuna/blob/30161b238b33b32300aedfc8364ef511b5849543/optuna/multi_objective/_hypervolume/wfg.py#L37-L38

https://github.com/optuna/optuna/blob/30161b238b33b32300aedfc8364ef511b5849543/optuna/multi_objec

[2021-03-11 13:46] Username159 opened #2467 "trial.suggest_int is not sticking to step size"
## Expected behavior
I am using Optuna to optimize the hyperparameters for my CNNLSTM neural net.
I am using Pytorch.
I am using suggest_int to suggest a number for the kernels of my two Conv2-layers and the max pooling layer.

[code]

I am using a TPESampler
`sampler = optuna.samplers.TPESampler(seed=10, n_startup_trials = 15, multivariate=True)`
and a PercentilePruner
`pruner = optuna.pruners.Pe

[2021-03-11 14:01] nzw0301 commented on #2467
@Username159 Please update your optuna version to the latest stable version: `2.6.0`. I think the same issue was reported in https://github.com/optuna/optuna/issues/2391 and optuna has fixed it recently.

[2021-03-11 15:16] jeromepatel commented on #2316
I think this issue can be closed as the corresponding PR is merged.

[2021-03-11 15:25] nzw0301 commented on #2441
@thomasj02 I implemented the feature as in https://github.com/nzw0301/optuna/tree/add-n-min-samples.

## Example

[code]

## Output

[code]

[2021-03-11 19:57] thomasj02 commented on #2441
I looked at the code and the example and both look great. Thanks for the quick implementation!

What is the release cycle like for Optuna, i.e. when do you expect this to be available in a release?

[2021-03-12 00:32] hvy commented on #2038
Sounds great.

Again, I have not surveyed or tested this yet but was looking at https://docs.codecov.io/docs/merging-reports.

[2021-03-12 01:36] hvy commented on #2177
Made it `no-stale` since the tutorial is ongoing. Thanks @not522 for the heads up.

[2021-03-12 02:02] nzw0301 commented on #2441
@thomasj02  Thank you for your quick check and feedback! According to [this GitHub page](https://github.com/optuna/optuna/tags), optuna releases a new version in a month. However, the implementation is only in my branch and I haven't sent a pull request to optuna yet because I'm not sure that this feature will be merged by dev teams. Thus it can take more time...

[2021-03-12 02:05] crcrpar opened #2469 "Should we use FashionMNIST instead of MNIST?"
We've seen a bunch of errors related to MNIST dataset (403/503).

#2438 #2453 #2459 were made to avoid 403 but failed to avoid 503.
#2468 is a promising way to tackle this problem.

[2021-03-12 02:09] crcrpar opened #2470 "Fix the cache of sphinx-build.yml"
torchvision datasets download raw MNIST data unless there aren't .pt files
https://github.com/optuna/optuna/blob/590d4aafc94ec4f3474ba36e37d1e0de4f40189b/.github/workflows/sphinx-build.yml#L35

Also, we are now using FashionMNIST #2468 to avoid the dataset downloading failure. So, we need to update this.

[2021-03-12 06:32] Username159 commented on #2467
Updated to the `2.6.0` version yesterday, but still facing the same problem today.

[2021-03-12 06:35] nzw0301 commented on #2467
Could you share the code?

[2021-03-12 13:17] jeromepatel commented on #2038
@hvy I think I have found the solution, my approach is similar to yours, that is we can merge the coverage report of ChainerMN with the previous report.
In brief, [this issue](https://github.com/codecov/codecov-node/issues/87) and [this doc](https://docs.codecov.io/docs/merging-reports) suggests that merging on codecov is automatically, so I think we don't need to worry about that part.
For the py

[2021-03-13 08:06] pplonski commented on #2464
@nzw0301 thank you!

You are right. The callbacks will be added in CatBoost in about 2 months.

[2021-03-13 09:54] nzw0301 commented on #2464
Awesome 👍 Thank you for sharing the information and creating the issue at catboost repo.

[2021-03-13 14:15] mhdadk commented on #2316
#2055 merged.

[2021-03-13 14:15] #2316 closed

[2021-03-13 14:19] jeromepatel commented on #1334
I want to point out that there is no need for the `optuna.logging.enable_default_handler` example as it is similar to `optuna.logging.disable_default_handler` and it is reflected on [docs page](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.logging.enable_default_handler.html) also. Kindly update the list.

[2021-03-13 21:11] simpsus opened #2478 "Is it possible to skip the next parameter sampling (my trial runs forever with this ...)"
I have a number of hyperparamters to tune and many configurations provide a fast trial (~5 minutes), some a slower (~5 hours) and some not even the first step is completed in the 10 hours I let it run so far.
Terminating the study and restarting makes it chose the same parameters (which makes sense). I would like to include a command / switch saying ==> Skip the next choice of commands and then ru

[2021-03-14 05:58] crcrpar opened #2479 "Optuna's Catalyst integration is not compatible with Catalyst 21.3"
I'm not sure whether it's better or not to continue the support of Catalyst as Catalyst team also provides a callback for Optuna: https://catalyst-team.github.io/catalyst/api/callbacks.html?highlight=optuna#catalyst.callbacks.optuna.OptunaPruningCallback.

[code]

See https://github.com/optuna/optuna/runs/2105121400#step:7:127 for the details.

[2021-03-14 08:55] mikkellars opened #2481 "Does it make sence to use pruner with TPE sampler?"
Hey all.
My question is about whether is makes sense to use a TPE with Successive Halving Pruner or generally combining TPE with a pruner.

I am currently optimizing a resnet18 for a classification problem and optuna successfully finds good parameters while also pruning. For the sampler i am using TPE and for the pruner i am using Successive Halving Pruner.

As i understand the successive halving

[2021-03-14 17:27] nzw0301 commented on #2478
Hi @simpsus, In my understanding, you would like to skip some time-consuming trials during `study.optimize`. If so, how about using `timeout` argument of [`study.optimize`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.optimize)?

[2021-03-14 18:28] yywangvr opened #2482 "How to convert study.pkl to study.db?"
## Note to the questioner

1.As a new user of Optuna, I really love it. However, in the beginning I saved an existing study to .pkl file, but now I wish to convert it to RDB backend in order to perform the [parallelization](https://optuna.readthedocs.io/en/stable/tutorial/10_key_features/004_distributed.html) . How can I have that?

I may wish something like
[code]
Is there any solution?

2. In ad

[2021-03-14 20:51] darkmatter2222 commented on #837
Had the same issue, Then I had a build failed issue on Jupyterlab 3.0.4, Upgraded to Jupyterlab 3.0.10 according to this post, fixed it for me:
https://github.com/jupyterlab/jupyterlab-latex/issues/135

[2021-03-14 23:21] #2016 closed

[2021-03-14 23:29] turian commented on #1447
@hvy let me know what you think about the above?

[2021-03-15 07:21] hvy opened #2484 "Release Tasks for v2.6.1"
Tracking issue for Optuna [v2.6.1](https://github.com/optuna/optuna/milestone/34).

**Items**

- [x] https://github.com/optuna/optuna/pull/2473
- [x] https://github.com/optuna/optuna/pull/2475
- [ ] https://github.com/optuna/optuna/pull/2476
- [ ] https://github.com/optuna/optuna/pull/2483
- [ ] Support latest NumPy (backport https://github.com/optuna/optuna/pull/2300)

[2021-03-15 07:28] nzw0301 commented on #1616
I believe that this issue can be closed by #2427!

[2021-03-15 08:58] Username159 commented on #2467
[code]

That's a simplified and abbreviated version of my code.

And then after some trials it started that i got something like this for example:

number | value | max_lr | params_base_momentum | params_epochs | params_filter1 | params_filter2 | params_hidden_states | params_kernel1 | params_kernel2 | params_kernel_pool | params_layers | params_model_type | params_momentum | params_optimizer_name

[2021-03-15 09:05] nzw0301 commented on #2467
I'm afraid that we cannot investigate the code including some custom class such as `CNNLSTM` and undefined code block such as training `for-loop`. Could you share reproducible code?

[2021-03-16 07:01] nzw0301 commented on #2482
I think the following way should work.

Let's assume that we have finished a few trials and saved the study as `existing_study.pkl`.

[code]

Then we load the `existing_study.pkl` and save the study into a database, `example.db`. I think that can be done by using `create_new_study` and `create_new_trial`.

[code]

[2021-03-16 08:13] nzw0301 opened #2488 "Wrong links on `SuccessiveHalvingPruner` page"
On [`SuccessiveHalvingPruner`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.pruners.SuccessiveHalvingPruner.html#optuna.pruners.SuccessiveHalvingPruner) page, the following links are supposed to be incorrect because the linked lines has been updated.

[2021-03-16 10:36] simpsus commented on #2478
Hi @nzw0301 thx for your answer!
I did not know this parameter existed. Thx for pointing this out.
I am afraid it will not scratch my itch.

I do not want to terminate the whole study, but this trial and continue with the next trial.
I tested manually terminating the study and restarting (the trial number increases) but in my observation the parameters for the next trial are the same as the ones w

[2021-03-16 10:53] nzw0301 commented on #2478
Hi, @simpsus.  Indeed, `timeout` in `optimize` was not appropriate for such a case :(

Fortunately, I think we can define our own pruner as in [this tutorial](https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/006_user_defined_pruner.html).

[2021-03-16 11:25] nzw0301 commented on #2478
Like this?

[code]

Output:
[code]

[2021-03-16 12:42] 0x41head commented on #2034
Is anyone working on this issue currently ? If not I would like to pick it up.

[2021-03-16 14:27] simpsus commented on #2478
Thank you very much! I will try out this pruner and close the issue for now!
One observation from the code: The pruner has to have a chance to prune. so in between steps. Usually, the long times are in the `fit` method of the classifier. Then it is paramount that this pruner is included via the integration...

[2021-03-16 14:27] #2478 closed

[2021-03-16 14:49] yywangvr commented on #2482
@nzw0301  Thank you very much. I am personally still have another question, I do not understand why do Optuna remove the multi-objective optimization in the package?  Is there any reasons for that?

[code]
As I am currently working on a multi-objective optimization problem, I do not know if I still can use the following optimiser :
[code]

Thank you again and you work are valued to everyone in thi

[2021-03-16 15:24] nzw0301 commented on #2482
@yywangvr I'm glad to hear that!

## answer to the additional question

Yes, you can use multi-objective optimisation in optuna.

This is because the samplers and study support multi-objective with a unified interface of single objective optimisation. Intead of `optuna.multi_objective.samplers.NSGAIIMultiObjectiveSampler` and `optuna.multi_objective.study.create_study`, we can use `optuna.samplers

[2021-03-16 16:47] yywangvr commented on #2482
Dear @nzw0301, thanks for reporting the new interface for me. However, after updating, I still get the following warning:

[code]

I guess that Optuna is not going to support the multi-objective optimisation, which is not related to the sampler types...Otherwise, the warnings here is confusing..

Thank you

[2021-03-16 16:56] nzw0301 commented on #2482
I suppose that `study` is created by `optuna.multi_objective.create_study(directions=["minimize", "minimize"], sampler=sampler)` method according to the warning message.   But if `study` was instantiated by using `optuna.study.create_study(directions=["minimize", "minimize"], sampler=sampler)` method that supports multi-objective, the warning message won't appear.

[2021-03-16 16:56] nzw0301 commented on #2482
@yywangvr

I suppose that study is created by optuna.multi_objective.create_study(directions=["minimize", "minimize"], sampler=sampler) method according to the warning message. But if study was instantiated by using optuna.study.create_study(directions=["minimize", "minimize"], sampler=sampler) method that supports multi-objective, the warning message will disappear.

[2021-03-17 01:30] crcrpar commented on #2034
No.
It's much more than appreciated ☺️

[2021-03-17 04:19] toshihikoyanase commented on #2484
Let me close this issue since the release of v2.6.1 was canceled.

[2021-03-17 04:19] #2484 closed

[2021-03-17 06:25] nzw0301 opened #2492 "Make multi-objective warning messages more informative"
## Motivation

Since [`optuna.multi_objective.`*](https://optuna.readthedocs.io/en/stable/reference/multi_objective/index.html) has been deprecated in optuna v2.4.0, we will see warning messages if we used a class or method in `optuna.multi_objective`. However warning message does not provide an alternative class or method to perform multi-objective optimization. Users may misunderstand that multi

[2021-03-17 06:47] #2488 closed

[2021-03-17 08:24] yywangvr commented on #2482
I am very grateful for your help. Thank you again.

[2021-03-17 08:25] nzw0301 commented on #2482
@yywangvr Awesome! Thank you for creating issue. The warning message looks unclear for me. This issue is helpful to know that.

[2021-03-17 11:04] hvy commented on #2484
I closed the milestone as well. It could also be deleted entirely.

[2021-03-17 11:13] nzw0301 commented on #2492
I suppose that a simple way to add `See https://github.com/optuna/optuna/releases/tag/v{d_ver}.` to the following lines:
https://github.com/optuna/optuna/blob/daa6149972c7b025ff3084e3429af97523de1b2a/optuna/_deprecated.py#L106
https://github.com/optuna/optuna/blob/daa6149972c7b025ff3084e3429af97523de1b2a/optuna/_deprecated.py#L130

[2021-03-17 11:17] nzw0301 commented on #2492
The output becomes as follows:

[code]

[2021-03-17 13:46] yywangvr commented on #2482
I am sorry to bother you again.

##
I finished the multi-objective optimisation (I have six objectives) , but the outputs from .trials_dataframe() seem strange.

[code]

After opening the saved file, I found the column `value` keeping zero and I also did not find the `intermediate_values` of each trial. [pid_Optuna.xlsx](https://github.com/optuna/optuna/files/6156771/pid_Optuna.xlsx)

I suppose th

[2021-03-17 15:27] nzw0301 commented on #2482
## dataframe

According to [`trials_dataframe`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.trials_dataframe), `intermediate_values` is not in default attributes. To contain intermediate values, we need to add `'intermediate_values'` to `attr` arguments:

[code]

## MultiObject's best trials

Indeed, the [`best_trials`](https://optuna.read

[2021-03-17 15:43] DrAgdur opened #2495 "Defining a range that depends on prior range definition, best practice?"
***DELETE THIS ISSUE***, i asked my question in the gitter room, seemed more appropiate.
Sorry for any caused misconvencience.

kind regards

[2021-03-17 15:58] MaximilianSamLickeAgdur commented on #2495
DELETE ISSUE. I asked the same thing in the gitter room, seems more appropiate to ask it there. sorry for any misconvencience.

[2021-03-17 16:01] nzw0301 commented on #2495
If so, could you close this issue because this issue is not informative anymore

[2021-03-17 16:02] #2495 closed

[2021-03-17 16:02] DrAgdur commented on #2495
closing issue

[2021-03-17 16:11] nzw0301 opened #2497 "Add a FAQ entry for constrained optimization"
It would be great to add an FAQ entry to describe constrained optimization in optuna. I think the entry mentions some samplers that support `constraints_func` and [pruning unsatisfied hyper-parameter combination](https://github.com/optuna/optuna/issues/465#issuecomment-515835378). I'm not familiar with constrained optimization, so the aforementioned content might not be included.

[2021-03-17 17:01] yywangvr commented on #2482
Dear @nzw0301 , thanks for the support. I started the code,
[code]
However, I still did not see `intermediate_values`, as a ref [pid_Optuna.xlsx](https://github.com/optuna/optuna/files/6158159/pid_Optuna.xlsx), [optuna_studyBase.db](https://drive.google.com/file/d/1nQ0eHoup2Ju2hx2lLBi9dNqdLSIL5eZk/view?usp=sharing).

In addition, why does the column `value` keep zero in all trials? (I might lack k

[2021-03-17 17:44] nzw0301 commented on #2482
Awesome!

For a multi-objective function, `objective` needs to return multiple objective values; `v0`  and `v1` in the following example code block:

[code]

I think that `intermediate_values` are not used as final objective values and they tend to be used for pruning feature in optuna, like [this page](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.pruners.MedianPruner.html).

[2021-03-17 20:12] yywangvr commented on #2482
Thank you again.  I guess this may because I run Optuna in two processes as indicated in [here](https://optuna.readthedocs.io/en/stable/tutorial/10_key_features/004_distributed.html), and therefore I do not have `values` but obtain `intermediate_values` instead.

When I retry my code in one process, everything seems fine.

[2021-03-17 20:12] #2482 closed

[2021-03-18 00:21] MarkusMiller opened #2498 "TFKeras-Integration along with ModelCheckpoint that only saves best weights"
Hello,

I recently switched from Talos to Optuna and so far it's running great. So I set up my code with Talos to first find good hyperparameters in a base training run (over one to five epochs, picking the combination with the lowest loss at the end) and then did a fine-tuning training with those parameters over several epochs. I sort of incorporated Optuna now into this approach, however, I'm ha

[2021-03-18 01:21] hvy commented on #2454
For the record, we've now bumped `torch` to 1.8.0 for everything besides AllenNLP. Let's keep an eye out for AllenNLP's next release when we could clean up some of the mess introduced by #2442 . Let me leave this issue open until then.

[2021-03-18 02:01] crcrpar commented on #2498
Hi @MarkusMiller

I'm glad to hear that you are using Optuna.
I think you can use the ModelCheckpoint Callback instance's best value as a return value of `objective` instead of the latest metrics value.

I created a simple example with the above setting: https://colab.research.google.com/drive/18QdQHgYn2-PN-f1V3gOr1x-fPjmBIHAc?usp=sharing.

I hope this helps you a bit.

[2021-03-18 08:00] max-yue opened #2500 "optuna create-study, Could not load the Qt platform plugin "xcb" in "" even though it was found"
# optuna create-study --study-name "distributed-example" --storage "mysql://root@localhost/example"

QFactoryLoader::QFactoryLoader() checking directory path "/share/apps/anaconda3/envs/qa_env/lib/python3.6/site-packages/PyQt5/Qt/plugins/platforms" ...
QFactoryLoader::QFactoryLoader() looking at "/share/apps/anaconda3/envs/qa_env/lib/python3.6/site-packages/PyQt5/Qt/plugins/platforms/libqeglfs.so"

[2021-03-18 08:10] max-yue commented on #2500
(qa_env) root@ali-g:~# optuna create-study --study-name "distributed-example" --storage "mysql://root@localhost/example"
Traceback (most recent call last):
  File "/share/apps/anaconda3/envs/qa_env/lib/python3.7/site-packages/qtpy/__init__.py", line 204, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleNotFoundError: No module named 'PySide'

During handlin

[2021-03-18 08:48] max-yue commented on #2500
# optuna create-study --study-name "distributed-example" --storage "mysql://root@localhost/example"

Got keys from plugin meta data ("xcb")
QFactoryLoader::QFactoryLoader() checking directory path "/share/apps/anaconda3/envs/qa_env/bin/platforms" ...
loaded library "/share/apps/anaconda3/envs/qa_env/lib/python3.7/site-packages/PyQt5/Qt/plugins/platforms/libqxcb.so"
qt.qpa.xcb: could not connect to

[2021-03-18 09:04] max-yue commented on #2500
according to this page, https://www.programmersought.com/article/66666346249/

question
The problem appears to be called under Linuxplt.savefig()Function, a display error occurred.

Solution
Add two lines of code under the file that calls the function.

import matplotlib
matplotlib.use('Agg')

[2021-03-18 15:51] jeromepatel commented on #2240
@HideakiImamura I would like to work on this issue. Currently, checks are applied to the whole directory, so should we modify that to exclude `examples` and `tutorials` for all the style-checks? I think in that case `mypy . -type d \( -path tutorials -o -path examples \) -prune `  (same for other checks)  this can work. I would like to know your views on this. If you can guide me on this it would

[2021-03-18 15:57] jeromepatel commented on #1928
@crcrpar I think this issue can be closed as both the tasks have been completed. If it needs any further changes/modification let me know, I would be happy to work on that.

[2021-03-18 18:21] Turakar opened #2502 "Time zone problems"
I use Optuna with a RDB backend and from two different workers, one on my home computer and one remote. The two computers use different time zones (GMT+1 and UTC respectively). The datetimes in the database seem to wrong, i.e. the stored datetime is the local time of the machine.

## Expected behavior
The shown datetimes either store time zone information with them or all use one time zone (e.g. U

[2021-03-18 18:28] nzw0301 commented on #2500
I'm afraid that I cannot understand what is a bug in this issue. I would like to kindly ask you to follow the issue template for the bug report. Otherwise, this issue won't be checked because it will take too much time to understand it.

I suppose that using [markdown](https://guides.github.com/features/mastering-markdown/), providing reproducible code example, and clarifying dependencies are real

[2021-03-18 18:42] nzw0301 commented on #2502
Hi @Turakar,

[`optuna.storages.RDBStorage`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.storages.RDBStorage.html) can pass keywords of database to the DB by using `engine_kwargs` via `sqlalchemy` package.

I think that [this stackoverflow's answer](https://stackoverflow.com/questions/26105730/sqlalchemy-converting-utc-datetime-to-local-time-before-saving/26106482) might be

[2021-03-19 06:10] #2492 closed

[2021-03-20 02:37] MarkusMiller commented on #2498
Hello,

thank you for your very quick reply. I guess, that'll solve my problem. Thank you very much.

Kind regards

Markus

[2021-03-20 08:54] crcrpar commented on #2469
Either #2504 or #2505 will suffice.

[2021-03-20 17:53] pedroig opened #2506 "Potential conflict between Optuna prunners and early stopping conditions"
While training a model, I would like to prevent overfitting by setting an early stop condition so if I have more than `n` consecutive steps in which my metric doesn't improve, I would stop the training. Therefore, doing hyperparameter search with Optuna, this stopping criterion I described would only look at previous steps within the current trial. However, could I use this when using Optuna pruni

[2021-03-20 18:54] nzw0301 commented on #2506
Hi, @pedroig, I try to answer your questions because recently I looked at the implementation of `MedianPruner` and its parent class `PercentilePruner` by chance and answered a similar issue https://github.com/optuna/optuna/issues/2441.

##  Q1. if I have a trial on a step that was not reached by all my intermediate results of previous trials? Would it simply not be pruned?

You are right. Such a t

[2021-03-20 21:26] pedroig commented on #2506
Hi @nzw0301, thanks for the fast response! Your feature suggestion sounds great to me. However, I have a small preference for changing the behavior only via `n_startup_trials` which is a bit more restrictive but prevents other users from going through the same problem by mistake. It would also avoid the corner case of skipping pruning when there are no previous trials that reached a given step. I

[2021-03-21 01:33] crcrpar commented on #2498
Glad to hear that. Let me close this issue.

Should you have further questions or issues, feel free to reopen / create :)

[2021-03-21 01:33] #2498 closed

[2021-03-22 00:12] blaney83 opened #2507 "Difference between FAILED and PRUNED when intermediate values exist"
Hey community,

I was wondering if there is a strategic difference between using the `study.tell` API using FAILED vs PRUNED for the trial state. In my case, there are intermediate values reported for the trials I would like to prune and I notice those are reported as the value for those trials.

I'd like to exclude these trials entirely from optimization- they are being pruned because they contam

[2021-03-22 20:48] blaney83 commented on #2507
To answer my own question, `PRUNED` is the preferred option for the desired effect described above. When running a simple test, reporting trial state `FAILED` resulted in the sampler attempting to re-run the suggested parameters many times.

On the other hand when using `PRUNED` the sampler quickly recognized the trials as fruitless and moved on with the optimization.

Sample code:
[code]

[2021-03-22 20:48] #2507 closed

[2021-03-23 02:07] fonnesbeck opened #2509 "Optuna study crashes on TensorFlow models with Estimators"
I have a relatively large TensorFlow model (>1M rows) that implements the DNNClassifier estimator. It fits without issue when run outside of Optuna, but once I try to optimize it, the study will crash either an AWS instance or a Google Colab Pro instance (high memory, GPU) before completion.

A couple of things I notice: if I set a model_dir and try to monitor runs using TensorBoard, the study cra

[2021-03-23 04:03] z7ye commented on #2329
I also see the same problem.

I was using samplers.TPESampler(seed=42), but would reproduce the same result.

`[I 2021-03-23 03:58:51,446] Using an existing study with name 'hpo_9140df48-d731-4ec4-a224-14d1dd45e52d' instead of creating a new one.
INFO:Optimizing hyperparameters using 150 samples...
[I 2021-03-23 03:58:53,568] Trial 1 finished with value: 0.9598319029897977 and parameters: {'colsam

[2021-03-23 04:05] z7ye commented on #1793
I also saw the same issue with Xgboost.

[2021-03-23 05:03] chenghuzi opened #2510 "A single JSON file for the stylization of visualization APIs"
Use a single JSON file for the stylization of all visualization APIs.

## Motivation

Currently, we have styling parameters for various visualization APIs fixed in their implementations. But this may make it harder to maintain visual consistency in future versions when we have more functions and the same function across multiple backends or platforms, e.g., [optuna-dashboard](https://github.com/op

[2021-03-23 06:48] Crissman commented on #2331
Was unable to replicate this issue using the code above. It appears this issue was fixed by PR #2395 . Please confirm, and close this issue. 🙇‍♂️

[2021-03-23 10:18] #2334 closed

[2021-03-23 12:03] HideakiImamura opened #2513 "Kubernetes + MLflow example fails due to the MNIST download error"
If we follow the instructions in `examples/kubernetes/mlflow/README.md` with current master (https://github.com/optuna/optuna/commit/bffdbdcd32cb88e2d886f3860b6bbfd85cb52565), the worker pods fail due to the MNIST download error like https://github.com/optuna/optuna/issues/2469.

## Expected behavior

The worker pods succeed if we follow the instructions in `examples/kubernetes/mlflow/README.md`.

[2021-03-23 12:05] HideakiImamura commented on #2469
We found a similar MNIST download error in https://github.com/optuna/optuna/pull/2472. I created the issue https://github.com/optuna/optuna/issues/2513. (The error code is 522, neither 403 nor 503).

[2021-03-23 15:33] sebffischer commented on #2329
Even though it is possible with the proposed solution I think it would be more user friendly and intuitive to transfer the seed to the other seeds.

[2021-03-23 16:06] 0x41head commented on #2034
@crcrpar I was confused as to what I should do with packages like xgboost, which are already updated to the latest version and are supported python 3.9. Do I need to make any changes anywhere ?

[2021-03-23 23:22] #2047 closed

[2021-03-24 02:21] crcrpar commented on #2034
In short, what we need to do is to update https://github.com/optuna/optuna/blob/master/.github/workflows/tests-integration.yml and https://github.com/optuna/optuna/blob/master/.github/workflows/examples.yml to assure that Optuna's integrations and examples work well on Python3.9

[2021-03-24 07:36] crcrpar opened #2515 "Datasets downloaded via `fetch_openml` can cause example CI to fail due to their being broken"
`fetch_openml` sometimes fails to download datasets, leading to errors due to malformed data, for example
- https://github.com/optuna/optuna/pull/2452/checks?check_run_id=2181206889#step:7:9036
- https://github.com/optuna/optuna/pull/2368/checks?check_run_id=2181062497#step:7:9390

[2021-03-24 11:30] g-votte opened #2517 "Adding pytest's `filterwarnings` causes 0% coverage"
## Steps to reproduce

1. Apply the change of https://github.com/optuna/optuna/pull/2405 , which adds `filterwarnings` of pytest.
2. Run pytest with coverage reporting

## Current behavior

The coverage drastically downs and shows [0% in the CI](https://app.codecov.io/gh/optuna/optuna/compare/2405/overview).

## Expected behavior

The coverage does not change.

## Reproducible examples

You can qu

[2021-03-24 18:50] turian opened #2518 "AWS S3 location for RDB sqlite"
Optionally the RDB sqlite could be an AWS S3 location.

## Motivation

When running on AWS, it would be great if optionally the RDB sqlite could be an AWS S3 location. This is particularly useful for spot instances that get torn down without notice.

## Description

If the URL is "s3+sqlite:///bucketname/file.db", the SQLite database is read and written to AWS S3.

## Alternatives (optional)

Do i

[2021-03-25 10:11] yywangvr opened #2520 "Is it possible log a variable in the objective function?"
[code]

Is it possible to log the value of `v0` and `v1` in  some functions such as`study.trials_dataframe`. As I also wish to analyse the intermediate values in the objective functions.

[2021-03-25 11:18] ZumbiAzul opened #2521 "Why does optuna doesn's show the parameters it used during the optimization?"
While in optimization mode, optuna should tell which trial was the best listing the cost and hyperparameters.
Here is what I get:
[code]
As you see parameters are given as just empty curly brackets.

The command `print(study.best_trial)` gives:
[code]
The command `print("  Value: ", trial.value)` gives:
[code]
Then I try these commands:
[code]
and they result in emptiness:
[code]

Although it seem

[2021-03-25 11:34] nzw0301 commented on #2520
Hi @yywangvr, I think we can store such values in `Trial.user_attrs`. To do so, we call [`Trial.set_user_attr`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.trial.Trial.html#optuna.trial.Trial.set_user_attr) during each objective evaluation. For your example

[code]

[2021-03-25 11:37] nzw0301 commented on #2521
Could you share your reproducible code for your question? Otherwise, we might not investigate your question because it is hard to do so...

[2021-03-25 11:38] PhilipMay opened #2522 "Truncate the length of valued of set_user_attr."
When I want to log long strings (like exceptions with stacktrace) as an `user_attr` the content might get very long. If `value` is above the length of 2048 characters an exception is thrown. This should be avoided by truncation and maybe logging a warning.

There might be other locations where the same problem might happen. Like in `set_system_attr`. This can be done on `trial` and `study` layer.

[2021-03-25 12:55] ZumbiAzul commented on #2521
I am not sure if it is possible to post a reproducible code here. I guess, your reply tells that it is not common and has not happened previously very often.

What I noticed that after the first trial the best parameters are reported by optuna:
[code]
But after the next trial I start getting:
[code]

[2021-03-25 13:29] yywangvr commented on #2520
Hi @nzw0301 , it works.  I really appreciate your sustaining support and help during my using of Optuna!

[2021-03-25 13:29] #2520 closed

[2021-03-25 13:57] nzw0301 commented on #2520
It's my pleasure! I'm glad to hear that I could support your optuna life.

[2021-03-25 14:02] nzw0301 commented on #2521
Okay... fair enough. How about only the objective function?

[2021-03-25 14:49] y0z commented on #2522
Hi. I think this limitation problem has already been relaxed in #2395.

[2021-03-25 14:50] nzw0301 commented on #2521
I do not fully understand the logic, but it sounds sampling part for `network_hyperparams`  is not performed.

[2021-03-25 15:08] ZumbiAzul commented on #2521
Could you please expand?

[2021-03-25 15:13] nzw0301 commented on #2521
If `network_hyperparams` is not in reported `params`, I think they were not sampled in the objective. Could you check the hyper-parameters are actually sampled in each trial?

[2021-03-25 15:21] nzw0301 commented on #2521
Again, I'm afraid that I cannot understand what is a bug in this issue. I would like to kindly ask you to follow the issue template for the bug report. Otherwise, this issue won't be checked because it will take too much time to understand it.

I suppose that using markdown, providing reproducible code example, and clarifying dependencies are really helpful to understand the issue.

Best regards,

[2021-03-25 17:01] ZumbiAzul commented on #2521
I found a solution.
It seems that this bug arises when I try to suggest a `variable`, which was already created/reassigned before.
When I initialize the `variable` as an empty list, then optuna behaves normally.

[2021-03-25 17:14] nzw0301 commented on #2521
Awesome! Could you close this issue? I suppose the issue was resolved by yourself.

[2021-03-25 17:36] #2521 closed

[2021-03-25 17:47] ZumbiAzul opened #2523 "How to access information about best trial inside the objective function?"
How to access information about the best trial within the objective function.
I would like to get access to the information that is usually accessed after study has finished.
For example, I would like to access the following info:

- info that is normally obtainable by this command: `print(study.best_trial)`
- info that is normally obtainable by this command: `print(study.best_trial.value)`
- info

[2021-03-25 17:51] osama-usuf opened #2524 "Confusion Regarding plot_contour"
**Hello everybody,**

So I am using Optuna for optimizing a network with multiple hyper-parameters (5, to be exact). While I'm finding the visualization tools really helpful, I have a small confusion about the **`optuna.visualization.plot_contour`** method. When I use this method over my problem, Optuna provides a total of 25 plots (a separate contour plot for each possible pair of hyperparameters

[2021-03-26 01:25] toshihikoyanase commented on #2523
Hi @ZumbiAzul
Currently, Optuna does not provide public API to access the best trials inside objective functions.
Alternatively, users can access them in the callbacks which are executed right after objective functions. For example, you can print the best trial and trials dataframe as follows:

[code]
https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.

[2021-03-26 06:42] PhilipMay commented on #2522
Ok - I will check.

[2021-03-26 11:29] #2331 closed

[2021-03-26 13:02] guangmingjian opened #2527 "KeyError: 'Record does not exist.'"
When I try to run the following code：

[code]

And the error is as follows：
[code]

Please help me, thanks!

[2021-03-26 13:33] toshihikoyanase commented on #2527
Hi @guangmingjian
Could you check if you have `distributed-example` in `mysql://root@localhost/example`?
You can, for example, use `optuna studies` command to show all studies as follows:

[code]

If you don't have the study, please create it in advance as follows:

[code]

[2021-03-26 15:55] ZumbiAzul commented on #2523
Thanks for your reply!
I think it could be a solution, if it was possible to pass some other variable into the callback-function.
An idea of what I would like to have is something like this:
[code]

Are there workarounds to achieve this?

[2021-03-26 18:55] nzw0301 commented on #2523
Like this?

[code]

[2021-03-27 01:46] guangmingjian commented on #2527
Thanks！

[2021-03-27 01:46] #2527 closed

[2021-03-27 21:19] YannDubs opened #2531 "[BUG] `plot_optimization_history` not working with multi objective even if target is given"
`matplotlib.plot_optimization_history` does not work in multi objective setting even if the `target` is given. Despite the doc saying that it would raise an error only if `If target is None and study is being used for multi-objective optimization.`

The issue is that the code uses `study.direction` (which does not exist in multi objective) at this line:
https://github.com/optuna/optuna/blob/master

[2021-03-27 22:58] nzw0301 commented on #2531
@YannDubs Thank you for reporting the bug and sharing your investigation! I could confirm the bug.

[2021-03-27 23:08] nzw0301 commented on #2531
Let me create a pull request to resolve this bug, but if you already prepare a pull request for this PR, I'm willing to close my PR.

---

BTW, your neural process family pages are really helpful to learn NPs, and I enjoyed reading your paper about representation learning and information theory!

[2021-03-28 09:55] ZumbiAzul commented on #2523
@nzw0301 Thanks! It is not a straightforward solution, but I can make it work with some changes in the logic in my code.

[2021-03-28 09:55] #2523 closed

[2021-03-28 10:37] ZumbiAzul opened #2533 "What does it mean that optuna suggests 'nan' for a parameter?"
Hello,
Having typed the following commands
[code]
I got this inside the file `trials_info.txt`:
[code]
As you can see some suggested values are `nan`. What does it mean?

[2021-03-28 12:09] nzw0301 commented on #2533
I think parameters are not suggested in the trial.

[2021-03-28 17:56] ZumbiAzul commented on #2533
Does it mean that parameters from a previous trial were used instead?

[2021-03-28 17:58] nzw0301 commented on #2533
I suppose so.

[2021-03-28 19:06] ZumbiAzul commented on #2533
OK, thanks!

[2021-03-28 19:06] #2533 closed

[2021-03-28 19:29] PhilipMay commented on #2522
Works. Thanks - I am closing this again.

[2021-03-28 19:29] #2522 closed

[2021-03-29 00:48] hvy commented on #1860
Let me close this issues since https://github.com/optuna/optuna/pull/2395 addressed the failures with the `RDBStorage`.

[2021-03-29 00:48] #1860 closed

[2021-03-29 03:50] hvy commented on #2038
@jeromepatel, sorry for the delayed response. That sounds like a starting point to me. We probably have to make sure that works with `mpirun`. I can take a look if you could send a PR.

[2021-03-29 08:24] toshihikoyanase opened #2536 "Add `__repr__` to sampler classes."
## Motivation

When we use experiment management frameworks like Hydra with Optuna, we sometimes want to log the Optuna's settings including sampler types. Currently, the sampler class does not have `__repr__` and the messages are less human-friendly if we simply print the sampler instantance:

[code]

Adding the `__repr__`, we can simplify the logging in the experiment management. I think we can

[2021-03-29 11:37] 0x41head commented on #2513
Issue fixed with PR #2514. Can be closed.

[2021-03-29 14:25] toshihikoyanase commented on #2518
Sounds interesting!

I found a python library, [sqlalchemy-s3sqlite](https://github.com/cariaso/sqlalchemy-s3sqlite), which enables users to manipulate SQLite database on S3 via SQLalchemy.

Since Optuna's RDBStorage is built using SQLalchemy, I guess we can persist Optuna's results on S3 as follows (I haven't tried yet, though):

[code]

What do you think of this approach?

[2021-03-29 14:34] fonnesbeck commented on #2509
Is anyone able to shine a light on this? I also notice that my hard disk fills up pretty quickly, I assume with some sort of temp/swap files? My 1TB drive is now mostly full after using Optuna. Where are these files kept, and why are the not removed when Optuna is finished?

[2021-03-29 14:43] turian opened #2537 "Guidance on when to use TPESampler + CmaEsSampler"
The original optuna paper uses TPESampler for the first half of the trials, and then switches to CmaEsSampler for the second half.

TPESampler now support [multivariate](https://medium.com/optuna/multivariate-tpe-makes-optuna-even-more-powerful-63c4bfbaebe2)

CmaEsSampler blog [recommends](https://medium.com/optuna/introduction-to-cma-es-sampler-ee68194c8f88) writes: "CMA-ES is particularly useful

[2021-03-29 14:48] turian opened #2538 "CmaEsSampler supports suggest_int?"
[CmaEsSampler](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.samplers.CmaEsSampler.html#optuna.samplers.CmaEsSampler) says "Please note that this sampler does not support CategoricalDistribution".

Can you please clarify whether that means only suggest_categorical is not supported?
Or, additionally, suggest_discrete_uniform and suggest_int are not supported?

I ask because we

[2021-03-29 16:07] turian commented on #2518
For me that sounds great!

[2021-03-29 21:11] cconstantinou73 opened #2540 "Reproducibility problem with optuna.integration.OptunaSearchCV"
## Problem in getting reproducible results using a specified seed. After consecutive trials the model_grid.best_params_ printed are different each time despite specifying a seed for the random_state argument

## I expect to have reproducible results

- Optuna version: '2.0.0'
- Python version: Python 3.8.8
- OS: PRETTY_NAME="Ubuntu 18.04.3 LTS", VERSION_ID="18.04"
- (Optional) Other libraries and

[2021-03-29 23:52] g-votte commented on #2517
Some more attempts have been made in #2529. However, neither changing the `pytest` version nor adding the `--cov-append` option did not solve the problem.

[2021-03-30 09:31] dmar1n opened #2542 "`ZeroDivisionError` when plotting parameter importance"
Plotting parameter importance of a multi-objective study causes a `ZeroDivisionError: Weights sum to zero, can't be normalized.` The error happens with a with two-objective study, which otherwise runs nicely and produces a Pareto plot without any problem.

## Expected behavior

Generate a plot of parameter importance based on a multi-objective study, as described in the documentation.

## Environm

[2021-03-30 09:42] nzw0301 commented on #2542
@dmar1n Could you share the reproducible code? I could not reproduce the bug.

[2021-03-30 11:25] nzw0301 commented on #2540
I think that this is expected behaviour according to [the document](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.samplers.TPESampler.html#optuna.samplers.TPESampler.reseed_rng).

[2021-03-30 12:14] fsmosca opened #2544 "Is this normal contour plot with categorical value?"
The contour [plot seems weird](https://fsmosca.github.io/Mabigat/example.html). Is this normal?

The variable random_multi_pv in this case is categorical integer. If I change this to continuous, it is fine

Ref.:
optuna==2.6.0
plotly==4.14.3

I tried it with matplotlib, the same thing happened - not nice.
I tried it with optuna==2.5.0 / plotly, not nice too.

I use it in this [repo](https://github

[2021-03-30 12:34] cconstantinou73 commented on #2540
@nzw0301 I am not sure what you mean. In the above code example what is being done wrong? For example i want to run the script above more than once and i want to replicate the results of model_grid.best_params_. When i run the code above i get different results for model_grid.best_params_ after each run.

[2021-03-30 12:50] nzw0301 commented on #2540
The code seems great, but we cannot get reproducible results due to the optuna's implementation for `n_jobs>1` or `n_jobs=-1`.  When we use `n_jobs>1`, optuna internally re-sest a different random seed to each sampler per job via `reseed_rng` method. Unfortunately, we cannot pass a seed value to this internal process.

[2021-03-30 12:57] fsmosca commented on #2538
Run a sample optimization, only suggest_categorical is not supported.

Output:

[code]

[code]

For boolean, it can be handled by:
[code]
low=0, high=1, step=1
cmaes should be ok.

[2021-03-30 13:16] cconstantinou73 commented on #2540
@nzw0301 Thank you for your response. I was mainly interested for reproducible results when n_jobs>1. It must be noted though with the above implementation even if you set n_jobs=1 you still don't get reproducible results. As i already said before i only could get reproducible results if i do not specify neither the n_jobs (which defaults to 1) neither the study and neither the random_state and in

[2021-03-30 13:44] nzw0301 commented on #2540
It's my pleasure.

I'm not sure that I could understand when the code is reproducible. When I run the following code, the results seem fine. Could you give me an example?

[code]

[2021-03-30 14:42] nzw0301 commented on #2544
Could you explain a little bit more about the wiredness of the plot?

[2021-03-30 14:54] fsmosca commented on #2544
![](https://i.imgur.com/om0S2ur.png)

red marking: the plot does not exactly fit.
yellow: the number is not in sequence.

[2021-03-30 15:01] nzw0301 commented on #2544
Thank you for your helpful clarification!

Let me put a minimum example.

[code]

[2021-03-30 15:11] nzw0301 commented on #2544
About yellow circles: I think a number of visualisation functions, such as `plot_contour` and `plot_parallel_coordinate`, do not sort the suggested values from categorical distribution when drawing a plot.

[2021-03-30 15:27] nzw0301 commented on #2544
Yellow circles: I was wrong. The suggested values from a categorical distribution are actually **sorted**, but they are soreted as `str`.

[2021-03-30 15:32] fsmosca commented on #2544
Try this for the yellow.
[code]

On red the plot fits as expected. I will check again my code why it does not fit well.

[2021-03-30 15:40] nzw0301 commented on #2544
Yes, I think the reason is same: categorical calues are sorted as `str`:

[code]

This is why `10` or `11` appears in the left corner....

[2021-03-30 18:31] #2465 closed

[2021-03-30 18:42] nzw0301 commented on #2544
If the suggested values only contain float or int, we can sort the values as a numerical value rather than `str`.
if I apply this patch https://github.com/nzw0301/optuna/commit/4ac96585c0a548866d98a4f5a7ddf562b087fd3c, then the plot is

![newplot (4)](https://user-images.githubusercontent.com/7121753/113039760-01d81f00-91d3-11eb-8300-75681a1ce3d3.png)

[2021-03-31 00:56] hvy commented on #2038
Let me close this issue. It was resolved by https://github.com/optuna/optuna/pull/2535 by @jeromepatel. Thanks!

[2021-03-31 00:56] #2038 closed

[2021-03-31 03:31] fsmosca commented on #2524
Contour plot has 3 axis, the x, y and depth, like a bird's-eye view we are on top looking down. The x and y are the parameter values while the depth is the objective value shown in color because we are looking down we cannot see the depth difference but we can see which one is high or low by color. If x and y are the same for a given 2 trials on the same parameter pair for example then the locatio

[2021-03-31 03:42] fsmosca commented on #2544
I still cannot solve my contour plot fitting. At the moment I will just try to avoid the categorical param type to get a beautiful contour plots.

[2021-03-31 05:54] crcrpar commented on #2479
#2485 and https://github.com/optuna/optuna/pull/2546 accessed this.

[2021-03-31 05:54] #2479 closed

[2021-03-31 05:58] #2513 closed

[2021-03-31 05:58] crcrpar commented on #2469
Both #2472 and #2513 landed, let me close this issue.

[2021-03-31 05:58] #2469 closed

[2021-03-31 05:59] crcrpar commented on #2454
#2442 and https://github.com/optuna/optuna/pull/2528 got landed, let me close this.

[2021-03-31 05:59] #2454 closed

[2021-03-31 06:06] crcrpar commented on #1721
I added all I wanted, so close.

[2021-03-31 06:06] #1721 closed

[2021-03-31 08:03] crcrpar opened #2549 "Support fastai v2.3"
fastai v2.3 caused an error: https://github.com/optuna/optuna/runs/2234664270

Related: https://github.com/optuna/optuna/pull/2548

[2021-03-31 09:16] nzw0301 commented on #2549
Let me send a PR for this.

[2021-03-31 09:52] cconstantinou73 commented on #2540
I cant seem to replicate the behaviour of inconsistency when n_jobs == 1 and defining a study and random_state, so i am assuming i might have done something wrong when using those before. In other words i get the expected behaviour of reproducibility when n_jobs == 1. Thank you for your responses @nzw0301

[2021-03-31 09:54] nzw0301 commented on #2540
Awesome! I'm glad to hear that. Thanks to your feedback, I'm sending a pull request to improve the documentation of `n_jobs`.

[2021-03-31 09:55] #2540 closed

[2021-03-31 14:36] #2049 closed

[2021-03-31 18:59] nzw0301 opened #2553 "Weights and biases integration"
NOTE: I haven't used any management tools for ML; so it is an idea to enlarge optuna community.

## Motivation

[weights and biases](https://wandb.ai/site) (W&B) is a tool for tracking machine learning experiments, visualize metrics, and share results like MLflow. As a counterpart of MLflow, it might be great to support W&B integration for W&B users.

## Description

Like optuna's mlflow integrati

[2021-04-01 00:03] YannDubs commented on #2531
Perfect, looking forward to have this PR merged :)

@nzw0301 woaw thanks for the very kind words about the projects !!

[2021-04-01 10:18] arilwan opened #2555 "Optimizing Autoencoder with optuna"
I am trying to optimize an `autoencoder` network with `optuna`, but I am having difficulty deciding an appropriate objective function return value. As we know, the goal in `autoencoder` is to reconstruct the input, so initially, I thought my objective function shall focus on minimizing the reconstruction error (`mse` in this case).  To do this, I write the following objective function:

[code]
How

[2021-04-01 13:37] nzw0301 commented on #2555
hi, sorry for my unclear answer on StackOverflow.

I think the objective should return a mean squared error on a validatiaon dataset rather than the training dataset `x_train_sub`. What we really want is the auto-encoder model can reconstruct input data in an **unseen dataset**, called test dataset. But we cannot observe the test dataset in practice, we need to prepare a validation dataset that is

[2021-04-01 16:56] arilwan commented on #2555
@nzw0301  Ah, OK. So you recommend that I set aside a `validation set`. How about the `mean_squared_error`  because the `fit()` a list of ´mse` so I was trying to retrieve the minimum error from the log and return such. Is that a way to go?

[2021-04-01 23:36] #2072 closed

[2021-04-02 00:33] shu65 opened #2557 "trial.suggest_int() ignores step"
I used `trial.suggest_int()` with step. But, `suggest_int()` ignores arguments when study has trials with different distributions.

## Environment

- Optuna version: 2.6.0
- Python version: 3.7.10
- OS: (I used Google Colab)
- (Optional) Other libraries and their versions:

## Error messages, stack traces, or logs

[code]

## Steps to reproduce

1. run reproducible example on Google Colab

## Repr

[2021-04-02 00:42] not522 commented on #2557
Thank you for your investigation! It seems we need a more detailed checking in `check_distribution_compatibility`.
https://github.com/optuna/optuna/blob/c228f0a5011579b21449b06f4b7ba308090fb515/optuna/distributions.py#L503-L534

[2021-04-02 03:44] nzw0301 commented on #2555
I think that is fine; it sounds equivalent to perform early-stopping.

[2021-04-02 09:35] #2549 closed

[2021-04-02 09:37] nzw0301 commented on #2531
The pull request has been merged! The bug will be fixed in the next release! Again, thank you for your investigation and for reporting the bug! Let me close this issue.

[2021-04-02 09:37] #2531 closed

[2021-04-02 09:41] nzw0301 commented on #2396
Let me close this issue since the related pull request #2419 has been merged. Please feel free to re-open this issue if this issue has not been resolved yet.

[2021-04-02 09:41] #2396 closed

[2021-04-02 09:42] #1616 closed

[2021-04-02 16:23] arilwan commented on #2555
many thanks.

[2021-04-02 16:23] #2555 closed

[2021-04-02 19:52] turian commented on #2538
Can the docs be updated?

[2021-04-02 19:52] turian commented on #1447
@hvy let me know your thoughts, I might be able to give feedback or code

[2021-04-03 13:36] guangmingjian opened #2564 "ValueError: CategoricalDistribution does not support dynamic value space."
Thank you for this great system!

However,  when I run into the following code:

[code]

And the error is as follows：

[code]

Could you give me some suggestions？ Thanks！

[2021-04-04 15:28] kousakuin-A commented on #2371
@nzw0301 Thank you very much for your comment, and I am sorry for my late reply.
I have tried to use `constraints_func` and it seems to work well. (code is shown below)
I confirmed that the suggestion did not fall into constraint-violating samples such as a=b=200. Without `constraints_func`, it goes bad.

Unfortunately, a useful function `optuna.visualization.plot_pareto_front` does not work well

[2021-04-04 15:39] kousakuin-A commented on #2371
Now I understand *crossover* cause a swap of parameter to sample (like `a` or `b`) between parent samples. Thus, the child sample may violate the constraints (like `a+b=100`).

I am wondering why the *mutation* cause the violation when `swapping_prob=0` and/or `crossover_prob=0`. It seems that the mutation simply call `RandomSampler.sample_independent`, and `param_distribution` should be set appro

[2021-04-04 23:25] #1751 closed

[2021-04-05 12:29] himkt commented on #2421
Hello @y0z, I'm really sorry for the delayed response.
In the current implementation, I found passing `ndarray` of integer to `WFG.compute` causes a computation error.

https://github.com/optuna/optuna/blob/30161b238b33b32300aedfc8364ef511b5849543/optuna/multi_objective/_hypervolume/utils.py#L43
If `reference_point` is ndarray of integer, `solution[1]` would be casted to integer, which returns an

[2021-04-05 12:37] y0z commented on #2421
It makes sense! Great job.
Thank you :)

Please close this issue after merging your PR.

[2021-04-05 16:27] UgurKap opened #2567 "MLFlow logging multiple metrics"
I want to log multiple metrics in MLFlow but under the hood, Optuna uses mlflow.log_metric in its MLFlowCallBack so there is no straigthforward way to do it.

## Motivation

When I am using MLFlow to log experiments, I might want to log additional metrics even though I am not optimizing specifically for them. Or I could be using their sum in my objective function and I might want to learn their in

[2021-04-06 02:26] parsiad opened #2568 "Ask-and-Tell Many"
## Motivation

Consider optimizing a function with the ask-and-tell interface:

[code]

Suppose that `func` is relatively cheap to compute and we have lots of resources available so that we can use many cores (100s or 1000s) to concurrently evaluate many trials. In this case, the **cost to query a networked database (e.g., Redis) on the `ask` and `tell` calls may greatly exceed the cost of evaluat

[2021-04-06 05:33] hvy commented on #1447
Thanks @turian for the interest and I'm very sorry for coming back late. I briefly discussed this with some other members. Is it the case that you have a working pruner at hand? I tried to open the URL provided but didn't have permission to open it. In any case, I think we can discuss introducing a wrapping pruner as suggested by @HideakiImamura to account for these learning curves as I think it's

[2021-04-06 10:21] himkt commented on #2564
Hello @guangmingjian, thank you for trying Optuna!
In Optuna, you have to use a different variable for a different search space.

[code]

[2021-04-06 14:40] alexis-intellegens opened #2570 "LightGBMTuner seems to print a lot with verbosity -1"
## Expected behavior

I run the tuner with verbosity off for both lightGBM and Optuna, I expect no printouts. Instead I get a bunch.

Full code:
[code]

Outputs:
[code]
and so on for every boosted round. I can't seem to find many docs around using LightGBMTuner directly however I am running it similarly to: https://github.com/optuna/optuna/blob/master/examples/lightgbm/lightgbm_tuner_simple.py

##

[2021-04-06 15:05] alexis-intellegens commented on #2570
Apparently setting verbose_eval=False will turn off outputs, has to be passed directly to LightGBMTuner and not in params though.

[code]

[2021-04-06 15:05] #2570 closed

[2021-04-06 16:50] turian commented on #1447
@hvy I am still very interested in this feature and I think many other people are too :)

https://colab.research.google.com/drive/1_5DJb5mdLIkQFqVvzNw-gWOr52USapA-?usp=sharing

Please check the colab now?

But as I note, I don't think this PatientPruner by @HideakiImamura is the behavior you want. See the graphs at the end.

What this PatientPruner does is prune *within* a particular trial.

Where

[2021-04-07 01:02] guangmingjian commented on #2564
Thx！

[2021-04-07 01:02] #2564 closed

[2021-04-07 01:27] toshihikoyanase commented on #2536
#2539 implemented `__str__` for the sampler classes. We have following follow-up tasks:

- [ ] Add unit test for `__str__`
- [ ] Add documentation for `__str__`

[2021-04-07 01:33] omry commented on #2536
What I had in mind is something more informative.
For example, for a hypothetical FooSampler that takes:
[code]
as parameter, a good sting representation can be:
[code]

[2021-04-07 03:12] toshihikoyanase commented on #2536
@omry Thank you for your feedback. @nzw0301 's suggestion (https://github.com/optuna/optuna/pull/2539#issuecomment-810095018) may fit your proposal, but I guess it may be too detailed to show all properties. What do you think of it?

[code]

[2021-04-07 07:02] Leo-xh commented on #1381
I tried the example, but it seems the jobs were running alternatively. I am still wondering how to using joblib-spark within optuna.

[2021-04-07 07:53] omry commented on #2536
Yeah, seems noisy.
One option is to write those by hand per class, if you have a small number of such classes it's not too bad.
Another is to have something generic but flexible.

I got something pretty fancy [here](https://github.com/facebookresearch/hydra/blob/master/hydra/core/default_element.py#L190-L213).

It's a generic function in the base class that is calling [_get_attributes and _get_fla

[2021-04-07 13:48] FelixNeutatz opened #2572 "Large number of binary hyperparameters"
Dear all,

I am currently experimenting with a large number of binary hyperparameters (>1k/10k). Unfortunately, Optuna is getting slow when I use the TPESampler and I do not want to use random sampling. Do you have any tip for me how to apply Bayesian optimization here?

Thank you for your help.

Best regards,
Felix

[2021-04-07 21:52] fsmosca commented on #2572
What is binary hyperparameters?

What is the slow down from using 10 param to 1k param?

In TPE you can use multivariate=True if you want the sampling to consider dependencies among parameters. By using TPE sampler you are already using bayesian optimization. Do you mean other optuna samplers?

[2021-04-07 23:26] #2092 closed

[2021-04-08 09:59] FelixNeutatz commented on #2572
Hi @fsmosca,

thank you for your quick response. The multivariate idea was a good tip.

Here, is a toy example of what I mean:

[code]

This yields the following numbers:
![image](https://user-images.githubusercontent.com/5217389/114007503-b1f7f880-9861-11eb-8444-1cc134c1e934.png)

Is there any way to make this faster and more scalable with respect to the number of parameters?

Best regards,
Felix

[2021-04-08 15:54] Turakar opened #2574 "Concurrency Support of CMA-ES Sampler"
In the docs of the [CMA-ES Sampler](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.samplers.CmaEsSampler.html#optuna.samplers.CmaEsSampler) one can find the following paragraph:

How severe is this "room for performance improvements"? I currently use TPESampler for tuning my VAE network, but I want to try CMA-ES because it looks very promising (esp. the restart mechanism to esc

[2021-04-08 23:24] #2101 closed

[2021-04-09 10:16] fsmosca commented on #2572
Here is a comparison with different sampler/optimizers.

Notes:
1. cmaes when optimizing at 2k params almost used all my 4-core/8-threads processing power. This needs to be reported as it should not use my cpu at 90 to 95% without prior knowledge.
2. bayes_opt is from https://github.com/fmfn/BayesianOptimization, this is not in optuna. I used it via nevergrad.
3. I will not complete the test on 10

[2021-04-09 14:33] geoffsmith opened #2575 "Trial best score when pruned"
Hi!

I'm using optuna to tune a neural net where for some hyper-parameters, the model overfits quite quickly (e.g. larger capacity /  higher learning rate). I've added early stopping (using pytorch-lightning) to stop early if the val_loss is getting worse after several epochs. Because of this, I'm returning the **best** validation loss from the objective function, not the last one. However, I've n

[2021-04-10 05:25] keisuke-umezawa commented on #1136
@VladSkripniuk cc: @toshihikoyanase @hvy

Sorry for being late for updates.

I discussed it with the other developers, and we concluded it as follows:

1. The intervals for reporting and pruning should be configured separately.
2. Pruners should have the information of pruning interval, whereas callbacks should have the information of reporting interval.

Currently, I am implementing the above fea

[2021-04-10 15:30] fsmosca commented on #2575
Which pruner did you use?

[2021-04-10 15:35] geoffsmith commented on #2575
HyperBand

[2021-04-10 16:05] Akkarine opened #2579 "How to make search algorithms sometime re-evaluate already searched areas for models that change over time?"
Case:
I want to automate forecasting with [Prophet](https://github.com/facebook/prophet) for some physical process. Process can slowly or suddenly change behavior. So models, that worked before, may fail over time, but some fundamental characteristics will not change. In other words, some hyperparameters still has same importance.

Question:
If I want to benefit from parallelizing and saving resul