[2022-06-08 06:28] #1576 closed

[2022-06-08 07:11] #3464 closed

[2022-06-08 14:42] l-cdc commented on #2575
I am having the same issue, and I do not have the impression that it has been answered. I find @fsmosca's last comment ambiguous – depending on the interpretation, it might or might not agree with the following.

Overall, the key issue is that there is a mismatch between what is reported to optuna (usually the epoch validation loss), and the "actual" performance, which is given by the best perform

[2022-06-09 08:30] nzw0301 commented on #3646
Thank you for sharing your investigation! We've not fixed the optuna codebase for the next lightgbm release, so your code suggestion would be helpful!

[2022-06-09 08:36] #3625 closed

[2022-06-09 11:45] #3556 closed

[2022-06-09 12:12] contramundum53 commented on #3582
@nzw0301 We can directly use `dataset_api` in `naslib`. That is what I did with NasBench201.

[2022-06-09 12:53] nzw0301 commented on #3582
In my understanding, it requires the models because [this part](https://github.com/automl/NASLib/blob/1dd550774821799405e9a8295d4d7638e49983dc/naslib/utils/get_dataset_api.py#L55-L93), which is called via `naslib.utils.dataset_api` to load naslib301, explicitly load the model file.

[2022-06-10 02:37] contramundum53 commented on #3582
I see, it seems that NASBench301 is implemented in a different way from NASBench201. It might be better not to use `naslib`.

[2022-06-10 03:52] yingjianling opened #3652 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'NotImplementedType'"
### Expected behavior

No bugs reported

### Environment

- Optuna version:2.10.0
- Python version:3.8.5
- OS:Linux-4.15.0-142-generic-x86_64-with-glibc2.10
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

1.optuna param config by toml
config_for_param.toml
[code]
2.
[code]
3.
[code]

### Additional context (optional)
1. p

[2022-06-10 11:09] nzw0301 commented on #3652
I suppose the error does not come from Optuna. Unfortunately, the code is not reproducible since it requires some external packages and files, so we find it difficult to investigate it, I'm afraid.

[2022-06-10 13:12] isaacncz opened #3655 "Rerun failed study trial"
### Environment

- Optuna version:2.10.0
- Python version:3.8.10
- OS:Linux-5.13.0-48-generic-x86_64-with-glibc2.29
- (Optional) Other libraries and their versions: sb3 v1.5.0

### Description

I would like to ask whether the if the state of the trial failed, will the hyperparameters be revisited in the future trial?
![image](https://user-images.githubusercontent.com/49158607/173071676-794c3687-c2

[2022-06-10 19:15] nzw0301 commented on #3655
To the first question: [`optuna.storages.RetryFailedTrialCallback`](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.storages.RetryFailedTrialCallback.html) might be helpful to re-run the failed trials.

[2022-06-10 20:18] pseudotensor opened #3656 "cost-loss search"
### Motivation

https://arxiv.org/abs/2005.01571

### Description

I notice many times optuna chooses (even at very first) a very expensive hyperparameter, like max_depth=20 if it happens to be in the range.  This strategy seems poor and only seems to be done to prime the BO with the boundaries.

It would be better to take an approach like FLAML.

Is this possible in Optuna today?

### Alternative

[2022-06-11 05:05] #3617 closed

[2022-06-11 05:25] keisuke-umezawa commented on #3626
Thank you for the question!

As you ran this optimization with 8 process, at the beginning of the optimization, there are no results of trials, and the `TPESampler` sampler suggests the same hyper parameters 8 times.

For the feature to suggest different parameters even if the study has the same results of trials, we call it as `Batch Optimization`. `TPESampler` sampler naturally does not have Bat

[2022-06-11 05:42] keisuke-umezawa commented on #3644
Optuna does not expect such a use case, but let me think about ad-hoc solutons.

### Option 1
At first, run `train_model_A.py` and you can get a series of trials. You will enqueue the parameters of the series of trials.

[code]

Option2
Get params from the study, and kick training in the sub processes.

[code]

I have not fully understand your use case, but how about those solutions?

[2022-06-12 06:46] #3558 closed

[2022-06-13 02:08] yingjianling commented on #3652
The error is related to the toml passing paramters incorrectly. Thanks for replying.

[2022-06-13 02:08] #3652 closed

[2022-06-13 07:29] Rexhaif opened #3661 "Add best score reporting into progress bar"
### Motivation

It becomes quite inconvenient to scroll through hundreds of optuna run logs in jupyter notebook to find what is the current best score(s). At the same time, progress bar always stays on  top of the output cell, and it would be easy to track current best score via progress bar description line. Also, it is already implemented in LightGBM integration: https://github.com/optuna/optuna

[2022-06-13 15:17] eugeborzone commented on #3626
Keisuke-umezawa tanks for the answer. In my next experimentg `constant_liar` option.
The experiment commented in the question was already started by a grid serch, and then i change to `TPESampler`.
In any case, thank you very much.

[2022-06-14 10:16] knshnb opened #3669 "Add recommended setting for batch optimization"
### What is an issue?

There are several recommended settings for efficient batch optimization, such as the followings.

- set `popsize` to a multiple of batch size in `CmaEsSampler` (supported by #3649).
- set `constant_liar=True` in `TPESampler`.

We can add these points in [the tutorial of batch optimization](https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/009_ask_and_tell.html#batc

[2022-06-14 13:19] toshihikoyanase opened #3670 "Infinite loop in `TPESampler`"
### Expected behavior

`TPESampler` should work with `n_startup_trials=1` when we apply it to multi-objective optimization problem.

### Environment

- Optuna version: 3.0.0rc0.dev
- Python version: 3.8.10
- OS: ubuntu 20.04 (on WSL2)
- (Optional) Other libraries and their versions: N/A

### Error messages, stack traces, or logs

[code]

The corresponding code is shown below:
https://github.com/op

[2022-06-14 19:00] #3573 closed

[2022-06-14 22:33] pnkov commented on #3605
@c-bata Thank you for providing an example. I've managed to modify it to force the bug appearance by concurrency and requesting immediate vacuum from postgres. In theory, none of that is necessary due to postgres docs. In practice, the main reasons of changed output order are `update` and `delete` statements and scheduled `autovacuum` executions.

[code]

And my output looks like this:

[code]

[2022-06-15 01:09] c-bata commented on #3605
@pnkov Thank you for your reply! Now I'm succeeded to reproduce the bug.

https://github.com/c-bata/optuna-issue-3605/blob/main/example.py

[code]

I thought PostgreSQL returns the records in the order of primary keys as InnoDB (MySQL) does. However, it is seemingly not ensured. I found a stackoverflow's page that mentioning about it.
https://stackoverflow.com/questions/13190720/what-is-the-order-

[2022-06-15 02:30] knshnb opened #3671 "Improve constrained TPE"
### Motivation

The constraints option was supported in `TPESampler` by #3506. There might be room for improvement in how to define weights of infeasible trials for `_ParzenEstimator`.

### Description

Copy-paste from https://github.com/optuna/optuna/pull/3506#issuecomment-112460494.

### Alternatives (optional)

_No response_

### Additional context (optional)

_No response_

[2022-06-15 03:23] HideakiImamura opened #3674 "The `optuna.samplers._tpe.sampler._calculate_nondomination_rank` should consider `+/-inf`"
### Expected behavior

The `optuna.samplers._tpe.sampler._calculate_nondomination_rank` should consider `+/-inf`.

As shown in [here](https://github.com/optuna/optuna/pull/3662#discussion_r895497654), the current `optuna.samplers._tpe.sampler._calculate_nondomination_rank` returns `[0., 0., ... 0.]` if the trials include `+/-inf` as objective values. I think it should be as follows.

Let the numbe

[2022-06-15 03:33] HideakiImamura opened #3675 "The `optuna.samplers._tpe.sampler._calculate_weights_below_for_multi_objective` should return `[]` when `indices=[]`"
### Expected behavior

The `optuna.samplers._tpe.sampler._calculate_weights_below_for_multi_objective` should return `[]` when `indices=[]`, but it raises an `IndexError`.

### Environment

- Optuna version: current master https://github.com/optuna/optuna/commit/d3c53e053a18341405cdfc9587d4525fdce7494d
- Python version: 3.9
- OS: mac, linux
- (Optional) Other libraries and their versions:

### Err

[2022-06-15 03:41] HideakiImamura opened #3676 "The `optuna.samplers._tpe.sampler._calculate_weights_below_for_multi_objective` should consider `+/-inf`"
### Expected behavior

Should be resolved after #3674.

The `optuna.samplers._tpe.sampler._calculate_weights_below_for_multi_objective` should consider `+/-inf`.

Currently, the `nan`'s list is returned when the trials include `+/-inf` as objective values, but it should return the list of floats. This might be fixed in #3674.

### Environment

- Optuna version: current master [d3c53e0](https://git

[2022-06-15 03:59] HideakiImamura opened #3677 "The `optuna.samplers._tpe.sampler._solve_hssp` should consider `+/-inf`"
### Expected behavior

The `optuna.samplers._tpe.sampler._solve_hssp` should consider `+/-inf`.
As shown in [here](https://github.com/optuna/optuna/pull/3662/files#r895502801), currently it does not take into account +/- inf, so it behaves unnaturally. Ideally, one would expect the following in a two-dimensional setting.

[code]

The problem may lie in the module that calculates the hypervolume. `

[2022-06-15 14:46] rm17tink opened #3680 "Lightgbm UserWarning: `step` X is already reported."
### Expected behavior

I am getting warnings for every step using lightgbm and optuna on python 3.8

### Environment

- Optuna version: '2.10.1'
- lightgbm: '3.3.2'
- Python version: 3.8
- OS: Linux
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

[code]

### Additional context (optional)

_No response_

[2022-06-15 17:53] PhillipMaire commented on #3255
Could someone elaborate on the solution here? Is there an example of how to properly resume an optuna study in such a way that it is identical to a study that was never stopped in the first place?  so like
study_1 = (set seed) run 10 trials --> (use same seed) run 10 more trials
study_2 =  (set seed) run 20 trials

study_1==study_2, or results are approximately equal

is it all as simple as not se

[2022-06-15 23:05] #3297 closed

[2022-06-16 02:48] c-bata opened #3681 "matplotlib's plot_contour() method raise an error when given dynamic search space."
### Expected behavior

As plotly's plot_contour() can handle dynamic search spaces properly, matplotlib's plot_contour() method should be able to accept dynamic search space.

### Environment

- Optuna version:3.0.0rc0.dev
- Python version:3.9.11
- OS:macOS-12.3.1-x86_64-i386-64bit
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to rep

[2022-06-16 05:21] gunnxx commented on #372
Hi @crownwang301 , you have error because of the following lines
[code]
Optuna already registered for hyperparameters named `'optimizer'`, there will be two choices only ie. `['RMSprop', 'SGD']`. However, in the next line, you create another hyperparameters named `'optimizer'` with different choices. This is called dynamic value space and apparently Optuna has no dynamic value space feature for `s

[2022-06-16 14:11] kailkuhn opened #3684 "usage of track_in_mlflow() when the MLflowCallback function is in a different script."
### Environment

- Optuna version:  2.10.0
- Python version: 3.7
- OS: MacOS

### Description

I'm trying to implement the decorator track_in_mlflow() in my objective function in order to track more metrics when optimizing my model, but I can't get it to work because my functions are in different scripts. Can someone point me in the right direction?

### Error messages, stack traces, or logs

[cod

[2022-06-16 14:54] #3626 closed

[2022-06-16 22:22] dkobayas-cyber opened #3685 "How to early-stop optimization when reaching to a certain threshold"
### Environment

- Optuna version: 2.10.0
- Python version: 3.8.8
- OS: Windows10

### Description

Hi, I'm a beginner at Optuna. I wrote the code below to minimize `FullHPFunction`. The smallest possible value of the objective function is 0, so I'd like to stop the optimization once it becomes 0. Do you have any advice on how to do that?
[code]
I thought #966 seems to be relevant and tried using

[2022-06-17 06:59] HideakiImamura opened #3687 "An invalid `weights` argument of `TPESamper` does not raise any error"
### Expected behavior

If we pass an invalid `weights` to `TPESamper`, it does not raise any error. We should raise an `ValueError` for those ivalid `weight`s. Examples of invalid `weight`s are as follows.

[code]

### Environment

- Optuna version: current master https://github.com/optuna/optuna/commit/b213753a816689a97b6433e1e780ca32c4293e07
- Python version: 3.9
- OS: mac
- (Optional) Other lib

[2022-06-17 07:20] stestagg opened #3688 "Allow passing-in the list of Trials for the contour plot"
### Motivation

I have a study with ~1,200 trials and 10 parameters, and am trying to view the results as a contour plot.  I do like seeing all the parameters in one matrix.

Unfortunately, the plotly generated HTML is ~70mb large and vs code and browsers really hate opening it.

### Description

It would be lovely to be able to pass in the list of trials to use for the scatter overlay, allowing u

[2022-06-17 09:07] #3680 closed

[2022-06-17 09:13] nzw0301 commented on #3685
Indeed, `StopStudy` is not in the optuna codebase anymore. We can use `study.stop_study()` method instead:

[code]

[2022-06-17 09:23] nzw0301 commented on #3688
Hi, one workaround is to use [`Study.add_trials`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.add_trials):

1. extract a sub-set of trials from the original study that contains many completed trials.
2. Add the extracted trials by calling `add_trials` to a new study as in the example code of [`Study.add_trials`](https://optuna.readthedocs.

[2022-06-17 15:38] dkobayas-cyber commented on #3685
@nzw0301 Thanks! In my case, I defined the callback function like below and it seems to work!
[code]

[2022-06-17 15:54] nzw0301 commented on #3685
Brilliant! Let me close this PR.

[2022-06-17 15:54] #3685 closed

[2022-06-17 15:56] connorbrinton opened #3692 "Contour plot color scale different from other visualizations"
### Expected behavior

Optuna's [parallel coordinate](https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visualization.plot_parallel_coordinate.html), [slice](https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visualization.plot_slice.html) and [pareto front visualizations](https://optuna.readthedocs.io/en/stable/reference/visualization/g

[2022-06-17 18:01] nzw0301 commented on #3692
Hi, thank you for creating the detailed issue. Fortunately, this bug has been fixed in the master branch by https://github.com/optuna/optuna/pull/3376. We can confirm that on the documentation with the latest version: https://optuna.readthedocs.io/en/latest/reference/visualization/generated/optuna.visualization.plot_contour.html.

[2022-06-17 18:01] #3692 closed

[2022-06-17 18:24] connorbrinton commented on #3692
Ah, perfect, thank you! 😄 🎉 Sorry for the noise! 😅

[2022-06-19 20:17] crownwang301 commented on #372
thak you so much!!!!!

[2022-06-19 22:23] lowballedintern opened #3694 "TPE Sampler n_jobs > 1 using information from other trials?"
### Environment

- Optuna version:
- Python version:
- OS:
- (Optional) Other libraries and their versions:

### Description

**Question:**

- I would like to know if TPE Sampler makes use of the information returned from other parallel trials when n_jobs > 1 or are all parallel trials independent?

e.g. if I run TPE sampler for 20 trials with n_startup_trials = 3 and n_jobs = 2:

Do 2 independent

[2022-06-19 23:05] #3326 closed

[2022-06-20 10:25] nzw0301 commented on #3684
Hi, could you share __minimal__ reproducible codes with us? In addition, could you explain how not to work in the code?

[2022-06-20 13:59] valentindoering opened #3699 "Type-Checking for the objective function"
### Motivation

<img width="889" alt="Screenshot 2022-06-20 at 15 52 58" src="https://user-images.githubusercontent.com/54007786/174617322-a3d59f44-3020-4af8-a35e-f63abcd81404.png">
This is the error, if you accidentally return a string in the  provided objective function. A type assertion would have saved me 2h hours of debugging.

(number of values - 18 - was the length of the string, the number

[2022-06-20 18:30] rm17tink commented on #3680
Could you tell me how to repress it then?

[2022-06-20 19:05] nzw0301 commented on #3680
I think either way

1. Not report intermediate values multiple times https://github.com/optuna/optuna/issues/3680#issuecomment-1158666391
2. Change the logger level as commented out in the code.

[2022-06-21 08:59] WaterKnight1998 commented on #2843
Hi, any news on this? What about using an embedded DB in Spark Driver and connecting Workers to it?

[2022-06-21 10:38] WaterKnight1998 commented on #1381
Could you share an example, please? @HideakiImamura

[2022-06-21 12:50] nzw0301 commented on #3582
Let me unassign myself once from this issue because Nasbench301 search space is a little bit complicated; it takes time to move forward this PR.

[2022-06-21 20:35] mreitschuster opened #3709 "Feature importance should consider pruned trials"
### Motivation

see also [this discussion/help request](https://github.com/optuna/optuna/discussions/3703) and [PR that updates the docs to describe current behavior](https://github.com/optuna/optuna/pull/3707).

With f1 and f2 as features/tuned hyperparameters
[code]

My expectation from a feature importance analysis is that it shows that f1 is more important than f2 - if I want to maximize the v

[2022-06-22 19:48] nzw0301 opened #3712 "Revert changes introduced by PR#3651 after next release of MLFlow"
### Motivation

https://github.com/optuna/optuna/pull/3651 has introduced chunking to send too long tag/metric/params to avoid mlflow's API limit. Hopefully, mlflow itself will handle this case by https://github.com/mlflow/mlflow/pull/6052, so Optuna doesn't need the logic introduced by #3651 with the next mlflow version anymore.

### Description

Revert all changes introduced by #3651 after the n

[2022-06-22 22:15] sjiang2018 opened #3713 "create a study with history"
### Don't use GitHub Issues to ask support questions.

Is there a way to create a study with bunch of tried (parameter, value) points?

[2022-06-23 09:41] manza-ari opened #3715 "Trial 2 failed, because the value None could not be cast to float."
### Expected behavior

I want to find optimal milestones (SGD optimizer) for my model but facing above error

`
# OPTUNA Learning Rate and Optimizer

                optuna_milestone_min =  optuna_trial.suggest_int('milestones' , 1, 30, step = 5)
                optuna_milestone_max =  optuna_trial.suggest_int('milestones' , 1, 30, step = 5 )

                # Loss, criterion and scheduler (re)in

[2022-06-23 09:54] #3605 closed

[2022-06-23 14:38] nzw0301 commented on #3715
I'm sure that this is not the bug of Optuna; the objective function returns `None` instead of `float` as in the message.

Since the code is reproducible and the objective function is not in the issue description, we could not investigate this issue. However could you take a look at the following comments:

1. Use unique param name for min/max milestone. `optuna_milestone_max =  optuna_trial.sugges

[2022-06-23 14:38] #3715 closed

[2022-06-23 14:43] nzw0301 commented on #3713
Please do not use github issue for asking the question by following the issue template.
Yes, I suppose either `enqueue_trial` or `add_trials` on https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study is what you want.

[2022-06-23 14:43] #3713 closed

[2022-06-23 23:05] #3325 closed

[2022-06-23 23:05] #3203 closed

[2022-06-24 01:55] 29Takuya commented on #3579
@not522 Let me work on another one, `--disallow-subclassing-any`.

[2022-06-24 04:14] HideakiImamura opened #3716 "Consider other performance metrics than the pareto front plot for multi-objective benchmark"
### Motivation

Recently, we have introduced the multi-objective benchmark suite in Optuna. The current performance metric is only the pareto font plot. It is difficult to judge the performance from the picture. We would like to know other quantitative performance metrics.

The current pareto front plot looks like this.
![zdt3-tpesampler-e27ba2cf7d6e48fd5a5e66950810cccd25aa56a7b573838262bd4d41e56d

[2022-06-24 04:19] HideakiImamura opened #3717 "Fix the WFG1 test problem in the multi-objective benchmark"
### Expected behavior

It should be possible to take a benchmark on the WFG1 test problem, but the current generated plot looks empty.
You need to fix https://github.com/optuna/optuna/tree/master/benchmarks/kurobako/problems/wfg.

![wfg1-tpesampler-0a1cbb4375ead2298b22e97c2d0fc217b0ce8bc4f3761d843cc57a43e8822f95](https://user-images.githubusercontent.com/38826298/175461302-e9a986e3-733c-4f76-a2d0-

[2022-06-24 04:25] HideakiImamura opened #3718 "Fix the `report.md` of the `kurobako` for multu-objective optimization"
### Expected behavior

Based on #3716.

The current `report.md` generated by `kurobako` in the multi-objective optimization is unnatural. See below. The column of Best and AUC are NaN. If we introduced #3716, we should fix the `report.md`.
[code]

[Note] This change may be a change to be made to kurobako rather than Optuna. However, if the metrics are provided as Optuna's own implementation, it is

[2022-06-24 04:34] HideakiImamura opened #3719 "Fix the pareto front plot to only consider the trials in one study"
### Expected behavior

Recently, the benchmark for multi-objective optimization have been introduced. We can run different settings in the one workflow. Each setting can have several studies. Each setting generates one pareto-front plot. This means it aggregates all studies in each setting. But, I think it should not, that is, each setting should generates several pareto-front plots for each study

[2022-06-24 04:48] 29Takuya commented on #3579
I found some errors related to `—disallow-subclassing-any`  are caused by missing imports of integration modules.

[Mypy's document](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-disallow-subclassing-any) says:

Since optuna enables `--ignore-missing-imports`, and  integration modules are not always installed, we often face the above situation.

I shared this issue with @n

[2022-06-24 05:15] contramundum53 commented on #2169
This issue has already been solved.

[2022-06-24 05:15] #2169 closed

[2022-06-24 05:18] HideakiImamura commented on #3656
It would be nice for discussion if anyone send a PR.

[2022-06-24 05:19] contramundum53 commented on #2614
This issue has already been solved.

[2022-06-24 05:19] #2614 closed

[2022-06-24 05:21] contramundum53 commented on #2662
This issue has already been solved.

[2022-06-24 05:21] #2662 closed

[2022-06-24 05:26] HideakiImamura commented on #3630
I think the option 1 is good, since it is user-friendly. We should add a check about this.

[2022-06-24 05:27] HideakiImamura commented on #3586
Let me close this PR since we have finished the prototyping.

[2022-06-24 05:29] manza-ari commented on #3715
Thank you so much for your response!
Yeah, right. I agree with you, I did the following changes so OPTUNA can suggest an optimal value for the start and end of milestones for the optimizer.  but still facing the same error.
`
optuna_milestone_min =  optuna_trial.suggest_int('milestones_min' , 10, 15, step = 5)
optuna_milestone_max =  optuna_trial.suggest_int('milestones_max' , 15, 30, step = 5 )
`

[2022-06-24 05:30] HideakiImamura commented on #3450
I think it would be nice to allow the multiple intermediate values. I would like to know other opinions.

[2022-06-24 05:35] HideakiImamura commented on #3404
Currently, GitHub discussions are open. Can I close this issue?

[2022-06-24 05:35] HideakiImamura commented on #3404
Let me close this issue. Please feel free to reopen this if you have any concerns.

[2022-06-24 05:35] #3404 closed

[2022-06-24 05:38] HideakiImamura commented on #3365
It would be great that anyone conduct a survey about this. If `RDBStorage` can support this with few lines, it should be fixed. Otherwise, we can implement other storage class or publish other software to support Oracle DB.

[2022-06-24 05:40] contramundum53 commented on #3206
This issue has already been addressed.

[2022-06-24 05:40] #3206 closed

[2022-06-24 05:44] HideakiImamura commented on #3116
Let me close this issue. We will work on the remaining followup task in the unifying different backends and tests.

[2022-06-24 05:44] #3116 closed

[2022-06-24 05:44] HideakiImamura commented on #3225
Let me close this issue since we have finished all of this tasks.

[2022-06-24 05:44] #3225 closed

[2022-06-24 07:43] not522 commented on #3670
I found this issue also occurs with `n_startup_trials=0`.

[2022-06-24 07:56] not522 commented on #3579
The remaining options seem tough, so I removed the "good first issue" label.

[2022-06-24 08:00] 29Takuya commented on #3579
FYI: I found similar issue with https://github.com/optuna/optuna/issues/3579#issuecomment-1165192118 for `--disallow-untyped-decorators`.

When `pytest` module is missing, its decorators like `@pytest.mark.parametrize` and `@pytest.fixture` are treated as untyped, which produces errors as below. (a few lines were picked, 580 errors in total)
[code]

[2022-06-24 08:09] g-votte commented on #2974
Here is the initial version of Optuna Test Guidelines. Please feel free to post any feedback or suggestion.
https://github.com/optuna/optuna/wiki/Test-Guidelines

We'll continue to fix existing tests based on the guidelines above.

[2022-06-24 10:36] knshnb opened #3723 "Seemingly unnecessary assert in `_calc_crowding_distance`"
### What is an issue?

There are several assertations that seem to be unnecessary from their types (`FrozenTrial.values` is `Optional[List[float]]`) in `NSGAIISampler`.

https://github.com/optuna/optuna/blob/7f40f9b458ca8946cc7458c8224fdbbbf36e4097/optuna/samplers/nsgaii/_sampler.py#L419-L420
https://github.com/optuna/optuna/blob/7f40f9b458ca8946cc7458c8224fdbbbf36e4097/optuna/samplers/nsgaii/_sam

[2022-06-25 06:57] #3616 closed

[2022-06-26 07:39] keisuke-umezawa opened #3724 "Use test stubs of samplers where we can in unit tests using samplers"
### Motivation

To make unit tests using samplers deterministic , we would like to use test stubs instead of instances which have non-deterministic behaviors. In this issue, we would like to use test stubs for samplers (e.g. DeterministicRelativeSampler, FirstTrialOnlyRandomSampler) where we can so that we make unit tests using samplers deterministic.

Furthermore, to make unit tests using sampler

[2022-06-26 12:18] keisuke-umezawa commented on #3694
Optuna stores trial results into a unique storage, and it is designed to be accessed across parallel processes even they are distributed. So, your Scenario 2 is the expected behavior.

[2022-06-27 05:00] #3655 closed

[2022-06-27 05:32] pseudotensor opened #3727 "live lock hang in suggest_float"
### Expected behavior

No hang

### Environment

- Optuna version:3.0.0
- Python version:3.8.12
- OS:Linux-5.4.0-74-generic-x86_64-with-glibc2.10

### Error messages, stack traces, or logs

[code]

gdb:

[code]
[code]

[2022-06-27 05:49] nzw0301 commented on #3727
Hi, could you share minimal reproducible codes with us?

[2022-06-27 05:59] contramundum53 commented on #2943
There has been some discussions and more TODOs have been found. We will close this issue.

[2022-06-27 06:00] HideakiImamura commented on #3618
This is resolved in https://github.com/optuna/optuna/pull/3597. Let me close this issue.

[2022-06-27 06:00] #3618 closed

[2022-06-27 06:00] pseudotensor commented on #3727
@nzw0301 See above note.

[2022-06-27 06:00] HideakiImamura commented on #3582
Let me remove the v3 label since this is out-of-scope of v3.

[2022-06-27 06:06] HideakiImamura commented on #3579
@29Takuya Thanks for the investigation. I think we should skip `--disallow-untyped-decorators` too.

[2022-06-27 06:06] nzw0301 commented on #3727
How about the code that causes the error above? Otherwise, we cannot investigate this issue due to the lack of information.

[2022-06-27 06:08] HideakiImamura commented on #3572
This issue is resolved in #3575. Let me close this issue.

[2022-06-27 06:08] #3572 closed

[2022-06-27 06:09] HideakiImamura commented on #3565
We should add a document for this in this issue.

Making the `constant_liar` option available in the multi-objective optimization is a future work.

[2022-06-27 06:10] nzw0301 commented on #3723
Let me confirm the condition to resolve this issue. To resolve this issue, we remove the `assert` lines, right?

[2022-06-27 06:15] contramundum53 commented on #3418
This seems to be solved in #3510. We will close this issue.

[2022-06-27 06:17] nzw0301 commented on #3418
I'm afraid not. As in https://github.com/optuna/optuna/blob/master/setup.py#L109, Optuna doesn't support the latest stable version: `1.6.*`.

[2022-06-27 06:20] HideakiImamura commented on #3511
I confirmed that the there is no error with the current master and `catboost==1.0.6` (latest one). We can just remove the line of `@pytest.mark.skip(reason="Temporally skip due to unknown CatBoost error.")`.

[2022-06-27 06:27] pseudotensor commented on #3727
If it repro'd I've reduce the code down, but it doesn't so I don't.

I know you can't investigate, but others might have the same issue and have some insights.  It's probably a bug in scipy.

[2022-06-27 06:32] nzw0301 commented on #3418
Sorry, I mentioned the wrong line. It should have been https://github.com/optuna/optuna/blob/fd575d04cebae8b471e72aa890e4a4cb052aa083/.github/workflows/tests-integration.yml#L79.

[2022-06-27 06:36] nzw0301 commented on #3727
Thanks, it makes sense. Since the bug sounds stochastic and comes from TPESampler w/ scipy, it might be reproducible by fixing the random seed.

[2022-06-27 08:03] nzw0301 opened #3729 "Make MPI test more stable"
### Motivation

Optuna has a few tests for parallel computing, concretely, [chainermn](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.integration.ChainerMNStudy.html) and [ddp pytorch](https://optuna.readthedocs.io/en/latest/reference/generated/optuna.integration.TorchDistributedTrial.html) as in [`.github/workflows/tests-mpi.yml`](https://github.com/optuna/optuna/blob/96b7fe7b

[2022-06-27 13:40] nzw0301 commented on #3723
Thank you for your reply! Indeed, these `assert`'s were introcued by [the PR](https://github.com/optuna/optuna/pull/1163/files#diff-14f2865f988b384b170ba36d1acb204b36f4b1c4ba470526f5bd22ed82f34a15R262-R263) of the implementing nsga2 sampler, I'm also not sure that...

[2022-06-27 16:02] kailkuhn commented on #3455
is there a possibility to pass multiple arguments to the objective function when using the @mlflc.track_in_mlflow() decorator? It hasn't really worked for me.

[2022-06-27 23:15] lowballedintern commented on #3694
That's awesome! Thanks!

[2022-06-28 13:12] stek90 opened #3733 "How to make optuna best trial reproducible for BERT model?"
Dear all,

first of all: I'm very new to this community, so please forgive me when this is the wrong place for my question or it lacks necessary information (feedback is welcome).

My question relates to the reproducibility of a best trial from optuna hyperparameter optimization of a pretrained BERT model and is related to the issues #1487 and #975.

Here is my general workflow:
1) Load and instal

[2022-06-28 16:32] nzw0301 commented on #3733
Could you use [github discussions](https://github.com/optuna/optuna/discussions) instead of question issue as mentioned in [the issue template of Optuna](https://github.com/optuna/optuna/blob/master/.github/ISSUE_TEMPLATE/questions-help-support.yml)?

[2022-06-28 16:32] #3733 closed

[2022-06-30 05:32] HideakiImamura commented on #3681
This will be fixed in #3682.

[2022-06-30 06:00] HideakiImamura commented on #3245
We have decided not to take a benchmark for multi-objective optimization in Optuna V3. Let me close this issue. I will create another issue to setup the benchmark environment for multi-objective optimization.

[2022-06-30 06:00] #3245 closed

[2022-06-30 07:57] contramundum53 commented on #3675
Specifying `np.array([], dtype=np.int64)` as indices will correctly return `[]`.

[2022-06-30 23:05] #3331 closed

[2022-07-01 07:12] contramundum53 opened #3746 "Raise `ValueError` on `nan` values in constraints"
### Expected behavior

We should raise `ValueError` in samplers whenever `nan` is found in constraints.
We could check for `nan` in `after_trial` function.

* [x] NSGA-II #3740
* [ ] TPE
* [ ] botorch

[2022-07-01 10:38] Yura52 commented on #3467
Hey @hvy !

Sorry for bothering. Do you have any plans or ideas regarding this question?

[2022-07-01 11:46] JAEarly opened #3747 "Add line to Pareto front for multi-objective optimisation"
### Motivation

Currently, for the Pareto plots, the dominating points are not connected, only shown in another colour. Adding a line connecting the dominating points would make it clearer which points are on the front and which are not. I find it especially hard to distinguish between dominating and non-dominating points for the extreme lights and darks of the marker colour gradients.

### Descri

[2022-07-01 12:36] #3586 closed

[2022-07-01 12:39] nzw0301 commented on #3747
Thank you for proposing the feature and sharing the expected results! Personally, the proposed feature looks useful.

[2022-07-01 12:42] nzw0301 commented on #3712
A new stable mlflow, which includes the needed feature has been released, so we can make a pull request to close this PR.

[2022-07-01 13:45] JAEarly commented on #3747
I've created a PR: #3749

[2022-07-01 15:44] mreitschuster commented on #3709
As there seems to be no interested, I am closing the issue. The piece of code seems good enough for those who need to include the pruned trials in the feature importnace analysis.

[2022-07-01 15:44] #3709 closed

[2022-07-02 11:31] y0z commented on #3747
Hi. Thank you for your useful proposal.
I leave a brief comment that may be helpful.
This is not mandatory but can be our future work.

In this case, I think that showing [an attainment surface](https://eden.dei.uc.pt/~cmfonsec/fonseca-ppsn1996-reprint.pdf) (i.e., the connection of the front of all dominated areas) is better than simple linear interpolation.
The former is a more popular way in the

[2022-07-02 12:56] danielemingolla opened #3751 "Optuna doesn't work with Keras on Google Colab"
### Expected behavior

Hello, although I seem to have written the objective function correctly, the moment I run Optuna to perform the various tests, the program returns a message warning me that a new study has been created. After that the execution continues infinitely.
I do not understand whether this is a bug or I am doing something wrong.
Thank you very much.

### Environment

- Optuna versio

[2022-07-02 14:52] himkt commented on #3751
`create_study` always creates a new study. If you want to simply resume the study,
invoke `study.optimize` without re-creating a new study.

[code]

If you want to resume the study after terminating the colab kernel, please persistent it using `RDBStorage` or `RedisStorage`. You can see the tutorial for that (https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/001_rdb.html#sphx-glr-tutoria

[2022-07-02 22:09] nickvazz commented on #2568
Hello! I was curious if this has been implemented somewhere in a recent release. I have been using the `ask-tell` interface and find that eventually `ask` starts to become a bottleneck if I submit the params suggested. It starts taking 10-20 seconds per ask, is that expected for a study using a `TPESampler` parameter suggestion once the study has 5K+ trials?

[2022-07-03 16:17] #3751 closed

[2022-07-04 09:06] #2517 closed

[2022-07-05 23:06] #3377 closed

[2022-07-06 10:52] AraceliAL commented on #2312
You can also use `optuna.visualization.matplotlib.plot_intermediate_values(study)`

[2022-07-06 11:42] AraceliAL opened #3759 "optuna.visualization.plot_intermediate_values(study) returns an empty plot (with no data)"
### Don't use GitHub Issues to ask support questions.

Good afternoon!
I just wanted to ask if anyone knows how could I have an `intermediate_values` plot with no data (see the attached figure)

I have no problems with the other plots such as the `plot_optimization_history`
![Captura de pantalla 2022-07-06 a les 13 38 48](https://user-images.githubusercontent.com/11374937/177542201-894c4686-91db-4

[2022-07-06 13:01] nzw0301 commented on #3759
Hi, could you share minimal reproducible codes with us?

[2022-07-06 14:01] nzw0301 commented on #3759
Thanks. `plot_intermediate_values` shows a trial's intermediate values that are stored by calling [`trial.report`](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.trial.Trial.html#optuna.trial.Trial.report) method. So the current trials don't have intermediate values, the plot generates an empty plot.

[2022-07-06 14:01] #3759 closed

[2022-07-06 14:11] nzw0301 opened #3761 "Resolve `DeprecationWarning` in fanova"
### Motivation

I realised that `optuna/importance/_fanova/_tree.py` showed a warning message when pytest failed as follows.

[code]

### Description

Remove the warning message by fixing the code, otherwise, the code won't work as we expected according to the warning message.

### Alternatives (optional)

_No response_

### Additional context (optional)

### Reproducible procedures

1. Install Op

[2022-07-06 14:21] nzw0301 commented on #3761
I reckon

https://github.com/optuna/optuna/blob/a33767f68767e38f8c527576651dd5333b9472ee/optuna/importance/_fanova/_tree.py#L257-L258

returns `np.array` like [[1.3]], not flaot value. So if the value of the tree is always in this nested array, which I'm not sure, we can resolve this issue by replacing the last line with `return self._tree.value[node_index][0][0]`.

[2022-07-06 15:58] nzw0301 commented on #3761
The definition of tree value looks 3d array rather than a 1d array:
https://github.com/scikit-learn/scikit-learn/blob/a5d50cf3c7611b4343f446a97266ea77a4175afa/sklearn/tree/_tree.pyx#L567-L568

So we might need to test the case defined in `tests/importance_tests/fanova_tests/test_tree.py` too.

[2022-07-06 23:05] #3363 closed

[2022-07-07 01:38] c-bata opened #3762 "FanovaImportanceEvaluator raises ValueError when given `float('inf')` as an objective value."
### Expected behavior

Avoid to raise `ValueError` when given `float('inf')` as an objective value.

### Environment

- Optuna version:3.0.0b0
- Python version:3.9.12
- OS:Linux-5.4.0-100-generic-x86_64-with-glibc2.31

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

Execute the below code:

[code]

### Additional context (optional)

_No response_

[2022-07-07 04:22] c-bata commented on #3762
Sorry, I confirmed this bug at Optuna v3.0.0b0. But this bug was fixed at v3.0.0b1 release.

[2022-07-07 04:22] #3762 closed

[2022-07-07 04:45] #3729 closed

[2022-07-07 05:51] toshihikoyanase commented on #3677
I'm not sure if this issue is handled by `_solve_hssp`.  Rather, we may be able to handle it in secondary sort of MOTPE (i.e., sort by expected hypervolume improvement). More concretely, we can extract the trials with `inf` objective values and give them the highest (or lowest) priority before calculating `_solve_hssp`.

[2022-07-07 10:31] kailkuhn commented on #3684
The problem is, that I want to use the MLflow decorator in my objective function, while also passing self as a function argument. this doesn't work. I've tried 1000 ways. As a result of the problem, every time the function is called, I have to read in the whole dataset, instead of doing this only one time.

I would appreciate any hint. Thanks

`  # @mlflow_callback.track_in_mlflow()
    def object

[2022-07-07 20:04] JRice15 opened #3770 "Warn unused parameters in study.enqueue_trial"
### Motivation

I have run into the issue multiple times where there are slight differences between my parameter names in the objective function and when I enqueue a trial. For example:
[code]

The enqueue_trial essentially fails silently, because of the mismatch between "n_layers" and "num_layers". Specifically, optuna will ignore the supplied "num_layers", and suggest its own value for "n_layers

[2022-07-07 21:07] JRice15 commented on #3770
Somewhat related to #3630, which advocates for checking the values in the user-defined dictionary, while I am focused on the keys.

[2022-07-08 01:40] takuya29 opened #3771 "Resolve deprecated warnings of LightGBM in integration tests"
### Motivation

As mentioned in https://github.com/optuna/optuna/issues/3013 and https://github.com/optuna/optuna-examples/issues/62, some of LightGBM arguments are deprecated since v3.3.0. I found several warnings still remains in integration tests. I think it would be nice to resolve them.

### Description

According to the CI results of the latest `master` branch (https://github.com/optuna/optu

[2022-07-08 05:02] #3675 closed

[2022-07-08 06:24] HideakiImamura opened #3773 "Rewrite `bayesmark` benchmark using `kurobako` and `scikit-learn`"
### Motivation

Currently, `bayesmark` benchmark is available to use some scikit-learn benchmark problems. But, it has a different backend `bayesmark` with that of other benchamrks `kurobako. We have following drawbacks.

- Maintainability: If we want to add a feature to benchmarks, we need to fix both the bayesmark benchmark and kurobak o benchmark. In addition, bayesmark is not maintained now, s

[2022-07-08 06:46] xadrianzetx commented on #3773
Yeah, I think it makes sense given how little of bayesmark remains in benchmark. At the moments it's only used as an execution loop for sklearn problems, and since all scoring and ranking logic was re-written to match kurobako, it's probably better to use kurobako directly and avoid problems you mentioned.

[2022-07-08 07:51] #3687 closed

[2022-07-09 19:40] sidshrivastav commented on #3676
@HideakiImamura I would like to work on it.

[2022-07-09 20:04] sidshrivastav commented on #3676
@HideakiImamura hey, I tried to reproduce the issue, I think its fixed now.

[2022-07-10 23:05] #2873 closed

[2022-07-11 04:24] HideakiImamura commented on #2951
We have decided to postpone this task after V3.

[2022-07-11 04:25] HideakiImamura commented on #3676
Ops. Really?

@contramundum53 Do you have any opinions this?

[2022-07-11 04:51] contramundum53 commented on #3676
It isn't fixed in my environment 🤔
[code]

[2022-07-11 04:54] contramundum53 commented on #3676
I think the interface has changed since the description is written, we need to pass additional `None` to the argument of `_calculate_weights_below_for_multi_objective`.

[2022-07-11 05:15] sidshrivastav commented on #3676
Let me check it again.

[2022-07-11 07:20] eromoe opened #3779 "Provide call back to print trial params when objective function returned nan"
### Motivation

We may want to know why objective function returned nan  with what params .

### Description

While runing a study , I would got several
[code]
This is confused .  I think optuna should give the detail infomation or provide a way to .

### Alternatives (optional)

_No response_

### Additional context (optional)

_No response_

[2022-07-11 07:53] nzw0301 commented on #3779
To show the warming message, optuna can only use returned value. However, returning `nan` value as an objective value depends on the definition of `objective` function that users define. For example, some machine learning model has `nan` weights or users explicitly returns nan as an exceptional case on their objective functions. So it sounds difficult to give details information, I suppose.

[2022-07-11 07:55] nzw0301 commented on #3779
Sorry, your suggestion was to print params, not giving the reason. In that case, it sounds useful, indeed.

[2022-07-12 04:59] nzw0301 commented on #3779
Since core dev members are busy preparing to release the forthcoming optuna 3.0 for a while, could you create a prototype PR? I think we do not need to implement a callback. Like a complete trial, we might show suggested parameters.

[2022-07-12 04:59] nzw0301 commented on #3779
hi @eromoe
Since core dev members are busy preparing to release the forthcoming optuna 3.0 for a while, could you create a prototype PR? I think we do not need to implement a callback. Like a complete trial, we might show suggested parameters.

[2022-07-12 10:44] FrankwaP opened #3783 "PyTorchLightningPruningCallback: the stopping method crashes the training."
### Expected behavior

Note that I'm working with version 2.10.1, but a quick copy/paste from the present version shows that it behaves the same.
In each version PyTorchLightningPruningCallback stops the trial by calling `raise optuna.TrialPruned(message)`.
This abrupt way of closing causes problem with (Pytorch) multiprocessing dataloader as well as the progress bars.

The following is the log of

[2022-07-12 12:10] nzw0301 commented on #3783
Thank you for reporting your experience. I'm afraid I could not reproduce the error when I ran the code on [colab](https://colab.research.google.com/drive/1qgR1qMymG9_LZKf9MPR9vKeIv32IwDZ0?usp=sharing). Could you make the producible code on colab too?

Note that we haven't tested PyTorch-lightning 1.6.* yet as in https://github.com/optuna/optuna/issues/3418 since it has broken the backward compati

[2022-07-12 13:39] FrankwaP commented on #3783
Thanks for your reply!

You can "successfully" reproduce the problem by using more trials with `study.optimize(objective, n_trials=50)`.
Also the "THIS PRINT COMMAND WILL WORK ONLY WHEN NOT PRUNED!" is only printed for the first trial. I'm actually surprised since it suggests that the objective function crashes without returning anything, and optuna is fine with it…

I've found out how to print th

[2022-07-13 02:27] knshnb commented on #3723
Let me close this issue because it is implicitly resolved by https://github.com/optuna/optuna/pull/3743.

[2022-07-13 02:27] #3723 closed

[2022-07-13 08:16] nzw0301 commented on #3783
Thanks. The shared code looks right for single-process training. Note that we might need to call `raise optuna.TrialPruned()` explicitly after `trainer.fit` especially to enjoy the pruning functionality of Optuna.

As you mentioned, the master branch cares about the ddp training, so the introduced changes to the callback will be a little bit more complicated to support PL 1.6.*.

I suppose the rep

[2022-07-13 08:16] #3783 closed

[2022-07-14 03:57] 29Takuya commented on #3771
FYI: (Thank you @nzw0301!)

 https://github.com/optuna/optuna/pull/3191 too.

_Originally posted by @nzw0301 in https://github.com/optuna/optuna/issues/3772#issuecomment-1178795722_

[2022-07-14 03:58] 29Takuya commented on #3771
I closed #3772 since it was almost identical to #3191.

[2022-07-14 14:16] himkt commented on #3472
Hello @JRice15, what happens is it possible to raise `TrialPruned` instead making the trial fail? AFAIK, failed trials are not used in samplers to pick a new parameter configuration. Catching the Out-Of-Memory error and raise `TrialPruned` in your objective function would make a sampler not to pick a malicious configuration (although it doesn't perfectly avoid to pick such a parameter but a sample

[2022-07-14 18:15] ooghry opened #3790 "Same result in parallel nodes"
### Expected behavior

I'm using optuna with XGBoost on two different Google Colab that connect to the same MySql server, and I expect every node to calculate different trail steps. But they show the same result. I mean, I'm using `early_stopping_rounds=50`, two nodes show the same result for the 50 calculations.

### Environment

- Optuna version: 2.10.1
- Python version: 3.7
- OS: Google Colab
-

[2022-07-15 00:12] c-bata commented on #3681
I confirmed that this bug is fixed at #3682.
https://optuna.github.io/optuna-visualization-regression-tests/plot_contour.html

[2022-07-15 00:12] #3681 closed

[2022-07-15 00:18] nzw0301 commented on #3790
Hi, could you share minimal reproducible codes with us?

[2022-07-15 05:45] divyanshugit commented on #3773
@xadrianzetx are you working on it?

[2022-07-15 07:09] xadrianzetx commented on #3773
@divyanshugit, no I'm not.

[2022-07-15 10:57] Yura52 commented on #3467
Hi @HideakiImamura  ! What do you think about this issue?

[2022-07-16 13:51] ooghry commented on #3790
@nzw0301 Could you please check these two notebooks.
[notebook1](https://colab.research.google.com/drive/1rkWtDyjTo9X35eeCXIxAXJWPsVQ3IXgY?usp=sharing#scrollTo=A2kPAjkwb5Pm)   [notebook2](https://colab.research.google.com/drive/15AoD7GXVJli6IGXymV9fUWIioGcqtwnN)

[2022-07-16 14:48] nzw0301 commented on #3790
Thanks. This is not the bug. The reason for this behaviour is to fix the random seed of TPE sampler. I think trial 6 on notebook 2 had been suggested before notebook 1's trial 3 was completed. To avoid this, I'd suggest using a different random seed among processes or not fixing the random seed. As mentioned in a [FAQ section](https://optuna.readthedocs.io/en/stable/faq.html#how-can-i-obtain-repro

[2022-07-16 14:48] #3790 closed

[2022-07-17 08:24] HideakiImamura commented on #3467
Thanks for raising an issue. Currently, we have no resource to consider and add new sampler, but it would be great to submit a PR to implement that. I will review the PR if you submit it.

[2022-07-17 23:05] #3401 closed

[2022-07-17 23:05] #3400 closed

[2022-07-20 02:26] not522 opened #3795 "Remove duplicated definition of `CategoricalChoiceType`"
### Motivation

The definition of `CategoricalChoiceType` is duplicated.
https://github.com/optuna/optuna/blob/5df05086c1dd5fd8412bb2783d59f09932512bda/optuna/distributions.py#L18
https://github.com/optuna/optuna/blob/5df05086c1dd5fd8412bb2783d59f09932512bda/optuna/trial/_frozen.py#L25

### Description

`_frozen.py` redefines `CategoricalChoiceType`. We should replace it with `from optuna.distribu

[2022-07-22 03:15] pseudotensor commented on #3727
Also hung in cat part, same underlying function:
[code]

[2022-07-25 06:14] c-bata commented on #3746
@contramundum53 Do you think we can add the `contribution-welcome` label? If other contributors can work on this issue, could you please add the label?

[2022-07-25 06:34] toshihikoyanase commented on #3494
@cfkazu resolved this issue in #3777.

[2022-07-25 06:34] #3494 closed

[2022-07-25 07:21] contramundum53 commented on #3746
Actually, if #3740 is merged all of the above will be solved, so I don't think we need `contribution-welcome`.

[2022-07-25 20:21] vangarp commented on #3640
I am also looking for a way of doing this. What I want to do is
1. ask the study for a trial, get the parameter suggestions
2. use the parameter suggestions to run some trial (this trial completes later in a different process and it's value is stored in some database)
3. the next time I want to be able to "fill" the study (maybe using add_trial) with the results from the previous trial and ask for

[2022-07-26 02:05] not522 commented on #3019
This issue seems to be solved by the Sphinx update.

[2022-07-26 02:05] #3019 closed

[2022-07-27 01:21] not522 opened #3815 "Reduce warnings in unit tests"
### Motivation

The Optuna's unit tests raise many warnings, which make it hard to recognize unexpected warning messages.

### Description

We can filter expected warnings using `@pytest.mark.filterwarnings` or `warnings.simplefilter("ignore")`. Some warnings may be unexpected or unsuitable. We should fix tests or Optuna's codes in such cases.

This issue is contribution-welcome. We welcome any fi

[2022-07-27 05:07] vballoli opened #3817 "Flag to re-init wandb when a new trial is started"
### Motivation

In the following code, `study.optimize(objective, n_trials=10, callback=[wandbc])`, the callback is not "reset" in some sense, in this case wandb is not re-initialized to track the new trial. Can a flag be added to `reset_on_new_trial` to the wandb callback.  Happy to work on it if approved.

### Description

Either Wandb callback can be reset or the `optimize` method can have a bo

[2022-07-27 06:30] xadrianzetx commented on #3817
Which Optuna version are you using? `3.0.0b1` [introduced `as_multirun` argument](https://optuna.readthedocs.io/en/v3.0.0-b1/reference/generated/optuna.integration.WeightsAndBiasesCallback.html), which creates new w&b run for each trial.

[2022-07-27 09:11] c-bata commented on #3770
Hi @JRice15. Thank you for your suggestion!
I think your suggestion makes sense though it's actually a bit tricky and I have several design concerns.

For now, you can use [user-defined callback](https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/007_optuna_callback.html) to warn unused parameters as follows. Does this solve your problem?

[code]

[code]

[2022-07-27 15:16] suikula opened #3820 "suggest_float not respecting step settings"
### Expected behavior

[code]

I expect lambda_l1 and lambda_l2 search space to be :

[code]

### Environment

- Optuna version: - Optuna version:2.10.0
- Python version:   Python version:3.9.5
- OS: Ubuntu 21.04
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

1.
2.
3.
[code]

### Additional context (optional)

_No respon

[2022-07-27 16:22] vballoli commented on #3817
I'm using an older version, somehow missed these docs. Thanks a lot @xadrianzetx , closing this now.

[2022-07-27 16:22] #3817 closed

[2022-07-27 16:27] suikula commented on #3820
in optimize.py:
[code]

Looks like these values will override settings what I set in def objective()
param = {
"lambda_l1": trial.suggest_float("lambda_l1", 0, 10, step=0.1),
"lambda_l2": trial.suggest_float("lambda_l2", 0, 10, step=0.1)
}

[2022-07-27 17:12] nzw0301 commented on #3820
Hi, could you share minimal reproducible codes with us?

[2022-07-27 18:10] suikula commented on #3820
It quite hard, because this is part of way bigger complex..
I can share some of the code. Hopefully this is enough..

[code]

[2022-07-27 19:34] nzw0301 commented on #3820
Okay. Did you use `optuna.integration.lightgbm` as `lgb` or pure lightgbm? If you use the integration version, I think some of `param` that tuned in the integration will be overwritten.

[2022-07-27 19:46] suikula commented on #3820
import optuna.integration.lightgbm as lgb

Sorry I forgot to add that in..

" If you use the integration version, I think some of param that tuned in the integration will be overwritten like the shared log by you."

- is this wanted result ?
I can update the optimize.py (as I shared it earlier) to get around this problem.

[code]
- What is the purpose of this ? if one set "lambda_l1" to params the

[2022-07-27 20:05] nzw0301 commented on #3820
Yes, In my understanding, this class is a sort of wrapper class of lightgbm to tune hyper-parameters with minimal code changes. Of course, fixing a part of parameters sounds practical for some use cases.

As a workaround, I suppose https://github.com/optuna/optuna-examples/blob/main/lightgbm/lightgbm_simple.py might be a more similar example to your case.

[2022-07-27 21:11] suikula commented on #3820
Ok, thank you for this. I will check the lightgbm_simple.py .

[2022-07-27 23:05] #3306 closed

[2022-07-28 08:40] FabianSchuetze opened #3824 "Difference between `trial.number` and `trial._trial_id`"
### Don't use GitHub Issues to ask support questions.

Thanks for the wonderful work!

What is the difference between `trial._trial_id` and `trial._trial_id` and which one is used to fill the `trial_id` field in the database logs?

[2022-07-28 20:23] JRice15 opened #3826 "TPE behaves poorly with unimportant parameters"
### Expected behavior

Sometimes, we users include parameters that end up not having much of an effect, either because of a bug or otherwise just an imperfect understanding of which parameters influence the optimization outcomes. I haven't diagnosed exactly why, but it seems like when a parameter results in almost zero variance in the optimization value, and that value is close to but not the best

[2022-07-28 22:41] JRice15 commented on #3472
I have been Pruning the trials, but I do worry that it is affecting how the sampler acts. As you say, it recognizes pruned configurations as unpromising. To give a toy example, I worry that if the memory error occurs at model size 1000, but the optimal model size is 995, it may avoid the region around 1000 entirely. I'm not sure though...

[2022-07-28 23:53] not522 commented on #3826
It seems an expected behavior. Until the sampler finds option `b` can be better than `a`, it tends to sample option `a`. Here is the result with `n_trials=100` in your example.

[code]

[2022-07-29 03:33] c-bata commented on #3724
I checked the rest of test cases (`test_study.py`, `test_dataframe.py`, and `integration_tests/lightgbm_tuner_tests/test_optimize.py`). I think that using `DeterministicSampler` in these tests does not simplify these tests.

So we can close this issue after #3807 is merged.

[2022-07-29 03:36] pseudotensor commented on #3727
[code]

[code]

same thing

[2022-07-29 03:38] pseudotensor commented on #3727
I'm guessing it's because I use fork multiprocessing in python and sometimes messes up scipy.  I don't think scikpy uses openmp, but maybe it uses blas.  Although I'm using pthread version of blas.

[2022-07-29 07:25] DeLaRiva opened #3829 "Colorbar in coordinate plot for multi objectives"
### Expected behavior

When e.g. using two variables from which one has to be maximized and the other one to be minimized I'd expect that this is reflected by the colorbar (in the parallel coordinate plot).

### Environment

- Optuna version:
- Python version: Python 3.9.7
- OS: Windows10
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps

[2022-07-29 07:48] JRice15 commented on #3826
Therein lies the bug: This expected behavior you describe is not actually occurring. Note both our outputs show the sampler is aware that Trial 4 is the best trial, which uses option ‘b’ and achieves a value less than 1.0. It knows that ‘b’ is better than ‘a’ but still overwhelmingly samples ‘a’ when given the chance.

[2022-07-29 09:46] not522 commented on #3826
TPE chooses the parameter value `x` that maximizes the ratio `l(x)/g(x)`. Then, the selected value tends to be the "better" parameter (not "best"). Details are described in the original paper. https://proceedings.neurips.cc/paper/2011/file/86e8f7ab32cfd12577bc2619bc635690-Paper.pdf
As you said, trial 4 is the best. But in many "better" trials, parameter `a` is selected. Therefore, the algorithm te

[2022-07-29 16:15] nzw0301 commented on #3829
This is not the bug https://github.com/optuna/optuna/issues/3433

[2022-07-29 16:15] #3829 closed

[2022-07-31 11:53] MBelniak opened #3835 "PatientPruner incorrect operation with min_delta parameter"
### Expected behavior

Run should be pruned if performance is not improved in the last `patience` steps. min_delta determines improvement value treshold - if permormance did not improve this much, run should be pruned.
Thus, for minimizing it should be:
[code]
and for maximizing:
[code]
But, it is implemented with +/- signs the other way round.

### Environment

- Optuna version: 2.10.0
- Python v

[2022-07-31 12:06] nzw0301 commented on #3835
As you said, this is not a bug. I think that another library uses the same word in the same way, e.g., https://keras.io/api/callbacks/early_stopping/. If you think the current explanation is not clear, please feel free to send a pull request to improve the part.

[2022-07-31 12:25] MBelniak commented on #3835
From Keras documentation:
"min_delta: Minimum change in the monitored quantity to qualify as an improvement, i.e. an absolute change of less than min_delta, will count as no improvement"
This supports my claim. My reproduction snippet shows exactly that as "Correct behaviour".

[2022-07-31 13:33] nzw0301 commented on #3835
Hi, thank you for correcting my comment. You are right. The logic is not the same as keras.

[2022-07-31 14:20] nzw0301 opened #3836 "Use the latest stable scipy"
### Motivation

The current optuna is not compatibly with the latest stable scipy as mentioned in https://github.com/optuna/optuna/pull/3834.

### Description

The expected changes might be as follows:

- Remove the upper version constraint of scipy instrodcued by https://github.com/optuna/optuna/pull/3834
- Fix tests (see https://github.com/optuna/optuna/runs/7597875494?check_suite_focus=true too

[2022-08-01 03:12] keisuke-umezawa commented on #3724
@c-bata
I clarified the situation more in the issue description.

We may still need some discussion that which way should be used for `using a single value to fix suggested values`. We can discuss it in this issue.

[2022-08-01 06:28] nzw0301 commented on #3824
Could you use https://github.com/optuna/optuna/discussions instead of issue to ask the question?

[2022-08-01 06:28] #3824 closed

[2022-08-01 06:36] nzw0301 commented on #3835
Let me leave a background of this pruner. This pruner originally aimed to avoid aggressively pruning a trial as requested in https://github.com/optuna/optuna/issues/1447. So the current `min_detal` usage is supposed to be natural.

At the same time, I understand that the current behaviour might mislead users since the `min_delta`'s usage is different from other popular libraries such as keras or p

[2022-08-01 06:40] MBelniak commented on #3835
How about allowing min_delta to be negative?

[2022-08-01 06:49] nzw0301 commented on #3835
Sounds great! Such a change will not break the backward compatibility. One concern is that accepting both signs might confuse users too, so we carefully update the documentation.

[2022-08-01 12:26] DeLaRiva commented on #3829
Sorry, I'm not so familiar with github (structures). What do you mean by it is not this particular bug?
As far as I can see in the thread you are relating to, this issue/bug/request is still open?

Did you close this one here because it is already addressed?

[2022-08-01 14:24] DeLaRiva commented on #3829
Ok, thanks. May I further ask?
Shouldn't it be, sorry, no offense, be simple when checking the array of the directions and allocating reverse/inverse colorbars accordingly?
More precise, e.g. in my case the directions are ["maximize", "minimize"] so this array could be used with arg[0] for regular colorbar and arg[1] for an inverse colorbar?
But there is probably a reason why this rather simple wo

[2022-08-01 15:36] nzw0301 commented on #3829
Well, as we can see the implementation, the `target` cannot interact with other `study` attributes, such as `directions`; we cannot decide whether or not to reverse the colourmap when the target is not `None`.

If you are unhappy with the default colourmap, you can change the colourmap for both backends since these plot methods return editable figure-ish objects.

[2022-08-01 15:54] nzw0301 commented on #3829
Example:

[code]

[2022-08-02 05:49] JRice15 commented on #3826
That makes sense, thanks.

[2022-08-02 06:48] hvy commented on #3724
Note that https://github.com/optuna/optuna/pull/3807 has been merged now.

[2022-08-02 21:58] blazespinnaker commented on #733
Can we reopen this?  Adding a parameter to sample randomly would be a good idea.  It bugs out quite easily.  At the very least a doc warning would be helpful

[2022-08-03 03:09] HideakiImamura commented on #3676
We have been discussing solutions to this issue. Due to the different policies and disagreements that have emerged from the discussion, it is difficult to fix this issue before V3 and we have decided to defer fixing the issue until after V3. The following is a summary of the policies that came out of the discussion.

- Supports inf, substituting the coordinates of each point with the appropriate v

[2022-08-03 03:09] HideakiImamura commented on #3677
We have decided not to work on this in Optuna V3. See https://github.com/optuna/optuna/issues/3676#issuecomment-1203432245 for more details.

[2022-08-03 08:21] HideakiImamura commented on #3489
Some items are included in Optuna V3, but others are not. Let me remove the V3 label here.

[2022-08-03 08:23] HideakiImamura commented on #2974
We have created the Optuna Test Guidelines in Optuna V3, and fixed some tests. Let me remove the v3 label from here.

[2022-08-03 08:23] HideakiImamura commented on #2974
@g-votte Can we close this issue?

[2022-08-03 08:24] HideakiImamura commented on #2397
The constraint aware pareto front plot was introduced. The animation is the out of scope of Optuna V3. Let me remove the v3 label.

[2022-08-03 08:53] g-votte commented on #2974
Sure, let's close.

[2022-08-03 08:53] #2974 closed

[2022-08-03 09:19] evfro commented on #2575
I also feel that the original question was not unanswered.
@geoffsmith what do you think about the following workaround: during the intermediate steps, `report the current best value` instead of the latest one.

Let's say, your series of intermediate values are [0.3, 0.5, 0.2, 0.3, 0.4]. You would report [0.3, 0.3, 0.2, 0.2, 0.2]. That way, the pruner is still considering your trial and will prune

[2022-08-04 13:15] #3746 closed

[2022-08-05 04:52] g-votte commented on #3670
@29Takuya is working on this issue

[2022-08-05 11:47] DeLaRiva commented on #3829
Thank you!

[2022-08-05 15:35] blazespinnaker commented on #2021
This one is a bit tricky to do with distributed optuna as we'll need to query from storage what the historical parameters are.  I was using it for feature selection, and it's a very serious problem as it gets rather stuck in exploitation and wastes a crazy amount of cycles.  I was very surprised to see this behavior and had assumed that the sampler naturally handled this use case.

I think a good

[2022-08-05 16:05] eovallemagallanes opened #3855 "Pytorch requires_grad = False not working in objective(trial)"
### Don't use GitHub Issues to ask support questions.

Hello, I face the next issue when freezing layers in the objective function. The layers remains with requires_grad = True:

[code]

[2022-08-06 06:39] nzw0301 commented on #3855
1. Please kindly follow the github issue template that says "Don't use GitHub Issues to ask support questions."
2. I think he question is about pytorch, not optuna.

[2022-08-06 06:39] #3855 closed

[2022-08-06 09:35] manza-ari opened #3856 "hyperparameter for the Random method"
### What is an issue?

Hi,
I want to find the optimal hyperparameter for the Random method(Image-Classification) for the image dataset(CIFAR10, CIFAR100, ImageNet). The issue is when I train my model with OPTUNA the accuracy for CIFAR100 show only 50% though without OPTUNA accuracy is higher. I wonder if I am reading the graph incorrectly or if my code has some issue. I have trained this model for

[2022-08-06 17:03] nzw0301 commented on #3856
Could you kindly transfer this issue to https://github.com/optuna/optuna/discussions? Optuna repo does not use github issue for a question as in https://github.com/optuna/optuna#communication. Thank you for your understanding.

[2022-08-06 17:03] #3856 closed

[2022-08-08 05:32] nzw0301 commented on #3523
I believe the original question was addressed by the comment above. Let me close this issue.

[2022-08-08 05:32] #3523 closed

[2022-08-08 05:34] nzw0301 commented on #3461
I believe the original question was addressed by the comments above. Let me close this issue.

[2022-08-08 05:34] #3461 closed

[2022-08-08 05:36] #3479 closed

[2022-08-08 05:37] nzw0301 commented on #3478
It does not sound normal. I'm not sure why `report` takes so long time.

[2022-08-08 07:37] #3578 closed

[2022-08-08 23:11] #3712 closed

[2022-08-09 02:32] #3795 closed

[2022-08-09 06:40] HideakiImamura commented on #2964
I have collected exhaustive benchmark results to review Optuna's sampler defaults. The results and discussion are described here. Note that the experiments were conducted targeting single-objective optimization. The benchmark environment for multi-objective optimization is still under development, and the collection of exhaustive benchmark results is a future work.

The following three types of ex

[2022-08-09 06:45] HideakiImamura commented on #2964
## Result of Second Experiment

### Summary

The TPESampler algorithm differs greatly depending on whether the `multivariate` option is used or not. In this experiment, we focused our comparison on the speed variation. The results show that with the `multivariate` option set to True, the time taken to sample TPESampler decreases.

### Details

We used asv. After installing asv, you can run the spe

[2022-08-09 08:19] HideakiImamura commented on #2964
Let me close this issue since we have stopped to consider changing the default sampling algorithm. Note that we still have a lot of TODOs for Optuna's algorithms. The following are exmpales.

- https://github.com/optuna/optuna/issues/2871. We need benchmark verifications.
- Performance improvement of the `constant_liar` option of `TPESampler`. We need another benchmarking.
- Verification of the `g

[2022-08-09 08:19] #2964 closed

[2022-08-09 11:55] maxmoebus commented on #1484
Hi @toshihikoyanase,

thanks for sharing the notebook! The timeout decorator seems to prevent that parameter values get suggested. Even if trials finish, they will finish with an empty parameter dictionary and return values are identical.

In the example code below (adapted from your notebook so that trials finish before the timeout), some value for x will be suggested in the first trial, but no u

[2022-08-09 19:11] eafpres opened #3865 "PostgreSQL issue "table studies already exists""
### Expected behavior

I want to create a db, then use it for storage.  Once the db exists, I expect create study to work. However, it gives the error "table studies already exists"

### Environment

- Optuna version: 2.10.0
- Python version: 3.8
- OS: Ubuntu 20.04
- (Optional) Other libraries and their versions:
- sqlalchemy 1.4.27
- sqlalchemy-utils 0.38.3

### Error messages, stack traces, or l

[2022-08-10 03:05] nzw0301 commented on #3865
I'm not sure why we need to create a database manually; personally, I don't recommend it since the DB scheme is not consistent with tables created by Optuna.

Could you share the minimal reproducible code with us?

[2022-08-10 08:07] #3487 closed

[2022-08-10 16:10] nzw0301 commented on #3699
@valentindoering If you have any suggestions to improve the logging message (#3868) or another approach, please let us know!

[2022-08-10 16:13] eafpres commented on #3865
Here is a minimum example of "database does not exist' error:
[code]

[2022-08-10 16:32] nzw0301 commented on #3865
Thanks. I'm not familiar with postgresql, so my suggestion in https://github.com/optuna/optuna/issues/3865#issuecomment-1210096201 might be wrong.

I think you need to create a database named `2022-08-10_10_04_37_xgboost` manually. I conformed the following code works fine;

[code]

[code]

I think this is not the bug.

[2022-08-10 16:34] #3865 closed

[2022-08-11 05:30] frostyduck opened #3876 "wthite empty figures"
When I try to visualize in Pycharm, I get empty 'white' plots.

My code

[code]

I can't understand why this happens

[2022-08-11 06:07] nzw0301 commented on #3876
Hi, could you kindly create a [discussion](https://github.com/optuna/optuna/discussions) post rather than creating an issue for the question as in https://github.com/optuna/optuna#communication?

[2022-08-11 06:07] #3876 closed

[2022-08-11 08:20] jeekoong opened #3879 "Hyperparameter optimization - relationship with hyperparameter importance?"
### Don't use GitHub Issues to ask support questions.

I am using Optuna for hyperparameter optimization of neural network.
There are 5 parameters:
  dNum, un, fd : layers sizes of model / suggest_int 1 ~ 50
  lr : learning rate / suggest_discrete_uniform 1e-7 ~ 1e-5
  dc : decay / suggest_discrete_uniform 1e-7 ~ 1e-4

I use Cma-Es sampler instead of TPE, which does not consider relationship betwe

[2022-08-11 09:29] nzw0301 commented on #3879
As the issue template says

Please use the [GitHub discussions](https://github.com/optuna/optuna/discussions) instead of posting the issue to github issue.

[2022-08-11 09:29] #3879 closed

[2022-08-11 10:16] nzw0301 commented on #3761
I couldn't reproduce the result anymore on my local machine with the latest stable dependencies and latest optuna. Let's revisit this issue if we face the same warning message again.

[2022-08-11 10:16] #3761 closed

[2022-08-11 10:38] nzw0301 commented on #3836
I think the minimal example as follows extracted from https://github.com/optuna/optuna/blob/5d19e5e1f5dd9b3f9a11c74d215bd2a9c7ff43d2/optuna/samplers/_qmc.py#L281-L298

[code]

The error message is as follows:

[code]

Note that this does not happen with `qmc.Halton` instead of `qmc.Sobol`.

[2022-08-11 18:44] eafpres commented on #3865
Here is my code which automatically creates the dB before creating the study, and this works reliably:
[code]

I think this is a useful example as it avoids having to use the command line to create the dB separately, and in my case, it's nice to be able to name the dB by the study for future use and maintenance later.

[2022-08-11 23:12] blazespinnaker opened #3883 "get_all_study_summaries throws Exception: list index out of range when loading study in optuna-dashboard"
### Expected behavior

Study should load dashboard so I can visualize, traverse table of parameter info

### Environment

- Optuna version: 2.10.1
- Python version: 3.8.10
- OS:Linux-5.4.0-122-generic-x86_64-with-glibc2.29
- (Optional) Other libraries and their versions:
optuna-dashboard version is 0.7.2

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

1. Click on study

[2022-08-11 23:20] blazespinnaker commented on #3883
Some further context:  I did use pkill a couple of times on the processes running and restarted the study optimizations

[2022-08-11 23:22] blazespinnaker commented on #3883
Further note - Restarting optuna-dashboard seems to have fixed it.

[2022-08-12 03:08] nzw0301 commented on #3883
I suppose the issue is related to the optuna-dashboard, right? Could you create an issue on https://github.com/optuna/optuna-dashboard/issues instead of here for other users?

[2022-08-12 06:28] DeLaRiva commented on #3456
Hi,
is it somehow possible to convert/wrap Optuna to C++ code?
"Basically" I would only need the .create_study() and optimize() with the TPESampler so I wonder how I could let it work on C++.

Finally, I would like to run it on a µC.

[2022-08-13 17:23] leo-hstone opened #3889 "Dynamic parameter range changes break visualizations"
### Expected behavior

I use optuna to optimize filter time constants `s` for a data preprocessing pipeline.
[code]
I know, that the optimal parameters for my sample dataset are somehow distributed like this: `[600, 7000, 20000]`. The order of the values does not matter (`[600, 7000, 20000]` produces the same score as `[7000, 600, 20000]`). Therefore I limited the search space for s1 and s2.

This

[2022-08-14 14:53] nzw0301 commented on #3889
I think this issue is duplicated with https://github.com/optuna/optuna/issues/1856#issuecomment-703935388, let me close this issue.

[2022-08-14 14:53] #3889 closed

[2022-08-14 19:31] mirekphd opened #3891 "Failing assertion left in 'unreachable line' breaks HyperbandPruner"
### Expected behavior

Handle the error gracefully. For instance, remove the assertion and instead let `_get_bracket_id` return zero (most frequently returned value of `bracket_id`).

Alternatively, introduce a debug flag to make assertions conditional and avoid breaking production scripts. Another idea: use error logging instead of assertions.

### Environment

- Optuna version: 2.10.1
- Python v

[2022-08-14 23:55] #3433 closed

[2022-08-15 00:03] #3512 closed

[2022-08-15 07:55] nzw0301 commented on #3891
Hi thank you for reporting the bug. Could you share the minimal code even though the bug was not reproducible? Otherwise, fixing the bug will be difficult.

[2022-08-15 08:59] mirekphd commented on #3891
Lack of reproducibility on your own does not imply lack of solutions, @nzw0301, in fact we have at least 3:

1) Conduct a though experiment and imagine a situation when `n>0` for all `_n_brackets` so that the `return bracked_id` line is never reached. I can also provide you with the state of any other variable you like, since I can reproduce it very reliably (on private company data).

2) If you p

[2022-08-15 13:41] nzw0301 opened #3893 "`HyperbandPruner` might make optimisation irreproducible"
### Expected behavior

I'm unfamiliar with `HyperbandPruner`, so I might misunderstand the behaviour. When we run the following code in `Steps to reproduce` section, we expect the optimisation results including each trial value and trial state are the same because the pruner does not have any random seed-related argument. However, I could not get the same result sometimes.

### One example of outp

[2022-08-15 13:45] nzw0301 commented on #3893
I confirmed the following code was reproducible so I suppose pruning logic might cause this irreproducible result.

[code]

### Output
[code]

[2022-08-15 14:02] nzw0301 commented on #3891
Thank you for your explanation. I relaised that `HyperbandPruner` is not deterministic somehow, so I understand the difficulty to guarantee reproducibility. Could you share the arguments of study, sampler, and pruner? In addition, did you use [distributed optimisation](https://optuna.readthedocs.io/en/v2.1.0/tutorial/004_distributed.html)?

[2022-08-15 14:19] nzw0301 commented on #3893
Thanks to another dev member, I realised that https://github.com/optuna/optuna/blob/75b01898376afaaac1d4d819726cad219d99f58c/optuna/pruners/_hyperband.py#L248-L250 causes this unexpected behaviour. To get a reproducible result, we need to specify the `study_name` and specify `PYTHONHASHSEED` variable.

[2022-08-15 14:25] nzw0301 commented on #3891
Sorry, I realised we could guarantee the reproducible result of `HyperbandPruner`. So I suppose the reported behaviour should be reproducible by fixing `study_name`; [the random seed of sampler](https://optuna.readthedocs.io/en/stable/faq.html#how-can-i-obtain-reproducible-optimization-results) and other libraries; and `PYTHONHASHSEED` at least on your local machine.

[2022-08-15 18:20] nzw0301 commented on #3893
I think this isn't the bug, so I'll re-create this issue for readability as a feature request.

[2022-08-15 18:20] #3893 closed

[2022-08-15 19:38] mirekphd commented on #3891
OK, let me try another approach to reach out to you (I'm still hopeful). I have a question: what in the scenario described below is so terribly bad and unacceptable that it warrants breaking execution of potentially _very_ long-running studies?

(I generously assume that the assertion that breaks execution in such situations was left in the code on purpose rather than by accident and omission, as

[2022-08-16 06:53] vballoli opened #3895 "Process Timeout to filter out failed/killed tasks"
### Motivation

In order to identify tasks that were killed due to unforeseen system issues, adding a process timeout for a study can help identify tasks that are assumed running but have failed due to SIGKILL, KeyboardException, etc.  This would provide an easy way to handle all sort of errors post running experiments and save some time/resources.

### Description

In order to identify tasks that

[2022-08-16 07:12] not522 commented on #3895
I think `heartbeat` is what you want. Please see this example. https://github.com/optuna/optuna-examples/blob/bdd974c90f5d73a1be0fb00ccd928953b001ccd0/pytorch/pytorch_checkpoint.py

[2022-08-16 11:32] vballoli commented on #3895
Yep, this and grace period with some manual tuning helps solve my issue. Thanks a lot! @not522

[2022-08-16 11:32] #3895 closed

[2022-08-16 21:43] blazespinnaker opened #3898 "trial.set_user_attr not working in callback"
### Expected behavior

When I call trial.set_user_attr was expecting it to set the value for the trial passed to the callback

### Environment

- Optuna version:2.10.1
 Python version:3.8.10
- OS:Linux-5.4.0-122-generic-x86_64-with-glibc2.29

### Error messages, stack traces, or logs

[code]

[code]

repro

[code]

### Additional context (optional)

_No response_

[2022-08-16 22:36] blazespinnaker opened #3899 "Print `study.user_attr` by `optuna studies` command"
### Motivation

Using the cli to query studies for their user_attr would be quite useful.  There doesn't seem to be a way to do this, though there does seem to be a way to set a user_attr from the cli

### Description

optuna studies could have a longform option, with format json/yaml/table; or a new option, optuna study --study-name could be added.

### Alternatives (optional)

_No response_

###

[2022-08-17 00:23] blazespinnaker commented on #2021
![Screenshot 2022-08-16 5 20 46 PM](https://user-images.githubusercontent.com/2188809/185007286-d911a3ed-14d3-4fa2-99dd-ce00166cedf4.png)

Around 30% of the trials are being duplicated.

[2022-08-17 15:02] nzw0301 commented on #3898
I believe that this is not a bug. Since the callback takes the deep copy of `FrozenTrial`, we cannot modify it.

[2022-08-17 15:05] nzw0301 commented on #3898
if you have any preference, please feel free to post a comment on https://github.com/optuna/optuna/issues/3251, which is a related issue.

[2022-08-17 15:05] #3898 closed

[2022-08-17 15:51] nzw0301 commented on #3899
Thank you for sharing the feature request!  You're right. The current `optuna studies` command doesn't show `study.user_attr`. The example is as follows:

[code]

[code]

If we implement this feature request, we add a few lines to https://github.com/optuna/optuna/blob/3247030717413b5097db10a26afca67322c91973/optuna/cli.py#L382-L387.

---

I think the command already has the option as demonstrated

[2022-08-17 21:23] blazespinnaker commented on #3251
I think a bigger issue is likely performance issues with large number of trials, which are turning into a bit of a blocker.

I'm moving trial user_attrs out into study user_attr, prefixed by trial numbers.  It might be useful to add this to the callback documentation, though I do recognize now that FrozenTrial should already hint at this.

[2022-08-17 21:23] blazespinnaker commented on #3251
I think a bigger issue is likely performance issues with large number of trials, which are turning into a bit of a blocker.

I'm moving trial user_attrs out into study user_attr, prefixed by trial numbers. It might be useful to add this to the callback documentation, though I do recognize now that FrozenTrial should already hint at this.

[2022-08-17 21:49] blazespinnaker commented on #3899
ah, got it, yeah optuna studies shows a different help, which is why i missed it.

Do you think there should be an option, like --show-user-attrs?  or what would be a good option?  I'll take a stab at a pr with some further guidance.

[2022-08-18 09:43] nzw0301 commented on #3899
I don't think so because similar command, `optuna trials`, shows the `user_attrs` by default.

[2022-08-18 09:45] blazespinnaker commented on #3899
My concern might be that if we do it by default it will make the table view mostly unreadable.  Currently it's quite clean, at least for single objective trials.

[2022-08-18 09:58] nzw0301 commented on #3899
That concern is also applicable to `optuna trials`, so we might need to hear the other dev members' or community's opinions. Hence how about separating the concerns from the original motivation to reduce the complexity of forthcoming implementation; Firstly, we will implement the feature where `optuna studies` shows `user_attrs` by default as a PR. Secondly, introducing a new option as you propose

[2022-08-19 22:14] jmsykes83 commented on #3815
I will work on this.

[2022-08-20 23:24] cj2001 commented on #2985
Bump!

Same problem here...

[2022-08-21 21:47] leo-hstone opened #3907 "Please add some explaination on how to configure the TPE Solver"
### What is an issue?

In my recent studies with optuna I have niticed that the solver focuses too much on a local minumum. I wonder how I can configure the TPE solver to focus more on exploration.

I am an engineer and not a scientist - as others I don't have the time to fully understand the TPE algorithm.
A few words in the documentation on how to tune the solver in a desired direction would be

[2022-08-22 03:46] not522 opened #3908 "Add the specification of the behavior of `n_startup_trials` for `constant_liar` option"
The `n_startup_trials`' document says, "The random sampling is used instead of the TPE algorithm until the given number of trials finish in the same study.", but it is inconsistent with ~~`group=True`~~ or `constant_liar=True`. We need to specify the behavior for these options.

[2022-08-22 04:30] HideakiImamura commented on #2943
I think we did not stop this issue but postponed. Let me reopen this issue.

[2022-08-22 04:53] toshihikoyanase commented on #3883
@c-bata If possible, could you transfer this issue to optuna-dashboard?

[2022-08-22 06:02] c-bata commented on #3883
Sure. Thank you for letting me know!

[2022-08-22 08:57] anons9 commented on #2333
I have the same issue on my setup (4 GPUs, 128 cores CPU), where all GPUs are used and then usually get stuck or redirected to only one. Did you manage to fix it? Any hints or clues?

[2022-08-22 09:03] #3550 closed

[2022-08-22 11:06] nzw0301 commented on #3761
I realised that #3818 actually resolved this issue! Thanks.

[2022-08-22 13:10] nzw0301 commented on #3815
Hi @jmsykes83 thank you for letting us know your interest! I'm also working on this prioritised issue too since this issue affects many developers' experiences. Do you have specific modules you would like to resolve this issue? I'd like to avoid conflicts with your forthcoming pull request.

[2022-08-22 13:32] jmsykes83 commented on #3815
I will let you take the lead on this one.  Was there any direction or ideas you had in approaching this.

[2022-08-22 14:05] nzw0301 commented on #3815
Thank you for your reply. How about some tests in `tests/visualization_tests`, maybe `tests/visualization_tests/test_utils.py` is the easiest one? The expected change will be similar to changes introduced by the linked PRs with this PR such as adding `@pytest.mark.filterwarnings` decorator to a test file.

[2022-08-22 15:25] AtomScott commented on #2862
I like the simplicity of number 3, thanks.

[2022-08-22 17:46] jmsykes83 commented on #3815
I know I can do this:
`
@pytest.mark.filterwarnings("ignore:Trial0")
def test_filter_nonfinite_with_invalid_target() -> None:
    study = prepare_study_with_trials()
    trials = study.get_trials(states=(TrialState.COMPLETE,))
    with pytest.raises(ValueError):
        _filter_nonfinite(trials, target=lambda t: "invalid target")  # type: ignore
`
But is this the solution you're looking for.  This

[2022-08-22 17:56] nzw0301 commented on #3815
In my understanding, the expected change is something like this. If we use stronger `filterwarnings`, we might miss unintended warning messages, so such a minimal filter looks enough.

[2022-08-22 18:36] jmsykes83 commented on #3815
Did we need to filter the `user warnings` for `test_parallel_coordinate.py` as well?  If so, all of them or just the ones with the `  Attempting to set identical bottom == top == 29.999999999999996 results in singular transformations; automatically expanding?`

[2022-08-22 19:22] nzw0301 commented on #3815
I'd suggest sending a PR modifying at most a few files such as only `tests/visualization_tests/test_utils.py` at first, not for all visualsation tests.

[2022-08-22 19:22] jmsykes83 commented on #3815
This is what I am doing

[2022-08-22 19:48] jmsykes83 commented on #3815
So we don't work on the same test.  I will be sending in a pr once I finish some final tests.
These are the files I worked on:
[code]

[2022-08-22 20:00] nzw0301 commented on #3815
Some tests will be updated mainly by the ongoing PRs: https://github.com/optuna/optuna/pulls?q=is%3Apr+is%3Aopen+label%3Av3. So you might not need to work on them. (This is why I said

[2022-08-23 07:39] not522 commented on #2906
I conducted benchmarks for pruning algorithms implemented in Optuna and reviewed them to select the preferred default pruning algorithm. The framework of the benchmarks is the same as that of the samplers. https://github.com/optuna/optuna/issues/2964#issuecomment-1208974962

I conducted two benchmarks.

- Using `TPESampler` with `multivariate=False` and `True`
- Using `RandomSampler`

# TL;DR

The

[2022-08-23 07:40] not522 commented on #2906
Let me close this issue since we have concluded keeping `MedianPruner` as the default.

[2022-08-23 07:40] #2906 closed

[2022-08-23 18:56] nzw0301 commented on #3815
Except for the ongoing PRs linked above, the following files/directories should be addressed to resolve this issue with my (almost meaningless) comments.

I don't leave comments either reason: i) I could not run several integration tests due to my local laptop issue and ii) the visualization module tests will be largely refactored by the forthcoming v3-related PRs.

[code]

[2022-08-23 19:42] jmsykes83 commented on #3815
Ok, If I understand correctly.  You want only the ones with your comments on them addressed?  Is this correct? Or this is just a compilation of the files that need to be addressed.  I wonder this, because I see some not test files like _init_.py.  In the compilation.

[2022-08-23 20:46] eafpres opened #3925 "Enable logging by-study vs global"
### Motivation

I have a use case where I call a study from within the optimization function of another study.  In the call within the function, I would like to turn logging off, but not for the outer study.  Now, since optuna.logging.set_verbosity() seems global, changing it in the inner study affects the outer study.

### Description

Create a functionality like study.logging.set_verbosity()

##

[2022-08-24 00:11] blazespinnaker commented on #3558
I ran into the same problem when upgrading to rc 3.0 and had to upgrade the typing-extensions.  Would it be a good idea to specify a dependency version for the library?

[2022-08-24 08:54] nzw0301 commented on #3558
@blazespinnaker Thank you for sharing your experience!

[2022-08-24 08:56] nzw0301 commented on #3815
The listings above are based on the output of `tree` command without any additional filtering, so some files do not show any warning message.

[2022-08-24 18:29] jmsykes83 commented on #3815
Can you give me a list of files you want me to work on?  This way we are in sync.  I don't want to have overlapping effort.

[2022-08-24 18:41] nzw0301 commented on #3815
how about files in `visualization_tests`?

[2022-08-24 18:45] jmsykes83 commented on #3815
This is fine.  I will work on these.

[2022-08-25 20:32] unipdjahanifar opened #3931 "Autoencoder and optuna"
### Don't use GitHub Issues to ask support questions.

Hi, I am trying to use Optuna and Autoencoder, but I face with the below error. Could you please let me know how I can solve the issue?

only batches of spatial targets supported (3D tensors) but got targets of size: : [256]

The Autoencoder is as below:

class AutoEncoderOptuna(nn.Module):
    def __init__(self, trial):
        super().__init

[2022-08-25 23:05] #3328 closed

[2022-08-26 08:57] imrooki opened #3935 "A question about Optuna optimization for NN"
### Don't use GitHub Issues to ask support questions.

How can I reproduce this training process to obtain the same training and validation errors after obtaining hyperparameters using optuna tuning? How are the initialized weights during optuna training and the initial weights during replication guaranteed to be the same? Both ways, I've fixed the same random seeds, but don't get the same results

[2022-08-26 16:09] PedroMartinez4 commented on #1381
+1 on sharing an example

[2022-08-28 05:46] Ohadkaiser opened #3938 "N_trials on parallel optimization runs n_trials per pod and not in total"
### Expected behavior

When running the optimize function in optuna on distributed pods in parallel, the expected behavior is that the pods will synchronize on the number of trial and the total amount will be the number set with the parameters n_trials.
Currently, n_trials define the number of trials per pod.

### Environment

- Optuna version: 2.10.0
- Python version: 3.7
- OS: Linux
- (Optional)

[2022-08-28 05:50] Ohadkaiser commented on #3938
The change that need be done is the following.

In _optimize_sequential function we need to check if study.storage.get_n_trials if smaller than n_trials instead of i_trial

[2022-08-28 16:36] nzw0301 commented on #3938
I suppose it is not the bug as in https://github.com/optuna/optuna/issues/3518.

[2022-08-29 05:51] Ohadkaiser commented on #3938
That you for your response!
I will suggest a solution to #3518 as I see fit.

[2022-08-29 08:37] nzw0301 commented on #3899
@blazespinnaker Let me confirm that you're working on this issue. If not, I'd like to add the label `contribution-welcome` to this issue.

[2022-08-29 10:53] FrankwaP commented on #3907
Increasing `n_startup_trials` looks like what you're looking for.

You could use the [GridSampler](https://optuna.readthedocs.io/en/stable/reference/samplers/generated/optuna.samplers.GridSampler.html) first (be careful since the number of combinations can get high really fast!), then continue the study with the TPESampler.

[2022-08-29 14:44] hvy commented on #3908
@not522 do you mind elaborating a bit on what must be discussed given it's labeled `needs-discussion` ?

[2022-08-30 04:01] #1583 closed

[2022-08-30 05:19] blazespinnaker commented on #3899
That's fine.  I was also hoping for some more discussion.

[2022-08-30 05:27] #3699 closed

[2022-08-30 06:36] contramundum53 opened #3945 "Introducing sampler-dependent visualization"
### Motivation

Black-box optimization is inherently heuristic, and in many problems the algorithms don't work well out of the box but needs some hyper-hyper-parameter tuning.

However, Optuna currently don't provide any kind of visualization on the internal states of the samplers, e.g., the posterior distribution of Gaussian processes or the estimated low/high distribution in TPE.

If we could su

[2022-08-30 06:48] blazespinnaker commented on #3945
I think this would be exceedingly useful, not only to better understand the behavior but also to potentially alter it.  For the latter, hooks would be the best place to start, ideally with Chain of Responsibility pattern in order to add/inspect behavior on default implementations.  A use case might be inspecting and altering some of the scoring logic, for example around pruned trials.

For hooks,

[2022-08-30 06:54] contramundum53 commented on #3945
Since what internal states a `Sampler` computes belongs to the realm of implementation details, an additional feature / a simple refactoring of a `Sampler` could change the necessary internal states. For example, currently Optuna's `BoTorchSampler` uses `botorch.SingleTaskGP` as the surrogate model, but it can change in the future.

[2022-08-30 09:03] contramundum53 commented on #3945
I made an early prototype of TPE visualization. The following GIFs compare the effect of `consider_magic_clip` option in `TPESampler`. (Other parameters are left to be default.)

|`consider_magic_clip=True` | `consider_magic_clip=False` |
|-|-|
|![anim](https://user-images.githubusercontent.com/24619922/187394627-cb267f92-fce9-4ab1-b65e-73bb0e37534c.gif)| ![anim](https://user-images.githubusercont

[2022-08-30 09:19] contramundum53 commented on #3945
The code is available [here](https://github.com/contramundum53/optuna-tpe-visualized).

[2022-08-30 09:27] contramundum53 commented on #3945
The problem is that introducing mere possibility for this kind of visualization requires some change in each sampler. I added a logging hook in `TPESampler` to extract the internal states.

[2022-08-30 12:05] blazespinnaker commented on #3945
For sure,- visualization is an excellent use case of why the **hooks** are very important.   Maybe changing the title or opening a new issue might be a good idea so folks stay focused on the core ideas.

[2022-08-30 12:38] nzw0301 commented on #3945
@contramundum53 Thank you for your explanation. I left my comment before seeing the code, so I expected the changes would be more complicated. Anyway, let me confirm which logic is called _hook_. Do you refer to https://github.com/contramundum53/optuna-tpe-visualized/commit/5ba4bc37e488a2fbc91a74022853744cf76d58a7#diff-1b766d9c12de331da166f3563ab7158597bb9231b985e78b63194f732c3475d9 as the hook?

[2022-08-30 15:09] contramundum53 commented on #3945
@nzw0301 Yes, by _hook_ I meant `algorithm_logger_callback` argument in the above code.

[2022-08-30 15:18] contramundum53 commented on #3945
@blazespinnaker
Thanks for your opinion!
I think even if we only make visualization public, the implementation would very likely use a hook like the above code. So let me rephrase the issue as follows:

Should we _keep the interface of the hook stable for the future_, or should we _explicitly state that the interface of the hook is unstable and declare that only the visualization feature is stable

[2022-08-31 02:45] g-votte commented on #3670
@29Takuya is no longer working on this issue due to lack of time. So, this issue is still open.

Contributions are welcomed!

[2022-08-31 03:05] g-votte commented on #3899
Let me confirm the current target of this issue. We’ll work on BOTH of the following changes; correct?

- Changing the output format of `optuna studies` so that `user_attrs` by default.
- Add new options to hide a part of output.

My concern is that they might cause a long-running discussion among developers, which is burdensome for a first-time contributor. Historycaly, the current output format

[2022-08-31 03:58] nzw0301 commented on #3899
@g-votte thank you for your comment. I thought it would be great to work on

at least for consistency with `optuna trials` and the current width of the output of `optuna studies` is not too long compared with `optuna trials`.  So a first-time contributor would be able to work on adding this feature as a PR without discussion and we could create another issue to discuss the options.

However, if we

[2022-08-31 05:12] not522 commented on #3908
I notice that `group=True` does not affect the behavior of `n_startup_trials`. 🙇

As far as I know, we do not have a concrete specification of `n_startup_trials` for the `constant_liar` option. We need to discuss the behavior.
The document says, "The random sampling is used instead of the TPE algorithm until the given number of trials finish in the same study."
The current default behavior is to c

[2022-08-31 05:28] hvy commented on #3908
Ah, thanks for the explanation. Given the documentation, it sounds like bugs but that needs to be fixed.
But you mean that it might be more intuitive to keep the current behavior with `constant_liar` and update the documentation to clarify this? 🤔

[2022-08-31 05:47] g-votte commented on #517
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 05:47] #517 closed

[2022-08-31 05:48] g-votte commented on #1620
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 05:48] #1620 closed

[2022-08-31 05:49] g-votte commented on #1621
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 05:49] #1621 closed

[2022-08-31 05:50] g-votte commented on #2935
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 05:50] #2935 closed

[2022-08-31 06:03] g-votte commented on #1856
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 06:07] g-votte commented on #3133
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 06:07] #3133 closed

[2022-08-31 06:23] g-votte commented on #1136
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 06:23] #1136 closed

[2022-08-31 06:51] wattlebirdaz opened #3949 "Refine docs in `BaseStorage`"
### What is an issue?

## Motivation

Some paragraphs in the `BaseStorage` class seem to be misleading for those who implement custom storages on `BaseStorage` due to some reasons described in the next section. In this issue, I would like to discuss which paragraphs are unnecessary  in `BaseStorage` and if so, what we should do with them such as move the docstring to another file or remove it from

[2022-08-31 07:23] blazespinnaker commented on #3945
@contramundum53 your points about backwards compatibility are well considered.  Honest question - can you enumerate some scenarios where it's possible to guarantee forward compatibility visualization but not a stable backing api to the required datasets?

[2022-08-31 07:37] PhilipMay commented on #1856
IMO this is an issue of / in Optuna.
Do you really want to just close it?

[2022-08-31 09:16] g-votte commented on #2536
Since this issue has been open for a long time, let me close once. Feel free to reopen upon necessity.

[2022-08-31 12:03] nzw0301 commented on #3835
I've changed my mind when I discussed this issue with other members. Even though this pruner might be equivalent to an early-stopping by-product when we introduced patient pruner, this pruner's original motivation differs from early-stopping. In addition, this pruner should not behave as an early-stopping because early stopping would be done by other libraries rather than the pruning mechanism in

[2022-08-31 13:47] gasin commented on #3670
As described in https://github.com/optuna/optuna/issues/3670#issue-1270798465, the `while` block can loop infinitely if `n_below == len(lvals)`.

I don't know neither Nondomination rank-based selection nor HSSP-based selection, but it seems simply rewriting
https://github.com/optuna/optuna/blob/62b6aaede2fcb23cd640cfbf0462b2c38b3df479/optuna/samplers/_tpe/sampler.py#L751
to
[code]
resolves the pro

[2022-09-01 02:47] contramundum53 commented on #3945
One example I come up with is the following scenario:
Currently, TPE estimates the `below` distribution and the `above` distribution separately, and both distributions need to be passed to the hook for effective visualization.
However, a possible algorithmic improvement could utilize density ratio estimation techniques to directly estimate the ratio of `below` and `above` distributions. In this ca

[2022-09-01 02:51] contramundum53 commented on #3945
Another (less aggressive) example would be:
Currently `BoTorchSampler` supports `CategoricalDistribution` by transforming categorical variables into one-hot vectors and treating them as continuous variables. In this case, it would be convenient for visualization if the hook provides the transformed variables. However, a codefix might stop this treatment and instead directly use `botorch`'s `MixedS

[2022-09-01 02:53] contramundum53 commented on #3945
Putting experimental labels would be good, I suppose. (Maybe forever experimental?)

[2022-09-01 04:41] HideakiImamura commented on #2959
Let me close this issue since we have completed all of these items and released Optuna v3.0!!! Thank you all for your contributions!!!

[2022-09-01 04:41] #2959 closed

[2022-09-01 04:41] HideakiImamura commented on #3208
Let me close this issue since we have completed all of these items and released Optuna v3.0!!! Thank you all for your contributions!!!

[2022-09-01 04:41] #3208 closed

[2022-09-01 04:41] HideakiImamura commented on #3209
Let me close this issue since we have completed all of these items and released Optuna v3.0!!! Thank you all for your contributions!!!

[2022-09-01 04:41] #3209 closed

[2022-09-01 13:26] nzw0301 commented on #3688
I believe that my previous comment was a simplest solution, let me close this issue.

[2022-09-01 13:26] #3688 closed

[2022-09-01 13:38] bgeier commented on #2441
Thank you for this feature. I use early stopping when training and didn't realize the default behavior.

On a related note, if using train or validation loss, it seems like median pruning would favor models that converge quicker and results would be confounded by differences in convergence rate. That is, a model that converges slower may have a higher validation loss at an earlier step compared to

[2022-09-01 13:52] nzw0301 commented on #2441
I suppose so since the median pruning rule implicitly assumes what you describe, the `n_min_trials` option might not resolve the problem perfectly. However, this sounds like a property of the median pruning rule. Do you know any implementation or algorithms to resolve this problem?

[2022-09-01 14:04] nzw0301 commented on #3925
Hi, could you give some minimal examples not to misunderstand the situation?

[2022-09-01 14:06] nzw0301 commented on #3779
Let me close this issue since #3857 has resolved this issue.

[2022-09-01 14:06] #3779 closed

[2022-09-01 16:49] ilenoa opened #3955 "GridSampler raises TypeError when used with PostgreSQL"
### Expected behavior

The example from the documentation for [GridSampler](https://optuna.readthedocs.io/en/stable/reference/samplers/generated/optuna.samplers.GridSampler.html#optuna.samplers.GridSampler) should work just the same when adding a PostgreSQL storage to optuna.create_study. Instead, it raises "TypeError: Object of type int64 is not JSON serializable"

### Environment

- Optuna versi

[2022-09-02 02:51] not522 commented on #3955
Thank you for your bug report! I confirmed this bug also occur with SQLite.

[code]

I think this line has a bug. `grid_id` should be `int` instead of `numpy.int64`.
https://github.com/optuna/optuna/blob/d21b1c0a1d74fb36f1c2c53b771333ac30d6f167/optuna/samplers/_grid.py#L160

[2022-09-02 21:18] rabyj opened #3960 "LightGBMTunerCV never begins trials"
### Expected behavior

I'm putting two problems together because they have the same input, just one version has a smaller input. I imagine they are related. This might be a LightGBM problem, and not optuna. The issue can be closed if that is the case.

Expected behavior : [ LightGBMTunerCV](https://github.com/optuna/optuna-examples/blob/main/lightgbm/lightgbm_tuner_cv.py) begins trials after Light

[2022-09-02 21:51] rabyj opened #3961 "record_evaluation callback with LightGBMTunerCV fails on trial 0"
### Expected behavior

Expected behavior: At least one trial finishes during LightGBMTunerCV.

Observed behavior: Trial 0 fails on record_evaluation callback.

### Environment

- Optuna version: 3.0.0
- Python version: 3.8.10
- OS: Linux-5.15.0-46-generic-x86_64-with-glibc2.29 (Ubuntu 20.04.5 LTS)
- lightgbm : 3.3.2

### Error messages, stack traces, or logs

[code]
An example of `env.evaluation_r

[2022-09-03 05:44] nzw0301 commented on #3960
Hi, thank you for providing the detailed info. I'm afraid that we could not download the compressed pickle file because the pickle is not secure as mentioned in https://docs.python.org/3/library/pickle.html. Could you create a code without loading the pickle file that you made for data?

[2022-09-03 06:02] nzw0301 commented on #3961
This is not the bug of Optuna. I think the original issue: https://github.com/microsoft/LightGBM/pull/4947, has been resolved. Note that Optuna is tested with the latest stable lightgbm, so I'm not sure Optuna's lightgbm module works with the lastest lightgbm on github works fine.

[2022-09-03 06:02] #3961 closed

[2022-09-03 06:11] nzw0301 commented on #3960
Note that I couldn't get a similar result to yours when I used `iris` dataset:

[code]

Related env info:
Lightgbm: 3.3.2
Optuna: 3.1.0.dev
Python: 3.9.13

[2022-09-03 13:24] nzw0301 commented on #3518
Hi in my understanding, actually a few problems in the issue description can be avoided by using Optuna's API or adding a few lines. Let me share them as follows.

By passing `None` as `states`, it would perform `m` trials in practice since this case callback cares all trial states including `RUNNING`. If we have stale trials in them, we can re-run them by using https://optuna.readthedocs.io/en/st

[2022-09-04 06:02] #1394 closed

[2022-09-04 06:02] #3032 closed

[2022-09-05 00:00] #3670 closed

[2022-09-05 00:03] #3955 closed

[2022-09-05 00:07] not522 commented on #3955
In v3.0.0, this bug always occurs using `GridSampler` with `RDBStorage`. If you want this combination, please use v2.10.1 until v3.0.1 or v3.1.0 is released.

[2022-09-05 07:06] #3836 closed

[2022-09-05 10:57] Freemanlabs opened #3962 "plot_param_importances taking too long to run/show plot"
### Expected behavior

When I try to visualize the important parameters from a (saved) study, it takes forever. I don't get to see the plot due to the large runtime.
I notice it works (with same amount of data) with n_trial = 10. But when I do the actual optimization with n_trial=100, it runs for forever.

I expect a parameter importance plot (very quickly)

### Environment

- Optuna version: 2.10

[2022-09-05 11:00] ilenoa commented on #3955
Thanks everyone for the addressing the issue so quickly. Is there any tentative release date (or month) for v3.0.1?

[2022-09-05 11:02] HideakiImamura commented on #3955
Thanks for your bug report. We will release the v3.0.1 in the next Thursday (September 8th).

[2022-09-05 14:14] Freemanlabs commented on #3962
@nzw0301 I shared the code initially under "Steps to reproduce".

However, using the faster fanova, I get a memory error.
[code]

How do I get past this?

[2022-09-05 14:17] nzw0301 commented on #3962
It's not reproducible, I'm afraid.

[2022-09-05 14:30] Freemanlabs commented on #3962
There's no way you will be able to reproduce the code without the saved study ('result' as shown in the code).
Please see link to the saved study (.pkl)

https://drive.google.com/file/d/1_zCsWfa8df8Ej16FZ2M-ee06xgslxht-/view?usp=sharing

[2022-09-05 14:41] nzw0301 commented on #3962
I'm afraid that we could not download the compressed pickle file because the pickle is not secure as mentioned in https://docs.python.org/3/library/pickle.html. Could you create a code without loading the pickle file that you made for data?

[2022-09-05 14:44] nzw0301 commented on #3962
I suppose your study contains too many parameters too, so another approach is to reduce trials from the study for visualisation by using https://optuna.readthedocs.io/en/stable/reference/generated/optuna.study.Study.html#optuna.study.Study.add_trials.

[2022-09-05 23:01] mavillan opened #3963 "No info about multi-objective optimization"
### What is an issue?

Hi all,

I have checked all the documentation and I cannot find any information about the inner mechanism of multi-objective optimization. I think it would be very helpful to document what exactly Optuna does when you give multiple objectives for optimization.

[2022-09-06 01:49] not522 commented on #3963
I'm not sure what you want, following documents may help you.
* Tutorial: https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/002_multi_objective.html
* `NSGAIISampler` (default sampler for multi-objective optimization): https://optuna.readthedocs.io/en/stable/reference/samplers/generated/optuna.samplers.NSGAIISampler.html

[2022-09-06 02:55] not522 commented on #3324
Are there any remaining tasks for this issue?

[2022-09-06 06:56] not522 opened #3964 "Support Python 3.11"
### Motivation

Python 3.11 will be released on 2022-10-24. https://peps.python.org/pep-0664/
This is a tracking issue to support the new Python.

### Description

* Add Python 3.11 to the CI of the unit test and [optuna-examples](https://github.com/optuna/optuna-examples/).
* Use Python 3.11 in the speed benchmark because of its improved speed.

### Alternatives (optional)

_No response_

### Add

[2022-09-06 09:49] nzw0301 commented on #3044
Are you still working on this issue? Since optuna's major version became 3.0.0 this month, updating dependencies or different environments possibly resolve the issue rather than the storage issue of Optuna.

[2022-09-06 17:09] rabyj commented on #3960
I cannot, as in do not know how, because the problem disappears with smaller datasets (like IRIS).

[2022-09-06 17:38] rabyj commented on #3960
I've confirmed that Lightgbm: 3.3.2.99 and Optuna: 3.0.0 aren't compatible on that end (`cv() got an unexpected keyword argument 'fobj'`). I'll try with Optuna: 3.1.0.dev and Lightgbm: 3.3.2.

[2022-09-07 07:43] higucheese commented on #3324
Since this issue was created as an explanation for FutureWarning of using positional arguments, this should be closed after the FutureWarning is no more needed. It seems a bit difficult to decide remaining tasks to close this issue by myself. Do you have any ideas? @himkt

[2022-09-07 07:55] not522 commented on #3908
Maybe we need to fix it, but I'm not sure which one is better. We need to benchmark with the `constant_liar` option.

[2022-09-07 08:20] himkt commented on #3324
This issue played the role as the place where users send feedbacks if there are. Since it would take a long time until we can discuss deleting `FutureWarning`, I think it's OK to close this issue now.

[2022-09-07 08:49] shu65 opened #3966 "ImportError: cannot import name 'declarative_base' from 'sqlalchemy.orm' (/usr/local/lib/python3.7/dist-packages/sqlalchemy/orm/__init__.py)"
### Expected behavior

I got the following error message when using a old vesion of SQLAlchemy (the version is 1.3.8)

[code]

### Environment

- Optuna version: 3.0.0
- Python version: 3.7.13
- OS: ?
- (Optional) Other libraries and their versions:
I used Google Colab to reproduce the error.
the version of SQLAlchemy is 1.3.8

### Error messages, stack traces, or logs

[code]
[code]
!pip install

[2022-09-07 18:37] nzw0301 commented on #3960
I really appreciate your detailed detailed information on your problem!

https://github.com/optuna/optuna/issues/3646 describes the same error, and it also provides a patch. It might be helpful for your case.

Since the bug is not reproducible for my environment with the iris dataset and likely comes from lightgbm according to your investigation, I'd like to close this PR. Of course, please feel f

[2022-09-07 18:37] #3960 closed

[2022-09-07 21:00] blazespinnaker commented on #3945
@nzw0301 Who can we reach out to get consensus on this?  Even if the answer is that we just have to fork the library, at least it's an answer.  This could be just a design problem with very little implementation or regression potential - depending on how things play out.

[2022-09-07 22:15] himkt commented on #3324
I asked other developers for the opinion and decided to close. Thank you @higucheese for your great contribution! 🚀

[2022-09-07 22:15] #3324 closed

[2022-09-07 23:05] #3035 closed

[2022-09-08 03:13] nzw0301 commented on #3945
At least not me.

@contramundum53 do you know the state of this PR? cc: @g-votte.

[2022-09-08 04:04] elisa-aleman commented on #3030
I found this from trying to use the intermediate values for a moving average, I too agree it would be good to implement, especially since the study._storage.get_trial(x) returns the trial where x = trial.number+1, which was confusing at first.

[2022-09-08 04:08] g-votte commented on #1856
Sorry that I didn't explain enough. The action above is just to filter out many other out-dated issues.

If the problem is still reproduced, we should reopen.

[2022-09-08 04:50] elisa-aleman commented on #1402
I want to add that on the plot_intermediate_values, when choosing the best trials, the trial number is lost during this transfer

[2022-09-08 07:05] PhilipMay commented on #1856
So you say the issue might be fixed and I should do a regression test?

[2022-09-08 17:29] PerformanceDetect opened #3976 "optuna.create_study.optimize execution slowly on latest versions"
### Expected behavior

Hi, I test my program on different optuna versions.  I noticed that its execution time increased when adopting higher versions of optuna.
As shown in the following experiment results, my program performs best if we use optuna==3.0.1.

**My question is that why does such a library version perform better? Are there any issues in newer versions?**

### Environment

- Optuna ver

[2022-09-08 18:43] km5ar opened #3977 "Where can I find example code for XGboost multiclass classification with Optuna?"
### What is an issue?

All current example are for binary classification with Xgboost example code
https://github.com/optuna/optuna-examples/blob/main/xgboost/xgboost_simple.py

Any one could help me out?

[2022-09-09 03:07] RegiusQuant opened #3978 "Optuna Pytorch-Lightning integration reports AttributeError"
### Expected behavior

Should not report any errors.

### Environment

- Optuna version: 3.0.0
- Python version: 3.8.13
- OS: Linux
- PyTorch version: 1.12.1
- PyTorch Lightning version: 1.7.5
- CUDA version: 11.3.1

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

### Additional context (optional)

_No response_

[2022-09-09 08:57] nzw0301 commented on #3976
Hi, could you share the lightgbm's version too?

[2022-09-09 09:09] nzw0301 commented on #3976
Could you also specify the random seed of sampler when you take a benchmark https://optuna.readthedocs.io/en/stable/faq.html#how-can-i-obtain-reproducible-optimization-results?

[2022-09-09 11:14] not522 commented on #3976
I think this is not Optuna's problem. Because Optuna takes only a few seconds with `n_trials=200` and 7 parameters.
The following script runs in 4 seconds on my PC.

[code]

There are some possible causes. For example,

1. LightGBM's version is different.
2. LightGBM takes time with the suggested parameters.

[2022-09-09 13:15] nzw0301 commented on #3976
Yeah, I agree with @not522. Some randomness or different versioned lightgbm affected the performance.

[2022-09-09 14:46] #3976 closed

[2022-09-09 22:15] HarveyYan opened #3982 "unrobust optuna sampling behaviour"
### Expected behavior

I have something like this in the code: `trial.suggest_categorical('somename', [False, True])`

and when it is running sometimes it gives an error like `ValueError: 'True' not in (False, True).`, but sometimes it samples just fine without this kind of error.

I looked into issue with pdb and at `optuna/samplers/nsgaii/_crossover.py(115)` you actually have a `child_params` di

[2022-09-10 02:57] nzw0301 commented on #3982
Hi, could you share the minimal reproducible code?

[2022-09-10 03:01] nzw0301 commented on #3978
See also https://github.com/optuna/optuna/issues/3418 since this issue is duplicated with https://github.com/optuna/optuna/issues/3418.

[2022-09-10 07:37] #3962 closed

[2022-09-10 14:44] nzw0301 commented on #3982
I couldn't see any error when I ran the following code:

[code]

[2022-09-11 04:34] Phasip commented on #1484
Found this and tried, not sure why the use_signals argument is used, this causes timeout-decorator to use multithreading which seems to confuse optuna.
Using `use_signals=True` works fine for me.

[2022-09-11 05:43] Phasip commented on #1484
Not sure why `use_signals=False` was used in the examples above. timeout-decorator uses multiprocessing when `use_signals=False` which seems to confuse optuna.
Running with `use_signals=True` works fine for me

[2022-09-12 03:58] nzw0301 opened #3988 "Avoid PyTorch version mismatch between BoTorch and Optuna."
### Motivation

BoTorch used in [the integration module of Optuna](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.BoTorchSampler.html) has dropped Python 3.7 support since its version 0.8.0 ~0.9.0~. With this change, the PyTorch version specified by Optuna will not match the version specified by BoTorch in the future with the current `setup.py` and Python 3.7.

###

[2022-09-12 04:34] nzw0301 commented on #3988
Similarly, Allennlp is under maintenance, which might not support PyTorch>=1.12.0 anymore as specified at https://github.com/allenai/allennlp/blob/b2eb036e06fbf4e293abb126552aaabc3df91aa1/requirements.txt#L4.

[2022-09-12 05:04] hvy commented on #1856
I think it's still an issue in master https://github.com/optuna/optuna/commit/45b0a1c422169f34671066c7a06495756e2fd4c8. It's been a while so please correct me if I'm wrong but this was the code I tested.

[code]

Perhaps we can reopen it. It's also been mentioned in #3889.

[2022-09-12 05:20] g-votte commented on #1856
Thanks @PhilipMay for reporting again and @hvy for analysis!
As the problem still reproduces, let's reopen.

[2022-09-12 07:52] g-votte commented on #3899
@nzw0301
Thanks for your clarification. This direction looks good to me.

So, let's target to make this change in this issue: `Changing the output format of optuna studies so that user_attrs by default.`

[2022-09-12 10:13] nzw0301 commented on #3640
I suppose https://optuna.readthedocs.io/en/stable/tutorial/20_recipes/001_rdb.html might be a more appropriate place to describe restoring sampler because we need to restore `sampler` instance even though the usual `study.optimize` case. For example,

[code]

### Outputs:

[code]

The suggested parameter are the same between the two trials because they use the exact same sampler including random s

[2022-09-12 14:19] jackandrews commented on #3048
You can see throughout optuna/storages/_rdb/storage.py `with _create_scoped_session(self.scoped_session) as session` is being used whenever DB state is being mutated. Therefore each operation under the scoped_session is going to generate a DB commit, which is incredibly inefficient.

[2022-09-12 19:08] rabyj opened #3994 "LightGBMTuner selects last metric and validation set for optimization"
**Disclaimer**: I do not know if any of what I experienced is considered a bug for optuna.

**Summary**: The behaviour of [LightGBMTuner](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTuner.html#optuna.integration.lightgbm.LightGBMTuner) is not specified for multimetric and multiple validation sets.

**Details**: If the `params` dictionary contains

[2022-09-12 19:16] rabyj commented on #3994
@jeffzi any news on this old issue? Related #1984 and PR #1947 went stale without improvements to the doc.

[2022-09-12 23:51] cuismabc opened #3995 "External DOE + Optimization: Optuna does not work"
### Expected behavior

I tried to import existing experimental results into Optuna's storage by following the suggestions at the following links. I attached two ways..
https://gist.github.com/toshihikoyanase/99f4119f226da4ad227cd6f381136c72
both ways do not work.

1) when I use enqueue, storage and parallelization together, the external samples are not used correctly.
2) when I use alternative way

[2022-09-13 02:45] #3966 closed

[2022-09-13 03:08] manza-ari opened #3997 "OPTUNA Trials"
### What is an issue?

Hi,
Thank you so much for your question.
I have some questions about OPTUNA-Trials, what it is doing exactly and why it is so time-consuming, I have three different types of objective functions and I am running each of them for 50-OPTUNA Trials. I want to know the insight of OPTUNA for each Trial for each objective.

`Objective 1
optuna_initial_lr = optuna_trial.suggest_floa

[2022-09-13 15:45] chrisk314 opened #3999 "Upgrading storage schema does not work on a fresh database"
### Expected behavior

On a new PostgreSQL database, freshly created with the command `CREATE DATABASE optuna;`, I expect to be able to successfully upgrade the schema for the Optuna tables by running the below command immediately afterwards.

[code]

Instead, a very unhelpful `StorageInternalError` exception is raised which swallows the inner `SQLAlchemyError` exception.

Previously in v2.10.1 th

[2022-09-13 23:05] #3531 closed

[2022-09-14 03:15] contramundum53 commented on #3945
@blazespinnaker Sorry for replying late.
We had a (lengthy) discussion about this issue among the core development members. The conclusions are the followings:
* We won't add an API for extracting the internal states of the samplers in Optuna, at least in the next release.
* If you want to visualize the behavior of TPESampler on your function, [the above code](https://github.com/contramundum53/opt

[2022-09-14 06:49] Ajith-Shenoy opened #4000 "Pass Model Tuning Parameter from outside the objective function"
### Don't use GitHub Issues to ask support questions.

Is there anyway to pass the parameters to be optimized from outside the objective class to make it more modular and dynamic ?

I have a query exactly the same as this : [Here](https://stackoverflow.com/questions/67504503/optuna-pass-dictionary-of-parameters-from-outside)

`model_params = {
        "max_depth": trial.suggest_int('max_depth',7,1

[2022-09-14 06:51] Ajith-Shenoy commented on #4000
sorry wrong place

[2022-09-14 06:51] #4000 closed

[2022-09-14 21:30] cuismabc opened #4002 "enqueue, storage & parallelization"
### Expected behavior

run the attached code, you will see the problem. this issue does not always happen, but often.

### Environment

- Optuna version: 3.9
- Python version:3.0
- OS: windows X64
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

1. run the attached codes several times, the issue will come
2.
3.
[code]

###

[2022-09-16 04:42] blazespinnaker commented on #3945
Thanks, not sure I agree with the conclusions, but the answer is actually very helpful.  A forking we will go :)

[2022-09-21 00:30] xuzijian629 opened #4012 "Visualize a subset of study"
### Motivation

I'm trying contour visualization.
Sometimes, there are several outliers and the details near the best objective is not visualized well.

![](https://github.com/xuzijian629/tekito/blob/main/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202022-09-21%209.21.01.png?raw=true)

So, I would like to visualize a subset of whole study so that I can see the

[2022-09-22 07:22] not522 commented on #4012
Thank you for your feedback! I recommend `add_trials` as workaround.

[code]

[2022-09-22 07:28] xuzijian629 commented on #4012
Thanks, that sounds really nice!
Please close this if you think there is no need to implement new features.

[2022-09-22 07:36] not522 commented on #4012
Let me close this issue. I think combining basic features would be better to keep the visualization interface simple.

[2022-09-22 07:36] #4012 closed

[2022-09-22 07:57] not522 commented on #4002
Thank you for your bug report. We think this bug occurs when SQLite is used for parallel optimization. https://github.com/optuna/optuna/blob/a61e53dffaf5b613b0e9cf7ce412dc690fa3d9c5/optuna/storages/_rdb/models.py#L241-L244
If you need a database for parallel optimization, please try other RDB storage. (Or, please wait for the v3.1.0 release, which includes new style storage #3854)

[2022-09-22 09:07] not522 commented on #3999
I have confirmed that the same error occurs in SQLite.

[code]

[2022-09-22 14:33] chrisk314 commented on #3999
For @not522 and any others who may be affected by this, here is the work around I'm using currently. First run the upgrade command to perform the initial migrations using optuna=2.10.1, then update optuna to the latest version and run the upgrade command a second time.

[2022-09-25 22:05] saugatkandel opened #4014 "Support for qNoisyExpectedHypervolumeImprovement acquisition function from Botorch"
### Motivation

The Botorch/Ax documentation seems to suggest that the qNEHVI acquisition function  performs better than the qEHVI acquisition function.
See for example:

"For batch optimization (or in noisy settings), we strongly recommend using 𝑞NEHVI rather than 𝑞EHVI [1] because it is far more efficient than 𝑞EHVI and mathematically equivalent in the noiseless setting."
in
https://botorch.org/

[2022-09-26 03:34] not522 commented on #4014
Thanks for the information. It sounds interesting! If you have time, would you make it a PR?

@hvy Could you tell me how you chose the default `candidates_func`?

[2022-09-26 06:06] hvy commented on #4014
Hm, I followed BoTorch's official tutorial, but the suggestion about the noisy variant was not mentioned back then. See https://github.com/pytorch/botorch/pull/978 which updates the tutorial with qNEHVI and that it was merged after the introduction of this sampler.

Sounds good to introduce a new `candidates_func` and perhaps reconsider the default. I haven't gone over the differences yet so canno

[2022-09-27 02:16] toshihikoyanase commented on #3646
Thank you for your investigation.
According to the [tracking issue of lightgbm 4.0](https://github.com/microsoft/LightGBM/issues/5153), the `fobj` argument will be kept in v3.x that is the current stable version. So,  we'll appreciate it if you send a PR including your suggestions after the release of lightgbm 4.0.

[2022-09-27 06:03] knshnb opened #4017 "Allow display names to be changed in benchmark scripts"
### Motivation

Currently, in the benchmark scripts, the display name of each solver is something like `f"{sampler}_{pruner}"` ([kurobako](https://github.com/optuna/optuna/blob/58434f930c606f539ff75d0a1cd96c1f82362e9e/benchmarks/run_kurobako.py#L60), [mo_kurobako](https://github.com/optuna/optuna/blob/58434f930c606f539ff75d0a1cd96c1f82362e9e/benchmarks/run_mo_kurobako.py#L69), [bayesmark](https://

[2022-09-27 11:51] PhilipMay commented on #1856
But please do not close it. :-)

[2022-09-27 15:19] rene-rex opened #4022 "If seed is fixed, SkoptSampler suggests exactly the same parameter sets during startup trials"
### Expected behavior

The suggested parameters should be reproducible but not all trials should use exactly the same values.

### Environment

- Optuna version:3.0.2
- Python version:3.8.5
- OS:Windows-10-10.0.19041-SP0
- skopt version: 0.9.0

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

Run the minimal example. Trials 1 (not 0) to 9 have identical x.

[code]

![imag

[2022-09-27 17:17] jrbourbeau commented on #1766
Noting that the PR for this issue (https://github.com/optuna/optuna/pull/2023) was recently re-opened and updated

[2022-09-28 02:22] not522 commented on #4022
Thank you for your bug report. I investigated the cause and it will be fixed by #4023.

[2022-09-28 06:53] c-bata commented on #4002
Thank you for reporting the problem. I'll update the documentation to let Optuna users know this feature does not work with SQLite3.

@wattlebirdaz I tried using `JournalFileStorage`

[2022-09-28 07:05] rene-rex commented on #4022
Thanks, that was really quick! I tried your branch from the merge request and it solves my issue indeed.

[2022-09-28 09:14] jonaslandsgesell commented on #1001
@jeanfredericplante thanks for your solution.
For others: please add the import ```from functools import partial ``` to be able to access partial.

[2022-09-29 03:09] wattlebirdaz commented on #4002
`Study._pop_waiting_trial_id()` should be thread-safe because it calls `storage.get_all_trials` and `storage.set_trial_state_values` sequentially. If more than two threads interleave when executing `Study._pop_waiting_trial_id()`, one of them might see a trial with a COMPLETED state when executing  `self._storage.set_trial_state_values(trial._trial_id, state=TrialState.RUNNING)`. I am still invest

[2022-09-29 03:39] knshnb commented on #3565
To support this feature, we might need to be careful with #3676 and #3677, which are inf-related issues with multi-objective `TPESampler`.

[2022-09-29 07:31] not522 opened #4026 "Improve tests for heartbeat"
### Motivation

Current tests for heartbeat are inadequate. We need to add lacking patterns.

### Description

[test_heartbeat.py](https://github.com/optuna/optuna/blob/e8abeec7d58b64b207bd7606056311d20de0241f/tests/storages_tests/test_heartbeat.py) lacks the following patterns.

- Test that `fail_stale_trials` does not change the trial state if the trial is not stale.
- Test that `fail_stale_tria

[2022-09-29 07:57] not522 opened #4027 "Improve tests for `Study.tell`"
### Motivation

`Study.tell` supports being called from a process other than the one that calls `ask`, but this feature is not tested except with the command line interface.

### Description

Add tests calling from another process in [test_study.py](https://github.com/optuna/optuna/blob/e8abeec7d58b64b207bd7606056311d20de0241f/tests/study_tests/test_study.py). It can be written using `subprocess`.

[2022-09-29 09:08] not522 opened #4028 "Fix `test_reproducible_in_other_process` for fixed `PYTHONHASHSEED`"
### Motivation

`test_reproducible_in_other_process` requires `PYTHONHASHSEED` is not set. If testing with the fixed hash seed, this test fails. For example, tox sets `PYTHONHASHSEED` https://tox.wiki/en/latest/example/basic.html#special-handling-of-pythonhashseed.

https://github.com/optuna/optuna/blob/e8abeec7d58b64b207bd7606056311d20de0241f/tests/samplers_tests/test_samplers.py#L997-L1037

###

[2022-09-29 10:12] not522 opened #4029 "Move `_solve_hssp` from `TPESampler` to `optuna/_hypervolume/`"
### Motivation

`TPESampler` includes the solver of the hypervolume subset selection problem. Moving it to `optuna/_hypervolume/` is preferred because it is the general algorithm for multi-objective optimization.

https://github.com/optuna/optuna/blob/e8abeec7d58b64b207bd7606056311d20de0241f/optuna/samplers/_tpe/sampler.py#L791-L830

### Description

- Move `_solve_hssp` from `optuna/samplers/_tpe

[2022-09-29 10:31] RohanHBTU commented on #4029
Respected Sir/Ma'am,

I am Rohan Kumar Singh. I have just entered my second year at HBTU. I am somewhat familiar to open source contributions and I am well aware of Python, SQL, MongoDB, ML algorithms (still learning Deep learning). I would love to contribute to your organisation Optuna but could you please tell me how to get started?
Hoping to hear from you soon.

Regards
Rohan

[2022-09-29 10:52] toshihikoyanase opened #4030 "Remove `test/integration_tests/test_sampler.py`"
### Motivation

`test/integration_tests/test_sampler.py` has common tests functions for samplers in integration modules such as `CmaEsSampler` and `SkoptSampler`. However, it seems to be outdated as follows:
- most of the test cases are covered by the other test case, and
- it does not covers all samplers in the integration module like `BoTorchSampler`

### Description

`test/integration_tests/tes

[2022-09-29 13:56] nzw0301 commented on #4029
@RohanHBTU Thank you for sharing your interest in Optuna. Please read https://github.com/optuna/optuna/blob/master/CONTRIBUTING.md before sending a PR.

[2022-09-29 15:00] nzw0301 commented on #3640
Should we add more explanation? I suppose #3992 mentions the shared issue with the original motivation at least; we could close this issue if the issue is enough.

[2022-09-29 15:02] nzw0301 commented on #3899
@blazespinnaker can you send a PR? As summarised in https://github.com/optuna/optuna/issues/3899#issuecomment-1243350188, the issue has no-discussion to send a PR.

[2022-09-29 20:29] hrzn commented on #3418
@nzw0301 would be happy to have a look if I find a bit of time. Did you narrow down to some preferred way of solving the problem?

[2022-09-30 02:31] c-bata commented on #4002
@wattlebirdaz Thank you for your investigation.
I've opened a pull request to make the `JournalStorage.set_trial_state_values()` method thread-safe. I'll make it ready for review after added a test case to cover this scenario.

[2022-09-30 04:23] nzw0301 commented on #3899
No, it doesn't. Adding a flag is unnecessary for the PR.

[2022-09-30 04:26] nzw0301 commented on #3418
@hrzn Yes, https://github.com/optuna/optuna/pull/3431 was my attempt to resolve the PL so it might be helpful.

[2022-09-30 05:39] c-bata commented on #4002
@cuismabc Thank you for reporting this problem! I opened a pull request to update the documentation.
https://github.com/optuna/optuna/pull/4034

[2022-09-30 06:32] skotaro commented on #3982
I encountered the same issue as well with version 3.0.1.

The bug seems to be deterministic. Conditions are
- Trial has string and non-string categorical parameters.
- n_trials > population_size (i.e. when child parameters are generated)

Here is minimum reproducible code.

[code]

[2022-09-30 07:05] nzw0301 commented on #3982
@skotaro Brilliant. Thank you for sharing the minimal code to get the error.

[2022-09-30 07:11] not522 commented on #3982
Thank you for sharing the code! I found a bug here. We should specify `dtype=object` to prevent unexpected casting.
https://github.com/optuna/optuna/blob/a7cd842f2aca675e517fc7bf74f22762380aeb24/optuna/samplers/nsgaii/_crossover.py#L40-L45

[2022-10-01 01:08] saugatkandel commented on #4014
I am not confident enough in my understanding of these toolsets to make a full PR. I will let the people with more know-how decide if and when to incorporate this.

[2022-10-01 09:27] #3963 closed

[2022-10-01 19:47] IMvision12 commented on #4029
Hello, if no one is working on it, may I take this issue?

[2022-10-02 03:26] nzw0301 commented on #4029
@RohanHBTU Are you working on the issue? If not, can @IMvision12 send a PR to resolve this issue?

[2022-10-02 06:05] IMvision12 commented on #4029
Do we need to create new file in _hypervolume and copy `_solve_hssp` in it or we need to move `sampler.py` to _hypervolume, also for `test_multi_objective_sampler.py`?

[2022-10-02 06:20] RohanHBTU commented on #4029
Yeah sure, @IMvision12  can send a PR.

[2022-10-02 09:38] Abelarm commented on #4027
Hi @not522,

I could take this if is it ok for you.

[2022-10-02 23:05] #3145 closed

[2022-10-03 00:01] #3978 closed

[2022-10-03 01:21] not522 commented on #4027
Of course. Please go ahead.

[2022-10-03 04:48] g-votte commented on #4028
@nzw0301 is working on this issue.

[2022-10-03 05:03] cross32768 commented on #4026
Can I take this issue?

[2022-10-03 05:03] g-votte commented on #4026
@cross32768
Please go ahead!

[2022-10-03 10:43] PhilipMay opened #4037 "Strange "sampled independently instead of being sampled by multivariate TPE sampler" when extending space"
### Expected behavior

When I use the multivariate sampler `sampler=optuna.samplers.TPESampler(multivariate=True)`
I expect that Optuna is using it even if I extend the hyperparameter space.

Details see below.

### Environment

- Optuna version:3.0.2
- Python version:3.7.14
- OS:Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic

### Error messages, stack traces, or logs

[code]

### Steps to reprod

[2022-10-03 23:22] not522 commented on #4037
Thank you for your feedback. Currently, this behavior is expected (described [here](https://optuna.readthedocs.io/en/stable/reference/samplers/generated/optuna.samplers.IntersectionSearchSpace.html)), but there is room for improvement. It is noted in #2964 (the last item on the list).

[2022-10-04 05:13] #4022 closed

[2022-10-04 06:46] eukaryo commented on #4017
I am working on this issue.

[2022-10-04 07:13] g-votte commented on #4017
Discussed with @HideakiImamura and @knshnb. We'll add `--name-suffix` option instead of adding a whole name option. This is to avoid conflict when the user specify a `--name-prefix` option.

[2022-10-04 23:05] #3644 closed

[2022-10-05 22:03] ggjj11 opened #4047 "Is it possible to access the base estimator of a sampler"
E.g. when defining a sampler like this:

[code]

Is it possible to get the base_estimator from skopt?

If I understand skopts gp_minimize (https://scikit-optimize.github.io/stable/modules/generated/skopt.gp_minimize.html ) correctly, it would return `models`. I looked at the docu and the code of optuna and could not find how I could access those models after I invoked the above code.

Accessing th

[2022-10-06 00:00] not522 commented on #3021
I think we have completed all tasks that need to be done now. When Python 3.6 will be the blocker to introduce new features or refactor codes, we will go back here and discuss dropping the Python 3.6 support.

[2022-10-06 04:48] eukaryo commented on #4017
I found that [bayesmark](https://github.com/optuna/optuna/blob/58434f930c606f539ff75d0a1cd96c1f82362e9e/benchmarks/run_bayesmark.py) does not have `--name-prefix` option. I will also add one on this issue.

[2022-10-06 08:21] knshnb commented on #4017
Please note that while `--name-prefix` is common, the suffix option can be different between different samplers and pruners. To clarify the difference, I would suggest a different option name (probably something like `--name-suffix-list`).

[2022-10-06 08:27] knshnb commented on #4017
Oh, I realized that since we enumerate all the combinations of specified samplers and pruners, the order is unclear when we have multiple samplers and multiple pruners. How about adding both `--sampler-name-list` and `--pruner-name-list` options (and by default, replace them by `--sampler-list` and `--pruner-list`, respectively)?

[2022-10-06 11:46] c-bata opened #4049 "Allow users to call `study.optimize()` in multiple threads."
### Motivation

For users who are familiar with `concurrent.futures`, I'd like to support the following usage that calls `study.optimize()` in multiple threads, although we can concurrently evaluate objective function in multiple threads via the `n_jobs` option of `study.optimize()`.

[code]

Also I'd like to support the following usage of `dask.distributed` (refs https://github.com/optuna/optuna/

[2022-10-07 00:08] #4002 closed

[2022-10-07 08:33] not522 commented on #3982
The bug has been fixed. I will close this issue after adding a test.

[2022-10-08 19:05] ilpoli opened #4058 "plot_pareto_front crahses if a sampler is GridSampler"
### Expected behavior

plot_pareto_front should work with any sampler if there're multiple directions.

### Environment

- Optuna version: 3.0.2
- Python version: 3.7.14
- OS: Google Colab

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

### Additional context (optional)

I guess the issue is caused by an additional key_value in system attributes that is added by

[2022-10-08 19:08] ilpoli commented on #4058
Here's a workaround,

[code]

[2022-10-09 18:20] pedroheck opened #4059 "Optuna Bayesian Optimization giving the exact same score for different hyperparameters"
### Don't use GitHub Issues to ask support questions.

Hey there! I'm trying for the first time to use a Bayesian Optimization algorithm to find the best hyperparameters for an SVM model in python. Since I'm quite a newbie, all I did was copy the code from [this article](https://towardsdatascience.com/grid-search-vs-random-search-vs-bayesian-optimization-2e68f57c3c46#:%7E:text=Unlike%20the%20grid%

[2022-10-11 01:59] toshihikoyanase commented on #4047
@ggjj11 Thank you for your question and your feature request.

Currently, we cannot get the raw optimizer of `skopt` including `base_estimator`. It is newly created as a private variable in `sample_relative`, and `sample_relative` is called before trials are passed to objective functions.

https://github.com/optuna/optuna/blob/f6af65d0e46f74b5499a9e9d49881b564f45ef67/optuna/integration/skopt.py#L1

[2022-10-11 02:16] toshihikoyanase commented on #4059
This seems to be a question. Let me transfer it to the GitHub Discussions.

[2022-10-11 02:43] toshihikoyanase commented on #4058
Thank you for your bug report. I guess the `np.ndarray`s created by `np.linspace` prevent the comparison of trials.
 Since `search_space` of `GridSampler.__init__` expects `Sequence`, could you convert them to `list`s?

[code]

I didn't know but `np.ndarray` was not a `Sequence` type.

[code]

After converting `np.ndarray` to `list`, I could plot the Pareto front as expected.

![image](https://use

[2022-10-11 03:29] toshihikoyanase commented on #4058
I created a PR https://github.com/optuna/optuna/pull/4062 to fix this issue. Please feel free to add your comments. @ilpoli

[2022-10-11 09:36] knshnb opened #4066 "The plot and report of Bayesmark scripts are inconsistent"
### Expected behavior

Consistent results in the plots and `report.md`.

### Environment

GitHub Actions: https://github.com/optuna/optuna/blob/1a520bd5daa9ff0af09fb060464bb157f8af891b/.github/workflows/performance-benchmarks-bayesmark.yml

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

Run `Actions -> Performance benchmarks with bayesmark` with the default arguments.

[2022-10-11 09:38] knshnb commented on #4066
@xadrianzetx I'm not sure if this is a bug or expected behavior, but would you mind checking this when you have time?

[2022-10-11 16:22] josecannete commented on #3450
I also think this is an important feature.

In my case, I want to use Optuna for multi-objective optimization and it seems that pruning is one of the keys for a good search. One simple approach would be to use pruning just based on one objective, I think that should be pretty easy to implement but it would require the interface to accept multiple intermediate values. More complex pruning methods c

[2022-10-11 18:35] xadrianzetx commented on #4066
Best value is calculated as an average of smallest generalization errors across repeated study runs. What we see on the plot is an average of generalization error at particular iteration across repeated study runs. Looking back at kurobako, _I think_ this is a bug, as values on plot should represent `Best value` metric up to a specific iteration (what would be the metric value if we took all trial

[2022-10-12 02:26] knshnb commented on #4066
Thank you so much for the quick response!
You mean what we see on the current plot is the previous best of average generalization errors at each iteration (because the value seems to be monotonically decreasing)? I also think that the average of the previous bests makes more sense. That schedule is totally fine and I would pretty much appreciate it if you could fix them 👍

[2022-10-12 15:21] jmrichardson opened #4070 "ValueError: math domain error"
### Expected behavior

Getting a math domain error on what appears to be valid parameter suggestions (ie no 0 or negative log)

### Environment

- Python version:3.8.13
- Optuna version:3.0.2
- OS:Linux-3.10.0-1127.el7.x86_64-x86_64-with-glibc2.17

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

Parameter suggest in objective function:

[code]

### Additional context (op

[2022-10-13 03:12] nzw0301 commented on #4070
Hi, could you share minimal reproducible codes with us?

[2022-10-13 06:15] #3439 closed

[2022-10-13 15:15] jmrichardson commented on #4070
Hi @nzw0301

Unfortunately I don't have reproduceable code but I believe I was able to narrow it down to enqueueing a trial with parameters out of range from trial suggestion.  For example, if I enqueue reg_alpha as 0.0 while my trial suggestion is in range (1e-5, 1024).  The enqueue does work but future suggestions does appear to include reg_alpha as 0.0 which I believe causes the error because m

[2022-10-13 17:16] nzw0301 commented on #4070
I'm afraid I cannot reproduce it:

[code]

[2022-10-13 18:06] jmrichardson commented on #4070
Hi @nzw0301

I think it may be related to the dataset in terms of when this may occur.  My dataset has a low signal to noise ratio and 1M rows, 1200 features.  The first and enqueue is the best parameter set I've found and I am thinking it's likely that Optuna may be trying to use the parameters of the enqueue because it has the best performance.  Also, the error happens around the 100 to 200 tria

[2022-10-14 02:45] toshihikoyanase commented on #4070
I may miss the point, but I found that the error occurred in the crossover of NSGAIISampler.
Could you tell us which crossover class you used, please?

[code]

[2022-10-14 03:26] not522 commented on #4070
I found the following code reproduce the error.

[code]

[2022-10-14 04:30] not522 commented on #2871
I'm working on this issue.

@nabenabe0928 Could you tell me if you know papers or references for bandwidth selection? I discussed this with the core developers, and we should consider established methods when changing the bandwidth.

[2022-10-14 05:27] nabenabe0928 commented on #2871
Hi @not522 ,
As I do not have time today, I will write down some points tomorrow.

I checked those papers before:
* Scott, D.W. (1992) Multivariate Density Estimation: Theory, Practice, and Visualization.
* Berwin, A.T. (1993) Bandwidth Selection in Kernel Density Estimation: A Review. (page 12)
* Nils, B.H, (2013) Bandwidth selection for kernel density estimation: a review of fully automatic sele

[2022-10-14 05:34] not522 commented on #2871
Thank you for your comment! The points you mentioned seem very meaningful. I will try to experiment.

[2022-10-15 15:37] marcelovca90 commented on #1001
Shouldn't it be `EarlyStoppingExceeded.best_score = None` instead of `best_score = None`?

[2022-10-16 10:05] yknoww opened #4080 "IndexError : error from using suggest_categorical"
### Expected behavior

getting a suggested parameter for categorical variables

### Environment

- Optuna version:3.0.2
- Python version:3.7.4
- OS:Windows-10-10.0.19041-SP0
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

### Additional context (optional)

Error doesn't occur when length of study.trials is less th

[2022-10-17 01:02] toshihikoyanase commented on #4080
Thank you for your bug report. The error is expected since `CategoricalDistribution` does not support dynamic search space.
https://github.com/optuna/optuna/blob/8787df5c9e3d8eae0a29ffbed91e08237c767dbc/optuna/distributions.py#L654

We need to stick to `CategoricalDistribution(['a', 'b', 'c', 'd'])` during the optimization.
So, please replace the `choices` argument of `suggest_categorical` as foll

[2022-10-17 01:05] #4049 closed

[2022-10-17 01:58] toshihikoyanase commented on #4080
I investigated this issue a bit, and found that the behavior of dynamic search space of categorical parameters.

For example, the following code can be executed without error.

[code]

On the other hand, if the parameter value to be added was changed to `c`, the error occured.

[code]

This is due to the check of distribution was done at the `InMemoryStorage.set_trial_param` which is called after

[2022-10-17 04:01] yknoww commented on #4080
Thank you for your quick response.
That helps a lot.
I will try a suggested replacement.

[2022-10-17 04:01] #4080 closed

[2022-10-17 08:25] #4066 closed

[2022-10-18 00:29] not522 commented on #2021
In the black-box optimization, we can suppose "noisy" functions, i.e., including randomness in the objective values (E.g., https://arxiv.org/abs/2105.08195). For these problems, re-evaluating the objective function may be informative. Please note samplers don't know whether the objective function is noisy or not.
When the objective function is deterministic, samplers expect it returns the same val

[2022-10-18 07:21] g-votte commented on #4026
Closing as #4055 fixed this issue.

[2022-10-18 07:21] #4026 closed

[2022-10-18 18:49] RNarayan73 opened #4084 "RuntimeError: Cannot clone object OptunaSearchCV, as the constructor either does not set or modifies parameter param_distributions"
### Expected behavior

Hello,
I recently upgraded from Optuna 2.10.1 to 3.0.3 and am using OptunaSearchCV to optimise a Scikit-Learn pipeline as follows.
![image](https://user-images.githubusercontent.com/82275999/196514857-a3612ef9-2544-4d8e-82c1-4bdb681f67db.png)

using an amended version of cross_validate(). However, I get the error above when it tries to clone the estimator.

Has anyone come a

[2022-10-18 23:06] #3656 closed

[2022-10-19 02:36] not522 commented on #4084
I think this conversion violates the `scikit-learn`'s rule. We need to store the arguments without any modification. https://github.com/optuna/optuna/blob/be0942911c1737f86aa6088eaee54f152aaaf509/optuna/integration/sklearn.py#L718-L721

`scikit-learn` checks them here. https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklearn/base.py#L91-L99

[2022-10-19 07:17] Clancy-wu opened #4085 "Please add two lines in the "History" of optuna-dashboard"
### Motivation

Thanks for your brillian work.
I wonder if you willing to add two lines in the "History" of optuna-dashboard, one for train score and another for test score ?
I usually measure a model by their performance on cross validation score and prediction score. However, optuna could only return one valiable (eg. return accuracy in your example). Could you make it possible to display two li

[2022-10-19 07:41] c-bata commented on #4085
Thank you for your suggestion.
Let me transfer this issue to optuna-dashboard repository.

[2022-10-19 09:09] HideakiImamura opened #4087 "Make storages pickalable"
### Motivation

Currently, some storages are pickalable, but others are not. Specifically,
- `InMemoryStorage` and `RDBStorage` are pickalable.
- `RedisStorage` and `JournalStorage` are not pickalable.

As a result, the following code will not work in certain environments for `RedisStorage` and `JournalStorage`, but work for `RDBStorage`. This is a variant of the test of `test_multiprocess` in `te

[2022-10-19 12:48] RNarayan73 commented on #4084
Great! I look forward to a fix.

Another, somewhat related issue I have come across is that I'm using lists of alternative estimators for some of the steps in my pipeline viz. enc_numerical, enc_target, enc_time_cyclicity, dim_red which I've coded as categorical optuna distributions like below:
[code]
Optuna seems to deal with these and provides appropriate results, but keeps complaining with mess

[2022-10-19 13:00] raulcarlomagno opened #4088 "MLflowCallback error when using n_jobs > 1"
### Expected behavior

be able to use more than one job and at the same time log it in mlflow

### Environment

- Optuna version: 3.0.3
- Python version: 3.9.7
- OS: Linux-4.14.35-1902.8.4.el7uek.x86_64-x86_64-with-glibc2.31
- MLFlow version:  1.29.0

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

trying to use multiprocessing i get

i know it is an mlflow issue, but th

[2022-10-20 00:14] david-thrower commented on #2478
I have a related addition to this. If I missed something in the documentation that I should have caught, sorry to take your time.

I have a task that is coming a vast and extremely disjointed hyperparameter space (the trial specific range of valid values for parameter b is a function of what value was chosen for parameter a, specifically, the most common being, that a must be less than b, otherwis

[2022-10-20 04:18] toshihikoyanase commented on #4088
Could you share the minimum reproducible code, please?

[2022-10-20 04:28] nzw0301 commented on #4088
FYI: @toshihikoyanase

[code]

[2022-10-20 07:23] yuzizbk opened #4089 "Can optuna support for many-objective optimazaion?"
### Don't use GitHub Issues to ask support questions.

Hi, can optuna support many-objective optimazaion? For example, if I have five objective, what sampler can I use? Expect your answer, thank you.

[2022-10-20 08:53] c-bata commented on #4089
Please use GitHub Discussions for questions.

Please check [this table](https://optuna.readthedocs.io/en/latest/reference/samplers/index.html) to know which sampler supports multi-objective optimization.

[2022-10-20 08:53] #4089 closed

[2022-10-21 02:22] toshihikoyanase commented on #4088
@nzw0301 Thank you for providing the reproducible code. The provided code causes the same error without `n_jobs=4`. I may miss something, but I guess the cause of the error may not be related to the parallelization.

[code]

Without `mlflow.log_param` and `mlflow.log_metric`, the code without `n_jobs=4` finished successfully while the code with `n_jobs=4` failed with the following error.

[code]

[2022-10-21 13:11] david-thrower commented on #2478
Simpsus, I found a similar example in the documentation shortly after posting this, and thought I deleted the comment after finding it.

Sorry I had missed this and took up your time. I just added a pruner class to prune all trials not meeting validity criteria
that hopefully will fix this issue. I need to set a flie lock and update file name parsing before I can tell if thos worked, as each trial

[2022-10-21 17:17] david1542 commented on #3661
Hi, I [created a PR](https://github.com/optuna/optuna/pull/4093) that tries to address this issue. It looks like this now:
<img width="1449" alt="image" src="https://user-images.githubusercontent.com/9879252/197252448-3adad1e0-1f92-4fd9-bb1c-27d25b4d7d2b.png">

At the moment, it is shown by default. Maybe we can add a new flag that controls this behaviour. Can someone from the maintainers take a l

[2022-10-21 18:42] DushyantSahoo opened #4094 "Distribution.single() error when using Optuna with ray tune"
### Expected behavior

I am running Optuna with ray tune for HPO of random forest, I expected to run without issues and perform HPO.

### Environment

- Optuna version: 3.0.3
- Python version: 3.8.11
- OS: Linux-5.10.112-108.499.amzn2.x86_64-x86_64-with-glibc2.17
- Ray tune version: 2.0.0

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

### Additional context (op

[2022-10-22 14:12] nzw0301 commented on #4094
I suppose the issue comes from raytune, rather than optuna.

[2022-10-22 14:16] nzw0301 commented on #4094
I'm not familiar with raytune, but the values of `space` should not be a tuple, according to https://docs.ray.io/en/latest/tune/examples/optuna_example.html and https://docs.ray.io/en/master/_modules/ray/tune/search/optuna/optuna_search.html.

[2022-10-22 14:16] #4094 closed

[2022-10-22 14:31] nzw0301 commented on #4088
@toshihikoyanase Thank you for your comment. Sorry for confusing you by sharing the wrong code. The reproducible code should be as follows:

[code]

This code is almost the same as https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.MLflowCallback.html.

[2022-10-24 05:26] c-bata commented on #4084
@amylase Could you work on this issue?

[2022-10-24 09:51] knshnb opened #4096 "Support GPU in BoTorchSampler"
### Motivation

Currently, BoTorchSampler only supports CPU computation, while the BoTorch backend supports cuda accelaration.

### Description

Add `device: optional[torch.device] = None` argument to `BoTorchSampler.__init__` that can be used in the following way.
[code]

### Alternatives (optional)

_No response_

### Additional context (optional)

We don't require a test of the GPU case for now

[2022-10-24 23:05] #1577 closed

[2022-10-24 23:05] #1351 closed

[2022-10-25 03:02] #3908 closed

[2022-10-26 07:03] HideakiImamura commented on #4088
@gen740 is working on this issue.

[2022-10-26 08:06] gen740 commented on #4088
Optuna uses [mlflow fluent tracking API](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.start_run), which is not threadsafe.

This bug is caused by race-condition of `mlflow.start_run()`.

[2022-10-26 19:07] gonzalogarcia-dd commented on #2843
![image](https://user-images.githubusercontent.com/96131955/198114779-41782bd4-ac5f-4f31-bd8e-cd7f47f5dc0b.png)

[2022-10-27 01:40] gen740 commented on #3230
As a user, I want to write code like this.
[code]

But currently, we should
[code]

So adding support of single Exception catch would be huge improvement. ( `Union[Tuple[Type[Exception], ...], Type[Exception]]`)

[2022-10-27 06:22] nzw0301 commented on #2843
Optuna is an OSS. If you would like to use such a feature, you can send a pull request to Optuna or create a third-party library like https://github.com/jrbourbeau/dask-optuna.

[2022-10-28 05:26] g-votte commented on #3418
This issue is still open for contribution.

The goal is to remove [this line](https://github.com/optuna/optuna/blob/594858fd3f43fbb713f411a47ff264b08b8d2337/.github/workflows/tests-integration.yml#L63) in the CI setting, after fixing the test failures.

[2022-10-28 08:55] toshihikoyanase commented on #3640
@nzw0301 Thank you for completing https://github.com/optuna/optuna/pull/3992. In addition to that, I'd like to notify users of constrained optimization.

The following FAQ entry explains how to handle constraints, but it does not explain how to resume constrained optimization. I'd like to add a note that explains `sampler` of `optuna.load_study` should have the same `constraints_func` as the origi

[2022-10-28 13:55] ekungurov commented on #3836
Is optuna compatible with SciPy 3.9.x? Both PyPi and Conda have builds with scipy<3.9 dependency

[2022-10-28 14:21] nzw0301 commented on #3836
@ekungurov it will be compatible with the forthcoming Optuna 3.1.0.

[2022-10-29 14:34] PhilipMay commented on #4037
I would like to re

#2964 is closed now. Is anybody working on this?
For me it is a super important feature to open up the HP space later during the optimization.

[2022-10-30 06:44] nabenabe0928 commented on #2871
@not522
I checked [my implementation](https://github.com/nabenabe0928/tpe/tree/single-opt) and the Optuna implementation on some **high-dimensional** (50d) [benchmark functions](https://github.com/nabenabe0928/tpe/blob/single-opt/tpe/utils/benchmarks.py).

I describe some findings here:
1. Mine and Optuna implementation yield more or less similar performance in univariate settings
2. Multivariate

[2022-10-30 15:17] shinbero commented on #1710
I think root cause of this issue is #2960.
Because passing GroupKFold.split return value (it's generator) as lgb.LightGBMTunerCV's "folds" arg, on 2nd round train/search, generator doesn't work well so cv_result will be empty dictionary.
To fix, as mentioned in #2960, `list(GroupKfold.split(*some_args))` should be passed as "folds" arg.

[2022-11-01 08:12] PhilipMay opened #4108 "`None` categorical not visible on Slice plot"
### Expected behavior

I have a categorical like this: `trial.suggest_categorical("class_weight", ["balanced", None])`

The slice plot shows the "balanced" value but not the `None` value.
I could write a workaround by using `"None"` as a string and then convert it to `None`
but I thing it could be nice if the real `None` is ploted.

See sceenshot:

<img width="234" alt="image" src="https://user-im

[2022-11-01 11:33] nzw0301 commented on #4108
Thank you for reporting this but. I can reproduce this bug with the following code.

[code]

Note that this bug doesn't happen with matplotlib version; it correctly shows `None`.

[2022-11-01 13:03] teneon commented on #2021
This "bug" is the first thing I have noticed when i first started using/testing Optuna. If you are optimizing just one or two parameters, it will surely select exactly the same two parameter multiple times in your trials. Imagine, you are training a huge neural network and one trial takes a lot of time. Now out of 100 trials, you have repeated e.g. 30% of them. That is such a waster of time and re

[2022-11-02 07:27] gen740 commented on #3579
I will create a PR for `--no-implicit-reexport`. This will be a slight big PR.

[2022-11-03 13:22] nzw0301 opened #4116 "Resolve mypy error on master branch"
### Motivation

Due to the recent release of pytorch-lightning, `Checks (Integration)` fails on the master branch
https://github.com/optuna/optuna/actions/runs/3381750055.

### Suggestion

[The changelog](https://github.com/Lightning-AI/lightning/blob/e52d6c5b35e5fd42810dca949ee408e2c831047a/src/pytorch_lightning/CHANGELOG.md
) says

So we can replace `training_type_plugin` with `strategy` in the

[2022-11-04 04:09] #4027 closed

[2022-11-04 06:16] louis-she commented on #2021
Parameters Tunning makes much more sense when the `objective function` is deterministic, cause if it is not, why not just run the same code repeatedly without any auto tunning tools?

[2022-11-04 06:42] amylase commented on #4084
@c-bata sure, I will reject old distributions as input because it is not easy to bypass the sklearn's rule.

@RNarayan73 The warning seems to be right. `CategoricalDistribution`'s choice must be either `None`, `bool`, `int`, `float`, or `str` as stated in the message, but you specified a tuple of objects `(OneHotEncoder(...), MeanEncoder(...), ...`. If you need further assistance regarding this, p

[2022-11-04 12:17] canshiwei opened #4121 "OPTUNA: RuntimeError: `Study.stop` is supposed to be invoked inside an objective function or a callback"
### Expected behavior

optuna: 3.0.3 python: 3.8

when I try the example below, runtimeError is occured. But if I change the line while i < 9 to while i < 8 or a number less than 9 it works fine. It does not make sense, because there does have 9 permutations.

### Environment

- Optuna version: 3.03
- Python version: 3.8
- OS: MacOS

### Error messages, stack traces, or logs

[code]

### Steps to

[2022-11-06 00:46] gonzaload commented on #3899
I will like to work on this one, implementing as default behaviour as described in [comment](https://github.com/optuna/optuna/issues/3899#issuecomment-1243350188)

[2022-11-06 00:54] contramundum53 opened #4124 "Add a function that decides the likely-best parameter from the trials executed so far"
### Motivation

Currently, Optuna only has the interface for returning the trial that resulted in the best value after the study is over. This is not good when the objective function is noisy and the number of trials are small, since a bad parameter can result in the best value by chance. Instead, we should use some algorithm to decide the parameter that would most likely yield the best result in

[2022-11-06 01:53] toshihikoyanase commented on #3418
@higucheese is kindly working on this issue now.
The current latest version of pytorch lightning is [1.8.0.post1](https://github.com/Lightning-AI/lightning/releases/tag/1.8.0.post1).

[2022-11-06 04:50] g-votte commented on #3511
This issue is still open.

One can start to work on it by removing `
@pytest.mark.skip(reason="Temporally skip due to unknown CatBoost error.")` in the same way as #3849 and see the errors.

[2022-11-06 05:30] gonzaload commented on #3511
I ran both the test (without the skip mark) and reproduction code, if I understand correctly the current behaviour is
test raises no errors, but sample code raises an error.

And the expected behaviour is that both run withour errors?

[2022-11-06 05:43] g-votte commented on #3511
As far as we can see with the CI results of #3849, CI fails depending on the Python environment. We need either of:
- passing tests in all CI environments, or
- finding out the reason why the test fails in specific environments

<img width="327" alt="image" src="https://user-images.githubusercontent.com/1061922/200156023-55576daa-fa50-4710-8ec5-22d48d7b2ed5.png">

[2022-11-06 06:00] not522 opened #4136 "`PartialFixedSampler` does not handle `None` correctly"
### Expected behavior

In the following codes, "x" should be `None`. But sometimes 0 is sampled.

[code]

[code]

### Environment

- Optuna version:3.1.0.dev
- Python version:3.8.6
- OS:macOS-10.16-x86_64-i386-64bit
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

See `Expected behavior`

### Steps to reproduce

See `Expected behavior`

### Additional co

[2022-11-06 06:58] #4108 closed

[2022-11-06 07:24] #3630 closed

[2022-11-06 10:51] pavlexander commented on #3771
I set the

[code]

but get the warning anyways

  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[2022-11-06 12:24] Julian-Stricker commented on #3203
@acrofales Could you explain how you implemented the workaround you mentioned (only activate the pruner in the first fold of CV)? Thanks!

[2022-11-06 13:01] dycw commented on #3365
I would love to see this in. I'm currently using a locally patched version to get this working. Fiddling with `sqlite` is just a little suboptimal.

[2022-11-07 00:50] #4028 closed

[2022-11-07 00:55] #4084 closed

[2022-11-07 01:03] not522 commented on #3083
Resolved by #4131.

[2022-11-07 01:03] #3083 closed

[2022-11-07 05:25] shu65 commented on #4087
I think that this issue was solved by https://github.com/optuna/optuna/pull/4130 https://github.com/optuna/optuna/pull/4135 https://github.com/optuna/optuna/pull/4139

[2022-11-07 07:03] #4096 closed

[2022-11-07 07:51] HideakiImamura commented on #4087
Thanks! Let me close this issue.

[2022-11-07 07:51] #4087 closed

[2022-11-07 08:16] chenzhiling616 commented on #2312
success！Thank you！

[2022-11-07 09:01] toshihikoyanase commented on #4121
Thank you for your report.

`GridSampler` tries to stop the study at the end of trial if it has no more grid to visit.

https://github.com/optuna/optuna/blob/4bc3dfce1502a3bfc8c4f83b9c1a1ae8a16fb51b/optuna/samplers/_grid.py#L206-L211
However, `study.stop()` must be called in `study.optimize` and the error occurred.

I don't think the current `GridSampler` is designed to be used with Ask-and-Tell i

[2022-11-07 20:15] sophisticus7 opened #4148 "JournalStorage not working on Windows10"
### Expected behavior

I was using the minimal JournalStorage example from the optuna documentation on my Windows10 PC.
However the script is not able to run and throws every time json decoding errors.

According to the latest documentation I didn´t see any limitations regarding the OS on which JournalStorage can be used. But maybe I was missing something.

### Environment

- Optuna version:3.1.0.

[2022-11-08 00:14] dycw opened #4149 "SQLAlchemy & maximum number of expressions reached"
### Expected behavior

After ~1,800 trials, the SQLAlchemy queries being emitted are now running into a "maximum number of expressions" error.

In my own work, I have solved this for myself by chunking the values of the `in` clause using [`chunked`](https://more-itertools.readthedocs.io/en/stable/api.html#more_itertools.chunked), and then chaining the results together.

In Oracle, this is 1000. In

[2022-11-08 06:04] knshnb commented on #4017
After the discussion with @HideakiImamura and @eukaryo, we decided to automatically add ids to duplicated combinations of samplers and pruners instead of specifying them by arguments.

Example input: `[TPESampler, RandomSampler, TPESampler, TPESampler]` and `[NopPruner, NopPruner, NopPruner, MedianPruner]`
Example output: `["TPESampler-NopPruner-0", "RandomSampler-NopPruner", "TPESampler-NopPruner

[2022-11-08 07:07] g-votte commented on #4014
@eukaryo will work on this issue.

[2022-11-08 07:40] not522 commented on #3021
We decide Optuna v3.0.3 (the latest release) is the last version supporting Python 3.6. Working on #4150.

[2022-11-09 01:22] c-bata commented on #4149
@dycw Thank you for reporting the bug! It's not intended.

Cool! At a glance, the bug is located in the following code. Could you please try to fix it?
https://github.com/optuna/optuna/blob/4bc3dfce1502a3bfc8c4f83b9c1a1ae8a16fb51b/optuna/storages/_rdb/storage.py#L851-L880

[2022-11-09 01:48] c-bata commented on #4148
Thank you for trying `JournalStorage` and reporting the bug!

The bug is probably caused by JournalStorage using "\n" (LF) as a newline character in the following line. But it should be "\r\n" (CRLF) on Windows platforms.
https://github.com/optuna/optuna/blob/4bc3dfce1502a3bfc8c4f83b9c1a1ae8a16fb51b/optuna/storages/_journal/file.py#L192

I've just opened #4151 to replace "\n" with `os.linesep`. Co

[2022-11-09 08:05] #4136 closed

[2022-11-09 08:28] #4070 closed

[2022-11-09 15:31] acrofales commented on #3203
Sure. I implemented the CV manually (in a for loop) and only pass the callback on the first iteration:

[code]

clf_pipeline is an sklearn pipeline, so need to pass the catboost-specific parameters separated with an underscore. if it's just a straight up catboost classifier, you can use the normal parameter names, of course.

[2022-11-09 21:12] sophisticus7 commented on #4148
Hi @c-bata. #4151 solves the issue on my machine as well.
Thank you.

[2022-11-09 21:12] #4148 closed

[2022-11-10 01:12] #3021 closed

[2022-11-10 01:57] c-bata commented on #4149
Not sure, but perhaps this bug will be resolved by just adding `sqlalchemy.exc.DatabaseError` into the following `except` block.
https://github.com/optuna/optuna/blob/4bc3dfce1502a3bfc8c4f83b9c1a1ae8a16fb51b/optuna/storages/_rdb/storage.py#L881

[2022-11-10 02:23] c-bata commented on #4017
@eukaryo Can we close this issue?

[2022-11-10 02:29] knshnb commented on #4017
Oh yeah, let me close this issue by #4145 🙏

[2022-11-10 13:36] codeananda commented on #2351
For those not running Windows, you could use [terminator](https://gnometerminator.blogspot.com/p/introduction.html) to easily create a tile of N terminals and use the 'Broadcast All' option to type in and execute the same code in all terminals at once.

<img width="501" alt="image" src="https://user-images.githubusercontent.com/51246969/201105596-c5986299-92e6-4a7a-8aad-da6b89f43fb6.png">

There a

[2022-11-10 21:08] nabenabe0928 commented on #2871
I did additional exhaustive experiments using [this repository](https://github.com/nabenabe0928/tpe/tree/single-opt), so if you need preliminary results, feel free to ask me:)
I cannot make it public now, but I can share the results via email or any private platforms.

[2022-11-14 06:11] HideakiImamura opened #4165 "Update the versions of official/third-party actions in CI"
### Motivation

Optuna uses several official actions of GitHub Actions in CI. The versions of those official actions have not been updated since those were created and remain out of date. Now, it may be a good time to consider updating those versions to the latest versions.

### Suggestion

For each of the following official/third-party actions, do the following two works.
- Investigate the impact

[2022-11-14 08:57] sliedes commented on #2141
I think a common case for this would be when some hyperparameter has been previously fixed (or otherwise determinable from the previous parameters, so you can say that you know that parameter for all the previous runs), and you'd want to start optimizing for that parameter too without throwing away the previous trials.

If I understand correctly, it should at least always be safe to start a new st

[2022-11-15 04:55] #1766 closed

[2022-11-15 08:55] tvdboom opened #4172 "NSGAII errors with combinations of numerical and non-numerical categorical suggestions"
### Expected behavior

When combining str categorical hyperparameters with numerical, the sampler converts the numerical suggestion to string, which makes the study fail. The issue happens here

https://github.com/optuna/optuna/blob/016795d9b81f860a065688818908d187120e29ad/optuna/samplers/nsgaii/_crossover.py#L40-L46

because a  numpy array can't have mixed types and therefore forces the numerical

[2022-11-15 09:27] c-bata commented on #4172
@tvdboom Thank you for reporting the bug. This bug seems to be related with #3982 and probably  fixed at #4035. Could you try the `master` branch of Optuna like the following?

[code]

[2022-11-15 09:58] tvdboom commented on #4172
yes, that fixed it. Thanks for the quick reply. closing.

[2022-11-15 09:58] #4172 closed

[2022-11-15 18:29] jrbourbeau opened #4175 "Include `DaskStorage` in `tests/storages_tests/test_storages.py`"
### Motivation

Following up on https://github.com/optuna/optuna/pull/2023#pullrequestreview-1173827589, it would be good to have `DaskStorage` hook into the existing storage tests in `tests/storages_tests/test_storages.py`.

### Suggestion

I'll plan to open a PR for this, but wanted to open an issue so we don't loose track of it.

### Additional context (optional)

_No response_

[2022-11-16 02:36] not522 commented on #3489
Let me close this issue, as we do not plan to take further action. If anyone has ideas on this issue, please feel free to re-open it.

[2022-11-16 02:36] #3489 closed

[2022-11-16 02:45] not522 commented on #3815
Since many simple warnings have been resolved, let me remove the `good first issue` label.

[2022-11-16 06:53] c-bata opened #4178 "Improve `test_record_heartbeat` test function in `rdb_tests/test_storage.py`."
### Motivation

A test function `test_record_heartbeat` in `rdb_tests/test_storage.py` seems to be fragile as it has been failed sometimes.
https://github.com/optuna/optuna/actions/runs/3475891826/jobs/5810599373

[code]

### Suggestion

We should make this test scenario robust, otherwise it should be removed.

### Additional context (optional)

_No response_

[2022-11-16 07:35] #4088 closed

[2022-11-16 08:53] okaikov opened #4180 "add study.best_trials_constrained to get the pareto front of only best feasible trials"
### Motivation

Currently study.best_trials return the pareto front of all completed trials.
It make sense to add a functionality of getting the best feasible trials

### Description

see above

### Alternatives (optional)

_No response_

### Additional context (optional)

_No response_

[2022-11-17 01:22] gen740 commented on #3579
Since mypy `--no-implicit-reexport` is enabled now. Someone could update the description of this issue?

[2022-11-17 01:25] not522 commented on #3964
Python 3.11 is now supported! (except integration module)

[2022-11-17 01:26] not522 commented on #3579
Thank you. Updated.

[2022-11-17 02:47] #3899 closed

[2022-11-17 10:02] jbaczek commented on #3472
Any progress on this issue? I have the same problem.

[2022-11-18 01:49] Alnusjaponica commented on #4180
JFYI, Optuna already has functionality to confirm feasibility when visualizing the results from v3.0.0. If you just want to visualize the results, you may be able to use it.

https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visualization.plot_pareto_front.html#optuna.visualization.plot_pareto_front

[2022-11-18 08:49] Alnusjaponica commented on #4030
I am working on this issue.

[2022-11-18 09:38] PhilipMay opened #4191 ""parameter in trial is sampled independently instead of being sampled by multivariate TPE sampler" warning coming too late"
### Expected behavior

I am running this colab:
https://colab.research.google.com/drive/1WNCgGxCZ1cxuRpXBPk1CxX46mu091YjP?usp=sharing

In the code I cange the HP space from `x = trial.suggest_float("x", -10, 10)` to
`x = trial.suggest_float("x", -10, 11)`.

This should trigger the warning. But does not. It triggers the warning when I load and run the study a 3rd time.

This is very strange and mig

[2022-11-18 11:29] trajepl opened #4192 "Failed to run perform_crossover: convert the type of params for categorical suggestions"
### Expected behavior

![image](https://user-images.githubusercontent.com/13343117/202695100-f5e0953e-56e2-4178-b7e8-47b9843f7448.png)
Here are my search spaces where I set all the bool parameter as categorical suggestions. Just observed that it will crash in **trial 49**  both for single objective optimization or multi objectives optimization.

Looks that when it run into perform_crossover, **the

[2022-11-18 18:43] teneon commented on #3964
Auch, i have upgraded to python3.11 and it looks like Optuna installation using Poetry fails. Could you guys make this a priority, it is very important?

kind regards,
Jim

[code]

[2022-11-18 18:54] teneon commented on #3964
Now I have tried a bit different approach. I have installed scipy first.
[code]
It installed latest version of scipy 1.9.3
Then i tried to install Optuna again.

[code]

Should i try to install older version of scipy, like < 1.9.0 ? Would that help? Any other workarounds?

best regards,
Jim

[2022-11-18 19:15] teneon commented on #3964
For anyone else having this issue, I believe i have managed to install optuna using command:
[code]

Can you guys confirm this is a way to do it for now?

thanks and best regards,
Jim

[2022-11-18 20:53] antonkulaga opened #4193 "unclear how to tune dart parameters LightGBMTunerCV"
### Don't use GitHub Issues to ask support questions.

I checked API of LightGBMTunerCV and could not find how to specify dart as boosting type, also could not find tune_drop_out or similar function. Could you please clarify how to tune boosting type with LightGBMTunerCV ?

[2022-11-19 20:47] ianux22 opened #4195 "Exploitation vs exploration in Optuna"
### Don't use GitHub Issues to ask support questions.

I was wondering if there is any option for playing with the exploration va exploitation in the optuna package.

Is there anything? Is the user supposed to try a bunch of random combination of hyperparameters each n iterations (for the exploration)? Or n random combination of hyperparameters for the first n trials?

Thanks and have a good one!

[2022-11-20 00:37] nzw0301 commented on #4192
Is this issue duplicated with https://github.com/optuna/optuna/issues/3982? If so, the bug is fixed on the master branch.

[2022-11-20 17:21] codeananda commented on #3865
@eafpres the only difference between this (above) comment and the one at the top is that you include `MetaData` in the former.  Is that really all that was missing? Or am I overlooking something? If so, why does adding `MetaData` solve the issue?

[2022-11-20 21:44] eafpres commented on #3865
Yes, I think it has something to do with how Postgresql works but I don't recall how I figured that out.

[2022-11-21 02:55] trajepl commented on #4192
Oh, thanks, the duplicated issue. Could you help tell that when will we have the release?

The bug existed till in 3.0.2.

[2022-11-21 20:29] Abermal opened #4202 "Grid Search Sampler that samples in the same order as the search_space"
### Motivation

Sometimes you want to construct your search space in a way where you expect to see incremental progress.
In order grid search is crucial for that.

### Description

Sample hyperparams in the same order as defined in the search_space dictionary.

### Alternatives (optional)

_No response_

### Additional context (optional)

_No response_

[2022-11-22 07:27] daniel-a-diaz opened #4203 "PyTorchLightningPruningCallback integration should continue past traint.fit() and complete the objective function"
### Motivation

When using the `PyTorchLightningPruningCallback` integration, it looks like pruned trials return directly from `trainer.fit()` or something so that any code afterwards within the objective function doesn't run.

### Description

I would like that when pruning occurs with the `PyTorchLightningPruningCallback` integration, the code continues right where it left off after `train.fit()

[2022-11-24 09:12] okaikov commented on #4180
Yes, I'm aware that the requested functionality exists when visualizing the pareto front.
I need to use the functionality not for visualizing, but for some other logic/function, so it make sense to decouple it from the visualizing module.

[2022-11-24 10:06] #4192 closed

[2022-11-24 10:11] nzw0301 commented on #4058
can we close this issue?

[2022-11-25 01:18] Alnusjaponica commented on #4165
I am working on this issue.

[2022-11-25 01:42] HideakiImamura commented on #4165
Which ones do you working on? Each action should be updated in separate PRs.

[2022-11-25 02:42] Alnusjaponica commented on #4165
Thanks for your comment. I start from actions/checkout.

[2022-11-25 07:51] Alnusjaponica commented on #4203
Callback function terminates the objective function from `train.fit()` by raising `optuna.TrialPruned()`, so replacing `trainer.fit()` with the following block might solve your problem.
[code]

[2022-11-25 14:13] yyoshiaki opened #4209 ""TypeError: Object of type int64 is not JSON serializable" in LightGBMTunerCV"
### Expected behavior

LightGBMTunerCV raised an error in JSON dump.the

### Environment

- Optuna version:2.10.1
- Python version:3.9.2
- OS:Linux-3.10.0-957.5.1.el7.x86_64-x86_64-with-glibc2.17
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]

### Steps to reproduce

[code]

### Additional context (optional)

 I could solve the error by adding a

[2022-11-26 17:55] nzw0301 commented on #4209
Could you share the minimal reproducible code?

[2022-11-27 03:30] yyoshiaki commented on #4209
I created a rep for the reproduction.
https://github.com/yyoshiaki/reproduce_json_error

[2022-11-27 03:44] nzw0301 commented on #4209
Thanks! Due to the security concern on `pickle`, I've modified the code without the pickled dataset as follows:

[code]

[2022-11-27 03:51] nzw0301 opened #4210 "Suggest not sharing pickle file to report bug or question"
### Motivation

When we ask users to share minimal reproducible code, especially for a bug report, users sometimes share data formatted by `pickle`. Since `pickle` is known as an insecure module (ref: https://docs.python.org/3/library/pickle.html), we probably cannot open such data files and ask them to share alternative formats such as sklearn's toy dataset or MNIST. For much smoother communicati

[2022-11-27 03:57] yyoshiaki commented on #4209
Okay, Thank you! I fixed my repo as well.

[2022-11-27 03:59] nzw0301 commented on #4209
To fix the issue, we might need to replace with `y_train.max() + 1` with
[code]

[2022-11-27 04:57] yyoshiaki commented on #4209
Thank you very much, it was totally my fault.

[2022-11-27 04:57] #4209 closed

[2022-11-27 22:44] kstoneriv3 opened #4211 "Does BOHB's surrogate model take into acocunt the budget in Optuna?"
### BOHB's surrogate model

In the [BOHB paper](https://arxiv.org/pdf/1807.01774.pdf), the surrogate model for the Bayesian optimization has form `y = g(x, b)`. (Here, `y`, `x`, and `b` are the objective value, the hyperparameter, and the budget respectively.) However, Optuna's implementation of BOHB (i.e. `TPESampler` + `HyperbandPruner` or `BoTorchSampler` + `HyperbandPruner`) seems to use simpl

[2022-11-29 01:17] toshihikoyanase commented on #4210
Agree.

How about mentioning it in the [issue template of bug report](https://github.com/optuna/optuna/blob/5a1f74f5abb57633363ca9dfe98a12b2c32f40e3/.github/ISSUE_TEMPLATE/bug-report.yml
)? The [contribution guide](https://github.com/optuna/optuna/blob/master/CONTRIBUTING.md#contribution-guidelines) does not explain the reproducibility, but the issue template does.

[2022-11-29 05:06] nzw0301 commented on #4210
Lovely. Thanks!

[2022-11-29 05:06] #4210 closed

[2022-11-29 06:33] hvy commented on #3230
Should we keep this issue open, even though #4098 has been merged?

[2022-11-29 07:21] nzw0301 commented on #3230
Thanks! I think we can close this issue thanks to #4098.

[2022-11-29 07:21] #3230 closed

[2022-11-29 08:22] not522 commented on #3964
Python 3.11 support is merged to the master branch but has not been released in PyPI yet. So, you need to install it from the git repository.

[2022-11-29 17:25] ColinBrosseau commented on #3964
Is there is any plan to release it on `PyPI` soon?

[2022-11-30 01:04] hvy opened #4213 "Documentation warnings with Sphinx `nitpicky`"
### What is an issue?

Building the documentation using [Sphinx's `nitpicky`](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-nitpicky), we can observe several warnings.
At a quick glance, there are several types of different errors

a. Typos in references, e.g. `user_attrs` expected but `user_attr`
b. Referenced target is missing documentation, e.g. `FrozenTrial.suggest_floa

[2022-11-30 05:39] gen740 commented on #4211
As you mentioned, TPESampler does not take into account budget b, currently.

[2022-11-30 05:53] gen740 commented on #4178
This issue seems to be solved by small changes. So, this issue looks easy for outsiders to tackle. I will label this issue as `contribution wellcome`

[2022-11-30 06:45] gen740 commented on #4202
Could you explain the benefit of seeing incremental progress?

[2022-11-30 07:04] contramundum53 commented on #3964
The second and the fourth items are contribution-welcome.

[2022-11-30 07:05] contramundum53 commented on #3964
We plan to release Optuna v3.1 in the middle of December, which will support Python 3.11.

[2022-11-30 07:22] contramundum53 commented on #3988
Why did we fix PyTorch version to 1.11? If we could remove that constraint, maybe we could resolve this problem?

[2022-11-30 07:46] contramundum53 commented on #3548
I think we can make this issue contribution-welcome.
We may need to care about the dependency on numpy 1.17.
We could simply return `numpy.random.RandomState` when there is no `numpy.random.default_rng`.

[2022-11-30 21:25] jaak-s opened #4216 "ZeroDivisionError: when migrating schema from v2.6.0.a to v3.0.0.a"
### Expected behavior

Upgrade to complete.

### Environment

- Optuna version: 3.0.3
- Python version: 3.8.7
- OS: Windows (also similar error in Linux)
- (Optional) Other libraries and their versions:

### Error messages, stack traces, or logs

[code]
[code]